<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>N</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior2</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 2</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior3</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 3</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior4</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 4</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior5</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 5</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior6</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 6</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior7</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 7</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior8</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 8</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior9</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 9</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior10</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 10</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>junior1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Junior High School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
</array>
</plist>
