<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.神经；胆量</string>
		<key>question</key>
		<string>nerve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(pl.)剪刀</string>
		<key>question</key>
		<string>scissors</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.难以忍受的；不能容忍的</string>
		<key>question</key>
		<string>unbearable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盆；盆地</string>
		<key>question</key>
		<string>basin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.榨；挤；压榨</string>
		<key>question</key>
		<string>squeeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>榨出；挤出</string>
		<key>question</key>
		<string>squeeze out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>反复；多次</string>
		<key>question</key>
		<string>over and over again</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.绷</string>
		<key>question</key>
		<string>bandage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在适当的位置；适当</string>
		<key>question</key>
		<string>in place</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药膏；油膏</string>
		<key>question</key>
		<string>ointment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传染；传染病；感染</string>
		<key>question</key>
		<string>infection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.至关重要的；生死攸关的</string>
		<key>question</key>
		<string>vital</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.症状；征兆</string>
		<key>question</key>
		<string>symptom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加标签或标记；分类n.标签；标记</string>
		<key>question</key>
		<string>label</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(水)壶；罐</string>
		<key>question</key>
		<string>kettle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.倒；灌；注；涌</string>
		<key>question</key>
		<string>pour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手腕</string>
		<key>question</key>
		<string>wrist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.潮湿的</string>
		<key>question</key>
		<string>damp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.袖子</string>
		<key>question</key>
		<string>sleeve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女衬衫</string>
		<key>question</key>
		<string>blouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.牢的；紧的；紧密的</string>
		<key>question</key>
		<string>tight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.紧地；牢牢地</string>
		<key>question</key>
		<string>tightly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.（动作）稳定有力的；坚定的</string>
		<key>question</key>
		<string>firm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.坚固地；稳定地</string>
		<key>question</key>
		<string>firmly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咽喉；喉咙</string>
		<key>question</key>
		<string>throat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.典礼；仪式；礼节</string>
		<key>question</key>
		<string>ceremony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.勇敢；勇气</string>
		<key>question</key>
		<string>bravery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.刺；戳；刺伤</string>
		<key>question</key>
		<string>stab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>若干；许多</string>
		<key>question</key>
		<string>a number of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>找到</string>
		<key>question</key>
		<string>put one’s hands on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.治疗；对待；款待n.款待；招待</string>
		<key>question</key>
		<string>treat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.涂；敷；搽；应用；运用</string>
		<key>question</key>
		<string>apply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.申请；请求；使用；有效</string>
		<key>question</key>
		<string>apply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压力；挤压；压迫（感）</string>
		<key>question</key>
		<string>pressure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.救护车</string>
		<key>question</key>
		<string>ambulance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方案；计划</string>
		<key>question</key>
		<string>scheme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>区别对待；有影响；起（重要）作用</string>
		<key>question</key>
		<string>make a difference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.瘀伤；擦伤</string>
		<key>question</key>
		<string>bruise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.现实主义的；逼真的；现实的</string>
		<key>question</key>
		<string>realistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摘要adj.抽象的；深奥的</string>
		<key>question</key>
		<string>abstract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雕塑</string>
		<key>question</key>
		<string>sculpture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雕刻家；雕塑家</string>
		<key>question</key>
		<string>sculptor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.美术陈列室；画廊</string>
		<key>question</key>
		<string>gallery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任；信心；信念</string>
		<key>question</key>
		<string>faith</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.忠实地</string>
		<key>question</key>
		<string>faithfully</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.所以；因而</string>
		<key>question</key>
		<string>consequently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目标；目的vi.&amp;vt.瞄准；（向某方向）努力</string>
		<key>question</key>
		<string>aim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.常规的；传统的;因循守旧的</string>
		<key>question</key>
		<string>conventional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.典型的；有代表性的</string>
		<key>question</key>
		<string>typical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.明显的；明白的</string>
		<key>question</key>
		<string>evident</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
