<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.使迷惑；使为难</string>
		<key>question</key>
		<string>confuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遗憾；惋惜n.遗憾；懊悔</string>
		<key>question</key>
		<string>regret</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.化学的；关于化学的</string>
		<key>question</key>
		<string>chemical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有机的；器官的；组织的</string>
		<key>question</key>
		<string>organic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.肥沃的；富饶的</string>
		<key>question</key>
		<string>fertile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肥料；化肥</string>
		<key>question</key>
		<string>fertilizer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生产；制造</string>
		<key>question</key>
		<string>production</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（bacterium的复数形式）细菌</string>
		<key>question</key>
		<string>bacteria</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.害虫；害兽；害鸟</string>
		<key>question</key>
		<string>pest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>逐渐增强；建立；开发</string>
		<key>question</key>
		<string>buildup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>导致；造成（后果）</string>
		<key>question</key>
		<string>lead to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.营养;滋养；食物</string>
		<key>question</key>
		<string>nutrition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿物；矿石</string>
		<key>question</key>
		<string>mineral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发现；发觉</string>
		<key>question</key>
		<string>discovery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.焦点；中心点vt.集中；聚集</string>
		<key>question</key>
		<string>focus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>集中（注意力、精力等）于</string>
		<key>question</key>
		<string>focus on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.土壤</string>
		<key>question</key>
		<string>soil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减少；减缩</string>
		<key>question</key>
		<string>reduce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使……免受（影响；害等）；使……不含（有害物）</string>
		<key>question</key>
		<string>keep…free from/of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(=soyabean)大豆</string>
		<key>question</key>
		<string>soybean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.根；根源</string>
		<key>question</key>
		<string>root</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.浏览；略读</string>
		<key>question</key>
		<string>skim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.画底线标出；强调</string>
		<key>question</key>
		<string>underline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总结；摘要；概要</string>
		<key>question</key>
		<string>summary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.评论；议论vi.&amp;vt.表达意见；作出评论</string>
		<key>question</key>
		<string>comment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生产者；制片人</string>
		<key>question</key>
		<string>producer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.工业的；产业的</string>
		<key>question</key>
		<string>industrial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幽默；滑稽</string>
		<key>question</key>
		<string>humour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.故事、笑话等中的妙语；关键语</string>
		<key>question</key>
		<string>punchline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.口头的</string>
		<key>question</key>
		<string>verbal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不用语言的</string>
		<key>question</key>
		<string>nonverbal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.哑剧</string>
		<key>question</key>
		<string>mime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喜剧</string>
		<key>question</key>
		<string>comedy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>直到现在</string>
		<key>question</key>
		<string>up to now</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使更愉快；使更有希望</string>
		<key>question</key>
		<string>brighten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.忧愁的；沮丧的</string>
		<key>question</key>
		<string>depressed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.满足vt.使满足adj.满足的；满意的</string>
		<key>question</key>
		<string>content</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……满足</string>
		<key>question</key>
		<string>feel/be content with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.表演者；演出者</string>
		<key>question</key>
		<string>performer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使惊诧</string>
		<key>question</key>
		<string>astonish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人感到惊讶的</string>
		<key>question</key>
		<string>astonishing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.幸运的；吉利的</string>
		<key>question</key>
		<string>fortunate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.不幸地</string>
		<key>question</key>
		<string>unfortunately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>穷的；缺少的</string>
		<key>question</key>
		<string>badly off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十几岁（13至19岁的年龄）</string>
		<key>question</key>
		<string>teens</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.平常的；普通的</string>
		<key>question</key>
		<string>ordinary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.厌烦的</string>
		<key>question</key>
		<string>bored</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.微妙的；精巧的；技艺精湛的</string>
		<key>question</key>
		<string>subtle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.使欢乐；款待</string>
		<key>question</key>
		<string>entertain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.愉快的；有趣的</string>
		<key>question</key>
		<string>entertaining</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
