<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>沮丧；不愉快</string>
		<key>question</key>
		<string>cast down</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.总共；完全地</string>
		<key>question</key>
		<string>altogether</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.任意的</string>
		<key>question</key>
		<string>arbitrary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命运；天命</string>
		<key>question</key>
		<string>fate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.改正；纠正；修正</string>
		<key>question</key>
		<string>correction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.反对；不赞成</string>
		<key>question</key>
		<string>object</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不赞成；反对；异议</string>
		<key>question</key>
		<string>objection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.撞击；冲击；巨大的影响</string>
		<key>question</key>
		<string>impact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.媒介；手段；工具</string>
		<key>question</key>
		<string>medium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大众传播媒体（如电视、报纸等）</string>
		<key>question</key>
		<string>the media</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.获得；赢得</string>
		<key>question</key>
		<string>obtain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.获得；到达（水平、年龄、状况等）</string>
		<key>question</key>
		<string>attain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.道德（上）的；伦理的</string>
		<key>question</key>
		<string>moral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.保守的；守旧的</string>
		<key>question</key>
		<string>conservative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.禁止；不准</string>
		<key>question</key>
		<string>forbid(forbade,forbad;forbidden)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.积累；聚保</string>
		<key>question</key>
		<string>accumulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>赞成；支持</string>
		<key>question</key>
		<string>in favour of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>旁路；支线；岔道(&lt;美&gt;sidewalk)</string>
		<key>question</key>
		<string>side road</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宪法；章程</string>
		<key>question</key>
		<string>constitution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.必须做的；义务的；强迫的；强制的</string>
		<key>question</key>
		<string>compulsory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.歌剧；歌剧团；歌剧院</string>
		<key>question</key>
		<string>opera</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.合唱；合唱队</string>
		<key>question</key>
		<string>chorus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一条（面包）</string>
		<key>question</key>
		<string>loaf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面粉</string>
		<key>question</key>
		<string>flour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.欠（账、钱、人情等）；归功于……</string>
		<key>question</key>
		<string>owe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.立刻；不久</string>
		<key>question</key>
		<string>shortly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.退休；离开</string>
		<key>question</key>
		<string>retire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打扰vi.操心n.烦扰</string>
		<key>question</key>
		<string>bother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>一定或注定（做）……</string>
		<key>question</key>
		<string>(be)bound to(do)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.假定；设想</string>
		<key>question</key>
		<string>assumption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.规则；规章；法规</string>
		<key>question</key>
		<string>regulation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡说；无稽之谈；废话</string>
		<key>question</key>
		<string>nonsense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.受人喜爱；流行</string>
		<key>question</key>
		<string>popularity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi&amp;vt.(struck,struck)打；撞击；罢工</string>
		<key>question</key>
		<string>strike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使……刻骨铭心</string>
		<key>question</key>
		<string>strike…in to one’s heart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.北美或欧洲野牛</string>
		<key>question</key>
		<string>bison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小牛；牛犊</string>
		<key>question</key>
		<string>calf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不时；偶尔</string>
		<key>question</key>
		<string>from time to time</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使复生；使复活</string>
		<key>question</key>
		<string>bring back to life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.最初的；开始的</string>
		<key>question</key>
		<string>initial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>脱氧核糖核酸</string>
		<key>question</key>
		<string>DNA</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.虚荣的；自负的；徒劳的</string>
		<key>question</key>
		<string>vain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>白费力气；枉费心机</string>
		<key>question</key>
		<string>in vain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抵抗；对抗</string>
		<key>question</key>
		<string>resist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺点；不利条件</string>
		<key>question</key>
		<string>drawback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.仅；只；不过</string>
		<key>question</key>
		<string>merely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.恢复；使恢复原状；重建</string>
		<key>question</key>
		<string>restore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原牛（古代欧洲野牛，已灭绝）</string>
		<key>question</key>
		<string>aurochs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.装饰</string>
		<key>question</key>
		<string>decoration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不能的；不会的</string>
		<key>question</key>
		<string>unable</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
