<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>省去；遗漏；不考虑</string>
		<key>question</key>
		<string>leave out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机会；时机</string>
		<key>question</key>
		<string>opportunity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.描写；描述</string>
		<key>question</key>
		<string>description</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传真（机）vt.用传真传输（文件）</string>
		<key>question</key>
		<string>fax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能（性）</string>
		<key>question</key>
		<string>possibility</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.加上；和adj.加的；正的；零上的</string>
		<key>question</key>
		<string>plus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争吵；争论；吵架vi.争吵；吵架</string>
		<key>question</key>
		<string>quarrel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.相同的；类似的</string>
		<key>question</key>
		<string>alike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>代替</string>
		<key>question</key>
		<string>take the place of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>(机器)损坏；破坏</string>
		<key>question</key>
		<string>breakdown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.筹备；安排；整理</string>
		<key>question</key>
		<string>arrange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.婚礼</string>
		<key>question</key>
		<string>wedding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.折叠；对折</string>
		<key>question</key>
		<string>fold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观光；游览</string>
		<key>question</key>
		<string>sightseeing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.快乐；高兴；喜悦vt.使高兴；使欣喜</string>
		<key>question</key>
		<string>delight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.王室的；皇家的；高贵的</string>
		<key>question</key>
		<string>royal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.制服</string>
		<key>question</key>
		<string>uniform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.壮丽的；辉煌的；极好的</string>
		<key>question</key>
		<string>splendid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.塑像；雕像</string>
		<key>question</key>
		<string>statue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.经线；经度</string>
		<key>question</key>
		<string>longitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.想象中的；假想的；虚构的</string>
		<key>question</key>
		<string>imaginary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.导航；航行</string>
		<key>question</key>
		<string>navigation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共产主义</string>
		<key>question</key>
		<string>communism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.最初的；原始的;独创的；新颖的</string>
		<key>question</key>
		<string>original</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使激动；使胆战心惊</string>
		<key>question</key>
		<string>thrill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罐；壶</string>
		<key>question</key>
		<string>pot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.错误；过失；谬误</string>
		<key>question</key>
		<string>error</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时态</string>
		<key>question</key>
		<string>tense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.一致的</string>
		<key>question</key>
		<string>consistent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方面；层面</string>
		<key>question</key>
		<string>aspect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印象；感想；印记</string>
		<key>question</key>
		<string>impression</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拿起；接受；开始；继续</string>
		<key>question</key>
		<string>take up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.时常发生的；连续不断的</string>
		<key>question</key>
		<string>constant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.不断地</string>
		<key>question</key>
		<string>constantly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喷气式飞机</string>
		<key>question</key>
		<string>jet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>飞行时差反应</string>
		<key>question</key>
		<string>jetlag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闪回；倒叙</string>
		<key>question</key>
		<string>flashback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.在前的；早先的</string>
		<key>question</key>
		<string>previous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不确切的；无把握的</string>
		<key>question</key>
		<string>uncertain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.指导；向导；导游vt.指引；指导</string>
		<key>question</key>
		<string>guide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药片</string>
		<key>question</key>
		<string>tablet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专家意见;专门知识（技能等）</string>
		<key>question</key>
		<string>expertise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.太空舱；胶囊</string>
		<key>question</key>
		<string>capsule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乘务员；服务员</string>
		<key>question</key>
		<string>steward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女乘务员</string>
		<key>question</key>
		<string>stewardess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（出入的）通路；开口；开端</string>
		<key>question</key>
		<string>opening</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.往（向、从）一侧；侧着；侧面朝前</string>
		<key>question</key>
		<string>sideways</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周围的事物；环境adj.周围的</string>
		<key>question</key>
		<string>surrounding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.容忍；忍受</string>
		<key>question</key>
		<string>tolerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结合；组合</string>
		<key>question</key>
		<string>combination</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
