<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(shaved;shaved,shaven)刮；剃</string>
		<key>question</key>
		<string>shave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缆绳；绳索；电缆</string>
		<key>question</key>
		<string>cable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>缆车；（美）有轨缆车</string>
		<key>question</key>
		<string>cablecar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（有轨）电车</string>
		<key>question</key>
		<string>tram</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.显而易见的；显然的；表面上的</string>
		<key>question</key>
		<string>apparent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.显然地；显而易见地</string>
		<key>question</key>
		<string>apparently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闸；刹车；制动器vi.&amp;vt.刹（车）；用制动器减速</string>
		<key>question</key>
		<string>brake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（公车）售票员；列车员；（乐队）指挥</string>
		<key>question</key>
		<string>conductor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.滑动；滑行；滑跤n.滑动；滑倒</string>
		<key>question</key>
		<string>slip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.码头</string>
		<key>question</key>
		<string>wharf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面包房；面包厂</string>
		<key>question</key>
		<string>bakery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.渡船；渡口vt.摆渡；渡运</string>
		<key>question</key>
		<string>ferry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>与……合作或一起工作</string>
		<key>question</key>
		<string>team up with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.租用；雇用</string>
		<key>question</key>
		<string>hire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.迷人的；吸引人的</string>
		<key>question</key>
		<string>fascinating</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>划线；标出……界线</string>
		<key>question</key>
		<string>mark out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海鸥</string>
		<key>question</key>
		<string>seagull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>包括；吸收</string>
		<key>question</key>
		<string>take in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.角；角度</string>
		<key>question</key>
		<string>angle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>许多；很多</string>
		<key>question</key>
		<string>a great/good many</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>申请；请示得到</string>
		<key>question</key>
		<string>apply for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.无处；到处都无</string>
		<key>question</key>
		<string>nowhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.痛苦的；悲惨的</string>
		<key>question</key>
		<string>miserable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.处罚；惩罚</string>
		<key>question</key>
		<string>punishment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公正；公平</string>
		<key>question</key>
		<string>justice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.哀悼；悼念；表示悲痛</string>
		<key>question</key>
		<string>mourn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.公民的；国内的；民间的</string>
		<key>question</key>
		<string>civil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.权威；权力(pl)当局；官方</string>
		<key>question</key>
		<string>authority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.改革；革新n.改革；改造；改良</string>
		<key>question</key>
		<string>reform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.抓住；抓紧；掌握；领会</string>
		<key>question</key>
		<string>grasp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.关切的；体贴的；深思的</string>
		<key>question</key>
		<string>thoughtful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.感激的；感谢的</string>
		<key>question</key>
		<string>thankful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.插入；嵌入</string>
		<key>question</key>
		<string>insert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.不同；相异</string>
		<key>question</key>
		<string>differ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.精确的；准确的</string>
		<key>question</key>
		<string>exact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剪枝；剪报；剪纸</string>
		<key>question</key>
		<string>cutting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.双胞胎之一；adj.成对的；成双的</string>
		<key>question</key>
		<string>twin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.同一的；一模一样的</string>
		<key>question</key>
		<string>identical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.商业的；贸易的</string>
		<key>question</key>
		<string>commercial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.简单的；直接的；坦率的</string>
		<key>question</key>
		<string>straightforward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.复杂的；难懂的</string>
		<key>question</key>
		<string>complicated</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.着手；从事；承担</string>
		<key>question</key>
		<string>undertake(undertook,undertaken)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>得到好结果；取得成功；偿清</string>
		<key>question</key>
		<string>pay off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.突破</string>
		<key>question</key>
		<string>breakthrough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.程序；步骤；手续</string>
		<key>question</key>
		<string>procedure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原子核；中心</string>
		<key>question</key>
		<string>nucleus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.躯体的；肉体的；细胞体的</string>
		<key>question</key>
		<string>somatic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胚；胚胎；萌牙时期</string>
		<key>question</key>
		<string>embryo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.携带者；搬运工；运输工具</string>
		<key>question</key>
		<string>carrier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(cast,cast)扔；投；掷</string>
		<key>question</key>
		<string>cast</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
