<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.原始的；远古的；简陋的</string>
		<key>question</key>
		<string>primitive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小珠子；滴</string>
		<key>question</key>
		<string>bead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.植物学</string>
		<key>question</key>
		<string>botany</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.植物学的；与植物学有关的</string>
		<key>question</key>
		<string>botanical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分析</string>
		<key>question</key>
		<string>analysis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海贝壳</string>
		<key>question</key>
		<string>seashell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.使……成熟；成熟</string>
		<key>question</key>
		<string>ripen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类；类别；范畴</string>
		<key>question</key>
		<string>category</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意义；意思；重要性；重要意义</string>
		<key>question</key>
		<string>significance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.以……方式；不知怎么地</string>
		<key>question</key>
		<string>somehow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有系统的；有计划的；有条理的</string>
		<key>question</key>
		<string>systematic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吐出（唾液、食物等）vi.吐痰</string>
		<key>question</key>
		<string>spit(spat,spit;spat,spit)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.删；删除</string>
		<key>question</key>
		<string>delete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相册；集邮册；唱片</string>
		<key>question</key>
		<string>album</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（刮、抓、划的）痕迹；搔；挠</string>
		<key>question</key>
		<string>scratch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.搔；抓；擦伤；刮坏</string>
		<key>question</key>
		<string>scratch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学院；学会；学术团体；院校</string>
		<key>question</key>
		<string>academy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接待员；招待员</string>
		<key>question</key>
		<string>receptionist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洋葱</string>
		<key>question</key>
		<string>onion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幼儿园</string>
		<key>question</key>
		<string>kindergarten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滑板</string>
		<key>question</key>
		<string>skateboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>受够了；饱受；厌烦</string>
		<key>question</key>
		<string>fed up with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酸乳酷；酸奶</string>
		<key>question</key>
		<string>yogurt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.放射性的；有辐射能的</string>
		<key>question</key>
		<string>radioactive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.放射性</string>
		<key>question</key>
		<string>radioactivity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分割；划分；分配；分界线</string>
		<key>question</key>
		<string>division</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公元前</string>
		<key>question</key>
		<string>BC</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（各种）瓜</string>
		<key>question</key>
		<string>melon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皱纹</string>
		<key>question</key>
		<string>wrinkle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.强烈而有规律地跳动；搏动n.脉搏；节拍</string>
		<key>question</key>
		<string>pulse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.血管；静脉</string>
		<key>question</key>
		<string>vein</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.鼓掌欢迎；赞赏</string>
		<key>question</key>
		<string>applaud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向前看；为将来打算</string>
		<key>question</key>
		<string>look ahead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.嗥叫；叫喊；吼叫</string>
		<key>question</key>
		<string>howl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.加速；促进</string>
		<key>question</key>
		<string>accelerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矛；枪</string>
		<key>question</key>
		<string>spear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.逮捕；吸引n.逮捕；拘留</string>
		<key>question</key>
		<string>arrest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.晕眩的；昏乱的；使人发晕或困惑的</string>
		<key>question</key>
		<string>dizzy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.眉毛</string>
		<key>question</key>
		<string>eyebrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.颧骨</string>
		<key>question</key>
		<string>cheekbone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.箭头</string>
		<key>question</key>
		<string>arrowhead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斧；斧子</string>
		<key>question</key>
		<string>axe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁锤；锤子</string>
		<key>question</key>
		<string>hammer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.快乐的；欢快的</string>
		<key>question</key>
		<string>gay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.快乐地；轻松地</string>
		<key>question</key>
		<string>gaily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有技巧的；熟练的(&lt;.美&gt;skillful)</string>
		<key>question</key>
		<string>skillful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>追溯到……</string>
		<key>question</key>
		<string>dateback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标点符号</string>
		<key>question</key>
		<string>punctuation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.崇拜；敬奉n.崇拜；敬神</string>
		<key>question</key>
		<string>worship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.技艺；手艺；精工细作</string>
		<key>question</key>
		<string>craftsmanship</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
