<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.降雨</string>
		<key>question</key>
		<string>rainfall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法庭；审判室</string>
		<key>question</key>
		<string>courtroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.清白的；无罪的；天真的</string>
		<key>question</key>
		<string>innocent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灯笼；提灯</string>
		<key>question</key>
		<string>lantern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.忍受；忍耐；负担</string>
		<key>question</key>
		<string>bear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堵塞；阻塞；果酱</string>
		<key>question</key>
		<string>jam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.麦克风；话筒</string>
		<key>question</key>
		<string>microphone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.额头</string>
		<key>question</key>
		<string>forehead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>被踩出来的路；常规；惯例</string>
		<key>question</key>
		<string>beaten track</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.偶然地；不时地</string>
		<key>question</key>
		<string>occasionally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>迅速把手伸入；一心投入</string>
		<key>question</key>
		<string>dive into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.充满活力的；精力充沛的；动态的；发展变化的</string>
		<key>question</key>
		<string>dynamic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>开始（做）</string>
		<key>question</key>
		<string>set out(to do)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.倍数adj.多种的；多样的；多类型的</string>
		<key>question</key>
		<string>multiple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.点；小圆点vt.以小圆点标出；分散</string>
		<key>question</key>
		<string>dot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.轻打；轻拍；轻敲n.轻轻地敲击（声）；（水）龙头</string>
		<key>question</key>
		<string>tap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.金属丝；电线</string>
		<key>question</key>
		<string>wire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.稻草；麦秆；饮料吸管</string>
		<key>question</key>
		<string>straw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.复制；再现……的形象或声音</string>
		<key>question</key>
		<string>reproduce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（水或气）流；电流adj.现在的；当前的</string>
		<key>question</key>
		<string>current</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.直升飞机</string>
		<key>question</key>
		<string>helicopter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.三角形；三角形物体</string>
		<key>question</key>
		<string>triangle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.四面体</string>
		<key>question</key>
		<string>tetrahedron</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.稳固的；稳定的；安定的</string>
		<key>question</key>
		<string>stable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无价的；极宝贵的</string>
		<key>question</key>
		<string>invaluable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.联想；联系n.同伴；伙伴</string>
		<key>question</key>
		<string>associate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.实际的；实践的；实用的</string>
		<key>question</key>
		<string>practical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰箱</string>
		<key>question</key>
		<string>refrigerator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法庭；法院；朝廷</string>
		<key>question</key>
		<string>court</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电话分机；扩大；延伸</string>
		<key>question</key>
		<string>extension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不挂断；稍等；紧紧握住</string>
		<key>question</key>
		<string>hang on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>次序颠倒；发生故障</string>
		<key>question</key>
		<string>out of order</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>设法联系上（尤指打通电话）；（设法）做完；通过</string>
		<key>question</key>
		<string>get through</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>回复电话</string>
		<key>question</key>
		<string>ringback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>挂断电话</string>
		<key>question</key>
		<string>ring off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.版本；译本</string>
		<key>question</key>
		<string>version</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.能力；胜利；本领</string>
		<key>question</key>
		<string>competence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.能胜任的；有能力的；称职的</string>
		<key>question</key>
		<string>competent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吉普车</string>
		<key>question</key>
		<string>jeep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人力资源；人事部；全体人员</string>
		<key>question</key>
		<string>personnel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.适应（性）；改编本</string>
		<key>question</key>
		<string>adaptation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.经典的；第一流的n.经典著作</string>
		<key>question</key>
		<string>classic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（图片上的）说明文字；字幕；标题；韪</string>
		<key>question</key>
		<string>caption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情节；阴谋</string>
		<key>question</key>
		<string>plot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教授</string>
		<key>question</key>
		<string>professor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.语音学</string>
		<key>question</key>
		<string>phonetics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（陆军）上校</string>
		<key>question</key>
		<string>colonel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.重要的；决定性的；命中注定的</string>
		<key>question</key>
		<string>fateful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.吹口哨；发出汽笛声n.口哨声；汽笛声</string>
		<key>question</key>
		<string>whistle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（一件）衣服（外套、裙、袍等）服装</string>
		<key>question</key>
		<string>garment</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
