<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.毛纺的；纯毛的（&lt;美&gt;woolen）</string>
		<key>question</key>
		<string>woollen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.犹豫；踌躇</string>
		<key>question</key>
		<string>hesitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不舒服的；不安的；不自在的</string>
		<key>question</key>
		<string>uncomfortable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.不舒服的；不自在地</string>
		<key>question</key>
		<string>uncomfortably</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.带来麻烦的；使人心烦的</string>
		<key>question</key>
		<string>troublesome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皮夹；钱包</string>
		<key>question</key>
		<string>wallet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结果；效果</string>
		<key>question</key>
		<string>out some</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小偷；贼</string>
		<key>question</key>
		<string>thief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手帕；手绢；纸巾</string>
		<key>question</key>
		<string>handkerchief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.伪装；假扮；遮掩n.伪装</string>
		<key>question</key>
		<string>disguise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>伪装（的）；假扮（的）</string>
		<key>question</key>
		<string>in disguise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.（见解或判断上）错误的；不正确的</string>
		<key>question</key>
		<string>mistaken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.光辉灿烂的；杰出的；才华横溢的</string>
		<key>question</key>
		<string>brilliant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.编排；分类；归类</string>
		<key>question</key>
		<string>classify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谈论；言论；评述vt.&amp;vi.谈论；评论；说起</string>
		<key>question</key>
		<string>remark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.显露出（本来面目）；背叛</string>
		<key>question</key>
		<string>betray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.（位置或地位）较高的；级别较高的</string>
		<key>question</key>
		<string>upper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不同寻常的；非凡的</string>
		<key>question</key>
		<string>extraordinary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.谴责；使……注定</string>
		<key>question</key>
		<string>condemn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.排水沟；阴沟；贫民区</string>
		<key>question</key>
		<string>gutter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.适当地；恰当地</string>
		<key>question</key>
		<string>properly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（把某人）改变或冒充成……</string>
		<key>question</key>
		<string>pass … off as …</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公爵夫人；女公爵</string>
		<key>question</key>
		<string>duchess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大使；使节</string>
		<key>question</key>
		<string>ambassador</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相识；了解；熟人</string>
		<key>question</key>
		<string>acquaintance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>结识；与……相见</string>
		<key>question</key>
		<string>make one’s acquaintance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一把；少量</string>
		<key>question</key>
		<string>handful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惊讶；惊愕</string>
		<key>question</key>
		<string>amazement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>震惊；惊讶</string>
		<key>question</key>
		<string>in amazement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机会；运气；大笔的钱</string>
		<key>question</key>
		<string>fortune</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.真实的；真正的；可信的；可靠的</string>
		<key>question</key>
		<string>authentic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>一般来说</string>
		<key>question</key>
		<string>generally speaking</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.身份；地位；职位</string>
		<key>question</key>
		<string>status</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.优秀的；较高的；上级的n.上级；长官</string>
		<key>question</key>
		<string>superior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>就……来说；从……角度</string>
		<key>question</key>
		<string>in terms of…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.不赞成；反对；认为不好</string>
		<key>question</key>
		<string>disapprove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抢劫；盗窃；剥夺</string>
		<key>question</key>
		<string>rob</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.古时的；（因古老、稀少而）珍贵的</string>
		<key>question</key>
		<string>antique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文物；古董；古玩</string>
		<key>question</key>
		<string>antique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.音乐的；喜爱音乐的n.音乐喜剧</string>
		<key>question</key>
		<string>musical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长袜</string>
		<key>question</key>
		<string>stocking</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信徒；教徒</string>
		<key>question</key>
		<string>believer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.佛教</string>
		<key>question</key>
		<string>Buddhism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.佛教徒adj.佛教的</string>
		<key>question</key>
		<string>Buddhist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.佛</string>
		<key>question</key>
		<string>Buddha</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.元音；元音字母</string>
		<key>question</key>
		<string>vowel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饼干</string>
		<key>question</key>
		<string>cookie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.茶壶</string>
		<key>question</key>
		<string>teapot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奶油；面霜</string>
		<key>question</key>
		<string>cream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.指甲；钉子</string>
		<key>question</key>
		<string>nail</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
