<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>prep.不同；不像</string>
		<key>question</key>
		<string>unlike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.基本的；基础的</string>
		<key>question</key>
		<string>fundamental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出席；到场；存在</string>
		<key>question</key>
		<string>presence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.溶解；解散</string>
		<key>question</key>
		<string>dissolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有害的</string>
		<key>question</key>
		<string>harmful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酸</string>
		<key>question</key>
		<string>acid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.链子；连锁；锁链</string>
		<key>question</key>
		<string>chain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反应；回应</string>
		<key>question</key>
		<string>reaction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.乘；增加</string>
		<key>question</key>
		<string>multiply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.氧</string>
		<key>question</key>
		<string>oxygen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水生有壳动物</string>
		<key>question</key>
		<string>cutdown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.两栖动物</string>
		<key>question</key>
		<string>amphibian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爬行动物；爬虫</string>
		<key>question</key>
		<string>reptile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>下蛋</string>
		<key>question</key>
		<string>lay eggs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐龙</string>
		<key>question</key>
		<string>dinosaur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.存在；生存</string>
		<key>question</key>
		<string>exist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.哺乳动物</string>
		<key>question</key>
		<string>mammal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>产生；分娩</string>
		<key>question</key>
		<string>give birth to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>因此；于是</string>
		<key>question</key>
		<string>thus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>轮到某人；接着</string>
		<key>question</key>
		<string>in one’s turn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.二氧化物</string>
		<key>question</key>
		<string>dioxide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>二氧化碳</string>
		<key>question</key>
		<string>carbon dioxide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>阻止；制止</string>
		<key>question</key>
		<string>prevent...from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谜；难题vt.&amp;vi.（使）迷惑；（使）为难</string>
		<key>question</key>
		<string>puzzle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物学</string>
		<key>question</key>
		<string>biology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物学家</string>
		<key>question</key>
		<string>biologist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.万有引力；重力</string>
		<key>question</key>
		<string>gravity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卫星；人造卫星</string>
		<key>question</key>
		<string>satellite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.温和的；文雅的</string>
		<key>question</key>
		<string>gentle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地质学家</string>
		<key>question</key>
		<string>geologist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物理学家</string>
		<key>question</key>
		<string>physicist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>挡住（光线）</string>
		<key>question</key>
		<string>blockout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.灭绝的；绝种的</string>
		<key>question</key>
		<string>extinct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气候</string>
		<key>question</key>
		<string>climate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.慧星</string>
		<key>question</key>
		<string>comet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.碰撞；坠落</string>
		<key>question</key>
		<string>crash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇宙飞船</string>
		<key>question</key>
		<string>spaceship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.拉（力）；拖；牵引力</string>
		<key>question</key>
		<string>pull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.减少；减轻</string>
		<key>question</key>
		<string>lessen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>感到高兴；感到振奋</string>
		<key>question</key>
		<string>cheer up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漂浮物vi.&amp;vt.（使）浮动；（使）漂浮</string>
		<key>question</key>
		<string>float</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.失重地</string>
		<key>question</key>
		<string>weightlessly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小屋；船舱</string>
		<key>question</key>
		<string>cabin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.质量；团；块；大量;&lt;复&gt;群众</string>
		<key>question</key>
		<string>mass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>既然</string>
		<key>question</key>
		<string>now that</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>熟悉；掌握；理解</string>
		<key>question</key>
		<string>get the hang of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>突发；爆发</string>
		<key>question</key>
		<string>breakout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用尽；耗尽；使精疲力尽</string>
		<key>question</key>
		<string>exhaust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>密切注视；当心；提防</string>
		<key>question</key>
		<string>watch out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.多种文化的</string>
		<key>question</key>
		<string>multicultural</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
