<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.维生素</string>
		<key>question</key>
		<string>vitamin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛋白质</string>
		<key>question</key>
		<string>protein</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谋生</string>
		<key>question</key>
		<string>earn one’s living</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.债；债务</string>
		<key>question</key>
		<string>debt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>欠债</string>
		<key>question</key>
		<string>in debt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怒视；眩目的光vi.怒目而视；闪耀</string>
		<key>question</key>
		<string>glare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.间谍；侦探vi.&amp;vt.窥探；秘密监视</string>
		<key>question</key>
		<string>spy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>暗中监视；侦查</string>
		<key>question</key>
		<string>spy on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.界限；限度vt.限制；限定</string>
		<key>question</key>
		<string>limit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有限的</string>
		<key>question</key>
		<string>limited</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.利益；好处vt.&amp;vi.有益于；有助于；受益</string>
		<key>question</key>
		<string>benefit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胸部；乳房</string>
		<key>question</key>
		<string>breast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大蒜</string>
		<key>question</key>
		<string>garlic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.叹息；叹气n.叹息；叹息声</string>
		<key>question</key>
		<string>sigh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.（使）联合；使）结合</string>
		<key>question</key>
		<string>combine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>削减；删节</string>
		<key>question</key>
		<string>cutdown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不久以后</string>
		<key>question</key>
		<string>before long</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>增加体重</string>
		<key>question</key>
		<string>put on weight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.合作；协作</string>
		<key>question</key>
		<string>cooperation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（烹调用的）材料；原料；成分</string>
		<key>question</key>
		<string>ingredient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（食物的）味道与气味；特性</string>
		<key>question</key>
		<string>flavour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出生地；故乡</string>
		<key>question</key>
		<string>birthplace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>抚养；培养；教育；提出</string>
		<key>question</key>
		<string>bring up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.密西西比河；密西西比州（美国州名）</string>
		<key>question</key>
		<string>Mississippi</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小说；长篇故事adj.新奇的；异常的</string>
		<key>question</key>
		<string>novel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少年时代</string>
		<key>question</key>
		<string>boyhood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奇遇；冒险</string>
		<key>question</key>
		<string>adventure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.短语；词组；惯用语</string>
		<key>question</key>
		<string>phrase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长度单位（六英尺）</string>
		<key>question</key>
		<string>fathom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.著者；作家</string>
		<key>question</key>
		<string>author</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（戏剧）一场；现场；场面；景色</string>
		<key>question</key>
		<string>scene</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.讲述者，叙述者</string>
		<key>question</key>
		<string>narrator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罗德里克（男名）</string>
		<key>question</key>
		<string>Roderick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奥利弗（男名）</string>
		<key>question</key>
		<string>Oliver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赌；打赌vt.&amp;vt.打赌；赌钱</string>
		<key>question</key>
		<string>bet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打赌</string>
		<key>question</key>
		<string>make a bet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.贫困的；身无分文的</string>
		<key>question</key>
		<string>penniless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.漫游；漫步；漂泊</string>
		<key>question</key>
		<string>wander</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人行道</string>
		<key>question</key>
		<string>pavement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商人</string>
		<key>question</key>
		<string>businessman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通行证；许可证；执照</string>
		<key>question</key>
		<string>permit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.许可；允许；准许</string>
		<key>question</key>
		<string>permit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.在前；向前；提前</string>
		<key>question</key>
		<string>ahead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>前进；（用于祈使句）可以；往下说</string>
		<key>question</key>
		<string>go ahead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>偶然；无意中；不小心</string>
		<key>question</key>
		<string>by accident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海湾</string>
		<key>question</key>
		<string>bay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.凝视；盯着看</string>
		<key>question</key>
		<string>stare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>盯着看；凝视</string>
		<key>question</key>
		<string>stare at</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄昏</string>
		<key>question</key>
		<string>nightfall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过错；缺点；故障</string>
		<key>question</key>
		<string>fault</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
