<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.栖息地，（动植物的）自然环境；</string>
		<key>question</key>
		<string>habitat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.恐吓；威胁</string>
		<key>question</key>
		<string>threaten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt减少；（使）变小；或变少</string>
		<key>question</key>
		<string>decrease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.危害；使受到危险</string>
		<key>question</key>
		<string>endanger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>灭亡；逐渐消失</string>
		<key>question</key>
		<string>die out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.损失；遗失；丧失</string>
		<key>question</key>
		<string>loss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保护区</string>
		<key>question</key>
		<string>reserve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.打猎；猎取；搜寻</string>
		<key>question</key>
		<string>hunt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地域；地带；地区</string>
		<key>question</key>
		<string>zone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>和平地；和睦地；安祥地</string>
		<key>question</key>
		<string>in peace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在危险中；垂危</string>
		<key>question</key>
		<string>in danger(of)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.戴茜（女名）</string>
		<key>question</key>
		<string>Daisy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类；物种</string>
		<key>question</key>
		<string>species</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地毯</string>
		<key>question</key>
		<string>carpet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.回答；响应；做出反应</string>
		<key>question</key>
		<string>respond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.远的；远处的</string>
		<key>question</key>
		<string>distant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毛皮；毛；软毛</string>
		<key>question</key>
		<string>fur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羚羊</string>
		<key>question</key>
		<string>antelope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（痛苦或忧虑的）减轻或解除；</string>
		<key>question</key>
		<string>relief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>如释重负；松了口气</string>
		<key>question</key>
		<string>inrelief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笑；笑声</string>
		<key>question</key>
		<string>laughter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>突然笑起来；大声笑了出来</string>
		<key>question</key>
		<string>burst into laughter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仁慈；宽恕；怜悯</string>
		<key>question</key>
		<string>mercy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.确定的；某一；一定</string>
		<key>question</key>
		<string>certain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重要（性）</string>
		<key>question</key>
		<string>importance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>世界野生生物基金会</string>
		<key>question</key>
		<string>WWF(Word Wildlife Fund)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.擦；摩擦</string>
		<key>question</key>
		<string>rub</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>保护……不受……（危害）</string>
		<key>question</key>
		<string>protect…from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蚊子</string>
		<key>question</key>
		<string>mosquito</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(=millepede)千足虫</string>
		<key>question</key>
		<string>millipede</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.昆虫</string>
		<key>question</key>
		<string>insect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.包含；容纳；容忍</string>
		<key>question</key>
		<string>contain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.强大的；有力的</string>
		<key>question</key>
		<string>powerful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.影响；感动；侵袭</string>
		<key>question</key>
		<string>affect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.注意；关注；注意力</string>
		<key>question</key>
		<string>attention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>注意</string>
		<key>question</key>
		<string>pay attention to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.鉴赏；感激；意识到</string>
		<key>question</key>
		<string>appreciate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.成功vt.接替；继任</string>
		<key>question</key>
		<string>succeed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印度尼西亚（东南亚岛国）</string>
		<key>question</key>
		<string>Indonesia</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.犀牛</string>
		<key>question</key>
		<string>rhino</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.安全的；可靠的</string>
		<key>question</key>
		<string>secure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收入</string>
		<key>question</key>
		<string>income</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.雇用；利用（时间、精力等）</string>
		<key>question</key>
		<string>employ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.损害；危害</string>
		<key>question</key>
		<string>harm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>麋鹿</string>
		<key>question</key>
		<string>Miludeer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(bit,bitten)咬；叮；刺痛</string>
		<key>question</key>
		<string>bite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灭绝；消亡</string>
		<key>question</key>
		<string>extinction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐龙</string>
		<key>question</key>
		<string>dinosaur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>形成；产生</string>
		<key>question</key>
		<string>come into being</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.县；郡</string>
		<key>question</key>
		<string>county</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
