<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>设立;建立</string>
		<key>question</key>
		<string>setup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.判决；宣判</string>
		<key>question</key>
		<string>sentence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>被判处……（徒刑）</string>
		<key>question</key>
		<string>be sentenced to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>-[前缀]反；抗；阻</string>
		<key>question</key>
		<string>anti</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.反黑人的</string>
		<key>question</key>
		<string>anti-black</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总统；会长；校长；行长</string>
		<key>question</key>
		<string>president</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>诺贝尔和平奖</string>
		<key>question</key>
		<string>Nobel Peace Prize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意见；看法；主张</string>
		<key>question</key>
		<string>opinion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.文化的</string>
		<key>question</key>
		<string>cultural</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.遗物；遗迹；纪念物</string>
		<key>question</key>
		<string>relic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.稀罕的；稀有的；珍贵的</string>
		<key>question</key>
		<string>rare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.贵重的；有价值的</string>
		<key>question</key>
		<string>valuable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.幸免；幸存；生还</string>
		<key>question</key>
		<string>survive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花瓶；瓶</string>
		<key>question</key>
		<string>vase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.朝代；王朝</string>
		<key>question</key>
		<string>dynasty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>泰姬陵</string>
		<key>question</key>
		<string>TajMahal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.象牙</string>
		<key>question</key>
		<string>ivory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.龙</string>
		<key>question</key>
		<string>dragon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.琥珀；琥珀色</string>
		<key>question</key>
		<string>amber</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>寻找</string>
		<key>question</key>
		<string>in search of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使吃惊；惊讶</string>
		<key>question</key>
		<string>amaze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人吃惊的</string>
		<key>question</key>
		<string>amazing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挑选；选择</string>
		<key>question</key>
		<string>select</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜜；蜂蜜</string>
		<key>question</key>
		<string>honey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.设计；图案；构思vt.设计；计划；构思</string>
		<key>question</key>
		<string>design</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.奇特的；异样的vt.想象；设想；爱好</string>
		<key>question</key>
		<string>fancy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风格；风度；类型</string>
		<key>question</key>
		<string>style</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.装饰；装修</string>
		<key>question</key>
		<string>decorate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.珠宝；宝石</string>
		<key>question</key>
		<string>jewel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.艺术家</string>
		<key>question</key>
		<string>artist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.属于；为……的一员</string>
		<key>question</key>
		<string>belong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>属于</string>
		<key>question</key>
		<string>belong to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>作为报答；回报</string>
		<key>question</key>
		<string>in return</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沙皇</string>
		<key>question</key>
		<string>Czar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.群；组；军队</string>
		<key>question</key>
		<string>troop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接待；招待会；接收</string>
		<key>question</key>
		<string>reception</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>处于交战状态</string>
		<key>question</key>
		<string>at war</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.移动；搬开</string>
		<key>question</key>
		<string>remove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>少于</string>
		<key>question</key>
		<string>lessthan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.木制的</string>
		<key>question</key>
		<string>wooden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怀疑；疑惑vt.怀疑；不信</string>
		<key>question</key>
		<string>doubt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>波罗的海</string>
		<key>question</key>
		<string>the Baltic Sea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神秘；神秘的事物</string>
		<key>question</key>
		<string>mystery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.以前的；从前的</string>
		<key>question</key>
		<string>former</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.值得的；相当于……的价值</string>
		<key>question</key>
		<string>worth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.价值；作用</string>
		<key>question</key>
		<string>worth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.[古]值钱的</string>
		<key>question</key>
		<string>worth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.重建</string>
		<key>question</key>
		<string>rebuild</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.本地的；当地的</string>
		<key>question</key>
		<string>local</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.分离地；分别地</string>
		<key>question</key>
		<string>apart</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
