<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.使习惯于</string>
		<key>question</key>
		<string>accustom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.惯常的；习惯了的</string>
		<key>question</key>
		<string>accustomed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>习惯于……</string>
		<key>question</key>
		<string>accustomed to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收回；撤退；戒毒（或脱瘾）过程</string>
		<key>question</key>
		<string>withdrawal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.脾气暴躁的；易怒的</string>
		<key>question</key>
		<string>bad-tempered</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无意识的；自动的</string>
		<key>question</key>
		<string>automatic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.无意识地；自动地</string>
		<key>question</key>
		<string>automatically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.精神的；智力的</string>
		<key>question</key>
		<string>mental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.精神上；智力上</string>
		<key>question</key>
		<string>mentally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.停止（做某事）；离开</string>
		<key>question</key>
		<string>quit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结果；效力</string>
		<key>question</key>
		<string>effect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肺</string>
		<key>question</key>
		<string>lung</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.怀孕的</string>
		<key>question</key>
		<string>pregnant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.畸形的；异常的</string>
		<key>question</key>
		<string>abnormal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.气喘吁吁的；屏息的</string>
		<key>question</key>
		<string>breathless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不健康的；不合适的；不合格的</string>
		<key>question</key>
		<string>unfit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加强；巩固；使坚强vi.变强</string>
		<key>question</key>
		<string>strengthen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.决心；决定</string>
		<key>question</key>
		<string>resolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……作出决定</string>
		<key>question</key>
		<string>decide on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小包；小盒</string>
		<key>question</key>
		<string>packet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>想要（做）……</string>
		<key>question</key>
		<string>feel like(doing)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.放松，松弛</string>
		<key>question</key>
		<string>relaxation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.绝望的，拼命的</string>
		<key>question</key>
		<string>desperate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药剂师；化学家</string>
		<key>question</key>
		<string>chemist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.树胶</string>
		<key>question</key>
		<string>gum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>口香糖</string>
		<key>question</key>
		<string>chewing gum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.失望的；沮丧的</string>
		<key>question</key>
		<string>disappointed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.（使）变弱vi.（对某事的决心）动摇；减弱</string>
		<key>question</key>
		<string>weaken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.感到惭愧或羞耻的</string>
		<key>question</key>
		<string>ashamed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理解（力）</string>
		<key>question</key>
		<string>comprehension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不顾；不管</string>
		<key>question</key>
		<string>in spite of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>冒险</string>
		<key>question</key>
		<string>take risks(a risk)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>陷入；染上（坏习惯）</string>
		<key>question</key>
		<string>get into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复数-dixes,-dices）n.附录；附件</string>
		<key>question</key>
		<string>appendix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不合法的；违法的</string>
		<key>question</key>
		<string>illegal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药丸；药片</string>
		<key>question</key>
		<string>pill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抢劫；盗窃</string>
		<key>question</key>
		<string>robbery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.滑的</string>
		<key>question</key>
		<string>slippery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>处境危险；遭受危险</string>
		<key>question</key>
		<string>at risk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有免疫力的</string>
		<key>question</key>
		<string>immune</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幸存；幸存者</string>
		<key>question</key>
		<string>survival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.性；性别</string>
		<key>question</key>
		<string>sex</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.液体；流体</string>
		<key>question</key>
		<string>fluid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.注射</string>
		<key>question</key>
		<string>inject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.注射；注射剂</string>
		<key>question</key>
		<string>injection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.针；（注射器的）针头</string>
		<key>question</key>
		<string>needle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.溢出；酒落vt.使溢出；使酒落</string>
		<key>question</key>
		<string>spill（spilt,spilt）</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.男性的；雄性的n.男人；雄性动（植）物</string>
		<key>question</key>
		<string>male</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.女性的；雌性的n.雌性的动（植）物；女人</string>
		<key>question</key>
		<string>female</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.避孕套</string>
		<key>question</key>
		<string>condom</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
