<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.吸引人的；有吸引力的</string>
		<key>question</key>
		<string>attractive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.加；增加；加法</string>
		<key>question</key>
		<string>addition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>另外；也</string>
		<key>question</key>
		<string>inaddition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>分类</string>
		<key>question</key>
		<string>sort out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兴奋；刺激</string>
		<key>question</key>
		<string>excitement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.歌谣；情歌；民谣</string>
		<key>question</key>
		<string>ballad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.在晚上；在夜里；（口）很快；一夜之间</string>
		<key>question</key>
		<string>over night</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.浸；蘸</string>
		<key>question</key>
		<string>dip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蝌蚪</string>
		<key>question</key>
		<string>tadpole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百合；百合花</string>
		<key>question</key>
		<string>lily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.自信的；确信的</string>
		<key>question</key>
		<string>confident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弗雷迪（男名）</string>
		<key>question</key>
		<string>Freddy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摘要；大纲adj.简短的；简要的</string>
		<key>question</key>
		<string>brief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.简要地；短暂地</string>
		<key>question</key>
		<string>briefly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.投入；热爱</string>
		<key>question</key>
		<string>devotion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.然后；后来</string>
		<key>question</key>
		<string>afterwards</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邀请；招待</string>
		<key>question</key>
		<string>invitation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡须</string>
		<key>question</key>
		<string>beard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.敏感的；易受伤害的；灵敏的</string>
		<key>question</key>
		<string>sensitive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.痛苦的；疼痛的</string>
		<key>question</key>
		<string>painful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>最重要；首先</string>
		<key>question</key>
		<string>above all</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发生</string>
		<key>question</key>
		<string>take place</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.美；美人</string>
		<key>question</key>
		<string>beauty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.&amp;vi.收获；收割</string>
		<key>question</key>
		<string>harvest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.庆祝；祝贺</string>
		<key>question</key>
		<string>celebration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狩猎者；猎人</string>
		<key>question</key>
		<string>hunter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(使)饿死；饿得要死</string>
		<key>question</key>
		<string>starve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起源；由来；起因</string>
		<key>question</key>
		<string>origin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.宗教上的；信奉宗教的；虔诚的</string>
		<key>question</key>
		<string>religious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.季节的；季节性的</string>
		<key>question</key>
		<string>seasonal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖先；祖宗</string>
		<key>question</key>
		<string>ancestor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（日本）盂兰盆节</string>
		<key>question</key>
		<string>Obon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坟墓；墓地</string>
		<key>question</key>
		<string>grave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.熏香；熏香的烟</string>
		<key>question</key>
		<string>incense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>纪念；追念</string>
		<key>question</key>
		<string>in memory of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.墨西哥（拉丁美洲国家）</string>
		<key>question</key>
		<string>Mexico</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.节日；盛宴</string>
		<key>question</key>
		<string>feast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头脑；头骨</string>
		<key>question</key>
		<string>skull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骨；骨头</string>
		<key>question</key>
		<string>bone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.万圣节前夕；诸圣日前夕</string>
		<key>question</key>
		<string>Halloween</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任；信心；信仰</string>
		<key>question</key>
		<string>belief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>盛装；打扮；装饰</string>
		<key>question</key>
		<string>dress up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诡计；恶作剧；窍门vt.欺骗；诈骗</string>
		<key>question</key>
		<string>trick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>搞恶作剧；诈骗；开玩笑</string>
		<key>question</key>
		<string>play a trick on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗人</string>
		<key>question</key>
		<string>poet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.到来；到达；到达者</string>
		<key>question</key>
		<string>arrival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.获得；得到</string>
		<key>question</key>
		<string>gain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.独立；自主</string>
		<key>question</key>
		<string>independence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.独立的；自主的</string>
		<key>question</key>
		<string>independent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.搜集；集合；聚集</string>
		<key>question</key>
		<string>gather</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
