<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>也；又；还</string>
		<key>question</key>
		<string>as well</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主人vt.做东；主办；招待</string>
		<key>question</key>
		<string>host</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.责任；职责</string>
		<key>question</key>
		<string>responsibility</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.橄榄树；橄榄叶；橄榄枝；橄榄色</string>
		<key>question</key>
		<string>olive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花圈；花冠；圈状物</string>
		<key>question</key>
		<string>wreath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.取代；替换；代替</string>
		<key>question</key>
		<string>replace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.座右铭；格言；警句</string>
		<key>question</key>
		<string>motto</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.快的；迅速的</string>
		<key>question</key>
		<string>swift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.想像性；相似点</string>
		<key>question</key>
		<string>similarity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雅典（希腊首都）</string>
		<key>question</key>
		<string>Athens</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.费用；主管vt.&amp;vi.收费；控诉</string>
		<key>question</key>
		<string>charge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>主管；看管</string>
		<key>question</key>
		<string>in charge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.物理的；身体的</string>
		<key>question</key>
		<string>physical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.罚款</string>
		<key>question</key>
		<string>fine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海报；招贴</string>
		<key>question</key>
		<string>poster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.做广告；登广告</string>
		<key>question</key>
		<string>advertise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.亚特兰大（女名；城市名）</string>
		<key>question</key>
		<string>Atlanta</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公主</string>
		<key>question</key>
		<string>princess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光荣；荣誉</string>
		<key>question</key>
		<string>glory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.便宜货vi.讨价还价；讲条件</string>
		<key>question</key>
		<string>bargain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王子</string>
		<key>question</key>
		<string>prince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.没有希望的；绝望的</string>
		<key>question</key>
		<string>hopeless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.希波墨涅斯（男名；古希腊人名）</string>
		<key>question</key>
		<string>Hippomenes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.愚蠢的；傻的</string>
		<key>question</key>
		<string>foolish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女神</string>
		<key>question</key>
		<string>goddess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.疼痛；痛苦</string>
		<key>question</key>
		<string>pain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>陆续地；一个接一个地</string>
		<key>question</key>
		<string>one after another</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.应受（报答或惩罚）；值得</string>
		<key>question</key>
		<string>deserve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.敲击者；（足球的）前锋</string>
		<key>question</key>
		<string>striker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.算盘</string>
		<key>question</key>
		<string>abacus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计算器</string>
		<key>question</key>
		<string>calculator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>个人电脑；</string>
		<key>question</key>
		<string>PC=personal computer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手提电脑</string>
		<key>question</key>
		<string>laptop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>掌上电脑；个人数码助理</string>
		<key>question</key>
		<string>PDA(personal digital assistant)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.分析的</string>
		<key>question</key>
		<string>analytical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计算</string>
		<key>question</key>
		<string>calculate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.普遍的；通用的；宇宙的</string>
		<key>question</key>
		<string>universal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.简化</string>
		<key>question</key>
		<string>simplify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总数；算术题；金额</string>
		<key>question</key>
		<string>sum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（电脑）操作员；接线员</string>
		<key>question</key>
		<string>operator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.合逻辑的；合情理的</string>
		<key>question</key>
		<string>logical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.逻辑上；合逻辑地；有条理地</string>
		<key>question</key>
		<string>logically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工艺；科技；技术</string>
		<key>question</key>
		<string>technology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.科技的</string>
		<key>question</key>
		<string>technological</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.革命</string>
		<key>question</key>
		<string>revolution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.人造的；假的</string>
		<key>question</key>
		<string>artificial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.智力；聪明；智能</string>
		<key>question</key>
		<string>intelligence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.智能的；聪明的</string>
		<key>question</key>
		<string>intelligent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解决；解答</string>
		<key>question</key>
		<string>solve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.数学的</string>
		<key>question</key>
		<string>mathematical</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
