<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.倾向；趋势</string>
		<key>question</key>
		<string>tendency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.分布广的；普遍的</string>
		<key>question</key>
		<string>widespread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大体上；基本上</string>
		<key>question</key>
		<string>on the whold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.节约的；经济的</string>
		<key>question</key>
		<string>economical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公顷</string>
		<key>question</key>
		<string>hectare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.平均的</string>
		<key>question</key>
		<string>average</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生存；存在</string>
		<key>question</key>
		<string>existence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.外部的；外面的</string>
		<key>question</key>
		<string>outer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>代表……一方；作为……的代言人</string>
		<key>question</key>
		<string>on behalf of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.个人；个体adj.单独的；个别的</string>
		<key>question</key>
		<string>individual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拥护；提倡；主张</string>
		<key>question</key>
		<string>advocate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.承诺；交托；信奉</string>
		<key>question</key>
		<string>commitment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>忍受；容忍</string>
		<key>question</key>
		<string>put up with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.污染；弄脏</string>
		<key>question</key>
		<string>pollution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.增长；生长</string>
		<key>question</key>
		<string>growth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.电的；与电有关的</string>
		<key>question</key>
		<string>electrical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.用具；工具；器具</string>
		<key>question</key>
		<string>appliance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>只要</string>
		<key>question</key>
		<string>so long as</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.随便的；漫不经心的；偶然的</string>
		<key>question</key>
		<string>casual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>等等</string>
		<key>question</key>
		<string>and so on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发动机</string>
		<key>question</key>
		<string>motor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.容器；罐头</string>
		<key>question</key>
		<string>can</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.环境；情况</string>
		<key>question</key>
		<string>circumstance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微波炉；微波</string>
		<key>question</key>
		<string>microwave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使恢复；使振动</string>
		<key>question</key>
		<string>refresh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教育工作者；教育家</string>
		<key>question</key>
		<string>educator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贡献</string>
		<key>question</key>
		<string>contribution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祈使语气；命令</string>
		<key>question</key>
		<string>imperative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标题</string>
		<key>question</key>
		<string>heading</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标语；口号</string>
		<key>question</key>
		<string>slogan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.显示；演出</string>
		<key>question</key>
		<string>presentation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.核的；核能的；原子核的</string>
		<key>question</key>
		<string>nuclear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分歧；不一致</string>
		<key>question</key>
		<string>disagreement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图解；图表；示意图</string>
		<key>question</key>
		<string>diagram</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山</string>
		<key>question</key>
		<string>volcano</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.火山的</string>
		<key>question</key>
		<string>volcanic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山学</string>
		<key>question</key>
		<string>volcanology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山学家</string>
		<key>question</key>
		<string>volcanologist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（指火山）爆发；突然发生</string>
		<key>question</key>
		<string>erupt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山爆发；（战争等）爆发</string>
		<key>question</key>
		<string>eruption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灰；灰末</string>
		<key>question</key>
		<string>ash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山口；弹坑</string>
		<key>question</key>
		<string>crater</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(火山喷出的)熔岩；火山岩</string>
		<key>question</key>
		<string>lava</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飓风；风暴</string>
		<key>question</key>
		<string>hurricane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.问卷；调查表</string>
		<key>question</key>
		<string>questionnaire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.在旁边；沿着边prep.在……旁边；沿着……的边</string>
		<key>question</key>
		<string>alongside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.设备；装备</string>
		<key>question</key>
		<string>equipment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.任命；委派</string>
		<key>question</key>
		<string>appoint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观象台；天文台；气象台</string>
		<key>question</key>
		<string>observatory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.数据库；资料库</string>
		<key>question</key>
		<string>database</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
