<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.农业；农艺；农学</string>
		<key>question</key>
		<string>agriculture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.农业的；农艺的</string>
		<key>question</key>
		<string>agricultural</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖；奖品vt.授予；判定</string>
		<key>question</key>
		<string>award</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.产品；（尤指）农产品</string>
		<key>question</key>
		<string>produce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雄禽；公鸡</string>
		<key>question</key>
		<string>rooster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赞美；钦佩；羡慕</string>
		<key>question</key>
		<string>admire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.充满活力的；精力充沛的；积极的</string>
		<key>question</key>
		<string>energetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>期望；期待；盼望</string>
		<key>question</key>
		<string>look forward to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狂欢节；（四旬斋前的）饮宴狂欢；嘉年华（会）</string>
		<key>question</key>
		<string>carnival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.月的；月亮的；阴历的</string>
		<key>question</key>
		<string>lunar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(耶稣)复活节</string>
		<key>question</key>
		<string>Easter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.游行；阅兵；检阅</string>
		<key>question</key>
		<string>parade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>日夜；昼夜；整天</string>
		<key>question</key>
		<string>day and night</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣服</string>
		<key>question</key>
		<string>clothing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基督徒；信徒adj.基督教的；信基督教的</string>
		<key>question</key>
		<string>Christian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.耶稣</string>
		<key>question</key>
		<string>Jesus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.樱桃；樱桃树</string>
		<key>question</key>
		<string>cherry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花vt.开花</string>
		<key>question</key>
		<string>blossom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>好像</string>
		<key>question</key>
		<string>as though</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>玩得开心</string>
		<key>question</key>
		<string>have fun with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>习惯；风俗</string>
		<key>question</key>
		<string>custom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.遍及全世界的；世界性的</string>
		<key>question</key>
		<string>worldwide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.玫瑰花蕾</string>
		<key>question</key>
		<string>rosebud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.愚人；白痴；受骗者</string>
		<key>question</key>
		<string>fool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.傻的vt.干傻事；开玩笑</string>
		<key>question</key>
		<string>fool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.必要性；需要</string>
		<key>question</key>
		<string>necessity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.许可；允许</string>
		<key>question</key>
		<string>permission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预言；预报；预告</string>
		<key>question</key>
		<string>prediction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.样子；方式；时尚</string>
		<key>question</key>
		<string>fashion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（汽车等）停放</string>
		<key>question</key>
		<string>parking</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>停车场</string>
		<key>question</key>
		<string>parking lot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圣瓦伦廷节；情人节</string>
		<key>question</key>
		<string>Valentine’s Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>出现；到场</string>
		<key>question</key>
		<string>turnup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>守信用；履行诺言</string>
		<key>question</key>
		<string>keep one’s word</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>屏息；屏气</string>
		<key>question</key>
		<string>hold one’s breath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.道歉；辩白</string>
		<key>question</key>
		<string>apologize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.淹没；溺死；淹死</string>
		<key>question</key>
		<string>drown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悲哀，悲伤</string>
		<key>question</key>
		<string>sadness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.明显的；显而易见的</string>
		<key>question</key>
		<string>obvious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.擦；揩；擦去</string>
		<key>question</key>
		<string>wipe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.（使）迂回</string>
		<key>question</key>
		<string>weave(wove,woven)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牧群；兽群</string>
		<key>question</key>
		<string>herd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>银河</string>
		<key>question</key>
		<string>the Milky Way</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喜鹊</string>
		<key>question</key>
		<string>magpie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(wept,wept)哭泣；流泪n.哭；哭泣</string>
		<key>question</key>
		<string>weep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.广播员；告知者；报幕员</string>
		<key>question</key>
		<string>announcer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>出发；动身；使爆炸</string>
		<key>question</key>
		<string>set off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提醒；使想起</string>
		<key>question</key>
		<string>remind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使……想起……</string>
		<key>question</key>
		<string>remind…of…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(forgave,forgiven)原谅；饶恕</string>
		<key>question</key>
		<string>forgive</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
