<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.迷人的；有魅力的</string>
		<key>question</key>
		<string>charming</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流浪汉；行乞者</string>
		<key>question</key>
		<string>tramp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.遍及；贯穿adv.到处；始终；全部</string>
		<key>question</key>
		<string>throughout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无家的；无家可归的</string>
		<key>question</key>
		<string>homeless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小胡子</string>
		<key>question</key>
		<string>moustache</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.用旧的；用坏的；破烂的</string>
		<key>question</key>
		<string>worn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.磨破的；穿旧的</string>
		<key>question</key>
		<string>worn-out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.僵硬地</string>
		<key>question</key>
		<string>stiffly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失败（者）</string>
		<key>question</key>
		<string>failure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乐观；乐观主义</string>
		<key>question</key>
		<string>optimism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(overcame,overcome)战胜；克服</string>
		<key>question</key>
		<string>overcome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失败者；处于劣势的一方</string>
		<key>question</key>
		<string>underdog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暴风雪</string>
		<key>question</key>
		<string>snowstorm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皮革</string>
		<key>question</key>
		<string>leather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>挑出；辨别出</string>
		<key>question</key>
		<string>pick out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饰带；花边；鞋带</string>
		<key>question</key>
		<string>lace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>切断；断绝</string>
		<key>question</key>
		<string>cutoff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.嚼碎；咀嚼（食物）</string>
		<key>question</key>
		<string>chew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一口；满口</string>
		<key>question</key>
		<string>mouthful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.享受；欢乐；乐趣</string>
		<key>question</key>
		<string>enjoyment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使信服</string>
		<key>question</key>
		<string>convince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人信服的</string>
		<key>question</key>
		<string>convincing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.导演；指示；指挥</string>
		<key>question</key>
		<string>direct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.直的；直接的；直率的</string>
		<key>question</key>
		<string>direct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>担任主角；主演</string>
		<key>question</key>
		<string>star in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奥斯卡</string>
		<key>question</key>
		<string>Oscar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.突出的；杰出的；显著的</string>
		<key>question</key>
		<string>outstanding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瑞士（欧洲中部国家）</string>
		<key>question</key>
		<string>Switzerland</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信心；信念</string>
		<key>question</key>
		<string>confidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.服装；戏装</string>
		<key>question</key>
		<string>costume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.姿态；手势vi.做手势</string>
		<key>question</key>
		<string>gesture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细节；细目adj.特殊的；特别的</string>
		<key>question</key>
		<string>particular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.特殊地；特别地</string>
		<key>question</key>
		<string>particularly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时刻；场合</string>
		<key>question</key>
		<string>occasion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预算；开支</string>
		<key>question</key>
		<string>budget</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女演员</string>
		<key>question</key>
		<string>actress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.（使）滑动；（使）滑行</string>
		<key>question</key>
		<string>slide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滑；滑动；幻灯片</string>
		<key>question</key>
		<string>slide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使发笑；使愉快</string>
		<key>question</key>
		<string>amuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.好笑的；有趣的</string>
		<key>question</key>
		<string>amusing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烙饼；薄饼</string>
		<key>question</key>
		<string>pancake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解释；讲解；说明</string>
		<key>question</key>
		<string>explanation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侦探</string>
		<key>question</key>
		<string>detective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.夏洛克·福尔摩斯</string>
		<key>question</key>
		<string>Sherlock Holmes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.多山的；山一般的</string>
		<key>question</key>
		<string>mountainous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.耳语；低语vt.&amp;vi.低语；小声说</string>
		<key>question</key>
		<string>whisper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.巨大的；辽阔的</string>
		<key>question</key>
		<string>vast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.节奏</string>
		<key>question</key>
		<string>rhythm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脏或乱的状态</string>
		<key>question</key>
		<string>mess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.作出反应；回应</string>
		<key>question</key>
		<string>react</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
