<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>仿佛；好像</string>
		<key>question</key>
		<string>as if</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>结束；终结</string>
		<key>question</key>
		<string>at an end</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.民族；国家；国民</string>
		<key>question</key>
		<string>nation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运河；水道</string>
		<key>question</key>
		<string>canal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蒸汽；水汽</string>
		<key>question</key>
		<string>steam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.污垢；泥土</string>
		<key>question</key>
		<string>dirt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.废墟；毁灭vt.毁灭；使破产</string>
		<key>question</key>
		<string>ruin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>严重受损；破败不堪</string>
		<key>question</key>
		<string>inruins</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.苦难；痛苦</string>
		<key>question</key>
		<string>suffering</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.极度的</string>
		<key>question</key>
		<string>extreme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.损害；伤害</string>
		<key>question</key>
		<string>injure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幸存者；生还者；残存物</string>
		<key>question</key>
		<string>survivor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.破坏；毁坏；消灭</string>
		<key>question</key>
		<string>destroy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.砖；砖块</string>
		<key>question</key>
		<string>brick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水坝；堰堤</string>
		<key>question</key>
		<string>dam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轨道；足迹；痕迹</string>
		<key>question</key>
		<string>track</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无用的；无效的；无益的</string>
		<key>question</key>
		<string>useless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.（使）震惊；震动n.休克；打击；震惊</string>
		<key>question</key>
		<string>shock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.援救；营救</string>
		<key>question</key>
		<string>rescue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使陷入困境n.陷阱；困境</string>
		<key>question</key>
		<string>trap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电；电流；电学</string>
		<key>question</key>
		<string>electricity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灾难；灾祸</string>
		<key>question</key>
		<string>disaster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>掘出；发现</string>
		<key>question</key>
		<string>dig out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.埋葬；掩埋；隐藏</string>
		<key>question</key>
		<string>bury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿；矿山；矿井</string>
		<key>question</key>
		<string>mine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿工</string>
		<key>question</key>
		<string>miner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.掩蔽；掩蔽处；避身处</string>
		<key>question</key>
		<string>shelter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>许多；大量的</string>
		<key>question</key>
		<string>a (great) number of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标题；头衔；资格</string>
		<key>question</key>
		<string>title</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记者</string>
		<key>question</key>
		<string>reporter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.条；棒；条状物</string>
		<key>question</key>
		<string>bar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.损失；损害</string>
		<key>question</key>
		<string>damage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使惊吓；吓唬</string>
		<key>question</key>
		<string>frighten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.受惊的；受恐吓的</string>
		<key>question</key>
		<string>frightened</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人恐惧的</string>
		<key>question</key>
		<string>frightening</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祝贺；（复数）贺词</string>
		<key>question</key>
		<string>congratulation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裁判员；法官vt.断定；判断；判决</string>
		<key>question</key>
		<string>judge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.真诚地；真挚地</string>
		<key>question</key>
		<string>sincerely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.快车；速递vt.表示；表达</string>
		<key>question</key>
		<string>express</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.要点；大纲；轮廓</string>
		<key>question</key>
		<string>outline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.报刊的大字标题</string>
		<key>question</key>
		<string>headline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骑自行车的人</string>
		<key>question</key>
		<string>cyclist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.质量；品质；性质</string>
		<key>question</key>
		<string>quality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.热心肠的</string>
		<key>question</key>
		<string>warm-hearted</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.吝啬的；自私的；卑鄙的</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.积极的；活跃的</string>
		<key>question</key>
		<string>active</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.慷慨的；大方的</string>
		<key>question</key>
		<string>generous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.随和的；温和宽容的</string>
		<key>question</key>
		<string>easy-going</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自我；自身</string>
		<key>question</key>
		<string>self</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.自私的</string>
		<key>question</key>
		<string>selfish</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
