<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.罐；广口瓶</string>
		<key>question</key>
		<string>jar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.嗅；闻；用鼻子吸</string>
		<key>question</key>
		<string>sniff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.参与；参加</string>
		<key>question</key>
		<string>participate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.作口译的人</string>
		<key>question</key>
		<string>interpreter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烤架；大平底锅vt.烧烤；炙烤</string>
		<key>question</key>
		<string>grill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（使浸水等之物）完全变干；干透</string>
		<key>question</key>
		<string>dry out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剩余物；残留物；剩饭adj.剩余的</string>
		<key>question</key>
		<string>leftover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.邪恶的n.邪恶；罪恶</string>
		<key>question</key>
		<string>evil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（指河流、井等）干涸</string>
		<key>question</key>
		<string>dry up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.否则；不然adv.用别的方法；其他方面</string>
		<key>question</key>
		<string>otherwise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.特权；特别优待</string>
		<key>question</key>
		<string>privilege</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文书工作</string>
		<key>question</key>
		<string>paperwork</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安排；排列</string>
		<key>question</key>
		<string>arrangement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.烤（面包等）敬酒n.烤面包，吐司面包；干杯</string>
		<key>question</key>
		<string>toast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.梳子vi.梳（发）</string>
		<key>question</key>
		<string>comb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇航员；太空人</string>
		<key>question</key>
		<string>astronaut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.角；角度</string>
		<key>question</key>
		<string>angle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目录</string>
		<key>question</key>
		<string>catalogue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捐赠</string>
		<key>question</key>
		<string>donate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.自愿的；志愿的；无偿的</string>
		<key>question</key>
		<string>voluntary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在困难中；在危急中</string>
		<key>question</key>
		<string>inneed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.买；购买</string>
		<key>question</key>
		<string>purchase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周年纪念（日）</string>
		<key>question</key>
		<string>anniversary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种子；萌芽</string>
		<key>question</key>
		<string>seed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.秧苗；树苗</string>
		<key>question</key>
		<string>seedling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接种疫苗</string>
		<key>question</key>
		<string>vaccination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贷款</string>
		<key>question</key>
		<string>loan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（用针线）缝vt.缝制；缝合</string>
		<key>question</key>
		<string>sew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>缝纫机</string>
		<key>question</key>
		<string>sewing machine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.增补的事物；补充；附录；增刊</string>
		<key>question</key>
		<string>supplement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公牛</string>
		<key>question</key>
		<string>ox</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（犁）地；（耕）地</string>
		<key>question</key>
		<string>plough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.树干；躯干；大衣箱</string>
		<key>question</key>
		<string>trunk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>箱式（柜式）图书馆</string>
		<key>question</key>
		<string>trunk library</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拖拉机；牵引机</string>
		<key>question</key>
		<string>tractor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）发出咔嗒声n.咔嗒声</string>
		<key>question</key>
		<string>click</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裁缝vt.剪裁；缝制（衣服）</string>
		<key>question</key>
		<string>tailor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.经济的；经济学的</string>
		<key>question</key>
		<string>economic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.政治的；政党的</string>
		<key>question</key>
		<string>political</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分配；分发</string>
		<key>question</key>
		<string>distribute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分配；分发；分布状态</string>
		<key>question</key>
		<string>distribution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.财务的；金融的；财政的</string>
		<key>question</key>
		<string>financial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安全；保护；保障</string>
		<key>question</key>
		<string>security</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.工作；运转vt.操作</string>
		<key>question</key>
		<string>operate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.门诊部；小诊所</string>
		<key>question</key>
		<string>clinic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>适应；调节</string>
		<key>question</key>
		<string>adjust to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>保持优秀成绩；继续干下去</string>
		<key>question</key>
		<string>keep it up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>相适应；相融合</string>
		<key>question</key>
		<string>fit in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖国</string>
		<key>question</key>
		<string>motherland</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.签证</string>
		<key>question</key>
		<string>visa</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
