<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>不可能的；不值得讨论的</string>
		<key>question</key>
		<string>out of the question</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.远足；徒步旅行</string>
		<key>question</key>
		<string>hike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坟墓</string>
		<key>question</key>
		<string>tomb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（迁入新居、更换工作后）安顿下来</string>
		<key>question</key>
		<string>settle in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.说明；阐明</string>
		<key>question</key>
		<string>illustrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.清晰的；明显的；明确的</string>
		<key>question</key>
		<string>distinct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.差别；区分；卓著</string>
		<key>question</key>
		<string>distinction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（从外国移入的）移民</string>
		<key>question</key>
		<string>immigrant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>继续存在；继续生存</string>
		<key>question</key>
		<string>live on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海峡</string>
		<key>question</key>
		<string>strait</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.北极的；北极区的</string>
		<key>question</key>
		<string>Arctic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>北极</string>
		<key>question</key>
		<string>theArctic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手段；方法</string>
		<key>question</key>
		<string>means</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>用……办法；借助……</string>
		<key>question</key>
		<string>by means of…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.史前的</string>
		<key>question</key>
		<string>prehistoric</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大多数；大半</string>
		<key>question</key>
		<string>majority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（政府的）部；（全体）牧师；牧师的职责</string>
		<key>question</key>
		<string>ministry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.天主教的n.天主教徒</string>
		<key>question</key>
		<string>Catholic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冒险家</string>
		<key>question</key>
		<string>adventurer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>习惯于新的生活方式、工作等</string>
		<key>question</key>
		<string>make a life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.尽管；不管</string>
		<key>question</key>
		<string>despite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.苦难；困苦</string>
		<key>question</key>
		<string>hardship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.选择；决定做某事；选举某人</string>
		<key>question</key>
		<string>elect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.联邦制的；联邦政府的</string>
		<key>question</key>
		<string>federal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁路；扶手；（护栏的）横条</string>
		<key>question</key>
		<string>rail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百分比；百分率</string>
		<key>question</key>
		<string>percentage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意大利</string>
		<key>question</key>
		<string>Italy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意大利人；意大利语adj.意大利人的；意大利语的</string>
		<key>question</key>
		<string>Italian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>坚持；维持；沿袭（风俗、传统等）</string>
		<key>question</key>
		<string>keep up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（人口、贸易的）繁荣vi.处于经济迅速发展时期</string>
		<key>question</key>
		<string>boom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飞行器；航空器；飞机</string>
		<key>question</key>
		<string>aircraft</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.韩国；朝鲜</string>
		<key>question</key>
		<string>Korea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.韩国/朝鲜人；朝鲜/韩语adj.韩国（人/语）的；</string>
		<key>question</key>
		<string>Korean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.移入（外国定居）</string>
		<key>question</key>
		<string>immigrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移民；移居入境</string>
		<key>question</key>
		<string>immigration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.人种的；种族的</string>
		<key>question</key>
		<string>racial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.横渡；横越；十字路口；人行横道</string>
		<key>question</key>
		<string>crossing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;adj.代理；副职</string>
		<key>question</key>
		<string>vice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侄子；外甥</string>
		<key>question</key>
		<string>nephew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地极；电极；磁极</string>
		<key>question</key>
		<string>pole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.申请人</string>
		<key>question</key>
		<string>applicant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海关；关税；进口税</string>
		<key>question</key>
		<string>customs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社会主义者；社会党人adj.社会主义者的</string>
		<key>question</key>
		<string>socialist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社会主义</string>
		<key>question</key>
		<string>socialism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发生；出现</string>
		<key>question</key>
		<string>occur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牛（总称）</string>
		<key>question</key>
		<string>cattle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（美）讲西班牙语的美国人</string>
		<key>question</key>
		<string>Hispanic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.指出；指示；表明；暗示</string>
		<key>question</key>
		<string>indicate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>背靠背</string>
		<key>question</key>
		<string>back to back</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行李（&lt;美&gt;baggage）</string>
		<key>question</key>
		<string>luggage</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
