<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>带或领……进来</string>
		<key>question</key>
		<string>show…in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜡；蜜蜡vt.上蜡</string>
		<key>question</key>
		<string>wax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磁盘</string>
		<key>question</key>
		<string>disk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>旧式唱片</string>
		<key>question</key>
		<string>wax disk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.破旧的；寒酸的</string>
		<key>question</key>
		<string>shabby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（alsocurtsey）行屈膝礼n.（女子行的）屈膝礼</string>
		<key>question</key>
		<string>curtsy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.先令（1971年以前的英国货币单位，旧币的12便士）</string>
		<key>question</key>
		<string>shilling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ni.&amp;vi.妥协；折衷</string>
		<key>question</key>
		<string>compromise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可怕的；恐怖的</string>
		<key>question</key>
		<string>horrible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洗衣店；洗衣房；（待洗的或洗好的）衣服</string>
		<key>question</key>
		<string>laundry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.浴缸；澡盆</string>
		<key>question</key>
		<string>bathtub</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.啜泣；抽噎n.啜泣（声）；抽噎（声）</string>
		<key>question</key>
		<string>sob</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腰；腰部；腰围</string>
		<key>question</key>
		<string>waist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.背心；内衣</string>
		<key>question</key>
		<string>vest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.使人反感的；令人厌恶的</string>
		<key>question</key>
		<string>disgusting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>再一次</string>
		<key>question</key>
		<string>once more</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>需要……</string>
		<key>question</key>
		<string>in need of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.尽情地；热心地；痛快地</string>
		<key>question</key>
		<string>heartily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.俯视；忽视；不理会</string>
		<key>question</key>
		<string>overlook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.字母表</string>
		<key>question</key>
		<string>alphabet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有效的</string>
		<key>question</key>
		<string>effective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）褪色；减弱；逐渐消失</string>
		<key>question</key>
		<string>fade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（声音、画面）逐渐模糊；渐淡</string>
		<key>question</key>
		<string>fadeout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.确认；识别；鉴别</string>
		<key>question</key>
		<string>identify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能的选择adj.供选择的；其他的</string>
		<key>question</key>
		<string>alternative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考古学(&lt;美&gt;archeology)</string>
		<key>question</key>
		<string>archaeology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.考古学的；与考古学有关的(&lt;美&gt;archeological)</string>
		<key>question</key>
		<string>archaeological</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考古学家(&lt;美&gt;archeologist)</string>
		<key>question</key>
		<string>archaeologist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.挨饿；饿死</string>
		<key>question</key>
		<string>starvation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.试探性的；不确定的</string>
		<key>question</key>
		<string>tentative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.精确；准确</string>
		<key>question</key>
		<string>accuracy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挖掘；发掘</string>
		<key>question</key>
		<string>excavate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.挖掘；发掘</string>
		<key>question</key>
		<string>excavation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.打断……讲话；打岔；暂时中断或中止</string>
		<key>question</key>
		<string>interrupt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有观察力的；敏锐的；严重的；深刻的</string>
		<key>question</key>
		<string>acute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.假定；设想</string>
		<key>question</key>
		<string>assume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.不管；不顾</string>
		<key>question</key>
		<string>regardless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不管；不顾</string>
		<key>question</key>
		<string>regardless of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.席子；垫子</string>
		<key>question</key>
		<string>mat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.被子；棉被</string>
		<key>question</key>
		<string>quilt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.野兽</string>
		<key>question</key>
		<string>beast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>至多；最多</string>
		<key>question</key>
		<string>at most</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厘米(&lt;美&gt;centimeter)</string>
		<key>question</key>
		<string>centimetre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）锋利；尖锐；清晰</string>
		<key>question</key>
		<string>sharpen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磨具；削具</string>
		<key>question</key>
		<string>sharpener</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>切碎</string>
		<key>question</key>
		<string>cut up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.擦净；削平；磨光</string>
		<key>question</key>
		<string>scrape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.刮刀；刮削器</string>
		<key>question</key>
		<string>scraper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.足够的；充足的；富裕的</string>
		<key>question</key>
		<string>ample</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.凌乱的；脏的</string>
		<key>question</key>
		<string>messy</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
