<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.同性恋adj.同性恋的</string>
		<key>question</key>
		<string>homosexual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.偏见；成见</string>
		<key>question</key>
		<string>prejudice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.看法；判决；判断</string>
		<key>question</key>
		<string>judgement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.迪斯科舞会；迪斯科舞厅</string>
		<key>question</key>
		<string>disco</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流产；中途失败</string>
		<key>question</key>
		<string>abortion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雪茄烟</string>
		<key>question</key>
		<string>cigar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.尴尬的；陷入困境的</string>
		<key>question</key>
		<string>embarrassed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.局促不安的；笨拙的</string>
		<key>question</key>
		<string>awkward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.消费；消耗；耗尽；吃完</string>
		<key>question</key>
		<string>consume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.能再生的；可更新的</string>
		<key>question</key>
		<string>renewable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.温室；花房</string>
		<key>question</key>
		<string>greenhouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.华氏的n.华氏温度计</string>
		<key>question</key>
		<string>Fahrenheit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发生；造成</string>
		<key>question</key>
		<string>come about</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图表；坐标图；曲线图</string>
		<key>question</key>
		<string>graph</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.胡乱的；任意的</string>
		<key>question</key>
		<string>random</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.现象</string>
		<key>question</key>
		<string>phenomenon(复数-ena)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.同意；捐赠；订阅vt.(签署)文件；捐助</string>
		<key>question</key>
		<string>subscribe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>同意；赞成；订购</string>
		<key>question</key>
		<string>subscribe to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.化石；从地下采掘出来的（矿物）</string>
		<key>question</key>
		<string>fossil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.燃料</string>
		<key>question</key>
		<string>fuel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.副产品</string>
		<key>question</key>
		<string>byproduct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.甲烷；沼气</string>
		<key>question</key>
		<string>methane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.(温度)摄氏的</string>
		<key>question</key>
		<string>Celsius</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.量；数量</string>
		<key>question</key>
		<string>quantity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大量的</string>
		<key>question</key>
		<string>quantities of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.趋向；易于；照顾vt.照顾；护理</string>
		<key>question</key>
		<string>tend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>上升；增长；升起</string>
		<key>question</key>
		<string>go up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衡量；测量；尺寸</string>
		<key>question</key>
		<string>measurement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep. 每；每一</string>
		<key>question</key>
		<string>per</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资料；数据</string>
		<key>question</key>
		<string>data</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>导致</string>
		<key>question</key>
		<string>result in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.趋势；倾向；走向</string>
		<key>question</key>
		<string>trend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大灾难；浩劫</string>
		<key>question</key>
		<string>catastrophe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洪水；水灾</string>
		<key>question</key>
		<string>flood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旱灾；干旱</string>
		<key>question</key>
		<string>drought</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饱荒</string>
		<key>question</key>
		<string>famine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反对；反抗；与（某人）较量</string>
		<key>question</key>
		<string>oppose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.反对的；对立的</string>
		<key>question</key>
		<string>opposed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>反对……</string>
		<key>question</key>
		<string>be opposed to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.温和的；温柔的；淡的</string>
		<key>question</key>
		<string>mild</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.环境的</string>
		<key>question</key>
		<string>environmental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.环境保护论者</string>
		<key>question</key>
		<string>environmentalist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结果；后果；影响</string>
		<key>question</key>
		<string>consequence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.陈述；说明</string>
		<key>question</key>
		<string>state</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类；范围</string>
		<key>question</key>
		<string>range</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>即使</string>
		<key>question</key>
		<string>even if</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>继续</string>
		<key>question</key>
		<string>keep on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.看一下；扫视n.一瞥</string>
		<key>question</key>
		<string>glance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.平稳的；持续的；稳固的</string>
		<key>question</key>
		<string>steady</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.平稳地；持续地</string>
		<key>question</key>
		<string>steadily</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
