<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.评估；评价；估计</string>
		<key>question</key>
		<string>evaluate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>全部焚毁</string>
		<key>question</key>
		<string>burn to the ground</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.波浪；波涛vi.波动；起伏；挥手</string>
		<key>question</key>
		<string>wave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.熔化的；熔融的</string>
		<key>question</key>
		<string>molten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.泉水般地喷出或涌出n.喷泉；源泉</string>
		<key>question</key>
		<string>fountain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.绝对的；完全的</string>
		<key>question</key>
		<string>absolute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.绝对地；完全地</string>
		<key>question</key>
		<string>absolutely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇航员；航天专家</string>
		<key>question</key>
		<string>spaceman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一套外衣；套装vt.适合；使适宜</string>
		<key>question</key>
		<string>suit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头盔</string>
		<key>question</key>
		<string>helmet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.靴子</string>
		<key>question</key>
		<string>boot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>前往</string>
		<key>question</key>
		<string>make one’sway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.潜在性；可能性；潜能adj.可能的；潜在的</string>
		<key>question</key>
		<string>potential</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.实在的；实际的</string>
		<key>question</key>
		<string>actual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地质学</string>
		<key>question</key>
		<string>geology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.样品；样本</string>
		<key>question</key>
		<string>sample</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.候选人；候补者</string>
		<key>question</key>
		<string>candidate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐吓；威胁</string>
		<key>question</key>
		<string>threat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平房；小屋</string>
		<key>question</key>
		<string>bungalow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.龙卷风；旋风</string>
		<key>question</key>
		<string>tornado</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.台风</string>
		<key>question</key>
		<string>typhoon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雷暴</string>
		<key>question</key>
		<string>thunderstorm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.贵重的；珍贵的</string>
		<key>question</key>
		<string>precious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小说家</string>
		<key>question</key>
		<string>novelist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雾</string>
		<key>question</key>
		<string>fog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文件；证件</string>
		<key>question</key>
		<string>document</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.彩虹</string>
		<key>question</key>
		<string>rainbow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不舒服的；不舒适的</string>
		<key>question</key>
		<string>uncomfortable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阳台</string>
		<key>question</key>
		<string>balcony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.失去知觉的；未察觉的</string>
		<key>question</key>
		<string>unconscious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.射中；射伤</string>
		<key>question</key>
		<string>shoot（shot,shot）</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.射击；枪炮声</string>
		<key>question</key>
		<string>shot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.摇晃；摇动；颤抖</string>
		<key>question</key>
		<string>tremble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汗vi.出汗</string>
		<key>question</key>
		<string>sweat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.忧虑的；不安的</string>
		<key>question</key>
		<string>anxious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.担心；焦虑；渴望</string>
		<key>question</key>
		<string>anxiety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.惊慌n.惊慌；恐慌</string>
		<key>question</key>
		<string>panic(panicked,panicked)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海啸；地震海啸</string>
		<key>question</key>
		<string>tsunami</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>匆匆看一遍</string>
		<key>question</key>
		<string>glance through</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.满族的n.满人</string>
		<key>question</key>
		<string>Manchu</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>由……到……不等</string>
		<key>question</key>
		<string>vary from…to…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.多种多样的；不同的</string>
		<key>question</key>
		<string>diverse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.多种多样；多样性</string>
		<key>question</key>
		<string>diversity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鹤；吊车；起重机</string>
		<key>question</key>
		<string>crane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豹</string>
		<key>question</key>
		<string>leopard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.引人入胜的；壮观的</string>
		<key>question</key>
		<string>spectacular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.洗澡；游泳</string>
		<key>question</key>
		<string>bathe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.激发；唤醒某人</string>
		<key>question</key>
		<string>arouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.欣赏；感激；感谢</string>
		<key>question</key>
		<string>appreciation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山顶；顶峰</string>
		<key>question</key>
		<string>peak</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
