<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.无私的；忘我的</string>
		<key>question</key>
		<string>selfless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.无私地；忘我地</string>
		<key>question</key>
		<string>selflessly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.（与to连用）献身；专心于</string>
		<key>question</key>
		<string>devote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.忠实的；深爱的</string>
		<key>question</key>
		<string>devoted</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.《圣经》</string>
		<key>question</key>
		<string>Bible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侵略者</string>
		<key>question</key>
		<string>invader</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建立；建设</string>
		<key>question</key>
		<string>found</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共和国；共和政体</string>
		<key>question</key>
		<string>republic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法则；原则；原理</string>
		<key>question</key>
		<string>principle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.民族主义；国家主义</string>
		<key>question</key>
		<string>nationalism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生计；谋生</string>
		<key>question</key>
		<string>livelihood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.和平的；平静的；安宁的</string>
		<key>question</key>
		<string>peaceful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.巨大的；庞大的</string>
		<key>question</key>
		<string>giant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飞跃；跳跃</string>
		<key>question</key>
		<string>leap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人类</string>
		<key>question</key>
		<string>mankind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伊莱亚斯（男名）</string>
		<key>question</key>
		<string>Elias</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.律师</string>
		<key>question</key>
		<string>lawyer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.指导；领导</string>
		<key>question</key>
		<string>guidance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.法律的；依照法律的</string>
		<key>question</key>
		<string>legal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.费（会费、学费等）；酬金</string>
		<key>question</key>
		<string>fee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.南非共和国有色人种的身份证</string>
		<key>question</key>
		<string>passbook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>失业</string>
		<key>question</key>
		<string>out of work</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.怀有希望的；有希望的</string>
		<key>question</key>
		<string>hopeful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青年；青年时期</string>
		<key>question</key>
		<string>youth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>同盟；联盟；联合会</string>
		<key>question</key>
		<string>league</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>青年团</string>
		<key>question</key>
		<string>Youth League</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舞台；阶段；时期</string>
		<key>question</key>
		<string>stage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.投票；选票；表决vt.&amp;vi.投票；选举</string>
		<key>question</key>
		<string>vote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.进攻；攻击；抨击</string>
		<key>question</key>
		<string>attack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暴力；暴行</string>
		<key>question</key>
		<string>violence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>事实上</string>
		<key>question</key>
		<string>as a matter of fact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使充气；爆炸</string>
		<key>question</key>
		<string>blowup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.相等的；平等的</string>
		<key>question</key>
		<string>equal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在危险、受罚、痛苦、忧虑等的处境中</string>
		<key>question</key>
		<string>in trouble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.乐意的；自愿的</string>
		<key>question</key>
		<string>willing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不公正的；不公平的</string>
		<key>question</key>
		<string>unfair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>求助于；致力于</string>
		<key>question</key>
		<string>turn to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.引用语；语录</string>
		<key>question</key>
		<string>quote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.释放；发行</string>
		<key>question</key>
		<string>release</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>丧失勇气或信心</string>
		<key>question</key>
		<string>lose heart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.逃脱；逃走；泄露</string>
		<key>question</key>
		<string>escape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毛毯；毯子</string>
		<key>question</key>
		<string>blanket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.教育；训练</string>
		<key>question</key>
		<string>educate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.受过教育的；有教养的</string>
		<key>question</key>
		<string>educated</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>当权；上台</string>
		<key>question</key>
		<string>come to power</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.请求；乞求</string>
		<key>question</key>
		<string>beg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.亲戚；亲属</string>
		<key>question</key>
		<string>relative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐怖；可怕的人；恐怖时期；恐怖活动</string>
		<key>question</key>
		<string>terror</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.残忍；残酷</string>
		<key>question</key>
		<string>cruelty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.报酬；奖金vt.酬劳；奖赏</string>
		<key>question</key>
		<string>reward</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
