<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.信服；说服</string>
		<key>question</key>
		<string>persuasion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保证；担保</string>
		<key>question</key>
		<string>guarantee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伤残；无力；无能</string>
		<key>question</key>
		<string>disability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.伤残的</string>
		<key>question</key>
		<string>disabled</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.听力；听觉</string>
		<key>question</key>
		<string>hearing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.视力</string>
		<key>question</key>
		<string>eyesight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.综合病征；综合症状</string>
		<key>question</key>
		<string>syndrome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小儿麻痹</string>
		<key>question</key>
		<string>in fantile paralysis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.跑道的一圈；重叠部分；（人坐着时）大腿的上方</string>
		<key>question</key>
		<string>lap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雄心；野心</string>
		<key>question</key>
		<string>ambition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有雄心的；有野心的</string>
		<key>question</key>
		<string>ambitious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.口授；听写（的文字）</string>
		<key>question</key>
		<string>dictation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.萨利（女名）</string>
		<key>question</key>
		<string>Sally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吵闹的；嘈杂的</string>
		<key>question</key>
		<string>noisy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.适合的；适宜的</string>
		<key>question</key>
		<string>suitable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.项目；进入；入口</string>
		<key>question</key>
		<string>entry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有益的；受益的</string>
		<key>question</key>
		<string>beneficial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>换句话说</string>
		<key>question</key>
		<string>in other words</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.笨拙的</string>
		<key>question</key>
		<string>clumsy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.碰撞；撞击</string>
		<key>question</key>
		<string>bump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.外向的；友好的；外出的；离开的</string>
		<key>question</key>
		<string>outgoing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使适应；改编</string>
		<key>question</key>
		<string>adapt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>适合</string>
		<key>question</key>
		<string>adapt to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长凳</string>
		<key>question</key>
		<string>bench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>切去；省略；停止（做某事）</string>
		<key>question</key>
		<string>cut out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.显微镜</string>
		<key>question</key>
		<string>microscope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>上气不接下气</string>
		<key>question</key>
		<string>out of breath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺席；不在某处</string>
		<key>question</key>
		<string>absence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.同伴的；同类的n.同伴；同志；伙伴</string>
		<key>question</key>
		<string>fellow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使……不悦；惹恼</string>
		<key>question</key>
		<string>annoy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.颇为生气的</string>
		<key>question</key>
		<string>annoyed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烦恼</string>
		<key>question</key>
		<string>annoyance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>总而言之</string>
		<key>question</key>
		<string>all in all</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公司adj.结实的；坚固的；坚定的</string>
		<key>question</key>
		<string>firm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.软件</string>
		<key>question</key>
		<string>software</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>闲坐着</string>
		<key>question</key>
		<string>sit around</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>和；也</string>
		<key>question</key>
		<string>as well as</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鹦鹉</string>
		<key>question</key>
		<string>parrot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（盛液体、气体的）大容器；缸；大桶</string>
		<key>question</key>
		<string>tank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陆龟；龟</string>
		<key>question</key>
		<string>tortoise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在很多方面</string>
		<key>question</key>
		<string>in many ways</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.心理（学）</string>
		<key>question</key>
		<string>psychology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.心理（学）地；精神上地</string>
		<key>question</key>
		<string>psychologically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>取笑</string>
		<key>question</key>
		<string>make fun of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鼓励；奖励</string>
		<key>question</key>
		<string>encouragement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行为；品行vt.指挥；管理；主持</string>
		<key>question</key>
		<string>conduct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主流；主要倾向</string>
		<key>question</key>
		<string>mainstream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人满意的；令人愉快的</string>
		<key>question</key>
		<string>fulfilling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不必担心</string>
		<key>question</key>
		<string>never mind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政治（学）</string>
		<key>question</key>
		<string>politics</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
