<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.盈满的；满到边际的</string>
		<key>question</key>
		<string>brimful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>尤其；特别</string>
		<key>question</key>
		<string>in particular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.最后；终于</string>
		<key>question</key>
		<string>eventually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.等候；期待</string>
		<key>question</key>
		<string>await</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.转化；转换；改造,变换</string>
		<key>question</key>
		<string>transform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）旋转</string>
		<key>question</key>
		<string>revolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.说；讲；发出（声音）</string>
		<key>question</key>
		<string>utter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悲伤；悲痛；懊悔</string>
		<key>question</key>
		<string>sorrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.赤裸的；光秃的；稀少的n.最基本的要素</string>
		<key>question</key>
		<string>bare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图书馆馆长;图书馆管理员</string>
		<key>question</key>
		<string>librarian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.永远</string>
		<key>question</key>
		<string>forever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.茎；干</string>
		<key>question</key>
		<string>stem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水泥</string>
		<key>question</key>
		<string>cement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.部分；节；切下的块</string>
		<key>question</key>
		<string>section</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.适当的；正当的</string>
		<key>question</key>
		<string>appropriate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.交换；交流；互换vt.&amp;vi.调换；交换</string>
		<key>question</key>
		<string>exchange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毕业文凭；学位证书</string>
		<key>question</key>
		<string>diploma</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赞助人；主办者；倡议者vt.发起；举办；倡议</string>
		<key>question</key>
		<string>sponsor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.空白adj.空白的；茫然的</string>
		<key>question</key>
		<string>blank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.指南针；罗盘；（复数）圆规</string>
		<key>question</key>
		<string>compass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新娘</string>
		<key>question</key>
		<string>bride</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新郎</string>
		<key>question</key>
		<string>bridegroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冠军称号</string>
		<key>question</key>
		<string>championship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有节奏的；有规律的</string>
		<key>question</key>
		<string>rhythmic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黑暗；漆黑</string>
		<key>question</key>
		<string>darkness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暖和；温暖</string>
		<key>question</key>
		<string>warmth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>测试；试验</string>
		<key>question</key>
		<string>tryout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖学金；学问；学术成就</string>
		<key>question</key>
		<string>scholarship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钢琴家；钢琴演奏者</string>
		<key>question</key>
		<string>pianist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小提琴演奏者</string>
		<key>question</key>
		<string>violinist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发出；放走</string>
		<key>question</key>
		<string>let out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.负担；负荷物（尤指沉重的）</string>
		<key>question</key>
		<string>load</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香烟；纸烟</string>
		<key>question</key>
		<string>cigarette</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酒；酒精</string>
		<key>question</key>
		<string>alcohol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.酒精的</string>
		<key>question</key>
		<string>alcoholic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.滥用；虐待</string>
		<key>question</key>
		<string>abuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.健康</string>
		<key>question</key>
		<string>fitness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.性的；性别的</string>
		<key>question</key>
		<string>sexual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压力；重音vt.加压力于；使紧张</string>
		<key>question</key>
		<string>stress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.产生压力的；紧张的</string>
		<key>question</key>
		<string>stressful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（过度）肥胖；肥胖症</string>
		<key>question</key>
		<string>obesity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青少年adj.青春期的</string>
		<key>question</key>
		<string>adolescent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青春期</string>
		<key>question</key>
		<string>adolescence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.禁止；取缔n.禁令；谴责</string>
		<key>question</key>
		<string>ban</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.欠款的；预定的；到期的</string>
		<key>question</key>
		<string>due</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>由于……</string>
		<key>question</key>
		<string>due to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.困难的；强硬的</string>
		<key>question</key>
		<string>tough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.入了迷的；上了瘾的</string>
		<key>question</key>
		<string>addicted</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……有瘾</string>
		<key>question</key>
		<string>addicted to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.尼古丁</string>
		<key>question</key>
		<string>nicotine</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
