<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.新生；复兴；复活</string>
		<key>question</key>
		<string>renaissance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>文艺复兴（时期）</string>
		<key>question</key>
		<string>the Renaissance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.采用；采纳；收养</string>
		<key>question</key>
		<string>adopt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.人道主义的</string>
		<key>question</key>
		<string>humanistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拥有；具有；支配</string>
		<key>question</key>
		<string>possess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（尤作复数）所有；财产</string>
		<key>question</key>
		<string>possession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.卓越的；杰出的；极好的</string>
		<key>question</key>
		<string>superb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.透视画法；透视图；观点</string>
		<key>question</key>
		<string>perspective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.技术；方法；技能</string>
		<key>question</key>
		<string>technique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巧合（的事）；（事情、口味、故事等）相合</string>
		<key>question</key>
		<string>coincidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>巧合地</string>
		<key>question</key>
		<string>by coincidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杰作；名著</string>
		<key>question</key>
		<string>masterpiece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印象主义;印象派</string>
		<key>question</key>
		<string>impressionism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.印象派的n.印象派艺术家</string>
		<key>question</key>
		<string>impressionist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.后印象派的n.后印象派艺术家</string>
		<key>question</key>
		<string>post-impressionist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大量</string>
		<key>question</key>
		<string>a great deal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阴影；影子</string>
		<key>question</key>
		<string>shadow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.荒谬的；可笑的</string>
		<key>question</key>
		<string>ridiculous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.争论的；争议的</string>
		<key>question</key>
		<string>controversial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.努力；尝试；企图vt.尝试；企图</string>
		<key>question</key>
		<string>attempt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>(可是)另一方面</string>
		<key>question</key>
		<string>on the other hand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预言；预告；预测</string>
		<key>question</key>
		<string>predict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风景；景色</string>
		<key>question</key>
		<string>landscape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.确切的；特定的</string>
		<key>question</key>
		<string>specific</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.画像；身材；数字</string>
		<key>question</key>
		<string>figure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黏土</string>
		<key>question</key>
		<string>clay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.评论家；批评者</string>
		<key>question</key>
		<string>critic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青铜；青铜色;青铜制艺术品</string>
		<key>question</key>
		<string>bronze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大理石</string>
		<key>question</key>
		<string>marble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.雕刻；刻记</string>
		<key>question</key>
		<string>carve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.脆弱的；容易生病的;精致的</string>
		<key>question</key>
		<string>delicate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.帆布；画布</string>
		<key>question</key>
		<string>canvas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咖啡馆；小餐馆</string>
		<key>question</key>
		<string>café</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.过敏性的；对……过敏的</string>
		<key>question</key>
		<string>allergic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.有效地</string>
		<key>question</key>
		<string>effectively</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.展览；陈列；展览会</string>
		<key>question</key>
		<string>exhibition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.敢作敢为的；侵略的；好斗的</string>
		<key>question</key>
		<string>aggressive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学者</string>
		<key>question</key>
		<string>scholar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肉；肌肉；肉体</string>
		<key>question</key>
		<string>flesh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>活着的；本人</string>
		<key>question</key>
		<string>in the flesh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.几何学</string>
		<key>question</key>
		<string>geometry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.束；串</string>
		<key>question</key>
		<string>bunch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.林荫道；道路；大街</string>
		<key>question</key>
		<string>avenue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喜爱；偏爱</string>
		<key>question</key>
		<string>preference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.展示；陈列；显露</string>
		<key>question</key>
		<string>display</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.有感染力；呼吁；求助vt.将……上诉</string>
		<key>question</key>
		<string>appeal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.呼吁；恳求</string>
		<key>question</key>
		<string>appeal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（对某人）有吸引力,感兴趣</string>
		<key>question</key>
		<string>appeal to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.精细的；易碎的；脆弱的</string>
		<key>question</key>
		<string>fragile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.圆形的；环形的；循环的</string>
		<key>question</key>
		<string>circular</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
