<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.大海雀（已灭绝）</string>
		<key>question</key>
		<string>great auk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羽毛</string>
		<key>question</key>
		<string>feather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.白氏斑马（已灭绝）</string>
		<key>question</key>
		<string>quagga</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.公平地；相当地</string>
		<key>question</key>
		<string>fairly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>状况很好（坏）；情况很好（坏）</string>
		<key>question</key>
		<string>in good/poor condition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火鸡</string>
		<key>question</key>
		<string>turkey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给……染色；染n.染色剂</string>
		<key>question</key>
		<string>dye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爪；脚爪</string>
		<key>question</key>
		<string>claw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.崇拜；爱慕；喜爱</string>
		<key>question</key>
		<string>adore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.孵出；孵卵；孵化</string>
		<key>question</key>
		<string>hatch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.合情理的；讲道理的；公道的</string>
		<key>question</key>
		<string>reasonable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.两栖（类）的</string>
		<key>question</key>
		<string>amphibious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专利证书；专利权</string>
		<key>question</key>
		<string>patent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>给……打电话</string>
		<key>question</key>
		<string>call up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.院子；庭院；天井</string>
		<key>question</key>
		<string>courtyard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>偶尔；有时</string>
		<key>question</key>
		<string>now and then</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡桃；胡桃木</string>
		<key>question</key>
		<string>walnut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.显示……的差别；使……有所不同；辨别</string>
		<key>question</key>
		<string>distinguish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.宽大的；仁慈的；慈悲的</string>
		<key>question</key>
		<string>merciful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.产品</string>
		<key>question</key>
		<string>product</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粉末；火药</string>
		<key>question</key>
		<string>powder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>开始；着手</string>
		<key>question</key>
		<string>set about</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香水；香味</string>
		<key>question</key>
		<string>perfume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无锈的；不锈的；没有污点的</string>
		<key>question</key>
		<string>stainless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果冻；果冻状物</string>
		<key>question</key>
		<string>jelly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.立方体；立方</string>
		<key>question</key>
		<string>cube</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.立方的</string>
		<key>question</key>
		<string>cubic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.突然的；意外的</string>
		<key>question</key>
		<string>abrupt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.突然地；唐突地</string>
		<key>question</key>
		<string>abruptly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.便利的；方便的；就近的</string>
		<key>question</key>
		<string>convenient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小心；谨慎</string>
		<key>question</key>
		<string>caution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预料；期待；期望</string>
		<key>question</key>
		<string>expectation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.被动的；消极的；被动语态的</string>
		<key>question</key>
		<string>passive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.愉快的；高兴的</string>
		<key>question</key>
		<string>merry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.高兴地；愉快地</string>
		<key>question</key>
		<string>merrily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抓住；捉住；夺</string>
		<key>question</key>
		<string>seize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.认出；认可；承认</string>
		<key>question</key>
		<string>recognition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（评判的）标准；尺度</string>
		<key>question</key>
		<string>criterion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.要求；声称；主张</string>
		<key>question</key>
		<string>claim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有效的；确凿的</string>
		<key>question</key>
		<string>valid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文件；档案；文件夹vt.提交；将……归档</string>
		<key>question</key>
		<string>file</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.熟的；成熟的</string>
		<key>question</key>
		<string>ripe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.线；绳子；一串</string>
		<key>question</key>
		<string>string</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胶；胶水vt.粘贴；粘合</string>
		<key>question</key>
		<string>glue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杆；棒</string>
		<key>question</key>
		<string>rod</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.冰冻的；严寒的</string>
		<key>question</key>
		<string>freezing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果蔬商（pl）蔬菜水果店</string>
		<key>question</key>
		<string>greengrocer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鉴定；辨认；确定；身份证明</string>
		<key>question</key>
		<string>identification</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电话簿；商行名录</string>
		<key>question</key>
		<string>directory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拨（电话）</string>
		<key>question</key>
		<string>dial</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
