<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.频繁的；常见的</string>
		<key>question</key>
		<string>frequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.常常；频繁地</string>
		<key>question</key>
		<string>frequently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.使用；用法；词语惯用法</string>
		<key>question</key>
		<string>usage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.命令；指令；掌握</string>
		<key>question</key>
		<string>command</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.请求；要求</string>
		<key>question</key>
		<string>request</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方言</string>
		<key>question</key>
		<string>dialect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词语；表示；表达</string>
		<key>question</key>
		<string>expression</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.中西部的，有中西部特性的</string>
		<key>question</key>
		<string>midwestern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.非洲的；非洲人的；非洲语言的</string>
		<key>question</key>
		<string>African</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.西班牙的；西班牙人的；西班牙语的</string>
		<key>question</key>
		<string>Spanish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.西班牙人；西班牙语</string>
		<key>question</key>
		<string>Spanish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>扮演一个角色；参与</string>
		<key>question</key>
		<string>play apart(in)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.东方的；东部的</string>
		<key>question</key>
		<string>eastern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.东南方的；来自东南的</string>
		<key>question</key>
		<string>southeastern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.西北方的；来自西北的</string>
		<key>question</key>
		<string>northwestern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.辨认出；承认；公认</string>
		<key>question</key>
		<string>recognize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.休斯顿（美国城市）</string>
		<key>question</key>
		<string>Houston</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.德克萨斯州（美国州名）</string>
		<key>question</key>
		<string>Texas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.口音；腔调；重音</string>
		<key>question</key>
		<string>accent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.布福德（姓氏；男名）</string>
		<key>question</key>
		<string>Buford</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.莱斯特（姓错；男名）</string>
		<key>question</key>
		<string>Lester</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲶鱼</string>
		<key>question</key>
		<string>catfish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闪电</string>
		<key>question</key>
		<string>lightning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.直的；笔直的；正直的adv.直接；挺直</string>
		<key>question</key>
		<string>straight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.街区；块；木块；石块</string>
		<key>question</key>
		<string>block</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出租车</string>
		<key>question</key>
		<string>cab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.日记；杂志；定期刊物</string>
		<key>question</key>
		<string>journal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运送；运输vt.运输；运送</string>
		<key>question</key>
		<string>transport</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.更喜欢；选择某事物（而不选择其他事物）</string>
		<key>question</key>
		<string>prefer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不利条件；不便之处</string>
		<key>question</key>
		<string>disadvantage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.费用</string>
		<key>question</key>
		<string>fare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.路线；路途</string>
		<key>question</key>
		<string>route</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.湄公河</string>
		<key>question</key>
		<string>Mekong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流动；流量vi.流动；流出</string>
		<key>question</key>
		<string>flow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>从那以后</string>
		<key>question</key>
		<string>eversince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.说服；劝说</string>
		<key>question</key>
		<string>persuade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.骑自行车</string>
		<key>question</key>
		<string>cycle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大学毕业生vi.毕业</string>
		<key>question</key>
		<string>graduate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.最后；终于</string>
		<key>question</key>
		<string>finally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时间表；进度表vt.为某事安排时间</string>
		<key>question</key>
		<string>schedule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.喜爱的；慈爱的；宠爱的</string>
		<key>question</key>
		<string>fond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>喜爱；喜欢</string>
		<key>question</key>
		<string>be fond of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺点</string>
		<key>question</key>
		<string>shortcoming</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.顽固的；固执的</string>
		<key>question</key>
		<string>stubborn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.组织；成立</string>
		<key>question</key>
		<string>organize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>关心；忧虑；惦念</string>
		<key>question</key>
		<string>care about</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细节；详情</string>
		<key>question</key>
		<string>detail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.来源；水源</string>
		<key>question</key>
		<string>source</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.决定；确定；下定决心</string>
		<key>question</key>
		<string>determine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.坚决的；有决心的</string>
		<key>question</key>
		<string>determined</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
