<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.检查；视察</string>
		<key>question</key>
		<string>inspect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.没料到的；意外的</string>
		<key>question</key>
		<string>unexpected</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事件；事变</string>
		<key>question</key>
		<string>incident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灰尘；尘土；尘埃</string>
		<key>question</key>
		<string>dust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>按照；根据……所说</string>
		<key>question</key>
		<string>according to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消失</string>
		<key>question</key>
		<string>disappearance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.凶猛的；猛烈的</string>
		<key>question</key>
		<string>fierce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>以致于；结果</string>
		<key>question</key>
		<string>sothat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结局；结尾</string>
		<key>question</key>
		<string>ending</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.忠诚地；忠实地</string>
		<key>question</key>
		<string>faithfully</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.古典的；古典文艺的</string>
		<key>question</key>
		<string>classical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.滚动；（使）摇摆</string>
		<key>question</key>
		<string>roll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摇晃；卷；卷形物；面包圈</string>
		<key>question</key>
		<string>roll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>摇滚乐</string>
		<key>question</key>
		<string>rock’n’ roll(rock-and-roll)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管弦乐队</string>
		<key>question</key>
		<string>orchestra</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.说唱乐</string>
		<key>question</key>
		<string>rap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.民间的</string>
		<key>question</key>
		<string>folk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爵士音乐</string>
		<key>question</key>
		<string>jazz</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.唱诗班的；合唱队的</string>
		<key>question</key>
		<string>choral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.音乐家</string>
		<key>question</key>
		<string>musician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>梦见；梦想；设想</string>
		<key>question</key>
		<string>dream of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卡拉OK录音；自动伴奏录音</string>
		<key>question</key>
		<string>karaoke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.假装；假扮</string>
		<key>question</key>
		<string>pretend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>说实在地；实话说</string>
		<key>question</key>
		<string>to be honest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.系上；缚上；附加；连接</string>
		<key>question</key>
		<string>attach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>认为有（重要性、意义）；附上；连接</string>
		<key>question</key>
		<string>attach…to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.（使）组成；形成；构成</string>
		<key>question</key>
		<string>form</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名声；名望</string>
		<key>question</key>
		<string>fame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过路人；行人</string>
		<key>question</key>
		<string>passer-by</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赚；挣得；获得</string>
		<key>question</key>
		<string>earn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.额外的；外加的</string>
		<key>question</key>
		<string>extra</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工具；器械；乐器</string>
		<key>question</key>
		<string>instrument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.表演；履行；执行</string>
		<key>question</key>
		<string>perform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.表演；演奏</string>
		<key>question</key>
		<string>performance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酒馆；酒吧</string>
		<key>question</key>
		<string>pub</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.现金</string>
		<key>question</key>
		<string>cash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>用现金；有现钱</string>
		<key>question</key>
		<string>in cash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工作室；演播室</string>
		<key>question</key>
		<string>studio</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百万富翁；富豪</string>
		<key>question</key>
		<string>millionaire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>戏弄</string>
		<key>question</key>
		<string>play jokes on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.男演员；行动者</string>
		<key>question</key>
		<string>actor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.依赖；依靠</string>
		<key>question</key>
		<string>rely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>依赖；依靠</string>
		<key>question</key>
		<string>rely on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.&amp;vt.广播；播放</string>
		<key>question</key>
		<string>broadcast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.幽默的；诙谐的</string>
		<key>question</key>
		<string>humorous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.熟悉的；常见的；亲近的</string>
		<key>question</key>
		<string>familiar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>熟悉；与……熟悉起来</string>
		<key>question</key>
		<string>be/get familiar with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大约</string>
		<key>question</key>
		<string>or so</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打碎；分裂；解体</string>
		<key>question</key>
		<string>breakup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.再统一；再联合；重聚</string>
		<key>question</key>
		<string>reunite</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
