<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.废除；废止</string>
		<key>question</key>
		<string>abolish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.废除；废止</string>
		<key>question</key>
		<string>abolition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.辞职；辞去（工作、职位等）</string>
		<key>question</key>
		<string>resign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奴隶制</string>
		<key>question</key>
		<string>slavery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文学（作品）；著作；文献</string>
		<key>question</key>
		<string>literature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气力马扎罗山（位于坦桑尼亚；非洲最高山）</string>
		<key>question</key>
		<string>Mount riKilimanjaro</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同伴；伙伴</string>
		<key>question</key>
		<string>companion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协助；援助</string>
		<key>question</key>
		<string>assistance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.祝贺；庆贺</string>
		<key>question</key>
		<string>congratulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祝贺；贺词</string>
		<key>question</key>
		<string>congratulation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保龄球</string>
		<key>question</key>
		<string>bowling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毕业；毕业典礼</string>
		<key>question</key>
		<string>graduation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.证书</string>
		<key>question</key>
		<string>certificate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（口语）（祝你）一切顺利</string>
		<key>question</key>
		<string>all the best</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建筑师</string>
		<key>question</key>
		<string>architect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桑德斯（姓）</string>
		<key>question</key>
		<string>Sanders</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.足够的；充分的</string>
		<key>question</key>
		<string>adequate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（接近的）方法；通路；可接近性</string>
		<key>question</key>
		<string>access</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可接近的；可进入的；可使用的</string>
		<key>question</key>
		<string>accessible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轮椅</string>
		<key>question</key>
		<string>wheelchair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.方便的；有用的</string>
		<key>question</key>
		<string>handy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.耳机</string>
		<key>question</key>
		<string>earphone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.削弱；损伤</string>
		<key>question</key>
		<string>impair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一行；一排vt.&amp;vi.划（船）</string>
		<key>question</key>
		<string>row</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地下室</string>
		<key>question</key>
		<string>basement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.向外</string>
		<key>question</key>
		<string>outwards</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出口；离开；退场</string>
		<key>question</key>
		<string>exit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>遇到；经历；会晤</string>
		<key>question</key>
		<string>meet with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赞成；认可</string>
		<key>question</key>
		<string>approval</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.尊严；高贵的品质</string>
		<key>question</key>
		<string>dignity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收益；利润；盈利</string>
		<key>question</key>
		<string>profit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（pl）斜体（字）</string>
		<key>question</key>
		<string>italics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社区；团体；社会</string>
		<key>question</key>
		<string>community</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.家庭的；家用的n.一家人；家庭</string>
		<key>question</key>
		<string>household</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小说；虚构或想象出来的事</string>
		<key>question</key>
		<string>fiction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.渴望；欲望；渴求vt.希望得到；想要</string>
		<key>question</key>
		<string>desire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.满意；满足；令人满意的事物</string>
		<key>question</key>
		<string>satisfaction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>试验；考验</string>
		<key>question</key>
		<string>test out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.额外津贴；奖金；红利</string>
		<key>question</key>
		<string>bonus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.警报；惊恐vt.使警觉；使惊恐；惊动</string>
		<key>question</key>
		<string>alarm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.担心的；害怕的</string>
		<key>question</key>
		<string>alarmed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.围裙</string>
		<key>question</key>
		<string>apron</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同情（心）</string>
		<key>question</key>
		<string>sympathy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.超重的；体重超常的</string>
		<key>question</key>
		<string>overweight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.优雅的；高雅的；讲究的</string>
		<key>question</key>
		<string>elegant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喜爱；恩惠vt.喜爱；偏袒</string>
		<key>question</key>
		<string>favour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堆；摞；叠vi.堆起；堆积vt.把……堆起；积聚</string>
		<key>question</key>
		<string>pile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.细看；仔细检查；粗略地看；浏览；扫描</string>
		<key>question</key>
		<string>scan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手指甲</string>
		<key>question</key>
		<string>fingernail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.荒谬的；可笑的</string>
		<key>question</key>
		<string>absurd</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
