<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.粥；麦片粥</string>
		<key>question</key>
		<string>porridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.醉的</string>
		<key>question</key>
		<string>drunk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陈述；说明</string>
		<key>question</key>
		<string>statement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.迎接；问候</string>
		<key>question</key>
		<string>greet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.代表；象征</string>
		<key>question</key>
		<string>represent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社团；联系；联想</string>
		<key>question</key>
		<string>association</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宿舍</string>
		<key>question</key>
		<string>dormitory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.食堂</string>
		<key>question</key>
		<string>canteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飞行；航班</string>
		<key>question</key>
		<string>flight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.好奇的</string>
		<key>question</key>
		<string>curious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.好奇地</string>
		<key>question</key>
		<string>curiously</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.接近；靠近；走近n.接近；方法；途径</string>
		<key>question</key>
		<string>approach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面颊</string>
		<key>question</key>
		<string>cheek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保护；保卫</string>
		<key>question</key>
		<string>defend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>保卫……以免受</string>
		<key>question</key>
		<string>defend against</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.防御；保卫</string>
		<key>question</key>
		<string>defence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.主要的</string>
		<key>question</key>
		<string>major</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(misunderstood,misunderstood)误解，误会</string>
		<key>question</key>
		<string>misunderstand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.误解；误会</string>
		<key>question</key>
		<string>misunderstanding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.猛冲；突进</string>
		<key>question</key>
		<string>dash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成人；成年人adj.成人的；成熟的</string>
		<key>question</key>
		<string>adult</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.简单地；只</string>
		<key>question</key>
		<string>simply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;adj.穆斯林（的）；伊斯兰教信徒（的）</string>
		<key>question</key>
		<string>Muslim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.口语的</string>
		<key>question</key>
		<string>spoken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.未说出口的；非口语的</string>
		<key>question</key>
		<string>unspoken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.姿态；体态</string>
		<key>question</key>
		<string>posture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.西班牙（欧洲国家）</string>
		<key>question</key>
		<string>Spain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意大利（欧洲国家）</string>
		<key>question</key>
		<string>Italy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可能的</string>
		<key>question</key>
		<string>likely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>很可能……；有希望……</string>
		<key>question</key>
		<string>be likely to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>总的来说；通常</string>
		<key>question</key>
		<string>ingeneral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十字路口</string>
		<key>question</key>
		<string>crossroads</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雇员</string>
		<key>question</key>
		<string>employee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.皱眉；蹙额</string>
		<key>question</key>
		<string>frown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.（misread/misread）读错；误解</string>
		<key>question</key>
		<string>misread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.面部的</string>
		<key>question</key>
		<string>facial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.作用；功能；职能vi.起作用；运转</string>
		<key>question</key>
		<string>function</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安逸；舒适vt.减轻（痛苦；忧虑）</string>
		<key>question</key>
		<string>ease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>舒适；快活；自由自在</string>
		<key>question</key>
		<string>a tease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.真实地；真诚地；真正地</string>
		<key>question</key>
		<string>truly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.错误的；假的</string>
		<key>question</key>
		<string>FALSE</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怒气；怒火</string>
		<key>question</key>
		<string>anger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>丢脸</string>
		<key>question</key>
		<string>lose face</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>背对；背弃</string>
		<key>question</key>
		<string>turn one’s back to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拳头</string>
		<key>question</key>
		<string>fist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.打呵欠</string>
		<key>question</key>
		<string>yawn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.恭敬的</string>
		<key>question</key>
		<string>respectful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.主观的</string>
		<key>question</key>
		<string>subjective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.拥抱</string>
		<key>question</key>
		<string>hug</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.等级；军衔</string>
		<key>question</key>
		<string>rank</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
