<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.图表</string>
		<key>question</key>
		<string>chart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有创造力的；创造性的；独创的</string>
		<key>question</key>
		<string>creative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.合作的</string>
		<key>question</key>
		<string>co-operative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.积极的；肯定的；确实的</string>
		<key>question</key>
		<string>positive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……严格的</string>
		<key>question</key>
		<string>（be）strict with…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.革命的；重大变革的</string>
		<key>question</key>
		<string>revolutionary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移动；运动；动作</string>
		<key>question</key>
		<string>movement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>讲得通；有意义</string>
		<key>question</key>
		<string>make sense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.&amp;adj.向后地（的）；相反地（的）；</string>
		<key>question</key>
		<string>backward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圈；环</string>
		<key>question</key>
		<string>loop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.私下地；秘密地</string>
		<key>question</key>
		<string>privately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(使)旋转；纺（线或纱）</string>
		<key>question</key>
		<string>spin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.明亮；亮度；聪颖</string>
		<key>question</key>
		<string>brightness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.热情的；热心的</string>
		<key>question</key>
		<string>enthusiastic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.小心的；谨慎的</string>
		<key>question</key>
		<string>cautious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拒绝；不接受；抛弃</string>
		<key>question</key>
		<string>reject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇宙；世界</string>
		<key>question</key>
		<string>universe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.联合；团结</string>
		<key>question</key>
		<string>unite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王国</string>
		<key>question</key>
		<string>kingdom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.组成；在于；一致</string>
		<key>question</key>
		<string>consist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>由……组成</string>
		<key>question</key>
		<string>consist of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.省；行政区</string>
		<key>question</key>
		<string>province</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>把……分成</string>
		<key>question</key>
		<string>divide…into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.澄清；阐明</string>
		<key>question</key>
		<string>clarify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.完成；达到；实现</string>
		<key>question</key>
		<string>accomplish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矛盾；冲突</string>
		<key>question</key>
		<string>conflict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不愿意（的）；不乐意（的）</string>
		<key>question</key>
		<string>unwilling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>挣脱（束缚）；脱离</string>
		<key>question</key>
		<string>breakaway(from)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.联合；联盟；结合；协会</string>
		<key>question</key>
		<string>union</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>英国国旗</string>
		<key>question</key>
		<string>the Union Jack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任；学分；赞扬；信贷</string>
		<key>question</key>
		<string>credit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>为……带来荣誉；值得赞扬；在……名下</string>
		<key>question</key>
		<string>to one’s credit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货币；通货</string>
		<key>question</key>
		<string>currency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.制度；机制；公共机构</string>
		<key>question</key>
		<string>institution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.教育的</string>
		<key>question</key>
		<string>educational</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.便利；方便</string>
		<key>question</key>
		<string>convenience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.粗糙的；粗暴的</string>
		<key>question</key>
		<string>rough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.粗略地；粗糙地</string>
		<key>question</key>
		<string>roughly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.全国性的；全国范围的</string>
		<key>question</key>
		<string>nationwide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吸引；引起注意</string>
		<key>question</key>
		<string>attract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.历史（上）的;有关历史的</string>
		<key>question</key>
		<string>historical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建筑学；建筑艺术</string>
		<key>question</key>
		<string>architecture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(古)罗马人adj.（古）罗马的</string>
		<key>question</key>
		<string>Roman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收藏品；珍藏；收集</string>
		<key>question</key>
		<string>collection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管理；行政部门</string>
		<key>question</key>
		<string>administration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.港口（城市）</string>
		<key>question</key>
		<string>port</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盎格鲁-撒克逊人adj.盎格鲁-撒克逊人的</string>
		<key>question</key>
		<string>Anglo-Saxon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诺曼人；诺曼语adj.诺曼的；诺曼人（语）的</string>
		<key>question</key>
		<string>Norman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乡下；农村</string>
		<key>question</key>
		<string>countryside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.令人愉快的；使人高兴的</string>
		<key>question</key>
		<string>enjoyable</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
