<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.（口）好的；整齐的；匀称的</string>
		<key>question</key>
		<string>neat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海草；海藻</string>
		<key>question</key>
		<string>seaweed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.狭窄的；有限的；狭隘的</string>
		<key>question</key>
		<string>narrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闪光信号灯；手电筒；闪光灯</string>
		<key>question</key>
		<string>flashlight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>上下翻转</string>
		<key>question</key>
		<string>upside down</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.吮吸</string>
		<key>question</key>
		<string>suck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海蛞蝓</string>
		<key>question</key>
		<string>sea-slug</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海龟；龟；甲鱼</string>
		<key>question</key>
		<string>turtle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鳗；鳝</string>
		<key>question</key>
		<string>eel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.锐利的；锋利的；敏捷的</string>
		<key>question</key>
		<string>sharp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.好吃的；可口的</string>
		<key>question</key>
		<string>tasty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.巨人的；巨大的n.巨人；伟人</string>
		<key>question</key>
		<string>giant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛤</string>
		<key>question</key>
		<string>clam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.&amp;n.灰色（的）</string>
		<key>question</key>
		<string>grey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.恐吓vi.受惊吓</string>
		<key>question</key>
		<string>scare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吓死了</string>
		<key>question</key>
		<string>(be)scared to death</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.浅的；肤浅的；浅显的</string>
		<key>question</key>
		<string>shallow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.陡峭的</string>
		<key>question</key>
		<string>steep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.界限；分界线</string>
		<key>question</key>
		<string>boundary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.南极的</string>
		<key>question</key>
		<string>Antarctic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>南极洲</string>
		<key>question</key>
		<string>the Antarctic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.使人敬畏的；令人畏惧的</string>
		<key>question</key>
		<string>awesome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.跳；跳跃vt.跳过（障碍）</string>
		<key>question</key>
		<string>leap(leapt,leaped;leapt,leaped)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海豹；封条；印章</string>
		<key>question</key>
		<string>seal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.退还；偿还n.退款</string>
		<key>question</key>
		<string>refund</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.养老金；退休金</string>
		<key>question</key>
		<string>pension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领取养老金者</string>
		<key>question</key>
		<string>pensioner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航空邮件</string>
		<key>question</key>
		<string>airmail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.两星期</string>
		<key>question</key>
		<string>fortnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>接到……的信</string>
		<key>question</key>
		<string>hear from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>极想；渴望</string>
		<key>question</key>
		<string>(be)dying to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.屋顶；车顶</string>
		<key>question</key>
		<string>roof</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.泥泞的；泥土般的</string>
		<key>question</key>
		<string>muddy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教科书；课本</string>
		<key>question</key>
		<string>textbook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观念；概念</string>
		<key>question</key>
		<string>concept</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水桶；吊桶；提桶</string>
		<key>question</key>
		<string>bucket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不久前的一天</string>
		<key>question</key>
		<string>the other day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.&amp;adv.每周（的）</string>
		<key>question</key>
		<string>weekly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.起泡；沸腾；汩汩地流动</string>
		<key>question</key>
		<string>bubble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有关的；切题的</string>
		<key>question</key>
		<string>relevant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.遥远的；偏僻的</string>
		<key>question</key>
		<string>remote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山脊；屋脊</string>
		<key>question</key>
		<string>ridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杂草；野草vt.&amp;vi.除杂草</string>
		<key>question</key>
		<string>weed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棚屋；小屋</string>
		<key>question</key>
		<string>hut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矩形；长方形</string>
		<key>question</key>
		<string>rectangle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.长方形的；矩形的</string>
		<key>question</key>
		<string>rectangular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.调整；（使）适合</string>
		<key>question</key>
		<string>adjust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.台；平台；讲台；（火车站的）月台</string>
		<key>question</key>
		<string>platform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扫帚</string>
		<key>question</key>
		<string>broom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锡</string>
		<key>question</key>
		<string>tin</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
