<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>测验；问答比赛</string>
		<key>question</key>
		<string>quiz</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.加拿大人adj.加拿大的；加拿大人的</string>
		<key>question</key>
		<string>Canadian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海狸</string>
		<key>question</key>
		<string>beaver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（北美洲）灰熊adj.灰色的；有灰斑的</string>
		<key>question</key>
		<string>grizzly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.极地的；近极地的</string>
		<key>question</key>
		<string>polar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.企鹅</string>
		<key>question</key>
		<string>penguin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.首要的；主要的；基本的</string>
		<key>question</key>
		<string>prime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大臣；部长</string>
		<key>question</key>
		<string>minister</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>首相；丞相</string>
		<key>question</key>
		<string>prime minister</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.州长；总督</string>
		<key>question</key>
		<string>governor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>与其；不愿</string>
		<key>question</key>
		<string>rather than</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洲；大陆</string>
		<key>question</key>
		<string>continent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行李</string>
		<key>question</key>
		<string>baggage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.聊天；闲聊</string>
		<key>question</key>
		<string>chat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.景色；风景</string>
		<key>question</key>
		<string>scenery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.向东adj.向东的；朝东的</string>
		<key>question</key>
		<string>eastward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.向西adj.向西的；朝西上的</string>
		<key>question</key>
		<string>westward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.向上地；上升的adj.上升的；向上的</string>
		<key>question</key>
		<string>upward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.包围；围绕</string>
		<key>question</key>
		<string>surround</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(=harbor)海港</string>
		<key>question</key>
		<string>Harbour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.测量；衡量；判定</string>
		<key>question</key>
		<string>measure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计量制；计量单位；措施</string>
		<key>question</key>
		<string>measure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.&amp;adv.在船、飞机、火车或公共汽车上</string>
		<key>question</key>
		<string>aborad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>定居；平静下来；专心于</string>
		<key>question</key>
		<string>settle down</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>设法做</string>
		<key>question</key>
		<string>manage to do</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>看见；瞥见</string>
		<key>question</key>
		<string>catch sight of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鹰</string>
		<key>question</key>
		<string>eagle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牛仔；牧童</string>
		<key>question</key>
		<string>cowboy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……有天赋</string>
		<key>question</key>
		<string>have a gift for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在……之内</string>
		<key>question</key>
		<string>within</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.边界；国界；边沿vt.&amp;vi.与……接壤；</string>
		<key>question</key>
		<string>border</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.轻微的；微小的</string>
		<key>question</key>
		<string>slight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.稍稍；轻微地</string>
		<key>question</key>
		<string>slightly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.英亩</string>
		<key>question</key>
		<string>acre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.城市的；市镇的</string>
		<key>question</key>
		<string>urban</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.位置；地方</string>
		<key>question</key>
		<string>location</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.话题</string>
		<key>question</key>
		<string>topic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.混合；调配</string>
		<key>question</key>
		<string>mix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.混合（物）；混合状态</string>
		<key>question</key>
		<string>mixture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灌木（丛）；矮树（丛）</string>
		<key>question</key>
		<string>bush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枫；枫树</string>
		<key>question</key>
		<string>maple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.霜；霜冻</string>
		<key>question</key>
		<string>frost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.证实；证明；批准</string>
		<key>question</key>
		<string>confirm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.富有的</string>
		<key>question</key>
		<string>wealthy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.距离；远方</string>
		<key>question</key>
		<string>distance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在远处</string>
		<key>question</key>
		<string>in the distance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.薄雾</string>
		<key>question</key>
		<string>mist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有薄雾的；模糊的</string>
		<key>question</key>
		<string>misty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同学；校友</string>
		<key>question</key>
		<string>schoolmate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公用电话间；货摊；售货亭</string>
		<key>question</key>
		<string>booth</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
