<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.缺乏；没有n.缺乏；短缺的东西</string>
		<key>question</key>
		<string>lack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调整；调节</string>
		<key>question</key>
		<string>adjustment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面具；面罩；伪装</string>
		<key>question</key>
		<string>mask</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>(困境后)恢复；完全复原</string>
		<key>question</key>
		<string>be back on one’s feet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.盘旋</string>
		<key>question</key>
		<string>hover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运输工具；四轮马车；客车</string>
		<key>question</key>
		<string>carriage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.按；压；逼迫n.按；压；印刷；新闻</string>
		<key>question</key>
		<string>press</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.系牢；扎牢</string>
		<key>question</key>
		<string>fasten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腰带；皮带</string>
		<key>question</key>
		<string>belt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>安全带</string>
		<key>question</key>
		<string>safety belt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>看不见……</string>
		<key>question</key>
		<string>lose sight of…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打扫；横扫</string>
		<key>question</key>
		<string>sweep up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.（使）闪光；（使）闪现</string>
		<key>question</key>
		<string>flash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.开关；转换vt.转换</string>
		<key>question</key>
		<string>switch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时间表；时刻表</string>
		<key>question</key>
		<string>timetable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.筋疲力尽的;疲惫不堪的</string>
		<key>question</key>
		<string>exhausted</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（快捷而悄声地）移动；溜进……</string>
		<key>question</key>
		<string>slide into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.乐观（主义）的</string>
		<key>question</key>
		<string>optimistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.悲观（主义）的</string>
		<key>question</key>
		<string>pessimistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>加速</string>
		<key>question</key>
		<string>speedup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.踏板；脚蹬</string>
		<key>question</key>
		<string>pedal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外星人；外国人adj.陌生的；外国的；外星球的</string>
		<key>question</key>
		<string>alien</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泥（浆）</string>
		<key>question</key>
		<string>mud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沙漠；荒原</string>
		<key>question</key>
		<string>desert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.巨大的；庞大的</string>
		<key>question</key>
		<string>enormous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.模仿；仿造</string>
		<key>question</key>
		<string>imitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可移动的；活动的</string>
		<key>question</key>
		<string>moveable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公民；居民；市民</string>
		<key>question</key>
		<string>citizen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打字员</string>
		<key>question</key>
		<string>typist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打字机</string>
		<key>question</key>
		<string>typewriter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮资</string>
		<key>question</key>
		<string>postage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮政编码</string>
		<key>question</key>
		<string>postcode</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钮锃；按钮</string>
		<key>question</key>
		<string>button</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瞬间；片刻adj.立即的；立刻的</string>
		<key>question</key>
		<string>instant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接受者；接收器；电话听筒</string>
		<key>question</key>
		<string>receiver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.效率；功效</string>
		<key>question</key>
		<string>efficiency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.效率高的；有能力的</string>
		<key>question</key>
		<string>efficient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丝带；带状物</string>
		<key>question</key>
		<string>ribbon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.垃圾箱</string>
		<key>question</key>
		<string>dustbin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.布置；安排</string>
		<key>question</key>
		<string>dispose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.清除；处理</string>
		<key>question</key>
		<string>disposal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生态；生态学</string>
		<key>question</key>
		<string>ecology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.贪吃的；贪婪的；贪心的</string>
		<key>question</key>
		<string>greedy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吞下；咽下</string>
		<key>question</key>
		<string>swallow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原料；材料</string>
		<key>question</key>
		<string>material</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.回收利用；再利用</string>
		<key>question</key>
		<string>recycle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(用机器)大量生产；成批制造</string>
		<key>question</key>
		<string>manufacture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货物</string>
		<key>question</key>
		<string>goods</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代表；典型人物adj.典型的；有代表性的</string>
		<key>question</key>
		<string>representative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.定居；解决</string>
		<key>question</key>
		<string>settlement</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
