<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vi.谈到；查阅；参考</string>
		<key>question</key>
		<string>refer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>查阅；参考；谈到</string>
		<key>question</key>
		<string>refer to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观众；听众；读者</string>
		<key>question</key>
		<string>audience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>碰巧；凑巧</string>
		<key>question</key>
		<string>by chance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（偶然）遇见；碰见</string>
		<key>question</key>
		<string>come a cross</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事业；生涯</string>
		<key>question</key>
		<string>career</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比率；速度</string>
		<key>question</key>
		<string>rate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.疾病；恶心</string>
		<key>question</key>
		<string>sickness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计划；打算</string>
		<key>question</key>
		<string>intend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.突发事件；紧急情况</string>
		<key>question</key>
		<string>emergency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一代；一辈</string>
		<key>question</key>
		<string>generation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.决心；果断</string>
		<key>question</key>
		<string>determination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仁慈；好意</string>
		<key>question</key>
		<string>kindness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.考虑周到的</string>
		<key>question</key>
		<string>considerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考虑；体谅</string>
		<key>question</key>
		<string>consideration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.递送；生（小孩儿）；接生；</string>
		<key>question</key>
		<string>deliver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发表（演说等）</string>
		<key>question</key>
		<string>deliver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>继续；坚持</string>
		<key>question</key>
		<string>carryon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.谦虚的；谦让的；适度的</string>
		<key>question</key>
		<string>modest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（常用plstatisitcs）数据；统计；统计数字；统计资料</string>
		<key>question</key>
		<string>statistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.晒黑的</string>
		<key>question</key>
		<string>sunburnt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.斗争；拼搏；努力</string>
		<key>question</key>
		<string>struggle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十年；十年期</string>
		<key>question</key>
		<string>decade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.特级的；超级的</string>
		<key>question</key>
		<string>super</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杂交种；混血儿adj.混合的；杂种的</string>
		<key>question</key>
		<string>hybrid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.产量；输出</string>
		<key>question</key>
		<string>output</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（植物的）品种；种类</string>
		<key>question</key>
		<string>strain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.庄稼；农作物；产量</string>
		<key>question</key>
		<string>crop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饥饿；欲望vt.&amp;vi.（使）饥饿</string>
		<key>question</key>
		<string>hunger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.引起烦恼的；令人不安的</string>
		<key>question</key>
		<string>disturbing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.使变大；伸展</string>
		<key>question</key>
		<string>expand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.循环；流传</string>
		<key>question</key>
		<string>circulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.越南（东南亚国家）</string>
		<key>question</key>
		<string>Vietnam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>幸亏；由于；因为</string>
		<key>question</key>
		<string>thanks to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.战役；战斗；较量；斗争</string>
		<key>question</key>
		<string>battle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.搏斗；奋斗</string>
		<key>question</key>
		<string>battle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.摆脱；除去</string>
		<key>question</key>
		<string>rid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>摆脱；除去</string>
		<key>question</key>
		<string>rid…of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……感到满意</string>
		<key>question</key>
		<string>be satisfied with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自由；自主</string>
		<key>question</key>
		<string>freedom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>宁愿；宁可</string>
		<key>question</key>
		<string>would rather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.因为；所以；因而</string>
		<key>question</key>
		<string>therefore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.配备；装备</string>
		<key>question</key>
		<string>equip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高粱</string>
		<key>question</key>
		<string>sorghum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谷物；粮食；颗粒</string>
		<key>question</key>
		<string>grain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花生</string>
		<key>question</key>
		<string>peanut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.输出；出口</string>
		<key>question</key>
		<string>export</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.国籍</string>
		<key>question</key>
		<string>nationality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工作；职业；占领</string>
		<key>question</key>
		<string>occupation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.性格；个性；人格</string>
		<key>question</key>
		<string>personality</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
