<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.小包；包裹</string>
		<key>question</key>
		<string>pack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>将（东西）装箱打包</string>
		<key>question</key>
		<string>pack(sth)up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手提箱；衣箱</string>
		<key>question</key>
		<string>suitcase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.玛戈（女名）</string>
		<key>question</key>
		<string>Margot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大衣；外套</string>
		<key>question</key>
		<string>Overcoat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十几岁的青少年</string>
		<key>question</key>
		<string>teenager</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>与……相处；进展</string>
		<key>question</key>
		<string>get a long with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.闲话；闲谈</string>
		<key>question</key>
		<string>gossip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>相爱；爱上</string>
		<key>question</key>
		<string>fall in love</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>确实如此；正是；确切地</string>
		<key>question</key>
		<string>exactly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.不同意</string>
		<key>question</key>
		<string>disagree</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.感激的；表示谢意的</string>
		<key>question</key>
		<string>grateful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.不喜欢；厌恶</string>
		<key>question</key>
		<string>dislike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>参加；加入</string>
		<key>question</key>
		<string>joinin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.提示；技巧；尖；尖端；小费</string>
		<key>question</key>
		<string>tip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.倾斜；翻倒</string>
		<key>question</key>
		<string>tip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.第二；其次</string>
		<key>question</key>
		<string>secondly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.交换</string>
		<key>question</key>
		<string>swap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.项目；条款</string>
		<key>question</key>
		<string>item</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地下人行道；&lt;美&gt;地铁</string>
		<key>question</key>
		<string>subway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电梯；升降机</string>
		<key>question</key>
		<string>elevator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&lt;英&gt;汽油（=&lt;美&gt;gasoline）</string>
		<key>question</key>
		<string>petrol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽油；气体；煤气；毒气</string>
		<key>question</key>
		<string>gas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.官方的；正式的；公务的</string>
		<key>question</key>
		<string>official</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航行；航海</string>
		<key>question</key>
		<string>voyage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.征服；占领</string>
		<key>question</key>
		<string>conquer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>因为；由于</string>
		<key>question</key>
		<string>because of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.本国的；本地的</string>
		<key>question</key>
		<string>native</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.本地人；本国人</string>
		<key>question</key>
		<string>native</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>走近；上来；提出</string>
		<key>question</key>
		<string>come up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&lt;美&gt;公寓住宅；单元住宅</string>
		<key>question</key>
		<string>apartment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.实际上；事实上</string>
		<key>question</key>
		<string>actually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公元</string>
		<key>question</key>
		<string>AD</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基部；基地；基础vt.以……为根据</string>
		<key>question</key>
		<string>base</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>现在；目前</string>
		<key>question</key>
		<string>at present</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.逐渐的；逐步的</string>
		<key>question</key>
		<string>gradual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.逐渐地；逐步地</string>
		<key>question</key>
		<string>gradually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丹麦语adj.丹麦的；丹麦人的；丹麦语的</string>
		<key>question</key>
		<string>Danish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使富裕；充实；改善</string>
		<key>question</key>
		<string>enrich</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词汇；词汇量；词表</string>
		<key>question</key>
		<string>vocabulary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>莎士比亚（英国剧作家，诗人）</string>
		<key>question</key>
		<string>Shakespeare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>利用；使用</string>
		<key>question</key>
		<string>make use of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拼写；拼法</string>
		<key>question</key>
		<string>spelling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.较后的；后半的；</string>
		<key>question</key>
		<string>latter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.本身；本体；身份</string>
		<key>question</key>
		<string>identity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.流利的；流畅的</string>
		<key>question</key>
		<string>fluent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.流利地；流畅地</string>
		<key>question</key>
		<string>fluently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新加坡（东南亚国家）</string>
		<key>question</key>
		<string>Singapore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.马来西亚（东南亚国家），马来群岛</string>
		<key>question</key>
		<string>Malaysia</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>例如……；像这种的</string>
		<key>question</key>
		<string>such as</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
