<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>改变主意</string>
		<key>question</key>
		<string>change one’s mind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旅行；旅程</string>
		<key>question</key>
		<string>journey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海拔高度；高处</string>
		<key>question</key>
		<string>altitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>下决心；决定</string>
		<key>question</key>
		<string>make up one’s mind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>投降；屈服；让步</string>
		<key>question</key>
		<string>give in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地图；地图集</string>
		<key>question</key>
		<string>atlas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰河；冰川</string>
		<key>question</key>
		<string>glacier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.西藏的；藏族的；</string>
		<key>question</key>
		<string>Tibetan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（西）藏语；西藏人；藏族人</string>
		<key>question</key>
		<string>Tibetan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.急流</string>
		<key>question</key>
		<string>rapids</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（山）谷；流域</string>
		<key>question</key>
		<string>valley</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瀑布</string>
		<key>question</key>
		<string>waterfall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.缓慢而行；踱步n.一步；速度；步调</string>
		<key>question</key>
		<string>pace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弯；拐角vi.弯身；弯腰</string>
		<key>question</key>
		<string>bend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(bent,bent)使弯曲</string>
		<key>question</key>
		<string>bend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（指河流等）蜿蜒缓慢流动</string>
		<key>question</key>
		<string>meander</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.三角洲</string>
		<key>question</key>
		<string>delta</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.态度；看法</string>
		<key>question</key>
		<string>attitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.珠穆朗玛峰</string>
		<key>question</key>
		<string>Qomolangma</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（指液体）沸腾；（水）开</string>
		<key>question</key>
		<string>boil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.预测；预报</string>
		<key>question</key>
		<string>forecast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小包；包裹</string>
		<key>question</key>
		<string>parcel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保险</string>
		<key>question</key>
		<string>insurance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羊毛；毛织品</string>
		<key>question</key>
		<string>wool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>照常</string>
		<key>question</key>
		<string>as usual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可信赖的；可靠的</string>
		<key>question</key>
		<string>reliable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风景；视野；观点；见解</string>
		<key>question</key>
		<string>view</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.观看；注视；考虑</string>
		<key>question</key>
		<string>view</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牦牛</string>
		<key>question</key>
		<string>yak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枕头；枕垫</string>
		<key>question</key>
		<string>pillow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.午夜；子夜</string>
		<key>question</key>
		<string>midnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在午夜</string>
		<key>question</key>
		<string>at midnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火焰；光芒；热情</string>
		<key>question</key>
		<string>flame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在……下面</string>
		<key>question</key>
		<string>beneath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.老挝（东南亚国家）</string>
		<key>question</key>
		<string>Laos</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.老挝人adj.老挝（人）的</string>
		<key>question</key>
		<string>Laotian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.庙宇；寺庙</string>
		<key>question</key>
		<string>temple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洞穴；地窖</string>
		<key>question</key>
		<string>cave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地震</string>
		<key>question</key>
		<string>earthquake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地震</string>
		<key>question</key>
		<string>quake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>立刻；马上</string>
		<key>question</key>
		<string>right away</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.井</string>
		<key>question</key>
		<string>well</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裂缝；噼啪声vt.&amp;vi.（使）开裂；破裂</string>
		<key>question</key>
		<string>crack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.发臭的；有臭味的</string>
		<key>question</key>
		<string>smelly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.农场；农家</string>
		<key>question</key>
		<string>farmyard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管；导管</string>
		<key>question</key>
		<string>pipe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(burst,burst)爆裂；爆发</string>
		<key>question</key>
		<string>burst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.突然破裂；爆发</string>
		<key>question</key>
		<string>burst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百万</string>
		<key>question</key>
		<string>million</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事件；大事</string>
		<key>question</key>
		<string>event</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
