<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.主要都市的；大城市的</string>
		<key>question</key>
		<string>metropolitan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名声；名誉</string>
		<key>question</key>
		<string>reputation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文明；文化；文明社会</string>
		<key>question</key>
		<string>civilization</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.埃及（东北非国家）</string>
		<key>question</key>
		<string>Egypt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.埃及的；埃及人的</string>
		<key>question</key>
		<string>Egyptian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.视觉的；看得见的</string>
		<key>question</key>
		<string>visual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.香的；令人愉快的</string>
		<key>question</key>
		<string>fragrant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.麦迪逊</string>
		<key>question</key>
		<string>Madison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.当代的；同时代的</string>
		<key>question</key>
		<string>contemporary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.永久的；持久的</string>
		<key>question</key>
		<string>permanent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.区；区域；行政区</string>
		<key>question</key>
		<string>district</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.委员会</string>
		<key>question</key>
		<string>committee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.署名；签字</string>
		<key>question</key>
		<string>signature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗（总称）；诗意</string>
		<key>question</key>
		<string>poetry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给……标记号</string>
		<key>question</key>
		<string>tick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.韵；押韵；押韵的词vi.&amp;vt.(使)押韵</string>
		<key>question</key>
		<string>rhyme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.传达；运送</string>
		<key>question</key>
		<string>convey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情感；情结；感情</string>
		<key>question</key>
		<string>emotion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.托儿所</string>
		<key>question</key>
		<string>nursery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>童谣</string>
		<key>question</key>
		<string>nursery rhyme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.具体的</string>
		<key>question</key>
		<string>concrete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重复；反复；循环</string>
		<key>question</key>
		<string>repetition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.引起矛盾的；好反驳的</string>
		<key>question</key>
		<string>contradictory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使某人）安静下来</string>
		<key>question</key>
		<string>hush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嘲鸫（一种鸟，能模仿其他鸟的叫声）</string>
		<key>question</key>
		<string>mockingbird</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钻石；菱形</string>
		<key>question</key>
		<string>diamond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄铜；黄铜器</string>
		<key>question</key>
		<string>brass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公山羊</string>
		<key>question</key>
		<string>billy-goat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.灵活的；可弯曲的；柔顺的</string>
		<key>question</key>
		<string>flexible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.模式；式样；图案</string>
		<key>question</key>
		<string>pattern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乡绅</string>
		<key>question</key>
		<string>squire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.村舍；小屋</string>
		<key>question</key>
		<string>cottage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棺材</string>
		<key>question</key>
		<string>coffin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.麻雀</string>
		<key>question</key>
		<string>sparrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小猫</string>
		<key>question</key>
		<string>kitten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>轻松；不紧张；从容</string>
		<key>question</key>
		<string>take it easy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>用完</string>
		<key>question</key>
		<string>run out of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.五行诗</string>
		<key>question</key>
		<string>cinquain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>由……构成</string>
		<key>question</key>
		<string>be made up of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.取笑；招惹；戏弄</string>
		<key>question</key>
		<string>tease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.含盐的；咸的</string>
		<key>question</key>
		<string>salty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.低垂；凋萎；萎靡</string>
		<key>question</key>
		<string>droop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.害怕；畏惧</string>
		<key>question</key>
		<string>dread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.无穷的；无止境的</string>
		<key>question</key>
		<string>endless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.俳句</string>
		<key>question</key>
		<string>haiku</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.音节</string>
		<key>question</key>
		<string>syllable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.最低限度；最少量,最小数</string>
		<key>question</key>
		<string>minimum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.翻译；译文</string>
		<key>question</key>
		<string>translation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枝条；支流；部门</string>
		<key>question</key>
		<string>branch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.融化；溶化；软化</string>
		<key>question</key>
		<string>melt（melted;melted,molten）</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
