<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.磁带</string>
		<key>question</key>
		<string>cassette</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.题目；主题（曲）</string>
		<key>question</key>
		<string>theme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.中心的；中央的</string>
		<key>question</key>
		<string>central</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.不同的；各种各样的</string>
		<key>question</key>
		<string>various</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漫画；动画片</string>
		<key>question</key>
		<string>cartoon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>以……而闻名</string>
		<key>question</key>
		<string>be famous for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过山车</string>
		<key>question</key>
		<string>rollercoaster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.无论哪一个；任何一个</string>
		<key>question</key>
		<string>whichever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海盗；盗版</string>
		<key>question</key>
		<string>pirate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>神话故事；童话</string>
		<key>question</key>
		<string>fairytale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幻想；怪念头</string>
		<key>question</key>
		<string>fantasy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消遣；娱乐（活动）</string>
		<key>question</key>
		<string>amusement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.秋千；摇摆vt.&amp;vi.(swung,swung)摇摆；摆动</string>
		<key>question</key>
		<string>swing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有吸引力的事物；吸引</string>
		<key>question</key>
		<string>attraction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>难怪；不足为奇</string>
		<key>question</key>
		<string>no wonder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旅游业</string>
		<key>question</key>
		<string>tourism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.无论在什么地方；各处</string>
		<key>question</key>
		<string>wherever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.独一无二的；仅有的</string>
		<key>question</key>
		<string>unique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.木匠</string>
		<key>question</key>
		<string>carpenter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.匠人；能工巧匠</string>
		<key>question</key>
		<string>craftsman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.引擎；发动机</string>
		<key>question</key>
		<string>engine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.秃头的</string>
		<key>question</key>
		<string>bald</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保存；保留n.保护区</string>
		<key>question</key>
		<string>preserve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长度；长</string>
		<key>question</key>
		<string>length</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行动；事迹</string>
		<key>question</key>
		<string>deed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骑士；爵士</string>
		<key>question</key>
		<string>knight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>根据……模仿；仿造</string>
		<key>question</key>
		<string>be modeled after</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剑</string>
		<key>question</key>
		<string>sword</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锦标赛；联赛</string>
		<key>question</key>
		<string>tournament</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移民；殖民者</string>
		<key>question</key>
		<string>settler</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.运动的</string>
		<key>question</key>
		<string>athletic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.译员；翻译</string>
		<key>question</key>
		<string>translator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少数；少数民族</string>
		<key>question</key>
		<string>minority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.布</string>
		<key>question</key>
		<string>cloth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观测未来（公园名，位于法国）</string>
		<key>question</key>
		<string>Futuroscope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丛林</string>
		<key>question</key>
		<string>jungle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.潜水员</string>
		<key>question</key>
		<string>diver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物；动物</string>
		<key>question</key>
		<string>creature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阳光</string>
		<key>question</key>
		<string>sunlight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(=TyrannosaurusRex)霸王龙</string>
		<key>question</key>
		<string>T-Rex</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.前进；促进；提前</string>
		<key>question</key>
		<string>advance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>提前</string>
		<key>question</key>
		<string>in advance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.高级的；先进的</string>
		<key>question</key>
		<string>advanced</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商标；牌子</string>
		<key>question</key>
		<string>brand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>接近</string>
		<key>question</key>
		<string>get close to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>活跃起来</string>
		<key>question</key>
		<string>come to life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外出；短途旅行；远足</string>
		<key>question</key>
		<string>outing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.允许进入；入场费；承认</string>
		<key>question</key>
		<string>admission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.往返汽车；航天飞机</string>
		<key>question</key>
		<string>shuttle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高速公路</string>
		<key>question</key>
		<string>freeway</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
