<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>拆开</string>
		<key>question</key>
		<string>take apart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.列宁格勒（苏联城市）</string>
		<key>question</key>
		<string>Leningrad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.绘画；画</string>
		<key>question</key>
		<string>painting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.城堡</string>
		<key>question</key>
		<string>castle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>温莎城堡（英国著名城堡）</string>
		<key>question</key>
		<string>Windsor Castle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.审判；审讯；试验</string>
		<key>question</key>
		<string>trial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目击者；证人</string>
		<key>question</key>
		<string>eyewitness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.根据；证据</string>
		<key>question</key>
		<string>evidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.爆炸</string>
		<key>question</key>
		<string>explode</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.入口</string>
		<key>question</key>
		<string>entrance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水手；海员；船员</string>
		<key>question</key>
		<string>sailor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.下沉；沉下</string>
		<key>question</key>
		<string>sink(sank,sunk;sunk,sunken)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少女；女仆</string>
		<key>question</key>
		<string>maid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柏林（德国首都）</string>
		<key>question</key>
		<string>Berlin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>看重；器重</string>
		<key>question</key>
		<string>think highly of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.非正式的</string>
		<key>question</key>
		<string>informal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争论；辩论vi.争论；辨论</string>
		<key>question</key>
		<string>debate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.古代的；古老的</string>
		<key>question</key>
		<string>ancient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.比赛；竞争</string>
		<key>question</key>
		<string>compete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竞争者</string>
		<key>question</key>
		<string>competitor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>参加；参与</string>
		<key>question</key>
		<string>take part in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖章；勋章；纪念章</string>
		<key>question</key>
		<string>medal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>代表；象征；表示</string>
		<key>question</key>
		<string>stand for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吉祥物</string>
		<key>question</key>
		<string>mascot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.希腊</string>
		<key>question</key>
		<string>Greece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.希腊（人）的；希腊语的</string>
		<key>question</key>
		<string>Greek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.希腊人；希腊语</string>
		<key>question</key>
		<string>Greek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.巫术的；魔术的；有魔力的</string>
		<key>question</key>
		<string>magical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.志愿者；志愿兵adj.志愿的；义务的</string>
		<key>question</key>
		<string>volunteer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.自愿</string>
		<key>question</key>
		<string>volunteer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖国；本国</string>
		<key>question</key>
		<string>homeland</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.古代的；古老的</string>
		<key>question</key>
		<string>ancient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.比赛；竞争</string>
		<key>question</key>
		<string>compete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竞争者</string>
		<key>question</key>
		<string>competitor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>参加；参与</string>
		<key>question</key>
		<string>take part in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖章；勋章；纪念章</string>
		<key>question</key>
		<string>medal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>代表；象征；表示</string>
		<key>question</key>
		<string>stand for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.希腊</string>
		<key>question</key>
		<string>Greece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.希腊（人）的；希腊语的</string>
		<key>question</key>
		<string>Greek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.希腊人；希腊语</string>
		<key>question</key>
		<string>Greek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.规则的；定期的；常规的</string>
		<key>question</key>
		<string>regular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基础；根据</string>
		<key>question</key>
		<string>basis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运动员；运动选手</string>
		<key>question</key>
		<string>athlete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.容许；承认；接纳</string>
		<key>question</key>
		<string>admit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奴隶</string>
		<key>question</key>
		<string>slave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.现今；现在</string>
		<key>question</key>
		<string>nowadays</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(pl)体操；体能训练</string>
		<key>question</key>
		<string>gymnastics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(pl)体育运动；竞技</string>
		<key>question</key>
		<string>athletics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（露天大型）体育场</string>
		<key>question</key>
		<string>Stadium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.体育馆；健身房</string>
		<key>question</key>
		<string>gymnasium(gym)</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
