<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.有天赋的</string>
		<key>question</key>
		<string>gifted</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.惯用的;合乎语言习惯的</string>
		<key>question</key>
		<string>idiomatic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家庭主妇</string>
		<key>question</key>
		<string>housewife</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罪行；犯罪</string>
		<key>question</key>
		<string>crime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.版（本）；版次</string>
		<key>question</key>
		<string>edition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在……前面</string>
		<key>question</key>
		<string>ahead of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.部门；部；处；系</string>
		<key>question</key>
		<string>department</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.精确的；正确的</string>
		<key>question</key>
		<string>accurate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.年长的；高年级的；高级的</string>
		<key>question</key>
		<string>senior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.擦亮；磨光；润色</string>
		<key>question</key>
		<string>polish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.主要的；首席的n.首领；长官</string>
		<key>question</key>
		<string>chief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赞成；认可；批准</string>
		<key>question</key>
		<string>approve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加工；处理n.过程；程序；步骤</string>
		<key>question</key>
		<string>process</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.底片；否定adj.否定的；消极的</string>
		<key>question</key>
		<string>negative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.约会；任命</string>
		<key>question</key>
		<string>appointment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.帮助；援助；资助</string>
		<key>question</key>
		<string>aid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（对伤患者的）急救</string>
		<key>question</key>
		<string>first aid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.暂时的；临时的</string>
		<key>question</key>
		<string>temporary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生病</string>
		<key>question</key>
		<string>fall ill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.损伤；伤害</string>
		<key>question</key>
		<string>injury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(bled,bled)流血</string>
		<key>question</key>
		<string>bleed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鼻出血；流鼻血</string>
		<key>question</key>
		<string>nosebleed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.扭伤</string>
		<key>question</key>
		<string>sprain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.扭伤的</string>
		<key>question</key>
		<string>sprained</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.踝（关节）</string>
		<key>question</key>
		<string>ankle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）噎住；（使）窒息</string>
		<key>question</key>
		<string>choke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.橱柜；衣柜</string>
		<key>question</key>
		<string>cupboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皮；皮肤</string>
		<key>question</key>
		<string>skin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.最重要的；不可缺少的；本质的</string>
		<key>question</key>
		<string>essential</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.器官</string>
		<key>question</key>
		<string>organ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.层；层次</string>
		<key>question</key>
		<string>layer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.屏障；障碍（物）</string>
		<key>question</key>
		<string>barrier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毒药；毒害vt.毒害；使中毒</string>
		<key>question</key>
		<string>poison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光线；射线</string>
		<key>question</key>
		<string>ray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.复杂的</string>
		<key>question</key>
		<string>complex</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.变化；多样（化）；多变（性）</string>
		<key>question</key>
		<string>variety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.液体</string>
		<key>question</key>
		<string>liquid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.辐射；射线</string>
		<key>question</key>
		<string>radiation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.轻微的；温和的；温柔的</string>
		<key>question</key>
		<string>mild</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.轻微地；温和地</string>
		<key>question</key>
		<string>mildly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平底锅；盘子</string>
		<key>question</key>
		<string>pan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炉子；火炉</string>
		<key>question</key>
		<string>stove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.（使）康复；（使）化解</string>
		<key>question</key>
		<string>heal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（生物）组织；薄的织物；手巾纸</string>
		<key>question</key>
		<string>tissue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>触电；电休克</string>
		<key>question</key>
		<string>electric shock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(swelled,swollen)（使）膨胀；隆起</string>
		<key>question</key>
		<string>swell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.肿胀的</string>
		<key>question</key>
		<string>swollen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水泡vi.&amp;vt.（使）起泡</string>
		<key>question</key>
		<string>blister</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.（似）水的</string>
		<key>question</key>
		<string>watery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.烧焦</string>
		<key>question</key>
		<string>char</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
