<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.日常饮食vi.节食</string>
		<key>question</key>
		<string>Diet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意大利式细面条</string>
		<key>question</key>
		<string>spaghetti</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚果；果仁</string>
		<key>question</key>
		<string>nut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肌肉；（食用）瘦肉</string>
		<key>question</key>
		<string>muscle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.给予保护的；保护的</string>
		<key>question</key>
		<string>protective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豆；豆科植物</string>
		<key>question</key>
		<string>bean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豌豆</string>
		<key>question</key>
		<string>pea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄瓜</string>
		<key>question</key>
		<string>cucumber</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.茄子</string>
		<key>question</key>
		<string>eggplant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.辣椒；辣椒粉</string>
		<key>question</key>
		<string>pepper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蘑菇</string>
		<key>question</key>
		<string>mushroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桃子</string>
		<key>question</key>
		<string>peach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>柠檬</string>
		<key>question</key>
		<string>loemn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天平；平衡vt.平衡；权衡</string>
		<key>question</key>
		<string>balance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>平衡膳食</string>
		<key>question</key>
		<string>balanced diet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.烧烤；烤肉</string>
		<key>question</key>
		<string>barbecue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羊肉</string>
		<key>question</key>
		<string>mutton</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(印度)烤腌羊肉串；肉串上的肉块</string>
		<key>question</key>
		<string>kebab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.烤制的vt.&amp;vi.烤；烘；烘烤</string>
		<key>question</key>
		<string>roast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.摇动；搅和</string>
		<key>question</key>
		<string>stir</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.油煎；油炸</string>
		<key>question</key>
		<string>fry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用旺火炒（或煎、煸）</string>
		<key>question</key>
		<string>stir-fry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.应当；应该</string>
		<key>question</key>
		<string>ought</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>应当；应该</string>
		<key>question</key>
		<string>ought to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.熏咸肉；腊肉</string>
		<key>question</key>
		<string>bacon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可乐饮料</string>
		<key>question</key>
		<string>cola</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.含糖的；甜的</string>
		<key>question</key>
		<string>sugary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牌示；标记；符号</string>
		<key>question</key>
		<string>sign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>体重减轻；减肥</string>
		<key>question</key>
		<string>lose weight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.变细；减肥adj.苗条的；纤细的</string>
		<key>question</key>
		<string>slim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.好奇心</string>
		<key>question</key>
		<string>curiosity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女主人；女主持人</string>
		<key>question</key>
		<string>hostess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.生的；未加工的</string>
		<key>question</key>
		<string>raw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.醋</string>
		<key>question</key>
		<string>vinegar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>被放过；（做坏事）不受惩罚</string>
		<key>question</key>
		<string>get away with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谎话；谎言vi.说谎</string>
		<key>question</key>
		<string>lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>说谎</string>
		<key>question</key>
		<string>tell a lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.顾客；消费者</string>
		<key>question</key>
		<string>customer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.折扣</string>
		<key>question</key>
		<string>discount</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>赢回；重新获得</string>
		<key>question</key>
		<string>win…back</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺点；虚弱；弱点</string>
		<key>question</key>
		<string>weakness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.强项；长处；力量</string>
		<key>question</key>
		<string>strength</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.咨询；请教；商量</string>
		<key>question</key>
		<string>consult</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纤维；纤维制品</string>
		<key>question</key>
		<string>fibre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.消化n.摘要；概要</string>
		<key>question</key>
		<string>digest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有毒的</string>
		<key>question</key>
		<string>poisonous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡萝卜</string>
		<key>question</key>
		<string>carrot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坏血病</string>
		<key>question</key>
		<string>scurvy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.佝偻病</string>
		<key>question</key>
		<string>rickets</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过度肥胖</string>
		<key>question</key>
		<string>obesity</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
