<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.不服从；违抗</string>
		<key>question</key>
		<string>disobey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.评价；评定</string>
		<key>question</key>
		<string>assessment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.戴潜水通气管潜泳n.（潜水艇或潜水者的）通气管</string>
		<key>question</key>
		<string>snorkel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水族馆；水族箱；养鱼缸</string>
		<key>question</key>
		<string>aquarium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轶事；奇闻</string>
		<key>question</key>
		<string>anecdote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.克兰西（男名）</string>
		<key>question</key>
		<string>Clancy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲸须</string>
		<key>question</key>
		<string>baleen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>须鲸</string>
		<key>question</key>
		<string>baleen whale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.每年的；按年度计算的n.年刊；年鉴</string>
		<key>question</key>
		<string>annual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.迁徙；迁居；移居</string>
		<key>question</key>
		<string>migration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.当场见到；目击n.目击者；证人；证据</string>
		<key>question</key>
		<string>witness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.住所；住宿</string>
		<key>question</key>
		<string>accommodation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.岸；海滨</string>
		<key>question</key>
		<string>shore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.&amp;adj.近海（的）；离岸（的）</string>
		<key>question</key>
		<string>offshore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在……对面adj.相对的；相反的</string>
		<key>question</key>
		<string>opposite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.大叫；呼喊n.叫声；喊声</string>
		<key>question</key>
		<string>yell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.暂停；中止</string>
		<key>question</key>
		<string>pause</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桨；橹</string>
		<key>question</key>
		<string>oar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.望远镜</string>
		<key>question</key>
		<string>telescope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协作；配合</string>
		<key>question</key>
		<string>teamwork</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（鲸鱼的）鼻孔；（隧道的）通风口</string>
		<key>question</key>
		<string>blow-hole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.跳水（的动作）；潜水（的动作）；俯冲</string>
		<key>question</key>
		<string>dive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(fled,fled)逃避；逃跑vt.逃离</string>
		<key>question</key>
		<string>flee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（捕鲸用的）鱼叉</string>
		<key>question</key>
		<string>harpoon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拖；拉；扯</string>
		<key>question</key>
		<string>drag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.深（度）；深处</string>
		<key>question</key>
		<string>depth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.其间；同时</string>
		<key>question</key>
		<string>meantime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在此期间；与此同时</string>
		<key>question</key>
		<string>in the mean time</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一片嘴唇；（容器或洞的）边，口</string>
		<key>question</key>
		<string>lip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.越过船舷进入水中</string>
		<key>question</key>
		<string>overboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.催促；极力主张；驱策</string>
		<key>question</key>
		<string>urge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放弃；遗弃；抛弃</string>
		<key>question</key>
		<string>abandon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲨鱼</string>
		<key>question</key>
		<string>shark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>帮助（某人）摆脱困境或危难</string>
		<key>question</key>
		<string>Help(…)out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.关系；血缘关系；交往</string>
		<key>question</key>
		<string>relationship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保存；保护</string>
		<key>question</key>
		<string>conservation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰山</string>
		<key>question</key>
		<string>iceberg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.慢跑vt.轻推；轻撞</string>
		<key>question</key>
		<string>jog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;adj.海边（的）；海滨（的）</string>
		<key>question</key>
		<string>seaside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网；网状物；网络</string>
		<key>question</key>
		<string>net</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目标；靶；受批评的对象</string>
		<key>question</key>
		<string>target</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.潮（汐）；潮水；潮流</string>
		<key>question</key>
		<string>tide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流网</string>
		<key>question</key>
		<string>drift net</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.维（数）；方面；侧面</string>
		<key>question</key>
		<string>dimension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.思考vt.映射；反射；思考</string>
		<key>question</key>
		<string>reflect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.纯的；纯粹的；纯洁的</string>
		<key>question</key>
		<string>pure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细胞；（蜂房的）巢室</string>
		<key>question</key>
		<string>cell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.意识到的；知道的</string>
		<key>question</key>
		<string>aware</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对……知道、明白；意识到……</string>
		<key>question</key>
		<string>be/become aware of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.生动的；鲜明的；鲜艳的</string>
		<key>question</key>
		<string>vivid</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
