<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>adj.市区的adv.在市区；往市区</string>
		<key>question</key>
		<string>downtown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.珍珠</string>
		<key>question</key>
		<string>pearl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;adj.广东人（的）；广东话（的）</string>
		<key>question</key>
		<string>Cantonese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>接近；大约</string>
		<key>question</key>
		<string>approximately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黎明；拂晓；破晓</string>
		<key>question</key>
		<string>dawn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工作场所；工作地点</string>
		<key>question</key>
		<string>workplace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自助餐；饮食柜台</string>
		<key>question</key>
		<string>buffet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.宽阔的；广泛的</string>
		<key>question</key>
		<string>broad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在附近adj.附近的；邻近的</string>
		<key>question</key>
		<string>nearby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传统；风俗</string>
		<key>question</key>
		<string>tradition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使恐怖；恐吓</string>
		<key>question</key>
		<string>terrify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.恐惧的；受惊吓的</string>
		<key>question</key>
		<string>terrified</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.欣喜的；高兴的；愉快的</string>
		<key>question</key>
		<string>pleased</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使印象深刻；使铭记</string>
		<key>question</key>
		<string>impress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.给人深刻印象的；感人的</string>
		<key>question</key>
		<string>impressive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成就；功绩</string>
		<key>question</key>
		<string>achievement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.福利；福利事业</string>
		<key>question</key>
		<string>welfare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.项目；工程；规划</string>
		<key>question</key>
		<string>project</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学会；学院；协会</string>
		<key>question</key>
		<string>institute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国福利基金会</string>
		<key>question</key>
		<string>China Welfare Institute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专家；专业工作者</string>
		<key>question</key>
		<string>specialist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.专攻；专门从事；专注于</string>
		<key>question</key>
		<string>specialize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（非洲）黑猩猩</string>
		<key>question</key>
		<string>chimp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连接；关系</string>
		<key>question</key>
		<string>connection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>人类</string>
		<key>question</key>
		<string>human being</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运动；战役vi.作战；参加运动</string>
		<key>question</key>
		<string>campaign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地雷</string>
		<key>question</key>
		<string>landmine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.组织；机构；团体</string>
		<key>question</key>
		<string>organization</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.举动；（举止或行为）表现</string>
		<key>question</key>
		<string>behave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>行为；举止；习性</string>
		<key>question</key>
		<string>be haviour(=behavior)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.荫；阴凉处vt.遮住光线</string>
		<key>question</key>
		<string>shade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>离开；起程；出发</string>
		<key>question</key>
		<string>move off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.值得的；值得做的</string>
		<key>question</key>
		<string>worthwhile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巢；窝</string>
		<key>question</key>
		<string>nest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.联系；关系；结合；纽带</string>
		<key>question</key>
		<string>bond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.观察；观测；遵守</string>
		<key>question</key>
		<string>observe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观察；观测</string>
		<key>question</key>
		<string>observation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.童年；幼年时代</string>
		<key>question</key>
		<string>childhood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.直言的；坦诚</string>
		<key>question</key>
		<string>outspoken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.尊敬；尊重；敬意</string>
		<key>question</key>
		<string>respect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.讨论；辩论；争论</string>
		<key>question</key>
		<string>argue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争论；争辩；争吵</string>
		<key>question</key>
		<string>argument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.款待；娱乐；娱乐表演</string>
		<key>question</key>
		<string>entertainment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>过着……的生活</string>
		<key>question</key>
		<string>lead a…life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人群；观众vt.挤满；使拥挤</string>
		<key>question</key>
		<string>crowd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（想法、问题等）涌上心头；涌入脑海</string>
		<key>question</key>
		<string>crowd in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.鼓舞；激发；启示</string>
		<key>question</key>
		<string>inspire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灵感；鼓舞</string>
		<key>question</key>
		<string>inspiration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.支持；拥护</string>
		<key>question</key>
		<string>support</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蔑视；瞧不起</string>
		<key>question</key>
		<string>look down upon/on</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
