<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.队列；行列vi.排队</string>
		<key>question</key>
		<string>queue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自助食堂；自助餐厅</string>
		<key>question</key>
		<string>cafeteria</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.演讲；讲课</string>
		<key>question</key>
		<string>lecture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资格；资历</string>
		<key>question</key>
		<string>qualification</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.准备；预备</string>
		<key>question</key>
		<string>preparation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推荐；建议</string>
		<key>question</key>
		<string>recommend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.店主</string>
		<key>question</key>
		<string>shopkeeper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.习语；成语</string>
		<key>question</key>
		<string>idiom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舒适；安慰vt.安慰</string>
		<key>question</key>
		<string>comfort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代替者；代用品vt.用……代替……</string>
		<key>question</key>
		<string>substitute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.学校的；学术的</string>
		<key>question</key>
		<string>academic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.需要；要求</string>
		<key>question</key>
		<string>requirement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文章；散文</string>
		<key>question</key>
		<string>essay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.导师；助教；家庭教师</string>
		<key>question</key>
		<string>tutor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.复查；修正；复习</string>
		<key>question</key>
		<string>revise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.复查；修正；复习</string>
		<key>question</key>
		<string>revision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.草稿；草案vt.草拟；起草</string>
		<key>question</key>
		<string>draft</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.麻木的；失去知觉的</string>
		<key>question</key>
		<string>numb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.承认；确认；答谢</string>
		<key>question</key>
		<string>acknowledge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>就……而言</string>
		<key>question</key>
		<string>as far as one is concerned</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反驳；反斥</string>
		<key>question</key>
		<string>contradict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.自主的；自治的；独立的</string>
		<key>question</key>
		<string>autonomous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.占用；占领；占据</string>
		<key>question</key>
		<string>occupy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>忙着做……；忙于某事物</string>
		<key>question</key>
		<string>be occupied with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事业；事业心</string>
		<key>question</key>
		<string>enterprise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.道谦；谢罪</string>
		<key>question</key>
		<string>apology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（专题）研讨会</string>
		<key>question</key>
		<string>seminar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可视电话</string>
		<key>question</key>
		<string>videophone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（英式）橄榄球</string>
		<key>question</key>
		<string>Rugby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.获学士学位的人；未婚男子</string>
		<key>question</key>
		<string>bachelor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>学士学位</string>
		<key>question</key>
		<string>bachelor’s degree</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.常规；日常事务adj.通常的；例行的</string>
		<key>question</key>
		<string>routine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小型公共汽车</string>
		<key>question</key>
		<string>minibus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.可选择的；随意的</string>
		<key>question</key>
		<string>optional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>日复一日</string>
		<key>question</key>
		<string>day in and day out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鸟笼；兽槛</string>
		<key>question</key>
		<string>cage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.（指狗等）吠叫；咆哮n.犬吠声；树皮</string>
		<key>question</key>
		<string>bark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电池（组）；电瓶；炮台</string>
		<key>question</key>
		<string>battery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地方；地点；现场</string>
		<key>question</key>
		<string>site</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.钻（孔）n.钻；钻机</string>
		<key>question</key>
		<string>drill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.油田</string>
		<key>question</key>
		<string>oilfield</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代理人；经纪人</string>
		<key>question</key>
		<string>agent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>旅行代办人；旅行代理人</string>
		<key>question</key>
		<string>travel agent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.地理（学）的</string>
		<key>question</key>
		<string>geographical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.平行的；相同的；类似的</string>
		<key>question</key>
		<string>parallel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.丰富的；充裕的</string>
		<key>question</key>
		<string>abundant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.统治；支配；管理</string>
		<key>question</key>
		<string>govern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adv.向前地；前进地</string>
		<key>question</key>
		<string>onwards</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目的地</string>
		<key>question</key>
		<string>destination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.客栈</string>
		<key>question</key>
		<string>inn</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
