<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.纪念品</string>
		<key>question</key>
		<string>souvenir</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运动鞋</string>
		<key>question</key>
		<string>sneaker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.（作宣传或介绍用的）小册子；指南</string>
		<key>question</key>
		<string>brochure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.特征；特性</string>
		<key>question</key>
		<string>characteristic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.镭</string>
		<key>question</key>
		<string>radium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.画家；油漆匠</string>
		<key>question</key>
		<string>painter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>提出</string>
		<key>question</key>
		<string>put forward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.科学的</string>
		<key>question</key>
		<string>scientific</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.结束；推断出</string>
		<key>question</key>
		<string>conclude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结论；结束</string>
		<key>question</key>
		<string>conclusion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>提出结论</string>
		<key>question</key>
		<string>draw a conclusion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分析</string>
		<key>question</key>
		<string>analyse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.传染；感染</string>
		<key>question</key>
		<string>infect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.传染的</string>
		<key>question</key>
		<string>infections</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.霍乱</string>
		<key>question</key>
		<string>cholera</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打败；战胜；使受挫n.失败</string>
		<key>question</key>
		<string>defeat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专家；行家adj.熟练的；经验或知识丰富的</string>
		<key>question</key>
		<string>expert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.照顾；护理；出席；参加</string>
		<key>question</key>
		<string>attend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.医生；内科医师</string>
		<key>question</key>
		<string>physician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.暴露；揭露；使曝光</string>
		<key>question</key>
		<string>expose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>使显露；暴露</string>
		<key>question</key>
		<string>expose…to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.致命的</string>
		<key>question</key>
		<string>deadly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.治愈；痊愈vt.治愈；治疗</string>
		<key>question</key>
		<string>cure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爆发；发作（尤指疾病或战争）</string>
		<key>question</key>
		<string>outbreak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.挑战vt.向……挑战</string>
		<key>question</key>
		<string>challenge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.受害者</string>
		<key>question</key>
		<string>victim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吸收；吸引；使专心</string>
		<key>question</key>
		<string>absorb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.怀疑n.被怀疑者；嫌疑犯</string>
		<key>question</key>
		<string>suspect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.询问</string>
		<key>question</key>
		<string>enquiry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.附近；邻近</string>
		<key>question</key>
		<string>neighbourhood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.严重的；剧烈的；严厉的</string>
		<key>question</key>
		<string>severe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.线索；提示</string>
		<key>question</key>
		<string>clue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泵；抽水机vt.（用泵）抽（水）</string>
		<key>question</key>
		<string>pump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预见；预知</string>
		<key>question</key>
		<string>foresee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>investigatevt.&amp;n.调查</string>
		<key>question</key>
		<string>investigation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.责备；谴责n.过失；责备</string>
		<key>question</key>
		<string>blame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.污染；弄脏</string>
		<key>question</key>
		<string>pollute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柄；把手vt.处理；操纵</string>
		<key>question</key>
		<string>handle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微生物；细菌</string>
		<key>question</key>
		<string>germ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.连接；联系</string>
		<key>question</key>
		<string>link</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>将……和……联系或连接起来</string>
		<key>question</key>
		<string>link…to…</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.宣布；通知</string>
		<key>question</key>
		<string>announce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.确信；确实</string>
		<key>question</key>
		<string>certainty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.命令；指示；教导</string>
		<key>question</key>
		<string>instruct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.有责任的；负责的</string>
		<key>question</key>
		<string>responsible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建设；修建</string>
		<key>question</key>
		<string>construct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建设；建筑物</string>
		<key>question</key>
		<string>construction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.捐献；贡献；捐助</string>
		<key>question</key>
		<string>contribute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>除……之外；此外</string>
		<key>question</key>
		<string>apart from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烟火（燃放）</string>
		<key>question</key>
		<string>firework</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
