<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>使用</string>
		<key>question</key>
		<string>use</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj. 有用的，有益的；有帮助的</string>
		<key>question</key>
		<string>useful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>通常</string>
		<key>question</key>
		<string>usually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>很、非常</string>
		<key>question</key>
		<string>very</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>参观</string>
		<key>question</key>
		<string>visit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>等待，等候</string>
		<key>question</key>
		<string>wait</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>步行</string>
		<key>question</key>
		<string>walk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>想要</string>
		<key>question</key>
		<string>want</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>暖和的</string>
		<key>question</key>
		<string>warm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>洗，清洗</string>
		<key>question</key>
		<string>wash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>挥手</string>
		<key>question</key>
		<string>wave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>路，方式，方法</string>
		<key>question</key>
		<string>way</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>穿</string>
		<key>question</key>
		<string>wear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>天气、气候</string>
		<key>question</key>
		<string>weather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>欢迎</string>
		<key>question</key>
		<string>welcome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>好地、详细地、熟悉地</string>
		<key>question</key>
		<string>well</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>湿的</string>
		<key>question</key>
		<string>wet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>什么时候，当……的时候</string>
		<key>question</key>
		<string>when</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>无论哪里</string>
		<key>question</key>
		<string>wherever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>哪个</string>
		<key>question</key>
		<string>which</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谁</string>
		<key>question</key>
		<string>who</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谁的</string>
		<key>question</key>
		<string>whose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>为什么</string>
		<key>question</key>
		<string>why</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>宽的</string>
		<key>question</key>
		<string>wide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>获胜，赢得</string>
		<key>question</key>
		<string>win</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有风的、多风的</string>
		<key>question</key>
		<string>windy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>翅膀</string>
		<key>question</key>
		<string>wing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>和……一起</string>
		<key>question</key>
		<string>with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>用</string>
		<key>question</key>
		<string>with</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>想知道</string>
		<key>question</key>
		<string>wonder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>工作、学习</string>
		<key>question</key>
		<string>work</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>世界</string>
		<key>question</key>
		<string>world</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>焦虑的，担忧的</string>
		<key>question</key>
		<string>worried</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>担心</string>
		<key>question</key>
		<string>worry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（叫声）哎哟</string>
		<key>question</key>
		<string>wow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>写</string>
		<key>question</key>
		<string>write</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>错误的</string>
		<key>question</key>
		<string>wrong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>是 </string>
		<key>question</key>
		<string>yes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>年轻的</string>
		<key>question</key>
		<string>young</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>这是</string>
		<key>question</key>
		<string>here's=here is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>让我们</string>
		<key>question</key>
		<string>let's=let us</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>是什么</string>
		<key>question</key>
		<string>what’s=what is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在哪里</string>
		<key>question</key>
		<string>where’s=where is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我是</string>
		<key>question</key>
		<string>I’m＝I am </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>你是</string>
		<key>question</key>
		<string>you’re=you are</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他是</string>
		<key>question</key>
		<string>he's=he is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>她是</string>
		<key>question</key>
		<string>she's=she is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>它是</string>
		<key>question</key>
		<string>it’s =it is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我们是</string>
		<key>question</key>
		<string>we're=we are</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他（她、它）们是</string>
		<key>question</key>
		<string>they're=they are</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
