<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>小鸡</string>
		<key>question</key>
		<string>chick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸡</string>
		<key>question</key>
		<string>chicken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>奶牛</string>
		<key>question</key>
		<string>cow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>狗</string>
		<key>question</key>
		<string>dog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸭子</string>
		<key>question</key>
		<string>duck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大象</string>
		<key>question</key>
		<string>elephant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>狐狸</string>
		<key>question</key>
		<string>fox</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>青蛙</string>
		<key>question</key>
		<string>frog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>长颈鹿</string>
		<key>question</key>
		<string>giraffe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>马</string>
		<key>question</key>
		<string>horse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>袋鼠</string>
		<key>question</key>
		<string>kangaroo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>树袋熊，考拉</string>
		<key>question</key>
		<string>koala</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>狮子</string>
		<key>question</key>
		<string>lion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>猴子</string>
		<key>question</key>
		<string>monkey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>老鼠</string>
		<key>question</key>
		<string>mouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>猫头鹰</string>
		<key>question</key>
		<string>owl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>熊猫</string>
		<key>question</key>
		<string>panda</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鹦鹉</string>
		<key>question</key>
		<string>parrot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>宠物</string>
		<key>question</key>
		<string>pet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>猪</string>
		<key>question</key>
		<string>pig</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>老鼠</string>
		<key>question</key>
		<string>rat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>绵羊</string>
		<key>question</key>
		<string>sheep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蛇</string>
		<key>question</key>
		<string>snake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蜘蛛</string>
		<key>question</key>
		<string>spider</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>老虎</string>
		<key>question</key>
		<string>tiger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>狼</string>
		<key>question</key>
		<string>wolf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>斑马</string>
		<key>question</key>
		<string>zebra</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>集邮册</string>
		<key>question</key>
		<string>album</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>床</string>
		<key>question</key>
		<string>bed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>盒子</string>
		<key>question</key>
		<string>box</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>照相机</string>
		<key>question</key>
		<string>camera</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>卡片</string>
		<key>question</key>
		<string>card</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>激光唱片</string>
		<key>question</key>
		<string>CD</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电脑光盘</string>
		<key>question</key>
		<string>CD-ROM</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>钟</string>
		<key>question</key>
		<string>clock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电子贺卡</string>
		<key>question</key>
		<string>e-card</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电子邮件</string>
		<key>question</key>
		<string>email</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鞭炮</string>
		<key>question</key>
		<string>firecracker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>玻璃</string>
		<key>question</key>
		<string>glass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>请柬</string>
		<key>question</key>
		<string>invitation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>水壶</string>
		<key>question</key>
		<string>jug</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>梯子</string>
		<key>question</key>
		<string>ladder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>信</string>
		<key>question</key>
		<string>letter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>机器</string>
		<key>question</key>
		<string>machine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>面具</string>
		<key>question</key>
		<string>mask</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>垫子</string>
		<key>question</key>
		<string>mat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>报纸</string>
		<key>question</key>
		<string>newspaper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>护照</string>
		<key>question</key>
		<string>passport</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电话</string>
		<key>question</key>
		<string>phone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>照片</string>
		<key>question</key>
		<string>photo</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
