<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>令人惊讶的</string>
		<key>question</key>
		<string>amazing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>和</string>
		<key>question</key>
		<string>and</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>重新</string>
		<key>question</key>
		<string>anew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生气的，愤怒的</string>
		<key>question</key>
		<string>angry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>另一个</string>
		<key>question</key>
		<string>another</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>回答</string>
		<key>question</key>
		<string>answer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>任何的</string>
		<key>question</key>
		<string>any</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>任何东西</string>
		<key>question</key>
		<string>anything</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>是（用于复数人称代词后）</string>
		<key>question</key>
		<string>are</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>朝着相反方向</string>
		<key>question</key>
		<string>around</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>周围，在……周围</string>
		<key>question</key>
		<string>around</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>到达</string>
		<key>question</key>
		<string>arrive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>因为</string>
		<key>question</key>
		<string>as</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在</string>
		<key>question</key>
		<string>at</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>醒的</string>
		<key>question</key>
		<string>awake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>离开，在远处，到远处</string>
		<key>question</key>
		<string>away</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向后，后面的，背部</string>
		<key>question</key>
		<string>back </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>坏的，讨厌的，令人不快的</string>
		<key>question</key>
		<string>bad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美丽的、漂亮的</string>
		<key>question</key>
		<string>beautiful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>因为</string>
		<key>question</key>
		<string>because</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>成为</string>
		<key>question</key>
		<string>become</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>以前，在……之前</string>
		<key>question</key>
		<string>before </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>开始</string>
		<key>question</key>
		<string>begin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>更好的</string>
		<key>question</key>
		<string>better</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大的</string>
		<key>question</key>
		<string>big</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>咬</string>
		<key>question</key>
		<string>bite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>盲的，瞎的</string>
		<key>question</key>
		<string>blind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>无聊的，无趣的</string>
		<key>question</key>
		<string>bored</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>借入，借来</string>
		<key>question</key>
		<string>borrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（两者）都</string>
		<key>question</key>
		<string>both</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>弄坏，打破，休息</string>
		<key>question</key>
		<string>break</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>微风</string>
		<key>question</key>
		<string>breeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>明亮的</string>
		<key>question</key>
		<string>bright</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拿来，带来</string>
		<key>question</key>
		<string>bring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>损坏的，折断的</string>
		<key>question</key>
		<string>broken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>建造</string>
		<key>question</key>
		<string>build</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>碰，撞</string>
		<key>question</key>
		<string>bump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>忙碌的</string>
		<key>question</key>
		<string>busy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>但是</string>
		<key>question</key>
		<string>but </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>买</string>
		<key>question</key>
		<string>buy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（表示交通工具等）乘、坐</string>
		<key>question</key>
		<string>by</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（口语）再见</string>
		<key>question</key>
		<string>bye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打电话</string>
		<key>question</key>
		<string>call</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>能，可以</string>
		<key>question</key>
		<string>can</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小心的</string>
		<key>question</key>
		<string>careful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（用手、肩等）提，搬，背，抱</string>
		<key>question</key>
		<string>carry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>抓、捉，追人游戏</string>
		<key>question</key>
		<string>catch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>交换</string>
		<key>question</key>
		<string>change</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>便宜的</string>
		<key>question</key>
		<string>cheap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>欢呼</string>
		<key>question</key>
		<string>cheer</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
