<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>明信片</string>
		<key>question</key>
		<string>postcard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>礼物</string>
		<key>question</key>
		<string>present</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>收音机</string>
		<key>question</key>
		<string>radio</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>沙发</string>
		<key>question</key>
		<string>sofa</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（常复）楼梯</string>
		<key>question</key>
		<string>stairs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>邮票</string>
		<key>question</key>
		<string>stamp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>线，绳子</string>
		<key>question</key>
		<string>string</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>桌子</string>
		<key>question</key>
		<string>table</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>票</string>
		<key>question</key>
		<string>ticket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>牙刷</string>
		<key>question</key>
		<string>toothbrush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>花瓶</string>
		<key>question</key>
		<string>vase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>录像，录像带</string>
		<key>question</key>
		<string>video</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>轮子</string>
		<key>question</key>
		<string>wheel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>颜色</string>
		<key>question</key>
		<string>colour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>黑色</string>
		<key>question</key>
		<string>black</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蓝色</string>
		<key>question</key>
		<string>blue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>棕色的，褐色的</string>
		<key>question</key>
		<string>brown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>绿色</string>
		<key>question</key>
		<string>green</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>橙色、橙色的</string>
		<key>question</key>
		<string>orange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>粉红色，粉红色的</string>
		<key>question</key>
		<string>pink</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>红色</string>
		<key>question</key>
		<string>red</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>白色</string>
		<key>question</key>
		<string>white</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>黄色</string>
		<key>question</key>
		<string>yellow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>紫色</string>
		<key>question</key>
		<string>purple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>节日</string>
		<key>question</key>
		<string>festival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>假期，假日</string>
		<key>question</key>
		<string>holiday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>圣诞节</string>
		<key>question</key>
		<string>Christmas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>新年</string>
		<key>question</key>
		<string>New Year</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>复活节</string>
		<key>question</key>
		<string>Easter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>感恩节</string>
		<key>question</key>
		<string>thanksgiving</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>国庆节</string>
		<key>question</key>
		<string>National Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>儿童节</string>
		<key>question</key>
		<string>Children’s Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>母亲节</string>
		<key>question</key>
		<string>Mother's Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>万圣节</string>
		<key>question</key>
		<string>Halloween</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生日</string>
		<key>question</key>
		<string>birthday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>家长日</string>
		<key>question</key>
		<string>Parents' Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>运动日</string>
		<key>question</key>
		<string>Sports Day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>水果</string>
		<key>question</key>
		<string>fruit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>苹果</string>
		<key>question</key>
		<string>apple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>香蕉</string>
		<key>question</key>
		<string>banana</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>椰子</string>
		<key>question</key>
		<string>coconut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>橘子</string>
		<key>question</key>
		<string>orange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>桃子</string>
		<key>question</key>
		<string>peach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>梨</string>
		<key>question</key>
		<string>pear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>西瓜</string>
		<key>question</key>
		<string>watermelon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>橘子，橙子</string>
		<key>question</key>
		<string>tangerine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>头</string>
		<key>question</key>
		<string>head</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>头发</string>
		<key>question</key>
		<string>hair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>脸</string>
		<key>question</key>
		<string>face</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>嘴巴</string>
		<key>question</key>
		<string>mouth</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
