<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>房屋</string>
		<key>question</key>
		<string>house</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>餐馆，饭馆</string>
		<key>question</key>
		<string>restaurant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>超市</string>
		<key>question</key>
		<string>supermarket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>商店</string>
		<key>question</key>
		<string>shop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>车站</string>
		<key>question</key>
		<string>station</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>警察局</string>
		<key>question</key>
		<string>police station</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>办公室</string>
		<key>question</key>
		<string>office</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公寓，一套房间</string>
		<key>question</key>
		<string>flat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>房间</string>
		<key>question</key>
		<string>room</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>图书馆</string>
		<key>question</key>
		<string>library</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>动物园</string>
		<key>question</key>
		<string>zoo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>厕所</string>
		<key>question</key>
		<string>toilet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>国家</string>
		<key>question</key>
		<string>country</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>首都</string>
		<key>question</key>
		<string>capital</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国</string>
		<key>question</key>
		<string>China </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国的</string>
		<key>question</key>
		<string>Chinese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美国</string>
		<key>question</key>
		<string>America</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美国人</string>
		<key>question</key>
		<string>American</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>澳大利亚</string>
		<key>question</key>
		<string>Australia</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>澳大利亚的</string>
		<key>question</key>
		<string>Australian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>俄罗斯</string>
		<key>question</key>
		<string>Russia</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>俄罗斯人</string>
		<key>question</key>
		<string>Russian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>印度</string>
		<key>question</key>
		<string>India</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>印度的</string>
		<key>question</key>
		<string>Indian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>墨西哥</string>
		<key>question</key>
		<string>Mexico</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>墨西哥的</string>
		<key>question</key>
		<string>Mexican</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>加拿大</string>
		<key>question</key>
		<string>Canada </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>英国</string>
		<key>question</key>
		<string>England</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>西班牙</string>
		<key>question</key>
		<string>Spain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>联合国</string>
		<key>question</key>
		<string>UN</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>纽约</string>
		<key>question</key>
		<string>New York</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>伦敦</string>
		<key>question</key>
		<string>London</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>洛杉矶</string>
		<key>question</key>
		<string>Los Angeles</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>香港</string>
		<key>question</key>
		<string>Hong Kong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>华盛顿特区</string>
		<key>question</key>
		<string>Washington,D.C</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大本钟</string>
		<key>question</key>
		<string>Big Ben</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>布赖顿</string>
		<key>question</key>
		<string>Brighton</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>白金汉宫</string>
		<key>question</key>
		<string>Buckingham Palace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>唐人街</string>
		<key>question</key>
		<string>Chinatown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>伦敦眼</string>
		<key>question</key>
		<string>London Eye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十三陵</string>
		<key>question</key>
		<string>Ming Tombs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>泰晤士河</string>
		<key>question</key>
		<string>River Thames</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>巨石阵</string>
		<key>question</key>
		<string>Stonehenge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>五指山</string>
		<key>question</key>
		<string>the Five-Finger Mountains</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>长城</string>
		<key>question</key>
		<string>the Great Wall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>塔桥</string>
		<key>question</key>
		<string>Tower Bridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>太空</string>
		<key>question</key>
		<string>space</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>天空</string>
		<key>question</key>
		<string>sky</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>宇宙飞船</string>
		<key>question</key>
		<string>spaceship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>行星</string>
		<key>question</key>
		<string>planet</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
