<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>耳朵</string>
		<key>question</key>
		<string>ear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>眼睛，眼状物</string>
		<key>question</key>
		<string>eye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鼻子</string>
		<key>question</key>
		<string>nose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>肩膀，肩部</string>
		<key>question</key>
		<string>shoulder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>手 </string>
		<key>question</key>
		<string>hand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>手指</string>
		<key>question</key>
		<string>finger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>腿</string>
		<key>question</key>
		<string>leg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>膝盖</string>
		<key>question</key>
		<string>knee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>脚</string>
		<key>question</key>
		<string>foot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复）脚</string>
		<key>question</key>
		<string>feet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>脚趾</string>
		<key>question</key>
		<string>toe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>衣服</string>
		<key>question</key>
		<string>clothes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>外套</string>
		<key>question</key>
		<string>coat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>连衣裙</string>
		<key>question</key>
		<string>dress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>手套</string>
		<key>question</key>
		<string>glove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>夹克</string>
		<key>question</key>
		<string>jacket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>凉鞋</string>
		<key>question</key>
		<string>sandal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>衬衫</string>
		<key>question</key>
		<string>shirt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鞋子</string>
		<key>question</key>
		<string>shoe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复）短裤</string>
		<key>question</key>
		<string>shorts</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>短裙</string>
		<key>question</key>
		<string>skirt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>短袜</string>
		<key>question</key>
		<string>sock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>毛线衫</string>
		<key>question</key>
		<string>sweater</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（常复）裤子</string>
		<key>question</key>
		<string>trousers</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>T恤（衫）</string>
		<key>question</key>
		<string>T-shirt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>帽子</string>
		<key>question</key>
		<string>hat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>帽子</string>
		<key>question</key>
		<string>cap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（常复）太阳镜</string>
		<key>question</key>
		<string>sunglasses</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>眼镜（复数）</string>
		<key>question</key>
		<string>glasses</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>天花板</string>
		<key>question</key>
		<string>ceiling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>门</string>
		<key>question</key>
		<string>door</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>窗 </string>
		<key>question</key>
		<string>window</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>墙</string>
		<key>question</key>
		<string>wall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>地板，楼层</string>
		<key>question</key>
		<string>floor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>地面</string>
		<key>question</key>
		<string>ground</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>山</string>
		<key>question</key>
		<string>mountain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小山</string>
		<key>question</key>
		<string>hill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>大海</string>
		<key>question</key>
		<string>sea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>海滩</string>
		<key>question</key>
		<string>beach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>河流</string>
		<key>question</key>
		<string>river</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>河流</string>
		<key>question</key>
		<string>stream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>湖</string>
		<key>question</key>
		<string>lake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>池塘</string>
		<key>question</key>
		<string>pond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>飞机场</string>
		<key>question</key>
		<string>airport</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>城市</string>
		<key>question</key>
		<string>city</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>乡间，农村</string>
		<key>question</key>
		<string>countryside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>集市</string>
		<key>question</key>
		<string>fair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>农场</string>
		<key>question</key>
		<string>farm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>田地，牧场</string>
		<key>question</key>
		<string>field</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>果园</string>
		<key>question</key>
		<string>fruit farm</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
