<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>公园</string>
		<key>question</key>
		<string>park</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>操场</string>
		<key>question</key>
		<string>playground</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>水坑</string>
		<key>question</key>
		<string>puddle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>道路</string>
		<key>question</key>
		<string>road</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>沙地</string>
		<key>question</key>
		<string>sand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>街，街道</string>
		<key>question</key>
		<string>street</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>村庄</string>
		<key>question</key>
		<string>village</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>东，东方</string>
		<key>question</key>
		<string>east</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>西，西方</string>
		<key>question</key>
		<string>west</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>南，南方</string>
		<key>question</key>
		<string>south</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>北，北方</string>
		<key>question</key>
		<string>north</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>球</string>
		<key>question</key>
		<string>ball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>棒球</string>
		<key>question</key>
		<string>baseball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>篮球</string>
		<key>question</key>
		<string>basketball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>足球</string>
		<key>question</key>
		<string>football</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>乒乓球</string>
		<key>question</key>
		<string>ping-pong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>球棒</string>
		<key>question</key>
		<string>bat </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑冰</string>
		<key>question</key>
		<string>ice-skating</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑冰</string>
		<key>question</key>
		<string>skate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑雪</string>
		<key>question</key>
		<string>ski </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>游泳</string>
		<key>question</key>
		<string>swimming</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>划（船）</string>
		<key>question</key>
		<string>row</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>赛跑</string>
		<key>question</key>
		<string>race</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（参加）赛跑</string>
		<key>question</key>
		<string>run a race</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跳绳</string>
		<key>question</key>
		<string>skip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跳远</string>
		<key>question</key>
		<string>long jump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跳高</string>
		<key>question</key>
		<string>high jump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>玩具</string>
		<key>question</key>
		<string>toy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>布娃娃</string>
		<key>question</key>
		<string>doll </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>洋娃娃</string>
		<key>question</key>
		<string>dolly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>玩具熊</string>
		<key>question</key>
		<string>teddy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>雪人</string>
		<key>question</key>
		<string>snowman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电子游戏机</string>
		<key>question</key>
		<string>computer game</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>国际象棋</string>
		<key>question</key>
		<string>chess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拼图玩具</string>
		<key>question</key>
		<string>jigsaw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拼图玩具</string>
		<key>question</key>
		<string>jigsaw puzzle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑梯</string>
		<key>question</key>
		<string>slide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>秋千</string>
		<key>question</key>
		<string>swing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>气球</string>
		<key>question</key>
		<string>balloon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>怪物</string>
		<key>question</key>
		<string>monster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>风筝</string>
		<key>question</key>
		<string>kite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>游戏</string>
		<key>question</key>
		<string>game</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拍手游戏</string>
		<key>question</key>
		<string>clapping game</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>五子游戏</string>
		<key>question</key>
		<string>five-stones</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>捉迷藏</string>
		<key>question</key>
		<string>hide-and-seek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>司机</string>
		<key>question</key>
		<string>driver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公共汽车司机</string>
		<key>question</key>
		<string>bus driver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>出租车司机</string>
		<key>question</key>
		<string>taxi driver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>火车司机</string>
		<key>question</key>
		<string>train driver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>消防员</string>
		<key>question</key>
		<string>fireman</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
