<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>粘贴，粘住</string>
		<key>question</key>
		<string>stick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>仍</string>
		<key>question</key>
		<string>still</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>停止</string>
		<key>question</key>
		<string>stop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>奇怪的</string>
		<key>question</key>
		<string>strange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打，撞击</string>
		<key>question</key>
		<string>strike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>学习</string>
		<key>question</key>
		<string>study</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吸吮</string>
		<key>question</key>
		<string>suck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>阳光充足的 、晴朗的</string>
		<key>question</key>
		<string>sunny</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>惊奇，出乎意料的</string>
		<key>question</key>
		<string>surprise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拿、带着、带走</string>
		<key>question</key>
		<string>take</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谈话</string>
		<key>question</key>
		<string>talk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>高的</string>
		<key>question</key>
		<string>tall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>品尝</string>
		<key>question</key>
		<string>taste</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>队</string>
		<key>question</key>
		<string>team</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>告诉</string>
		<key>question</key>
		<string>tell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>温度</string>
		<key>question</key>
		<string>temperature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>考试</string>
		<key>question</key>
		<string>test</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谢谢</string>
		<key>question</key>
		<string>thank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谢谢</string>
		<key>question</key>
		<string>thanks</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>那个</string>
		<key>question</key>
		<string>that</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>这（那）个，这（那）些</string>
		<key>question</key>
		<string>the</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>然后，在那时</string>
		<key>question</key>
		<string>then </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在那里</string>
		<key>question</key>
		<string>there</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>这些</string>
		<key>question</key>
		<string>these</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>瘦的</string>
		<key>question</key>
		<string>thin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>事情，东西，物</string>
		<key>question</key>
		<string>thing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>认为</string>
		<key>question</key>
		<string>think</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>口渴的</string>
		<key>question</key>
		<string>thirsty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>这个</string>
		<key>question</key>
		<string>this</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>那些</string>
		<key>question</key>
		<string>those</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>扔</string>
		<key>question</key>
		<string>throw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>整理、收拾</string>
		<key>question</key>
		<string>tidy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>时间</string>
		<key>question</key>
		<string>time</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>疲劳的、累的</string>
		<key>question</key>
		<string>tired</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>去、到、向</string>
		<key>question</key>
		<string>to</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>一起</string>
		<key>question</key>
		<string>together</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>太</string>
		<key>question</key>
		<string>too</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>也</string>
		<key>question</key>
		<string>too</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>顶部</string>
		<key>question</key>
		<string>top</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>接触、触摸</string>
		<key>question</key>
		<string>touch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>传统的</string>
		<key>question</key>
		<string>traditional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>旅行</string>
		<key>question</key>
		<string>travel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（短途）旅行</string>
		<key>question</key>
		<string>trip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>真实的，正确的</string>
		<key>question</key>
		<string>true </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>试、努力、尝试</string>
		<key>question</key>
		<string>try</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>转动、转向</string>
		<key>question</key>
		<string>turn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>闪烁</string>
		<key>question</key>
		<string>twinkle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>种类，类型</string>
		<key>question</key>
		<string>type</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在……下</string>
		<key>question</key>
		<string>under</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向上</string>
		<key>question</key>
		<string>up</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
