<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>三十六</string>
		<key>question</key>
		<string>thirty-six</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>四十</string>
		<key>question</key>
		<string>forty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>五十</string>
		<key>question</key>
		<string>fifty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>六十</string>
		<key>question</key>
		<string>sixty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>七十</string>
		<key>question</key>
		<string>seventy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>八十</string>
		<key>question</key>
		<string>eighty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>九十</string>
		<key>question</key>
		<string>ninety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>百、一百</string>
		<key>question</key>
		<string>hundred</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>千，一千，一千个</string>
		<key>question</key>
		<string>thousand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>百万，百万个</string>
		<key>question</key>
		<string>million</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>第一、第一的</string>
		<key>question</key>
		<string>first</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>第二、第二的</string>
		<key>question</key>
		<string>second</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>1月</string>
		<key>question</key>
		<string>January</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>2月</string>
		<key>question</key>
		<string>February</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>3月</string>
		<key>question</key>
		<string>March</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>4月</string>
		<key>question</key>
		<string>April</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>5月</string>
		<key>question</key>
		<string>May</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>6月</string>
		<key>question</key>
		<string>June</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>7月</string>
		<key>question</key>
		<string>July</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>8月</string>
		<key>question</key>
		<string>August</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>9月</string>
		<key>question</key>
		<string>September</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>10月</string>
		<key>question</key>
		<string>October</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>11月</string>
		<key>question</key>
		<string>November</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>12月</string>
		<key>question</key>
		<string>December</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>年</string>
		<key>question</key>
		<string>year</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>月</string>
		<key>question</key>
		<string>month</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>天、日子</string>
		<key>question</key>
		<string>day</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期，周</string>
		<key>question</key>
		<string>week</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>周末</string>
		<key>question</key>
		<string>weekend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期天</string>
		<key>question</key>
		<string>Sunday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期一</string>
		<key>question</key>
		<string>Monday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期二</string>
		<key>question</key>
		<string>Tuesday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期三</string>
		<key>question</key>
		<string>Wednesday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期四</string>
		<key>question</key>
		<string>Thursday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期五</string>
		<key>question</key>
		<string>Friday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星期六</string>
		<key>question</key>
		<string>Saturday </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>昨天</string>
		<key>question</key>
		<string>yesterday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>今天</string>
		<key>question</key>
		<string>today</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>明天</string>
		<key>question</key>
		<string>tomorrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>夜晚</string>
		<key>question</key>
		<string>night</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>早晨、上午</string>
		<key>question</key>
		<string>morning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>下午</string>
		<key>question</key>
		<string>afternoon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>科目</string>
		<key>question</key>
		<string>subject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>英语</string>
		<key>question</key>
		<string>English</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美术</string>
		<key>question</key>
		<string>Art </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>汉语、语文</string>
		<key>question</key>
		<string>Chinese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>地理</string>
		<key>question</key>
		<string>Geography</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>历史</string>
		<key>question</key>
		<string>history</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>数学</string>
		<key>question</key>
		<string>Maths</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>音乐</string>
		<key>question</key>
		<string>Music</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
