<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>选择</string>
		<key>question</key>
		<string>choose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>圆，圆圈</string>
		<key>question</key>
		<string>circle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鼓掌，拍</string>
		<key>question</key>
		<string>clap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打扫</string>
		<key>question</key>
		<string>clean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>干净的，清洁的</string>
		<key>question</key>
		<string>clean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>聪明的</string>
		<key>question</key>
		<string>clever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>爬</string>
		<key>question</key>
		<string>climb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>云</string>
		<key>question</key>
		<string>cloud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>寒冷的</string>
		<key>question</key>
		<string>cold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>收集</string>
		<key>question</key>
		<string>collect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>把……涂颜色</string>
		<key>question</key>
		<string>color</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>来</string>
		<key>question</key>
		<string>come</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>竞赛</string>
		<key>question</key>
		<string>competition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>烧菜、做菜</string>
		<key>question</key>
		<string>cook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>凉爽的</string>
		<key>question</key>
		<string>cool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>模仿</string>
		<key>question</key>
		<string>copy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>价值为</string>
		<key>question</key>
		<string>cost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>数数</string>
		<key>question</key>
		<string>count</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>穿过</string>
		<key>question</key>
		<string>cross</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>哭，哭泣</string>
		<key>question</key>
		<string>cry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>切，割</string>
		<key>question</key>
		<string>cut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>可爱的</string>
		<key>question</key>
		<string>cute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跳舞</string>
		<key>question</key>
		<string>dance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>舞蹈</string>
		<key>question</key>
		<string>dancing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>危险的</string>
		<key>question</key>
		<string>dangerous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>聋的</string>
		<key>question</key>
		<string>deaf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>亲爱的</string>
		<key>question</key>
		<string>dear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美味的</string>
		<key>question</key>
		<string>delicious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不同的</string>
		<key>question</key>
		<string>different</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>困难的</string>
		<key>question</key>
		<string>difficult</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>脏的</string>
		<key>question</key>
		<string>dirty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>做</string>
		<key>question</key>
		<string>do</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向下</string>
		<key>question</key>
		<string>down</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>画、绘制</string>
		<key>question</key>
		<string>draw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>梦</string>
		<key>question</key>
		<string>dream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>喝、饮</string>
		<key>question</key>
		<string>drink</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>驾驶</string>
		<key>question</key>
		<string>drive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>干的</string>
		<key>question</key>
		<string>dry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>容易的</string>
		<key>question</key>
		<string>easy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吃</string>
		<key>question</key>
		<string>eat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>尽头，结束</string>
		<key>question</key>
		<string>end</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>欣赏，享受……的乐趣</string>
		<key>question</key>
		<string>enjoy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>逃走</string>
		<key>question</key>
		<string>escape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>每个，每一个</string>
		<key>question</key>
		<string>every</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>每个人，人人</string>
		<key>question</key>
		<string>everyone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>各处，到处</string>
		<key>question</key>
		<string>everywhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>激动的，兴奋的</string>
		<key>question</key>
		<string>excited</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>昂贵的</string>
		<key>question</key>
		<string>expensive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>落下，跌落</string>
		<key>question</key>
		<string>fall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>极好的，极妙的</string>
		<key>question</key>
		<string>fantastic</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
