<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>消防员（复数）</string>
		<key>question</key>
		<string>firemen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>演员</string>
		<key>question</key>
		<string>actor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>宇航员</string>
		<key>question</key>
		<string>astronaut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>飞行员</string>
		<key>question</key>
		<string>pilot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>医生</string>
		<key>question</key>
		<string>doctor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>作家</string>
		<key>question</key>
		<string>writer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>工人</string>
		<key>question</key>
		<string>worker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>护士</string>
		<key>question</key>
		<string>nurse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>老师</string>
		<key>question</key>
		<string>teacher</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>警察</string>
		<key>question</key>
		<string>policeman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>邮递员</string>
		<key>question</key>
		<string>postman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>学生</string>
		<key>question</key>
		<string>pupil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>学生</string>
		<key>question</key>
		<string>student</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>节目主持人</string>
		<key>question</key>
		<string>presenter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>王子</string>
		<key>question</key>
		<string>prince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女王</string>
		<key>question</key>
		<string>queen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>图书管理员</string>
		<key>question</key>
		<string>librarian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>经理</string>
		<key>question</key>
		<string>manager</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>足球队员</string>
		<key>question</key>
		<string>footballer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女服务生</string>
		<key>question</key>
		<string>waitress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>售货员</string>
		<key>question</key>
		<string>sales assistant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小丑</string>
		<key>question</key>
		<string>clown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电影明星</string>
		<key>question</key>
		<string>film star</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>演奏者</string>
		<key>question</key>
		<string>player</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>赛跑者</string>
		<key>question</key>
		<string>runner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>胜利者</string>
		<key>question</key>
		<string>winner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美分</string>
		<key>question</key>
		<string>cent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美元</string>
		<key>question</key>
		<string>dollar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>金子</string>
		<key>question</key>
		<string>gold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>钻石</string>
		<key>question</key>
		<string>diamond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>飞机</string>
		<key>question</key>
		<string>plane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>直升飞机</string>
		<key>question</key>
		<string>helicopter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公共汽车</string>
		<key>question</key>
		<string>bus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小汽车</string>
		<key>question</key>
		<string>car</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>船</string>
		<key>question</key>
		<string>ship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>火车</string>
		<key>question</key>
		<string>train</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>自行车</string>
		<key>question</key>
		<string>bicycle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>自行车</string>
		<key>question</key>
		<string>bike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>树</string>
		<key>question</key>
		<string>tree</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>树叶</string>
		<key>question</key>
		<string>leaf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>树叶（复数）</string>
		<key>question</key>
		<string>leaves</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>花</string>
		<key>question</key>
		<string>flower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>竹子</string>
		<key>question</key>
		<string>bamboo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>草，草地</string>
		<key>question</key>
		<string>grass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小木棍，小木条</string>
		<key>question</key>
		<string>stick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>石头</string>
		<key>question</key>
		<string>stone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>建筑物，大楼</string>
		<key>question</key>
		<string>building</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>工厂</string>
		<key>question</key>
		<string>factory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>剧院</string>
		<key>question</key>
		<string>theatre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>医院</string>
		<key>question</key>
		<string>hospital</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
