<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>远、很远</string>
		<key>question</key>
		<string>far</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>很快地</string>
		<key>question</key>
		<string>fast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跑得快的</string>
		<key>question</key>
		<string>fast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>胖的</string>
		<key>question</key>
		<string>fat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>特别喜爱的</string>
		<key>question</key>
		<string>favourite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>喂</string>
		<key>question</key>
		<string>feed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>感觉，感觉到</string>
		<key>question</key>
		<string>feel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>找到</string>
		<key>question</key>
		<string>find</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（身体）很好</string>
		<key>question</key>
		<string>fine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>完成，结束，用完</string>
		<key>question</key>
		<string>finish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>火</string>
		<key>question</key>
		<string>fire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>修理</string>
		<key>question</key>
		<string>fix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>飞，放（风筝）</string>
		<key>question</key>
		<string>fly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>驾驶（飞机、宇宙飞船等）</string>
		<key>question</key>
		<string>fly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>为</string>
		<key>question</key>
		<string>for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>外国的</string>
		<key>question</key>
		<string>foreign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>忘记</string>
		<key>question</key>
		<string>forget</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>来自</string>
		<key>question</key>
		<string>from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>前面</string>
		<key>question</key>
		<string>front</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有趣的、令人愉快的</string>
		<key>question</key>
		<string>fun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>娱乐，乐趣</string>
		<key>question</key>
		<string>fun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑稽的，有趣的，好笑的</string>
		<key>question</key>
		<string>funny</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>将来</string>
		<key>question</key>
		<string>future</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>轻轻地</string>
		<key>question</key>
		<string>gently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>收到，接到</string>
		<key>question</key>
		<string>get</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>给</string>
		<key>question</key>
		<string>give</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>去</string>
		<key>question</key>
		<string>go</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>进球、得分</string>
		<key>question</key>
		<string>goal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>金制的</string>
		<key>question</key>
		<string>gold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>好的</string>
		<key>question</key>
		<string>good</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>再见</string>
		<key>question</key>
		<string>goodbye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>太好了</string>
		<key>question</key>
		<string>great</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>猜</string>
		<key>question</key>
		<string>guess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>半小时</string>
		<key>question</key>
		<string>half</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>悬挂</string>
		<key>question</key>
		<string>hang</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发生</string>
		<key>question</key>
		<string>happen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>高兴的</string>
		<key>question</key>
		<string>happy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>努力地</string>
		<key>question</key>
		<string>hard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>困难的，艰难的</string>
		<key>question</key>
		<string>hard </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有，享受</string>
		<key>question</key>
		<string>have</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>听，听到，听见</string>
		<key>question</key>
		<string>hear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>重的</string>
		<key>question</key>
		<string>heavy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>你好，喂</string>
		<key>question</key>
		<string>hello</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>帮助</string>
		<key>question</key>
		<string>help</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有帮助的、有用的</string>
		<key>question</key>
		<string>helpful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在这里</string>
		<key>question</key>
		<string>here</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>嗨</string>
		<key>question</key>
		<string>hi</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>隐藏</string>
		<key>question</key>
		<string>hide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>高，很高，高的</string>
		<key>question</key>
		<string>high</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>拿着</string>
		<key>question</key>
		<string>hold</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
