<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plistName</key>
		<string>primary1</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 1</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>N</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary2</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 2</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary3</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 3</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary4</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 4</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary5</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 5</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary6</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 6</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary7</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 7</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary8</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 8</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary9</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 9</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary10</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 10</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary11</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 11</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary12</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 12</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary13</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 13</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary14</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 14</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary15</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 15</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary16</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 16</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary17</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 17</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary18</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 18</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary19</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 19</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary20</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 20</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>plistName</key>
		<string>primary21</string>
		<key>imgUrl</key>
		<string>00801</string>
		<key>title</key>
		<string>Primary School Words 21</string>
		<key>brief</key>
		<string></string>
		<key>time</key>
		<string>0</string>
		<key>index</key>
		<integer>0</integer>
		<key>count</key>
		<integer>50</integer>
		<key>score</key>
		<real>0</real>
		<key>isVip</key>
		<string>Y</string>
	</dict>
</array>
</plist>
