<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>有魔力的</string>
		<key>question</key>
		<string>magic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>制作</string>
		<key>question</key>
		<string>make</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>许多的</string>
		<key>question</key>
		<string>many</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>行军，行进</string>
		<key>question</key>
		<string>march</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>比赛</string>
		<key>question</key>
		<string>match</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>相配</string>
		<key>question</key>
		<string>match</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>麻烦事</string>
		<key>question</key>
		<string>matter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>也许</string>
		<key>question</key>
		<string>maybe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>卑鄙的，低劣的</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>计划</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>见面，集合</string>
		<key>question</key>
		<string>meet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>愉快地</string>
		<key>question</key>
		<string>merrily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>混乱，脏乱</string>
		<key>question</key>
		<string>mess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>信息，消息，祝词</string>
		<key>question</key>
		<string>message</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>肮脏的，凌乱的</string>
		<key>question</key>
		<string>messy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>可能，可以</string>
		<key>question</key>
		<string>might</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>想念</string>
		<key>question</key>
		<string>miss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>缺少的</string>
		<key>question</key>
		<string>missing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>错误</string>
		<key>question</key>
		<string>mistake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>模型</string>
		<key>question</key>
		<string>model</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>附加的、更多的</string>
		<key>question</key>
		<string>more</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>许多的，非常</string>
		<key>question</key>
		<string>much</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>神秘的事物，谜</string>
		<key>question</key>
		<string>mystery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>名字</string>
		<key>question</key>
		<string>name</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>顽皮的，淘气的</string>
		<key>question</key>
		<string>naughty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>接近的</string>
		<key>question</key>
		<string>near</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>几乎，接近，差不多</string>
		<key>question</key>
		<string>nearly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>紧张的</string>
		<key>question</key>
		<string>nervous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>新的，新来的</string>
		<key>question</key>
		<string>new</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>美味的</string>
		<key>question</key>
		<string>nice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>友善的、好的</string>
		<key>question</key>
		<string>nice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不是</string>
		<key>question</key>
		<string>no</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>没有人</string>
		<key>question</key>
		<string>nobody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>噪音</string>
		<key>question</key>
		<string>noise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>正常的</string>
		<key>question</key>
		<string>normal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不</string>
		<key>question</key>
		<string>not</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>没什么</string>
		<key>question</key>
		<string>nothing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>现在</string>
		<key>question</key>
		<string>now</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>数字</string>
		<key>question</key>
		<string>number</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>点钟</string>
		<key>question</key>
		<string>o’clock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>常常，经常</string>
		<key>question</key>
		<string>often</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>好 </string>
		<key>question</key>
		<string>OK</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>古老的，年纪大的，老的</string>
		<key>question</key>
		<string>old</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在……上</string>
		<key>question</key>
		<string>on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>只</string>
		<key>question</key>
		<string>only</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打开</string>
		<key>question</key>
		<string>open</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>或者</string>
		<key>question</key>
		<string>or</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>其他的</string>
		<key>question</key>
		<string>other</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在外面</string>
		<key>question</key>
		<string>outside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>画画</string>
		<key>question</key>
		<string>paint</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
