<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>太阳</string>
		<key>question</key>
		<string>sun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>月球，月亮</string>
		<key>question</key>
		<string>moon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>星星</string>
		<key>question</key>
		<string>star</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>音乐会</string>
		<key>question</key>
		<string>concert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>电影</string>
		<key>question</key>
		<string>film</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>剧</string>
		<key>question</key>
		<string>play</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>诗，诗歌</string>
		<key>question</key>
		<string>poem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>海报</string>
		<key>question</key>
		<string>poster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>画、图画</string>
		<key>question</key>
		<string>picture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>图画</string>
		<key>question</key>
		<string>painting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>说唱歌曲</string>
		<key>question</key>
		<string>rap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>屏幕</string>
		<key>question</key>
		<string>screen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>歌曲</string>
		<key>question</key>
		<string>song</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>奖杯</string>
		<key>question</key>
		<string>cup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>乐器</string>
		<key>question</key>
		<string>instrument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鼓</string>
		<key>question</key>
		<string>drum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>二胡</string>
		<key>question</key>
		<string>erhu</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>笛子，长笛</string>
		<key>question</key>
		<string>flute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吉他</string>
		<key>question</key>
		<string>guitar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>钢琴</string>
		<key>question</key>
		<string>piano</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>琵琶</string>
		<key>question</key>
		<string>pipa</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小提琴</string>
		<key>question</key>
		<string>violin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生病的</string>
		<key>question</key>
		<string>ill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有病的</string>
		<key>question</key>
		<string>sick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发烧</string>
		<key>question</key>
		<string>fever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>感冒</string>
		<key>question</key>
		<string>cold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>咳嗽</string>
		<key>question</key>
		<string>cough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>胃痛</string>
		<key>question</key>
		<string>stomach ache</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>头痛</string>
		<key>question</key>
		<string>headache</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>疼，痛</string>
		<key>question</key>
		<string>pain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>牙疼</string>
		<key>question</key>
		<string>toothache</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>药</string>
		<key>question</key>
		<string>medicine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>药丸</string>
		<key>question</key>
		<string>pill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有一点</string>
		<key>question</key>
		<string>a bit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>很多</string>
		<key>question</key>
		<string>a lot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>把……加起来</string>
		<key>question</key>
		<string>add up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>好吧</string>
		<key>question</key>
		<string>all right</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>根本</string>
		<key>question</key>
		<string>at all </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发出咔嗒声，点击</string>
		<key>question</key>
		<string>click on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>进来</string>
		<key>question</key>
		<string>come  in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>快、走吧</string>
		<key>question</key>
		<string>come on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>龙舟</string>
		<key>question</key>
		<string>dragon boat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>湖东路</string>
		<key>question</key>
		<string>East Lake Road</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对不起、打扰</string>
		<key>question</key>
		<string>excuse me</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>从……上跌落</string>
		<key>question</key>
		<string>fall off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>摔倒</string>
		<key>question</key>
		<string>fall over</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>离开</string>
		<key>question</key>
		<string>get out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>起床</string>
		<key>question</key>
		<string>get up</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>出国</string>
		<key>question</key>
		<string>go abroad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>回家</string>
		<key>question</key>
		<string>go home</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
