<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>小姐</string>
		<key>question</key>
		<string>Miss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>先生</string>
		<key>question</key>
		<string>sir</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女士</string>
		<key>question</key>
		<string>Ms</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>朋友</string>
		<key>question</key>
		<string>friend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>笔友</string>
		<key>question</key>
		<string>pen pal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>季节</string>
		<key>question</key>
		<string>season</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>春天</string>
		<key>question</key>
		<string>spring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>夏天</string>
		<key>question</key>
		<string>summer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>秋天</string>
		<key>question</key>
		<string>autumn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>冬天</string>
		<key>question</key>
		<string>winter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>饼干</string>
		<key>question</key>
		<string>biscuit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>面包</string>
		<key>question</key>
		<string>bread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蛋糕</string>
		<key>question</key>
		<string>cake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>干酪，奶酪</string>
		<key>question</key>
		<string>cheese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复）薯条</string>
		<key>question</key>
		<string>chips</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>巧克力糖</string>
		<key>question</key>
		<string>chocolate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>可乐</string>
		<key>question</key>
		<string>cola</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>炸土豆片</string>
		<key>question</key>
		<string>crisp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>正餐、主餐</string>
		<key>question</key>
		<string>dinner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>饺子</string>
		<key>question</key>
		<string>dumpling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸡蛋</string>
		<key>question</key>
		<string>egg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>快餐</string>
		<key>question</key>
		<string>fast food</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鱼和薯条</string>
		<key>question</key>
		<string>fish and chips</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>食物</string>
		<key>question</key>
		<string>food</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>汉堡包</string>
		<key>question</key>
		<string>hamburger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>热狗</string>
		<key>question</key>
		<string>hot dog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>冰激凌</string>
		<key>question</key>
		<string>ice cream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>肉</string>
		<key>question</key>
		<string>meat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>牛奶</string>
		<key>question</key>
		<string>milk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（常复）面条</string>
		<key>question</key>
		<string>noodles</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>洋葱</string>
		<key>question</key>
		<string>onion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>马铃薯，土豆</string>
		<key>question</key>
		<string>potato</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>米饭</string>
		<key>question</key>
		<string>rice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>三明治</string>
		<key>question</key>
		<string>sandwich</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>香肠</string>
		<key>question</key>
		<string>sausage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>汤</string>
		<key>question</key>
		<string>soup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（常复）糖果</string>
		<key>question</key>
		<string>sweets</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蔬菜</string>
		<key>question</key>
		<string>vegetable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>水</string>
		<key>question</key>
		<string>water</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生姜</string>
		<key>question</key>
		<string>ginger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>香料</string>
		<key>question</key>
		<string>spice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复）筷子</string>
		<key>question</key>
		<string>chopsticks</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>叉</string>
		<key>question</key>
		<string>fork</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>刀</string>
		<key>question</key>
		<string>knife </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>盘子</string>
		<key>question</key>
		<string>plate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>动物</string>
		<key>question</key>
		<string>animal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>熊 </string>
		<key>question</key>
		<string>bear </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸟</string>
		<key>question</key>
		<string>bird</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>骆驼</string>
		<key>question</key>
		<string>camel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>猫</string>
		<key>question</key>
		<string>cat</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
