<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>体育课</string>
		<key>question</key>
		<string>PE</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>科学</string>
		<key>question</key>
		<string>Science</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>包</string>
		<key>question</key>
		<string>bag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书</string>
		<key>question</key>
		<string>book</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书架</string>
		<key>question</key>
		<string>bookshelf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>班级</string>
		<key>question</key>
		<string>class</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>教室</string>
		<key>question</key>
		<string>classroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>蜡笔</string>
		<key>question</key>
		<string>crayon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书桌</string>
		<key>question</key>
		<string>desk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>橡皮擦</string>
		<key>question</key>
		<string>eraser</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>家庭作业</string>
		<key>question</key>
		<string>homework</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>功课，教训</string>
		<key>question</key>
		<string>lesson</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>地图</string>
		<key>question</key>
		<string>map</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>画笔</string>
		<key>question</key>
		<string>paintbrush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>纸</string>
		<key>question</key>
		<string>paper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>钢笔</string>
		<key>question</key>
		<string>pen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>铅笔</string>
		<key>question</key>
		<string>pencil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>铅笔盒</string>
		<key>question</key>
		<string>pencil-box</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>报导，成绩单</string>
		<key>question</key>
		<string>report</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>尺子</string>
		<key>question</key>
		<string>ruler</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书包</string>
		<key>question</key>
		<string>school bag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>剪刀（复数）</string>
		<key>question</key>
		<string>scissors</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>座位</string>
		<key>question</key>
		<string>seat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书架</string>
		<key>question</key>
		<string>shelf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>书架（复数）</string>
		<key>question</key>
		<string>shelves</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>作业、功课</string>
		<key>question</key>
		<string>work</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（外）祖父（母）</string>
		<key>question</key>
		<string>grandparent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>奶奶、外婆</string>
		<key>question</key>
		<string>grandma</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>爷爷、外公</string>
		<key>question</key>
		<string>grandpa</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（外）祖父</string>
		<key>question</key>
		<string>granddad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>父亲，母亲</string>
		<key>question</key>
		<string>parent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>父亲</string>
		<key>question</key>
		<string>father</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>母亲</string>
		<key>question</key>
		<string>mother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>爸爸</string>
		<key>question</key>
		<string>dad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>妈妈</string>
		<key>question</key>
		<string>mum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>哥哥、弟弟</string>
		<key>question</key>
		<string>brother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>姐姐、妹妹</string>
		<key>question</key>
		<string>sister</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>堂（表）兄（弟姐妹）</string>
		<key>question</key>
		<string>cousin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女儿</string>
		<key>question</key>
		<string>daughter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（复）人们</string>
		<key>question</key>
		<string>people</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>人</string>
		<key>question</key>
		<string>person</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>男人</string>
		<key>question</key>
		<string>man</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>男人（复数）</string>
		<key>question</key>
		<string>men</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女人</string>
		<key>question</key>
		<string>woman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女人（复数）</string>
		<key>question</key>
		<string>women</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>幼崽</string>
		<key>question</key>
		<string>baby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>孩子</string>
		<key>question</key>
		<string>child</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>孩子们</string>
		<key>question</key>
		<string>children</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>男孩</string>
		<key>question</key>
		<string>boy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>女孩</string>
		<key>question</key>
		<string>girl</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
