<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>悲伤地</string>
		<key>question</key>
		<string>sadly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>安全的</string>
		<key>question</key>
		<string>safe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>相同的</string>
		<key>question</key>
		<string>same</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>念、背诵、表达、写道、说</string>
		<key>question</key>
		<string>say</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>惊吓</string>
		<key>question</key>
		<string>scare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>恐惧的</string>
		<key>question</key>
		<string>scared</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吓人的、可怕的</string>
		<key>question</key>
		<string>scary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>秘密</string>
		<key>question</key>
		<string>secret</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>看见，瞧见，看出，发觉</string>
		<key>question</key>
		<string>see</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>寻找</string>
		<key>question</key>
		<string>seek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>卖</string>
		<key>question</key>
		<string>sell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>寄</string>
		<key>question</key>
		<string>send</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>句子</string>
		<key>question</key>
		<string>sentence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>握手，摇动，晃动</string>
		<key>question</key>
		<string>shake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发光</string>
		<key>question</key>
		<string>shine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>购物</string>
		<key>question</key>
		<string>shopping</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>矮的、短的</string>
		<key>question</key>
		<string>short</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>应该</string>
		<key>question</key>
		<string>should</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>呼喊，呼叫</string>
		<key>question</key>
		<string>shout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>害羞的</string>
		<key>question</key>
		<string>shy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>安静，别出声</string>
		<key>question</key>
		<string>silence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>简单的，无经验的</string>
		<key>question</key>
		<string>simple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>唱，唱歌</string>
		<key>question</key>
		<string>sing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>坐</string>
		<key>question</key>
		<string>sit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>睡觉</string>
		<key>question</key>
		<string>sleep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>滑动</string>
		<key>question</key>
		<string>slide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>慢的</string>
		<key>question</key>
		<string>slow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小的</string>
		<key>question</key>
		<string>small</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>微笑</string>
		<key>question</key>
		<string>smile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打鼾</string>
		<key>question</key>
		<string>snore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>下雪</string>
		<key>question</key>
		<string>snow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>如此</string>
		<key>question</key>
		<string>so</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>解答，解释</string>
		<key>question</key>
		<string>solve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>一些（人）</string>
		<key>question</key>
		<string>some</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>将来某一天</string>
		<key>question</key>
		<string>someday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>某事，某物</string>
		<key>question</key>
		<string>something</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>有时</string>
		<key>question</key>
		<string>sometimes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>不久，快</string>
		<key>question</key>
		<string>soon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>对不起的、抱歉的</string>
		<key>question</key>
		<string>sorry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>声音</string>
		<key>question</key>
		<string>sound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>说、说话、谈话</string>
		<key>question</key>
		<string>speak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>特殊的，特别的</string>
		<key>question</key>
		<string>special</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>度过</string>
		<key>question</key>
		<string>spend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>扰乱</string>
		<key>question</key>
		<string>spoil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>运动</string>
		<key>question</key>
		<string>sport</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跺（脚），顿（足）</string>
		<key>question</key>
		<string>stamp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>站</string>
		<key>question</key>
		<string>stand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>开始</string>
		<key>question</key>
		<string>start</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>呆在，停留</string>
		<key>question</key>
		<string>stay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>偷、窃取</string>
		<key>question</key>
		<string>steal</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
