<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>聚会</string>
		<key>question</key>
		<string>party</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>经过</string>
		<key>question</key>
		<string>past</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>晚于</string>
		<key>question</key>
		<string>past</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>和平</string>
		<key>question</key>
		<string>peace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>完美的</string>
		<key>question</key>
		<string>perfect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>打电话</string>
		<key>question</key>
		<string>phone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>采，摘</string>
		<key>question</key>
		<string>pick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>野餐</string>
		<key>question</key>
		<string>picnic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>张，片，块</string>
		<key>question</key>
		<string>piece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>地方，地点</string>
		<key>question</key>
		<string>place</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>玩，演奏</string>
		<key>question</key>
		<string>play</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>游戏时间</string>
		<key>question</key>
		<string>playtime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>请</string>
		<key>question</key>
		<string>please</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>高兴的，满足的</string>
		<key>question</key>
		<string>pleased</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>加上</string>
		<key>question</key>
		<string>plus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>指、指向</string>
		<key>question</key>
		<string>point</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>分</string>
		<key>question</key>
		<string>point</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>功能强大的</string>
		<key>question</key>
		<string>powerful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>练习</string>
		<key>question</key>
		<string>practise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>漂亮的</string>
		<key>question</key>
		<string>pretty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>印刷</string>
		<key>question</key>
		<string>print</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>印刷术</string>
		<key>question</key>
		<string>printing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>自豪的</string>
		<key>question</key>
		<string>proud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>放</string>
		<key>question</key>
		<string>put</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>问题</string>
		<key>question</key>
		<string>question</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>快的</string>
		<key>question</key>
		<string>quick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>很快地</string>
		<key>question</key>
		<string>quickly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>安静，安静的，沉默的</string>
		<key>question</key>
		<string>quiet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>相当地、或多或少地</string>
		<key>question</key>
		<string>quite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>比赛的</string>
		<key>question</key>
		<string>racing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>雨，下雨</string>
		<key>question</key>
		<string>rain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>彩虹</string>
		<key>question</key>
		<string>rainbow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>叩击声</string>
		<key>question</key>
		<string>rat-a-tat-tat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>读</string>
		<key>question</key>
		<string>read</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>准备就绪的</string>
		<key>question</key>
		<string>ready</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>真正地</string>
		<key>question</key>
		<string>really</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>问候</string>
		<key>question</key>
		<string>regard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>想起，回忆起</string>
		<key>question</key>
		<string>remember</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>回复</string>
		<key>question</key>
		<string>reply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>休息</string>
		<key>question</key>
		<string>rest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>归还</string>
		<key>question</key>
		<string>return</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>骑</string>
		<key>question</key>
		<string>ride</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向右</string>
		<key>question</key>
		<string>right</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>环，环形物</string>
		<key>question</key>
		<string>ring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>卷成筒状</string>
		<key>question</key>
		<string>roll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>圆的</string>
		<key>question</key>
		<string>round</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在周围</string>
		<key>question</key>
		<string>round</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>规则</string>
		<key>question</key>
		<string>rule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跑</string>
		<key>question</key>
		<string>run</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>伤心的、难过的</string>
		<key>question</key>
		<string>sad</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
