<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>希望</string>
		<key>question</key>
		<string>hope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>热的</string>
		<key>question</key>
		<string>hot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>怎样、如何</string>
		<key>question</key>
		<string>how</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>饥饿的</string>
		<key>question</key>
		<string>hungry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（使）受伤</string>
		<key>question</key>
		<string>hurt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>冰</string>
		<key>question</key>
		<string>ice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>主意</string>
		<key>question</key>
		<string>idea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>重要的</string>
		<key>question</key>
		<string>important</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在……里</string>
		<key>question</key>
		<string>in </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>真正的</string>
		<key>question</key>
		<string>indeed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>在……里面</string>
		<key>question</key>
		<string>inside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>代替</string>
		<key>question</key>
		<string>instead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>感兴趣的</string>
		<key>question</key>
		<string>interested</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>到……里</string>
		<key>question</key>
		<string>into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>发明</string>
		<key>question</key>
		<string>invent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>是 </string>
		<key>question</key>
		<string>is</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>笑话</string>
		<key>question</key>
		<string>joke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>跳</string>
		<key>question</key>
		<string>jump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>踢</string>
		<key>question</key>
		<string>kick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>公里</string>
		<key>question</key>
		<string>kilometre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>友善的，仁慈的，善良的</string>
		<key>question</key>
		<string>kind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>吻</string>
		<key>question</key>
		<string>kiss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>知道</string>
		<key>question</key>
		<string>know</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>语言</string>
		<key>question</key>
		<string>language</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>上一个，刚过去的，最后的</string>
		<key>question</key>
		<string>last</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>迟的</string>
		<key>question</key>
		<string>late</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>稍后，随后</string>
		<key>question</key>
		<string>later</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>笑</string>
		<key>question</key>
		<string>laugh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>懒惰的</string>
		<key>question</key>
		<string>lazy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>学习</string>
		<key>question</key>
		<string>learn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>离开，动身</string>
		<key>question</key>
		<string>leave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>向左</string>
		<key>question</key>
		<string>left</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>躺</string>
		<key>question</key>
		<string>lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>谎话，谎言</string>
		<key>question</key>
		<string>lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>生活</string>
		<key>question</key>
		<string>life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>提，抬</string>
		<key>question</key>
		<string>lift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>喜欢</string>
		<key>question</key>
		<string>like</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>像、如同</string>
		<key>question</key>
		<string>like</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>排，列</string>
		<key>question</key>
		<string>line</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>听</string>
		<key>question</key>
		<string>listen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>小的</string>
		<key>question</key>
		<string>little</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>居住</string>
		<key>question</key>
		<string>live </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>长的</string>
		<key>question</key>
		<string>long</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>看</string>
		<key>question</key>
		<string>look</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>浪费，遗失</string>
		<key>question</key>
		<string>lose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>迷路的，丢失的</string>
		<key>question</key>
		<string>lost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>声音大的，吵闹的，响的</string>
		<key>question</key>
		<string>loud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>爱</string>
		<key>question</key>
		<string>love</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>可爱的</string>
		<key>question</key>
		<string>lovely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>低的</string>
		<key>question</key>
		<string>low</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
