<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>我</string>
		<key>question</key>
		<string>I</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>你、你们</string>
		<key>question</key>
		<string>you</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他</string>
		<key>question</key>
		<string>he</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>她</string>
		<key>question</key>
		<string>she</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>它</string>
		<key>question</key>
		<string>it</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我们</string>
		<key>question</key>
		<string>we</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他、她、它们</string>
		<key>question</key>
		<string>they</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（I  的宾格）我</string>
		<key>question</key>
		<string>me</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（you  的宾格）你、你们</string>
		<key>question</key>
		<string>you</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（he 的宾格）他</string>
		<key>question</key>
		<string>him</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（she 的宾格）她</string>
		<key>question</key>
		<string>her</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（it 的宾格）它</string>
		<key>question</key>
		<string>it</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>（we 的宾格）我们</string>
		<key>question</key>
		<string>us</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>(they 的宾格)他、她、它们</string>
		<key>question</key>
		<string>them</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我的</string>
		<key>question</key>
		<string>my</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>你的、你们的</string>
		<key>question</key>
		<string>your</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他的</string>
		<key>question</key>
		<string>his</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>她的</string>
		<key>question</key>
		<string>her</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>它的</string>
		<key>question</key>
		<string>its</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我们的</string>
		<key>question</key>
		<string>our</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他(她、它)们的</string>
		<key>question</key>
		<string>their</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我的</string>
		<key>question</key>
		<string>mine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>你（们）的</string>
		<key>question</key>
		<string>yours</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他的</string>
		<key>question</key>
		<string>his</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>她的</string>
		<key>question</key>
		<string>hers</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>它的</string>
		<key>question</key>
		<string>its</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>我们的</string>
		<key>question</key>
		<string>ours</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>他(她、它)们的</string>
		<key>question</key>
		<string>theirs</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>一 </string>
		<key>question</key>
		<string>one</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>二</string>
		<key>question</key>
		<string>two</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>三</string>
		<key>question</key>
		<string>three</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>四</string>
		<key>question</key>
		<string>four</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>五</string>
		<key>question</key>
		<string>five</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>六</string>
		<key>question</key>
		<string>six</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>七</string>
		<key>question</key>
		<string>seven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>八</string>
		<key>question</key>
		<string>eight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>九</string>
		<key>question</key>
		<string>nine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十</string>
		<key>question</key>
		<string>ten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十一</string>
		<key>question</key>
		<string>eleven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十二</string>
		<key>question</key>
		<string>twelve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十三</string>
		<key>question</key>
		<string>thirteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十四</string>
		<key>question</key>
		<string>fourteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十五</string>
		<key>question</key>
		<string>fifteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十六</string>
		<key>question</key>
		<string>sixteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十七</string>
		<key>question</key>
		<string>seventeen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十八</string>
		<key>question</key>
		<string>eighteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>十九</string>
		<key>question</key>
		<string>nineteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>二十</string>
		<key>question</key>
		<string>twenty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>二十一</string>
		<key>question</key>
		<string>twenty-one</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>三十</string>
		<key>question</key>
		<string>thirty</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
