<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.额头，前部</string>
		<key>question</key>
		<string>forehead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外国的；外来的</string>
		<key>question</key>
		<string>foreign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外国人</string>
		<key>question</key>
		<string>foreigner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.森林；森林地带</string>
		<key>question</key>
		<string>forest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.永远，总是，老是</string>
		<key>question</key>
		<string>forever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.熔炉,铁工厂vt.打制,锻造,伪造</string>
		<key>question</key>
		<string>forge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.忘记，遗忘</string>
		<key>question</key>
		<string>forget</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.原谅，饶恕，宽恕</string>
		<key>question</key>
		<string>forgive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.餐叉；叉；分叉</string>
		<key>question</key>
		<string>fork</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.形式；形状vt.形成</string>
		<key>question</key>
		<string>form</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.正式的；礼仪上的</string>
		<key>question</key>
		<string>formal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.形成；构成；形成物</string>
		<key>question</key>
		<string>formation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.在前的n.前者</string>
		<key>question</key>
		<string>former</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公式，式</string>
		<key>question</key>
		<string>formula</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.向前；向外，往外</string>
		<key>question</key>
		<string>forth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.两星期，十四天</string>
		<key>question</key>
		<string>fortnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.幸运的，侥幸的</string>
		<key>question</key>
		<string>fortunate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.幸运地，幸亏</string>
		<key>question</key>
		<string>fortunately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命运，运气；财产</string>
		<key>question</key>
		<string>fortune</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.四十，第四十</string>
		<key>question</key>
		<string>forty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.向前；今后，往后</string>
		<key>question</key>
		<string>forward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.创立，创办；建立</string>
		<key>question</key>
		<string>found</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基础；地基；基金</string>
		<key>question</key>
		<string>foundation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泉水，喷泉；源泉</string>
		<key>question</key>
		<string>fountain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.四，四个，第四</string>
		<key>question</key>
		<string>four</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.十四，第十四</string>
		<key>question</key>
		<string>fourteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狐狸；狡猾的人</string>
		<key>question</key>
		<string>fox</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小部分；片断；分数</string>
		<key>question</key>
		<string>fraction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碎片，破片，碎块</string>
		<key>question</key>
		<string>fragment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.框架，框子；构架</string>
		<key>question</key>
		<string>frame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.框架，构架，结构</string>
		<key>question</key>
		<string>framework</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坦白的，直率的</string>
		<key>question</key>
		<string>frank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自由的；空闲的</string>
		<key>question</key>
		<string>free</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自由；自主</string>
		<key>question</key>
		<string>freedom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.冻；结冻vt.使结冰</string>
		<key>question</key>
		<string>freeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货运；货物；运费</string>
		<key>question</key>
		<string>freight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.屡次；次数；频率</string>
		<key>question</key>
		<string>frequency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.时常发生的；经常的</string>
		<key>question</key>
		<string>frequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.新的；新鲜的</string>
		<key>question</key>
		<string>fresh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摩擦，摩擦力</string>
		<key>question</key>
		<string>friction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电冰箱</string>
		<key>question</key>
		<string>fridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.朋友，友人</string>
		<key>question</key>
		<string>friend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.友好的，友谊的</string>
		<key>question</key>
		<string>friendly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.友谊，友好</string>
		<key>question</key>
		<string>friendship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使惊恐，吓唬</string>
		<key>question</key>
		<string>frighten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛙</string>
		<key>question</key>
		<string>frog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.从…来；离开</string>
		<key>question</key>
		<string>from</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.前面的n.前部</string>
		<key>question</key>
		<string>front</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.边境；边疆；新领域</string>
		<key>question</key>
		<string>frontier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰冻，严寒；霜</string>
		<key>question</key>
		<string>frost</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
