<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.脂肪,肥肉a.肥胖的</string>
		<key>question</key>
		<string>fat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.致命的；命运的</string>
		<key>question</key>
		<string>fatal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命运，天数</string>
		<key>question</key>
		<string>fate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.父亲；神父；创始人</string>
		<key>question</key>
		<string>father</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.疲劳，劳累</string>
		<key>question</key>
		<string>fatigue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺点；过失；故障</string>
		<key>question</key>
		<string>fault</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有错误的，有缺点的</string>
		<key>question</key>
		<string>faulty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.好感；赞同；恩惠</string>
		<key>question</key>
		<string>favour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有利的；赞成的</string>
		<key>question</key>
		<string>favourable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特别受喜爱的</string>
		<key>question</key>
		<string>favourite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.害怕；担心vt.害怕</string>
		<key>question</key>
		<string>fear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.害怕的，可怕的</string>
		<key>question</key>
		<string>fearful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可行的；可能的</string>
		<key>question</key>
		<string>feasible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羽毛；翎毛；羽状物</string>
		<key>question</key>
		<string>feather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.特征，特色；面貌</string>
		<key>question</key>
		<string>feature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.联邦的；联盟的</string>
		<key>question</key>
		<string>federal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.费，酬金；赏金</string>
		<key>question</key>
		<string>fee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.喂(养)vi.吃饲料</string>
		<key>question</key>
		<string>feed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.回授，反馈，反应</string>
		<key>question</key>
		<string>feedback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.有知觉vt.触，摸</string>
		<key>question</key>
		<string>feel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.感情；感觉，知觉</string>
		<key>question</key>
		<string>feeling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人，家伙；伙伴</string>
		<key>question</key>
		<string>fellow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雌性的动物；女子</string>
		<key>question</key>
		<string>female</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.栅栏</string>
		<key>question</key>
		<string>fence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.肥沃的；多产的</string>
		<key>question</key>
		<string>fertile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肥料</string>
		<key>question</key>
		<string>fertilizer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.节日；音乐节</string>
		<key>question</key>
		<string>festival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拿来；请来，接去</string>
		<key>question</key>
		<string>fetch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发热，发烧；狂热</string>
		<key>question</key>
		<string>fever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.很少的；少数的</string>
		<key>question</key>
		<string>few</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纤维，纤维质</string>
		<key>question</key>
		<string>fibre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小说；虚构，杜撰</string>
		<key>question</key>
		<string>fiction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.田野；田；运动场</string>
		<key>question</key>
		<string>field</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.凶猛的，狂热的</string>
		<key>question</key>
		<string>fierce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.十五；十五个</string>
		<key>question</key>
		<string>fifteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.第五n.五分之一</string>
		<key>question</key>
		<string>fifth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.五十，五十个</string>
		<key>question</key>
		<string>fifty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.打(仗)；斗争</string>
		<key>question</key>
		<string>fight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.数字；外形；人物</string>
		<key>question</key>
		<string>figure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.档案vt.把…归档</string>
		<key>question</key>
		<string>file</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.装满，盛满；占满</string>
		<key>question</key>
		<string>fill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.影片；胶卷；薄层</string>
		<key>question</key>
		<string>film</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.过滤n.滤纸</string>
		<key>question</key>
		<string>filter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最后的；决定性的</string>
		<key>question</key>
		<string>final</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.最后；不可更改的</string>
		<key>question</key>
		<string>finally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.财政，金融；财源</string>
		<key>question</key>
		<string>finance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.财政的，金融的</string>
		<key>question</key>
		<string>financial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.找到；发觉；找出</string>
		<key>question</key>
		<string>find</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发现；调查的结果</string>
		<key>question</key>
		<string>finding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.美好的；纤细的</string>
		<key>question</key>
		<string>fine</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
