<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>pron.(两者)任何一个</string>
		<key>question</key>
		<string>either</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.复杂的；精心制作的</string>
		<key>question</key>
		<string>elaborate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.松紧带a.有弹性的</string>
		<key>question</key>
		<string>elastic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.年龄较大的n.长者</string>
		<key>question</key>
		<string>elder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.选举，推选；选择</string>
		<key>question</key>
		<string>elect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.选举，选择权；当选</string>
		<key>question</key>
		<string>election</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.电的，电动的</string>
		<key>question</key>
		<string>electric</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.电的，电气科学的</string>
		<key>question</key>
		<string>electrical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电，电学；电流</string>
		<key>question</key>
		<string>electricity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电子</string>
		<key>question</key>
		<string>electron</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.电子的</string>
		<key>question</key>
		<string>electronic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成分；要素；元素</string>
		<key>question</key>
		<string>element</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基本的；初级的</string>
		<key>question</key>
		<string>elementary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.象</string>
		<key>question</key>
		<string>elephant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电梯；升降机</string>
		<key>question</key>
		<string>elevator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.十一，十一个</string>
		<key>question</key>
		<string>eleven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.消灭，消除，排除</string>
		<key>question</key>
		<string>eliminate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.其它，另外a.别的</string>
		<key>question</key>
		<string>else</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在别处，向别处</string>
		<key>question</key>
		<string>elsewhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使窘迫，使为难</string>
		<key>question</key>
		<string>embarrass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拥抱；包括；包围</string>
		<key>question</key>
		<string>embrace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.出现，涌现；冒出</string>
		<key>question</key>
		<string>emerge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.紧急情况，突然事件</string>
		<key>question</key>
		<string>emergency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.散发；发射；发表</string>
		<key>question</key>
		<string>emit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情感，感情；激动</string>
		<key>question</key>
		<string>emotion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.感情的，情绪的</string>
		<key>question</key>
		<string>emotional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皇帝</string>
		<key>question</key>
		<string>emperor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.强调，重点，重要性</string>
		<key>question</key>
		<string>emphasis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.强调，着重</string>
		<key>question</key>
		<string>emphasize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.帝国</string>
		<key>question</key>
		<string>empire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.雇用；用；使忙于</string>
		<key>question</key>
		<string>employ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.受雇者，雇员，雇工</string>
		<key>question</key>
		<string>employee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雇佣者，雇主</string>
		<key>question</key>
		<string>employer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工业；雇用；使用</string>
		<key>question</key>
		<string>employment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空的；空洞的</string>
		<key>question</key>
		<string>empty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使能够，使可能</string>
		<key>question</key>
		<string>enable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.围住，圈起；附上</string>
		<key>question</key>
		<string>enclose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遭遇，遇到n.遭遇</string>
		<key>question</key>
		<string>encounter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.鼓励，支持，助长</string>
		<key>question</key>
		<string>encourage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.末端；目标vt.结束</string>
		<key>question</key>
		<string>end</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结尾，结局；死亡</string>
		<key>question</key>
		<string>ending</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无止境的</string>
		<key>question</key>
		<string>endless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.忍受；容忍</string>
		<key>question</key>
		<string>endure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.敌人；仇敌；敌兵</string>
		<key>question</key>
		<string>enemy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.活力；精力；能</string>
		<key>question</key>
		<string>energy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.实施，执行；强制</string>
		<key>question</key>
		<string>enforce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使从事于；聘用</string>
		<key>question</key>
		<string>engage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发动机，引擎；机车</string>
		<key>question</key>
		<string>engine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工程师，技师</string>
		<key>question</key>
		<string>engineer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工程，工程学</string>
		<key>question</key>
		<string>engineering</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
