<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.容量；能力；能量</string>
		<key>question</key>
		<string>capacity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资本，资金；首都</string>
		<key>question</key>
		<string>capital</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陆军上尉；队长</string>
		<key>question</key>
		<string>captain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捕获，俘获；夺得</string>
		<key>question</key>
		<string>capture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽车，小汽车，轿车</string>
		<key>question</key>
		<string>car</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碳</string>
		<key>question</key>
		<string>carbon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卡，卡片，名片</string>
		<key>question</key>
		<string>card</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.关心，介意n.小心</string>
		<key>question</key>
		<string>care</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生涯，职业，经历</string>
		<key>question</key>
		<string>career</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.仔细的；细致的</string>
		<key>question</key>
		<string>careful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗心的，漫不经心的</string>
		<key>question</key>
		<string>careless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.船货，货物</string>
		<key>question</key>
		<string>cargo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.木工，木匠</string>
		<key>question</key>
		<string>carpenter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地毯，毡毯，毛毯</string>
		<key>question</key>
		<string>carpet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.客车厢；四轮马车</string>
		<key>question</key>
		<string>carriage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运输工具；运载工具</string>
		<key>question</key>
		<string>carrier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.携带；运载；传送</string>
		<key>question</key>
		<string>carry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.二轮运货马车</string>
		<key>question</key>
		<string>cart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情况；事实；病例</string>
		<key>question</key>
		<string>case</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.箱(子)，盒(子)，套</string>
		<key>question</key>
		<string>case</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.现金，现款</string>
		<key>question</key>
		<string>cash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盒式录音带；盒子</string>
		<key>question</key>
		<string>cassette</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.投，扔，抛；浇铸</string>
		<key>question</key>
		<string>cast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.城堡；巨大建筑物</string>
		<key>question</key>
		<string>castle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.偶然的；随便的</string>
		<key>question</key>
		<string>casual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猫，猫科，猫皮</string>
		<key>question</key>
		<string>cat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目录，目录册</string>
		<key>question</key>
		<string>catalog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捉住；赶上；领会</string>
		<key>question</key>
		<string>catch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牛；牲口，家畜</string>
		<key>question</key>
		<string>cattle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原因，理由；事业</string>
		<key>question</key>
		<string>cause</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山洞，洞穴，窑洞</string>
		<key>question</key>
		<string>cave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(一)卷；线圈vt.卷</string>
		<key>question</key>
		<string>coil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.硬币；铸造(硬币)</string>
		<key>question</key>
		<string>coin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vi.&amp;n.停止，停息</string>
		<key>question</key>
		<string>cease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天花板，顶蓬</string>
		<key>question</key>
		<string>ceiling</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.庆祝；歌颂，赞美</string>
		<key>question</key>
		<string>celebrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细胞；小房间</string>
		<key>question</key>
		<string>cell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水泥；胶泥vt.粘结</string>
		<key>question</key>
		<string>cement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分；分币；百</string>
		<key>question</key>
		<string>cent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公分，厘米</string>
		<key>question</key>
		<string>centimetre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.中心的；主要的</string>
		<key>question</key>
		<string>central</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.中心；中枢vt.集中</string>
		<key>question</key>
		<string>centre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.世纪，百年</string>
		<key>question</key>
		<string>century</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.典礼，仪式；礼节</string>
		<key>question</key>
		<string>ceremony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.确实的；肯定的</string>
		<key>question</key>
		<string>certain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一定，必定；当然</string>
		<key>question</key>
		<string>certainly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.证书，证件，执照</string>
		<key>question</key>
		<string>certificate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.链，链条，项圈</string>
		<key>question</key>
		<string>chain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.椅子；主席</string>
		<key>question</key>
		<string>chair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主席；议长，会长</string>
		<key>question</key>
		<string>chairman</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
