<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.圆的；循环的</string>
		<key>question</key>
		<string>circular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使循环vi.循环</string>
		<key>question</key>
		<string>circulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圆周，周长，圆周线</string>
		<key>question</key>
		<string>circumference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情况，条件；境遇</string>
		<key>question</key>
		<string>circumstance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公民；市民，居民</string>
		<key>question</key>
		<string>citizen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.城市，都市</string>
		<key>question</key>
		<string>city</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.公民的；文职的</string>
		<key>question</key>
		<string>civil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文明，文化；开化</string>
		<key>question</key>
		<string>civilization</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使文明；教育</string>
		<key>question</key>
		<string>civilize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.声称，主张；索取</string>
		<key>question</key>
		<string>claim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.拍手vt.拍，轻拍</string>
		<key>question</key>
		<string>clap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.澄清，阐明</string>
		<key>question</key>
		<string>clarify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.班，班级；阶级</string>
		<key>question</key>
		<string>class</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.古典的；经典的</string>
		<key>question</key>
		<string>classical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分类；分级；分类法</string>
		<key>question</key>
		<string>classification</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…分类</string>
		<key>question</key>
		<string>classify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同班同学</string>
		<key>question</key>
		<string>classmate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教室，课堂</string>
		<key>question</key>
		<string>classroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爪，脚爪，螯</string>
		<key>question</key>
		<string>claw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粘土，泥土；肉体</string>
		<key>question</key>
		<string>clay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.清洁的；纯洁的</string>
		<key>question</key>
		<string>clean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.清晰的vt.清除</string>
		<key>question</key>
		<string>clear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.店员；办事员，职员</string>
		<key>question</key>
		<string>clerk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.聪明的；机敏的</string>
		<key>question</key>
		<string>clever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悬崖，峭壁</string>
		<key>question</key>
		<string>cliff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气候；风土，地带</string>
		<key>question</key>
		<string>climate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.攀登，爬vt.爬</string>
		<key>question</key>
		<string>climb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钟，仪表</string>
		<key>question</key>
		<string>clock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.关，闭；结束</string>
		<key>question</key>
		<string>close</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.布；衣料；桌布</string>
		<key>question</key>
		<string>cloth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…穿衣服</string>
		<key>question</key>
		<string>clothe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣服，服装；被褥</string>
		<key>question</key>
		<string>clothes</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣服，被褥</string>
		<key>question</key>
		<string>clothing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.云；云状物；阴影</string>
		<key>question</key>
		<string>cloud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.多云的；云一般的</string>
		<key>question</key>
		<string>cloudy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.俱乐部，夜总会</string>
		<key>question</key>
		<string>club</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.线索，暗示，提示</string>
		<key>question</key>
		<string>clue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.笨拙的；愚笨的</string>
		<key>question</key>
		<string>clumsy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长途公共汽车</string>
		<key>question</key>
		<string>coach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.煤，煤块</string>
		<key>question</key>
		<string>coal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗的，粗糙的</string>
		<key>question</key>
		<string>coarse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海岸，海滨(地区)</string>
		<key>question</key>
		<string>coast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外套，上衣；表皮</string>
		<key>question</key>
		<string>coat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公鸡；雄禽；旋塞</string>
		<key>question</key>
		<string>cock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.准则；法典；代码</string>
		<key>question</key>
		<string>code</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咖啡，咖啡茶</string>
		<key>question</key>
		<string>coffee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.冷的；冷淡的n.冷</string>
		<key>question</key>
		<string>cold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.倒坍；崩溃，瓦解</string>
		<key>question</key>
		<string>collapse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣领，项圈</string>
		<key>question</key>
		<string>collar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同事，同僚</string>
		<key>question</key>
		<string>colleague</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
