<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.机会，良机</string>
		<key>question</key>
		<string>opportunity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反对；反抗</string>
		<key>question</key>
		<string>oppose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.对面的n.对立物</string>
		<key>question</key>
		<string>opposite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.眼的；光学的</string>
		<key>question</key>
		<string>optical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.乐观的；乐观主义的</string>
		<key>question</key>
		<string>optimistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可以任意选择的</string>
		<key>question</key>
		<string>optional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.或，或者；即</string>
		<key>question</key>
		<string>or</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.口头的；口的</string>
		<key>question</key>
		<string>oral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.橙(树)；柑(树)</string>
		<key>question</key>
		<string>orange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运行轨道vt.环绕</string>
		<key>question</key>
		<string>orbit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管弦乐队</string>
		<key>question</key>
		<string>orchestra</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.次序；整齐vt.命令</string>
		<key>question</key>
		<string>order</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.整洁的；有秩序的</string>
		<key>question</key>
		<string>orderly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平常的；平凡的</string>
		<key>question</key>
		<string>ordinary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿，矿石，矿砂</string>
		<key>question</key>
		<string>ore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.器官；机构；管风琴</string>
		<key>question</key>
		<string>organ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有机体的；器官的</string>
		<key>question</key>
		<string>organic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物体；有机体</string>
		<key>question</key>
		<string>organism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.组织；团体，机构</string>
		<key>question</key>
		<string>organization</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.组织，编组</string>
		<key>question</key>
		<string>organize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起源，由来；出身</string>
		<key>question</key>
		<string>origin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最初的；新颖的</string>
		<key>question</key>
		<string>original</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.另外的；其余的</string>
		<key>question</key>
		<string>other</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.另外；要不然</string>
		<key>question</key>
		<string>otherwise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.应当，应该</string>
		<key>question</key>
		<string>ought</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盎司，英两</string>
		<key>question</key>
		<string>ounce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我们的</string>
		<key>question</key>
		<string>our</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我们的</string>
		<key>question</key>
		<string>ours</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我们自己</string>
		<key>question</key>
		<string>ourselves</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.出，在外；现出来</string>
		<key>question</key>
		<string>out</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结果，后果，成果</string>
		<key>question</key>
		<string>outcome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在户外，在野外</string>
		<key>question</key>
		<string>outdoors</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外部的，外面的</string>
		<key>question</key>
		<string>outer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出口，出路；排遣</string>
		<key>question</key>
		<string>outlet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轮廓；略图；大纲</string>
		<key>question</key>
		<string>outline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观点，看法；展望</string>
		<key>question</key>
		<string>outlook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.产量；输出量；输出</string>
		<key>question</key>
		<string>output</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.开始，开端</string>
		<key>question</key>
		<string>outset</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外部；外表a.外部的</string>
		<key>question</key>
		<string>outside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.突出的，杰出的</string>
		<key>question</key>
		<string>outstanding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外面的；向外的</string>
		<key>question</key>
		<string>outward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炉，灶；烘箱</string>
		<key>question</key>
		<string>oven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…上方；超过</string>
		<key>question</key>
		<string>over</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工装裤a.全面的</string>
		<key>question</key>
		<string>overall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外衣，大衣</string>
		<key>question</key>
		<string>overcoat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.战胜，克服</string>
		<key>question</key>
		<string>overcome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.在头顶上的；架空的</string>
		<key>question</key>
		<string>overhead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.眺望；看漏；放任</string>
		<key>question</key>
		<string>overlook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一夜；突然</string>
		<key>question</key>
		<string>overnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.海外a.在海外的</string>
		<key>question</key>
		<string>overseas</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
