<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.刷子，毛刷；画笔</string>
		<key>question</key>
		<string>brush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泡vi.冒泡，沸腾</string>
		<key>question</key>
		<string>bubble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水桶；吊桶；铲斗</string>
		<key>question</key>
		<string>bucket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建筑；建立；创立</string>
		<key>question</key>
		<string>build</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建筑物，大楼；建筑</string>
		<key>question</key>
		<string>building</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电灯泡；球状物</string>
		<key>question</key>
		<string>bulb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物体，容积，大批</string>
		<key>question</key>
		<string>bulk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枪弹，子弹，弹丸</string>
		<key>question</key>
		<string>bullet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.捆，包，束；包袱</string>
		<key>question</key>
		<string>bundle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.担子，重担；装载量</string>
		<key>question</key>
		<string>burden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.局，司，处；社，所</string>
		<key>question</key>
		<string>bureau</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.烧，燃烧n.烧伤</string>
		<key>question</key>
		<string>burn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使爆裂vi.&amp;n.爆炸</string>
		<key>question</key>
		<string>burst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.埋葬，葬；埋藏</string>
		<key>question</key>
		<string>bury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公共汽车</string>
		<key>question</key>
		<string>bus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灌木，灌木丛，矮树</string>
		<key>question</key>
		<string>bush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商业，生意；事务</string>
		<key>question</key>
		<string>business</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.忙的，繁忙的</string>
		<key>question</key>
		<string>busy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.但是，可是</string>
		<key>question</key>
		<string>but</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄油；奶油</string>
		<key>question</key>
		<string>butter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扣子；按钮vt.扣紧</string>
		<key>question</key>
		<string>button</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.买，购买vi.买</string>
		<key>question</key>
		<string>buy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…旁；被，由</string>
		<key>question</key>
		<string>by</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洋白菜，卷心菜</string>
		<key>question</key>
		<string>cabbage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小屋；船舱，机舱</string>
		<key>question</key>
		<string>cabin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.橱，柜；内阁</string>
		<key>question</key>
		<string>cabinet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缆，索；电缆；电报</string>
		<key>question</key>
		<string>cable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咖啡馆；小餐厅</string>
		<key>question</key>
		<string>cafe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笼；鸟笼，囚笼</string>
		<key>question</key>
		<string>cage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饼，糕，蛋糕</string>
		<key>question</key>
		<string>cake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计算；估计；计划</string>
		<key>question</key>
		<string>calculate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计算器，计算者</string>
		<key>question</key>
		<string>calculator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.日历，历书；历法</string>
		<key>question</key>
		<string>calendar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…叫做；叫，喊</string>
		<key>question</key>
		<string>call</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.静的，平静的</string>
		<key>question</key>
		<string>calm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骆驼</string>
		<key>question</key>
		<string>camel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.照相机，摄影机</string>
		<key>question</key>
		<string>camera</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.野营，营地，兵营</string>
		<key>question</key>
		<string>camp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.战役；运动</string>
		<key>question</key>
		<string>campaign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.校园，学校场地</string>
		<key>question</key>
		<string>campus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>aux.v.能，会，可能</string>
		<key>question</key>
		<string>can</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罐头，听头；容器</string>
		<key>question</key>
		<string>can</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.加拿大的</string>
		<key>question</key>
		<string>Canadian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运河；沟渠；管</string>
		<key>question</key>
		<string>canal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.取消，撤消；删去</string>
		<key>question</key>
		<string>cancel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.癌，癌症，肿瘤</string>
		<key>question</key>
		<string>cancer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.候选人；投考者</string>
		<key>question</key>
		<string>candidate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜡烛；烛形物；烛光</string>
		<key>question</key>
		<string>candle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.帽子，便帽；帽状物</string>
		<key>question</key>
		<string>cap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有能力的，有才能的</string>
		<key>question</key>
		<string>capable</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
