<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.确切的；精确的</string>
		<key>question</key>
		<string>exact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.夸大，夸张</string>
		<key>question</key>
		<string>exaggerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考试；检查，细查</string>
		<key>question</key>
		<string>exam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考试；检查，细查</string>
		<key>question</key>
		<string>examination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.检查，仔细观察</string>
		<key>question</key>
		<string>examine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.例子，实例；模范</string>
		<key>question</key>
		<string>example</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.超过，胜过；超出</string>
		<key>question</key>
		<string>exceed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.极端地，非常</string>
		<key>question</key>
		<string>exceedingly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.优秀的，杰出的</string>
		<key>question</key>
		<string>excellent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.除…之外</string>
		<key>question</key>
		<string>except</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.例外，除外</string>
		<key>question</key>
		<string>exception</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.超越；过量；过度</string>
		<key>question</key>
		<string>excess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.过多的，极度的</string>
		<key>question</key>
		<string>excessive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.交换；交流n.交换</string>
		<key>question</key>
		<string>exchange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使激动；引起</string>
		<key>question</key>
		<string>excite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.令人兴奋的</string>
		<key>question</key>
		<string>exciting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.呼喊；惊叫</string>
		<key>question</key>
		<string>exclaim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…排除在外</string>
		<key>question</key>
		<string>exclude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.专门地</string>
		<key>question</key>
		<string>exclusively</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.远足；短途旅行</string>
		<key>question</key>
		<string>excursion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.原谅；免除n.借口</string>
		<key>question</key>
		<string>excuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.将…处死；实施</string>
		<key>question</key>
		<string>execute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.执行的n.执行者</string>
		<key>question</key>
		<string>executive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锻炼，训练vi.练习</string>
		<key>question</key>
		<string>exercise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.尽(力)，运用</string>
		<key>question</key>
		<string>exert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使筋疲力尽；用尽</string>
		<key>question</key>
		<string>exhaust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.显示；陈列，展览</string>
		<key>question</key>
		<string>exhibit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.展览，陈列；展览会</string>
		<key>question</key>
		<string>exhibition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.存在；生存，生活</string>
		<key>question</key>
		<string>exist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.存在，实在；生存</string>
		<key>question</key>
		<string>existence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出口；退场vi.退出</string>
		<key>question</key>
		<string>exit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.扩大；使膨胀</string>
		<key>question</key>
		<string>expand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扩大，扩充；扩张</string>
		<key>question</key>
		<string>expansion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预料，预期；等待</string>
		<key>question</key>
		<string>expect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.期待，期望，预期</string>
		<key>question</key>
		<string>expectation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花费，消费；费用</string>
		<key>question</key>
		<string>expense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.昂贵的，花钱多的</string>
		<key>question</key>
		<string>expensive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.经验，感受；经历</string>
		<key>question</key>
		<string>experience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实验；试验</string>
		<key>question</key>
		<string>experiment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.实验的，试验的</string>
		<key>question</key>
		<string>experimental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专家a.熟练的</string>
		<key>question</key>
		<string>expert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解释；为…辩解</string>
		<key>question</key>
		<string>explain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解释，说明；辩解</string>
		<key>question</key>
		<string>explanation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剥削；利用；开拓</string>
		<key>question</key>
		<string>exploit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使爆炸vi.爆炸</string>
		<key>question</key>
		<string>explode</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.探险，探索</string>
		<key>question</key>
		<string>explore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爆炸，爆发，炸裂</string>
		<key>question</key>
		<string>explosion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炸药a.爆炸的</string>
		<key>question</key>
		<string>explosive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.输出，出口；运走</string>
		<key>question</key>
		<string>export</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使暴露；揭露</string>
		<key>question</key>
		<string>expose</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
