<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.坟墓a.严重的</string>
		<key>question</key>
		<string>grave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重力，引力；严重性</string>
		<key>question</key>
		<string>gravity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.灰色的n.灰色</string>
		<key>question</key>
		<string>gray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大的；伟大的</string>
		<key>question</key>
		<string>great</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.贪吃的；贪婪的</string>
		<key>question</key>
		<string>greedy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.希腊的n.希腊人</string>
		<key>question</key>
		<string>Greek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绿色的n.绿色</string>
		<key>question</key>
		<string>green</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.问候，招呼；反应</string>
		<key>question</key>
		<string>greet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.问候，招呼，致敬</string>
		<key>question</key>
		<string>greeting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.灰色的n.灰色</string>
		<key>question</key>
		<string>grey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.磨(碎)；磨快</string>
		<key>question</key>
		<string>grind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.握紧，抓牢n.紧握</string>
		<key>question</key>
		<string>grip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.食品商；杂货商</string>
		<key>question</key>
		<string>grocer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.总的；严重的</string>
		<key>question</key>
		<string>gross</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地；场地；根据</string>
		<key>question</key>
		<string>ground</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小组，群vi.聚集</string>
		<key>question</key>
		<string>group</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.生长；变得；增长</string>
		<key>question</key>
		<string>grow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.增长；增长量；生长</string>
		<key>question</key>
		<string>growth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保证；担保物</string>
		<key>question</key>
		<string>guarantee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.守卫；看守n.卫兵</string>
		<key>question</key>
		<string>guard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.猜测，推测</string>
		<key>question</key>
		<string>guess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.客人，宾客；旅客</string>
		<key>question</key>
		<string>guest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.引导，指导，领导</string>
		<key>question</key>
		<string>guidance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.导游者vt.给…导游</string>
		<key>question</key>
		<string>guide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.内疚的；有罪的</string>
		<key>question</key>
		<string>guilty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海湾</string>
		<key>question</key>
		<string>gulf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.口香糖；树胶</string>
		<key>question</key>
		<string>gum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枪，炮，手枪</string>
		<key>question</key>
		<string>gun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.体育馆，健身房</string>
		<key>question</key>
		<string>gym</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.体育馆，健身房</string>
		<key>question</key>
		<string>gymnasium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.习惯；习性</string>
		<key>question</key>
		<string>habit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头发，毛发；毛</string>
		<key>question</key>
		<string>hair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.半，一半a.一半的</string>
		<key>question</key>
		<string>half</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.门厅；过道；会堂</string>
		<key>question</key>
		<string>hall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.停止；立定n.停住</string>
		<key>question</key>
		<string>halt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锤，榔头vt.锤击</string>
		<key>question</key>
		<string>hammer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手；人手；指针</string>
		<key>question</key>
		<string>hand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一把；少数，一小撮</string>
		<key>question</key>
		<string>handful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手帕</string>
		<key>question</key>
		<string>handkerchief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柄，把手vt.拿，触</string>
		<key>question</key>
		<string>handle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.英俊的；相当大的</string>
		<key>question</key>
		<string>handsome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笔迹，手迹，书法</string>
		<key>question</key>
		<string>handwriting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.手边的；便于使用的</string>
		<key>question</key>
		<string>handy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挂，悬；吊死</string>
		<key>question</key>
		<string>hang</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发生；碰巧，恰好</string>
		<key>question</key>
		<string>happen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快乐的；幸福的</string>
		<key>question</key>
		<string>happy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海港，港口vt.庇护</string>
		<key>question</key>
		<string>harbour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.硬的；困难的</string>
		<key>question</key>
		<string>hard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使变硬vi.变硬</string>
		<key>question</key>
		<string>harden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.几乎不，简直不</string>
		<key>question</key>
		<string>hardly</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
