<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.薄雾</string>
		<key>question</key>
		<string>mist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.错误vi.误解，弄错</string>
		<key>question</key>
		<string>mistake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.误解，误会，曲解</string>
		<key>question</key>
		<string>misunderstand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使混合，混淆</string>
		<key>question</key>
		<string>mix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.混合；混合物</string>
		<key>question</key>
		<string>mixture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.运动的；流动的</string>
		<key>question</key>
		<string>mobile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方式，样式</string>
		<key>question</key>
		<string>mode</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.模型；模式；模特儿</string>
		<key>question</key>
		<string>model</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.温和的；有节制的</string>
		<key>question</key>
		<string>moderate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.现代的，近代的</string>
		<key>question</key>
		<string>modern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有节制的；谦虚的</string>
		<key>question</key>
		<string>modest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.更改，修改；修饰</string>
		<key>question</key>
		<string>modify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分子，克分子</string>
		<key>question</key>
		<string>molecule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.片刻，瞬间，时刻</string>
		<key>question</key>
		<string>moment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.星期一</string>
		<key>question</key>
		<string>Monday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货币；金钱，财富</string>
		<key>question</key>
		<string>money</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.班长；监视器</string>
		<key>question</key>
		<string>monitor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猴子，猿</string>
		<key>question</key>
		<string>monkey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.月，月份</string>
		<key>question</key>
		<string>month</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.每月的ad.每月</string>
		<key>question</key>
		<string>monthly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纪念碑；纪念馆</string>
		<key>question</key>
		<string>monument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.心情，情绪；语气</string>
		<key>question</key>
		<string>mood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.月球，月亮；卫星</string>
		<key>question</key>
		<string>moon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.道德的；合乎道德的</string>
		<key>question</key>
		<string>moral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.更多的ad.更</string>
		<key>question</key>
		<string>more</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.再者，加之，此外</string>
		<key>question</key>
		<string>moreover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.早晨，上午</string>
		<key>question</key>
		<string>morning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蚊子</string>
		<key>question</key>
		<string>mosquito</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最多的ad.最，很</string>
		<key>question</key>
		<string>most</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.主要的，大部分</string>
		<key>question</key>
		<string>mostly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.母亲，妈妈</string>
		<key>question</key>
		<string>mother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运动；手势；提议</string>
		<key>question</key>
		<string>motion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.促动；激励，激发</string>
		<key>question</key>
		<string>motivate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.动机，目的</string>
		<key>question</key>
		<string>motive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发动机；机动车</string>
		<key>question</key>
		<string>motor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.模子，模型vt.浇铸</string>
		<key>question</key>
		<string>mould</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.登上，爬上n.…山</string>
		<key>question</key>
		<string>mount</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山，山岳；山脉</string>
		<key>question</key>
		<string>mountain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鼠，耗子</string>
		<key>question</key>
		<string>mouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嘴，口，口腔</string>
		<key>question</key>
		<string>mouth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.移动；感动n.动</string>
		<key>question</key>
		<string>move</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.动作，活动；移动</string>
		<key>question</key>
		<string>movement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电影；电影院</string>
		<key>question</key>
		<string>movie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.非常，很a.许多的</string>
		<key>question</key>
		<string>much</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.软泥，泥浆</string>
		<key>question</key>
		<string>mud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.复合的；并联的</string>
		<key>question</key>
		<string>multiple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使增加；乘</string>
		<key>question</key>
		<string>multiply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.谋杀，凶杀</string>
		<key>question</key>
		<string>murder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肌肉，肌；体力</string>
		<key>question</key>
		<string>muscle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.博物馆；展览馆</string>
		<key>question</key>
		<string>museum</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
