<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.章程；体质；构造</string>
		<key>question</key>
		<string>constitution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建造；建设；构筑</string>
		<key>question</key>
		<string>construct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建造；建筑；建筑物</string>
		<key>question</key>
		<string>construction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.请教，查阅</string>
		<key>question</key>
		<string>consult</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.消耗，消费；消灭</string>
		<key>question</key>
		<string>consume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消耗量；消耗</string>
		<key>question</key>
		<string>consumption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使接触；与…联系</string>
		<key>question</key>
		<string>contact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.包含，容纳；等于</string>
		<key>question</key>
		<string>contain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.容器；集装箱</string>
		<key>question</key>
		<string>container</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.当代的，同时代的</string>
		<key>question</key>
		<string>contemporary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轻蔑；藐视；受辱</string>
		<key>question</key>
		<string>contempt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.满意的，满足的</string>
		<key>question</key>
		<string>content</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.内容，目录；容量</string>
		<key>question</key>
		<string>content</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.争夺，争取；辩驳</string>
		<key>question</key>
		<string>contest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大陆；陆地；洲</string>
		<key>question</key>
		<string>continent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不断的；连续的</string>
		<key>question</key>
		<string>continual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.继续，连续；延伸</string>
		<key>question</key>
		<string>continue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.连续不断的，持续的</string>
		<key>question</key>
		<string>continuous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.契约，合同；婚约</string>
		<key>question</key>
		<string>contract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矛盾，不一致；否认</string>
		<key>question</key>
		<string>contradiction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相反的n.相反</string>
		<key>question</key>
		<string>contrary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.对比，对照，悬殊</string>
		<key>question</key>
		<string>contrast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捐献，捐助；投稿</string>
		<key>question</key>
		<string>contribute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.控制，克制n.控制</string>
		<key>question</key>
		<string>control</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.便利，方便；厕所</string>
		<key>question</key>
		<string>convenience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.便利的；近便的</string>
		<key>question</key>
		<string>convenient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.习俗，惯例；公约</string>
		<key>question</key>
		<string>convention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.普通的；习惯的</string>
		<key>question</key>
		<string>conventional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.会话，非正式会谈</string>
		<key>question</key>
		<string>conversation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.相反地</string>
		<key>question</key>
		<string>conversely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.转变，转化；改变</string>
		<key>question</key>
		<string>conversion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使转变；使改变</string>
		<key>question</key>
		<string>convert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.传送；运送；传播</string>
		<key>question</key>
		<string>convey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使确信，使信服</string>
		<key>question</key>
		<string>convince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.烹调，煮vt.烧菜</string>
		<key>question</key>
		<string>cook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.凉的，冷静的</string>
		<key>question</key>
		<string>cool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.合作，协作；配合</string>
		<key>question</key>
		<string>cooperate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使协调，调节</string>
		<key>question</key>
		<string>coordinate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.对付，应付</string>
		<key>question</key>
		<string>cope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铜；铜币，铜制器</string>
		<key>question</key>
		<string>copper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抄件vt.抄写，复制</string>
		<key>question</key>
		<string>copy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细绳，粗线，索</string>
		<key>question</key>
		<string>cord</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果实的心，核心</string>
		<key>question</key>
		<string>core</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谷物；(英)小麦</string>
		<key>question</key>
		<string>corn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.角；犄角；边远地区</string>
		<key>question</key>
		<string>corner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公司，企业；社团</string>
		<key>question</key>
		<string>corporation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.正确的vt.纠正</string>
		<key>question</key>
		<string>correct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.相符合；相当</string>
		<key>question</key>
		<string>correspond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相应的；符合的</string>
		<key>question</key>
		<string>corresponding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.走廊，回廊，通路</string>
		<key>question</key>
		<string>corridor</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
