<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.艰难，困苦</string>
		<key>question</key>
		<string>hardship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.五金器具；硬件</string>
		<key>question</key>
		<string>hardware</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伤害，损害vt.损害</string>
		<key>question</key>
		<string>harm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调合，协调，和谐</string>
		<key>question</key>
		<string>harmony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.治理n.马具，挽具</string>
		<key>question</key>
		<string>harness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.严厉的；刺耳的</string>
		<key>question</key>
		<string>harsh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收获，收成vt.收割</string>
		<key>question</key>
		<string>harvest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.急速，急忙；草率</string>
		<key>question</key>
		<string>haste</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.帽子(一般指有边的)</string>
		<key>question</key>
		<string>hat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.恨，憎恨；不喜欢</string>
		<key>question</key>
		<string>hate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.憎恶，憎恨，仇恨</string>
		<key>question</key>
		<string>hatred</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.已经vt.有；吃</string>
		<key>question</key>
		<string>have</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.干草</string>
		<key>question</key>
		<string>hay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.危险；公害</string>
		<key>question</key>
		<string>hazard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.(主格)他</string>
		<key>question</key>
		<string>he</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头；上端vt.率领</string>
		<key>question</key>
		<string>head</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头痛；头痛的事</string>
		<key>question</key>
		<string>headache</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标题，题词，题名</string>
		<key>question</key>
		<string>heading</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大字标题；新闻提要</string>
		<key>question</key>
		<string>headline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.司令部；总部</string>
		<key>question</key>
		<string>headquarters</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.健康，健康状况</string>
		<key>question</key>
		<string>health</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.健康的；有益健康的</string>
		<key>question</key>
		<string>healthy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(一)堆；大量</string>
		<key>question</key>
		<string>heap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.听见；审讯；听说</string>
		<key>question</key>
		<string>hear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.心，内心；勇气</string>
		<key>question</key>
		<string>heart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.热，炎热vi.变热</string>
		<key>question</key>
		<string>heat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天堂；天，天空</string>
		<key>question</key>
		<string>heaven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.重的；大的；充满的</string>
		<key>question</key>
		<string>heavy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.篱笆，树篱；障碍物</string>
		<key>question</key>
		<string>hedge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脚后跟，踵，后跟</string>
		<key>question</key>
		<string>heel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高，高度；高处</string>
		<key>question</key>
		<string>height</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.直升机</string>
		<key>question</key>
		<string>helicopter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地狱；极大的痛苦</string>
		<key>question</key>
		<string>hell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.喂</string>
		<key>question</key>
		<string>hello</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.帮助；援助n.帮手</string>
		<key>question</key>
		<string>help</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.给予帮助的；有用的</string>
		<key>question</key>
		<string>helpful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无助的；无能的</string>
		<key>question</key>
		<string>helpless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.母鸡，雌禽</string>
		<key>question</key>
		<string>hen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因此，所以；今后</string>
		<key>question</key>
		<string>hence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.(宾格)她；她的</string>
		<key>question</key>
		<string>her</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.英雄的；英勇的</string>
		<key>question</key>
		<string>heroic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兽群，牧群vt.放牧</string>
		<key>question</key>
		<string>herd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.这里；向这里</string>
		<key>question</key>
		<string>here</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.男主角；英雄；勇士</string>
		<key>question</key>
		<string>hero</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.她的(所有物)</string>
		<key>question</key>
		<string>hers</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.她自己；她亲自</string>
		<key>question</key>
		<string>herself</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.犹豫，踌躇；含糊</string>
		<key>question</key>
		<string>hesitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ini.嗨(表示问候等)</string>
		<key>question</key>
		<string>hi</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…藏起来；隐瞒</string>
		<key>question</key>
		<string>hide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.高的；高级的ad.高</string>
		<key>question</key>
		<string>high</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
