<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.新的；新近出现的</string>
		<key>question</key>
		<string>new</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新闻，消息</string>
		<key>question</key>
		<string>news</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.报纸，报</string>
		<key>question</key>
		<string>newspaper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.紧接的；贴近的</string>
		<key>question</key>
		<string>next</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.美好的，令人愉快的</string>
		<key>question</key>
		<string>nice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侄女，外甥女</string>
		<key>question</key>
		<string>niece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.夜，夜间</string>
		<key>question</key>
		<string>night</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.九，九个</string>
		<key>question</key>
		<string>nine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.十九，十九个</string>
		<key>question</key>
		<string>nineteen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.九十，九十个</string>
		<key>question</key>
		<string>ninety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.第九；九分之一</string>
		<key>question</key>
		<string>ninth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.氮</string>
		<key>question</key>
		<string>nitrogen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.不；并不a.没有</string>
		<key>question</key>
		<string>no</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.贵族的；高尚的</string>
		<key>question</key>
		<string>noble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.谁也不；无人</string>
		<key>question</key>
		<string>nobody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.点(头)；点头表示</string>
		<key>question</key>
		<string>nod</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.没有人ad.毫不</string>
		<key>question</key>
		<string>none</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡说，废话</string>
		<key>question</key>
		<string>nonsense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.正午，中午</string>
		<key>question</key>
		<string>noon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.也不；不</string>
		<key>question</key>
		<string>nor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.正常的，普通的</string>
		<key>question</key>
		<string>normal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.通常，正常地</string>
		<key>question</key>
		<string>normally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.北，北方a.北方的</string>
		<key>question</key>
		<string>north</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.东北a.位于东北的</string>
		<key>question</key>
		<string>northeast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.北方的，北部的</string>
		<key>question</key>
		<string>northern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.西北a.位于西北的</string>
		<key>question</key>
		<string>northwest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鼻子；突出部分</string>
		<key>question</key>
		<string>nose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.不，没有</string>
		<key>question</key>
		<string>not</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笔记；便条；注释</string>
		<key>question</key>
		<string>note</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笔记本，期票簿</string>
		<key>question</key>
		<string>notebook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.没有东西ad.毫不</string>
		<key>question</key>
		<string>nothing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.注意n.通知；注意</string>
		<key>question</key>
		<string>notice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.显而易见的；重要的</string>
		<key>question</key>
		<string>noticeable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名词</string>
		<key>question</key>
		<string>noun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小说a.新的</string>
		<key>question</key>
		<string>novel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.现在；立刻；于是</string>
		<key>question</key>
		<string>now</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.现今，现在</string>
		<key>question</key>
		<string>nowadays</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.任何地方都不</string>
		<key>question</key>
		<string>nowhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.原子核的；核心的</string>
		<key>question</key>
		<string>nuclear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.核，核心；(原子)核</string>
		<key>question</key>
		<string>nucleus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.讨厌的东西</string>
		<key>question</key>
		<string>nuisance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.数，数字；号码</string>
		<key>question</key>
		<string>number</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.为数众多的；许多</string>
		<key>question</key>
		<string>numerous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保姆；护士vt.看护</string>
		<key>question</key>
		<string>nurse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.托儿所；苗圃</string>
		<key>question</key>
		<string>nursery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚果，干果；螺母</string>
		<key>question</key>
		<string>nut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.尼龙，耐纶</string>
		<key>question</key>
		<string>nylon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黑人</string>
		<key>question</key>
		<string>ŋegro</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十一月</string>
		<key>question</key>
		<string>ŋovember</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.顺从vi.服从</string>
		<key>question</key>
		<string>obey</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
