<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.懒惰的，懒散的</string>
		<key>question</key>
		<string>lazy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铅，铅制品</string>
		<key>question</key>
		<string>lead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.为…带路；领导</string>
		<key>question</key>
		<string>lead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领袖，领导人；首领</string>
		<key>question</key>
		<string>leader</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领导</string>
		<key>question</key>
		<string>leadership</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.指导的；最主要的</string>
		<key>question</key>
		<string>leading</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.叶，叶子</string>
		<key>question</key>
		<string>leaf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同盟，联盟；联合会</string>
		<key>question</key>
		<string>league</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.漏；泄露n.漏洞</string>
		<key>question</key>
		<string>leak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.倾斜，屈身；靠</string>
		<key>question</key>
		<string>lean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跳，跃n.跳跃</string>
		<key>question</key>
		<string>leap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.学，学习</string>
		<key>question</key>
		<string>learn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有学问的；学术上的</string>
		<key>question</key>
		<string>learned</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学习；学问，知识</string>
		<key>question</key>
		<string>learning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最少的ad.最少</string>
		<key>question</key>
		<string>least</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皮革；皮革制品</string>
		<key>question</key>
		<string>leather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.离去vt.离开</string>
		<key>question</key>
		<string>leave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.演讲，讲课</string>
		<key>question</key>
		<string>lecture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.左边的ad.在左边</string>
		<key>question</key>
		<string>left</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腿，腿部</string>
		<key>question</key>
		<string>leg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.法律的；合法的</string>
		<key>question</key>
		<string>legal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.空闲时间；悠闲</string>
		<key>question</key>
		<string>leisure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…借给，贷(款)</string>
		<key>question</key>
		<string>lend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长，长度；一段</string>
		<key>question</key>
		<string>length</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.透镜，镜片；镜头</string>
		<key>question</key>
		<string>lens</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.更少的ad.更少地</string>
		<key>question</key>
		<string>less</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减少，减轻；缩小</string>
		<key>question</key>
		<string>lessen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.功课，课；课程</string>
		<key>question</key>
		<string>lesson</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.惟恐，以免</string>
		<key>question</key>
		<string>lest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.允许，让；使</string>
		<key>question</key>
		<string>let</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信；证书；字母</string>
		<key>question</key>
		<string>letter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水平面a.水平的</string>
		<key>question</key>
		<string>level</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杆，杠杆；控制杆</string>
		<key>question</key>
		<string>lever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.易于…的；可能的</string>
		<key>question</key>
		<string>liable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.心胸宽大的；慷慨的</string>
		<key>question</key>
		<string>liberal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解放；释放</string>
		<key>question</key>
		<string>liberate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自由；释放；许可</string>
		<key>question</key>
		<string>liberty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图书馆馆长</string>
		<key>question</key>
		<string>librarian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图书馆；藏书</string>
		<key>question</key>
		<string>library</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.许可；执照vt.准许</string>
		<key>question</key>
		<string>license</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盖子，盖，囊盖</string>
		<key>question</key>
		<string>lid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.说谎，欺骗n.谎话</string>
		<key>question</key>
		<string>lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.躺，平放；位于</string>
		<key>question</key>
		<string>lie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生命；一生；寿命</string>
		<key>question</key>
		<string>life</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一生，终身</string>
		<key>question</key>
		<string>lifetime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提起，提高n.电梯</string>
		<key>question</key>
		<string>lift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.轻的，少量的</string>
		<key>question</key>
		<string>light</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光，光线；灯，光源</string>
		<key>question</key>
		<string>light</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闪电，闪电放电</string>
		<key>question</key>
		<string>lightning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.像，如；像要</string>
		<key>question</key>
		<string>like</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
