<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.法国的n.法国人</string>
		<key>question</key>
		<string>ʃrench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.星期五</string>
		<key>question</key>
		<string>ʃriday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.稳定，稳定性，巩固</string>
		<key>question</key>
		<string>stability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.稳定的，不变的</string>
		<key>question</key>
		<string>stable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厩，马厩，牛棚</string>
		<key>question</key>
		<string>stable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堆，垛vt.堆积</string>
		<key>question</key>
		<string>stack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工作人员；参谋</string>
		<key>question</key>
		<string>staff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舞台；戏剧；阶段</string>
		<key>question</key>
		<string>stage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.沾污；给…着色</string>
		<key>question</key>
		<string>stain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.楼梯</string>
		<key>question</key>
		<string>stair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桩；赌金；奖品</string>
		<key>question</key>
		<string>stake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陈腐的；走了气的</string>
		<key>question</key>
		<string>stale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.静的；静态的</string>
		<key>question</key>
		<string>static</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.统计的，统计学的</string>
		<key>question</key>
		<string>statistical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.塑像，雕像，铸像</string>
		<key>question</key>
		<string>statue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地位，身分</string>
		<key>question</key>
		<string>status</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.稳固的vt.使稳定</string>
		<key>question</key>
		<string>steady</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蒸汽vi.蒸发vt.蒸</string>
		<key>question</key>
		<string>steam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轮船，汽船</string>
		<key>question</key>
		<string>steamer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钢，钢铁</string>
		<key>question</key>
		<string>steel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.险峻的，陡峭的</string>
		<key>question</key>
		<string>steep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.驾驶</string>
		<key>question</key>
		<string>steer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.茎，(树)干vi.起源</string>
		<key>question</key>
		<string>stem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粘性的；胶粘的</string>
		<key>question</key>
		<string>sticky</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.硬的；僵直的</string>
		<key>question</key>
		<string>stiff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.刺激，激励，激发</string>
		<key>question</key>
		<string>stimulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.刺；刺痛vi.&amp;n.刺</string>
		<key>question</key>
		<string>sting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.动；拨动；激动</string>
		<key>question</key>
		<string>stir</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原料；库存品；股本</string>
		<key>question</key>
		<string>stock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长(统)袜</string>
		<key>question</key>
		<string>stocking</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.俯身；弯身n.弯腰</string>
		<key>question</key>
		<string>stoop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贮藏；贮藏量</string>
		<key>question</key>
		<string>storage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贮藏；贮存品；商店</string>
		<key>question</key>
		<string>store</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(层)楼</string>
		<key>question</key>
		<string>storey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炉，火炉，电炉</string>
		<key>question</key>
		<string>stove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拉紧vi.尽力</string>
		<key>question</key>
		<string>strain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.陌生的；奇怪的</string>
		<key>question</key>
		<string>strange</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陌生人；新来者</string>
		<key>question</key>
		<string>stranger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.带子vt.捆扎</string>
		<key>question</key>
		<string>strap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.战略；策略</string>
		<key>question</key>
		<string>strategy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.稻草，麦杆吸管</string>
		<key>question</key>
		<string>straw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加强，巩固</string>
		<key>question</key>
		<string>strengthen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压力；重音vt.着重</string>
		<key>question</key>
		<string>stress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.伸展vi.伸n.伸展</string>
		<key>question</key>
		<string>stretch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.线，细绳；一串</string>
		<key>question</key>
		<string>string</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剥；夺去n.条带</string>
		<key>question</key>
		<string>strip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.条纹，条子</string>
		<key>question</key>
		<string>stripe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打，击；鸣声；中风</string>
		<key>question</key>
		<string>stroke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.抚，摩，捋</string>
		<key>question</key>
		<string>stroke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.结构的，构造的</string>
		<key>question</key>
		<string>structural</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
