<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.已婚的；婚姻的</string>
		<key>question</key>
		<string>married</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.娶，嫁vi.结婚</string>
		<key>question</key>
		<string>marry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.奇迹般的；了不起的</string>
		<key>question</key>
		<string>marvelous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.马克思主义的</string>
		<key>question</key>
		<string>Marxist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面具；伪装vt.掩饰</string>
		<key>question</key>
		<string>mask</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.众多；团；群众</string>
		<key>question</key>
		<string>mass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主人；能手；硕士</string>
		<key>question</key>
		<string>master</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.席子；草席；垫子</string>
		<key>question</key>
		<string>mat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(一根)火柴</string>
		<key>question</key>
		<string>match</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比赛，竞赛；对手</string>
		<key>question</key>
		<string>match</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伙伴，同事；配偶</string>
		<key>question</key>
		<string>mate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.材料；素材a.物质的</string>
		<key>question</key>
		<string>material</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.数学的，数学上的</string>
		<key>question</key>
		<string>mathematical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.数学</string>
		<key>question</key>
		<string>mathematics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(英)数学</string>
		<key>question</key>
		<string>maths</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事情；物质vi.要紧</string>
		<key>question</key>
		<string>matter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.成熟的vt.使成熟</string>
		<key>question</key>
		<string>mature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.最大量a.最大的</string>
		<key>question</key>
		<string>maximum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.五月</string>
		<key>question</key>
		<string>May</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.可能；可以，祝</string>
		<key>question</key>
		<string>may</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.大概，或许；也许</string>
		<key>question</key>
		<string>maybe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.市长</string>
		<key>question</key>
		<string>mayor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.湿润的；多雨的</string>
		<key>question</key>
		<string>moist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.潮湿，湿气；温度</string>
		<key>question</key>
		<string>moisture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.(宾格)我</string>
		<key>question</key>
		<string>me</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.膳食，一餐</string>
		<key>question</key>
		<string>meal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平均的n.平均值</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自私的；吝啬的</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.作…解释；意指</string>
		<key>question</key>
		<string>mean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意义，意思；意图</string>
		<key>question</key>
		<string>meaning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方法，手段，工具</string>
		<key>question</key>
		<string>means</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.其时，其间ad.当时</string>
		<key>question</key>
		<string>meantime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.同时，当时</string>
		<key>question</key>
		<string>meanwhile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.量，测量n.分量</string>
		<key>question</key>
		<string>measure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衡量，测量；尺寸</string>
		<key>question</key>
		<string>measurement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肉</string>
		<key>question</key>
		<string>meat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.技工，机械，机修工</string>
		<key>question</key>
		<string>mechanic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.机械的；力学的</string>
		<key>question</key>
		<string>mechanical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.力学；技术性细节</string>
		<key>question</key>
		<string>mechanics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.医学的；内科的</string>
		<key>question</key>
		<string>medical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.内服药；医学</string>
		<key>question</key>
		<string>medicine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.媒质；中间a.中等的</string>
		<key>question</key>
		<string>medium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遇见vi.相遇</string>
		<key>question</key>
		<string>meet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.聚集，会合，会见</string>
		<key>question</key>
		<string>meeting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.融化vt.使融化</string>
		<key>question</key>
		<string>melt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成员，会员</string>
		<key>question</key>
		<string>member</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.纪念的；记忆的</string>
		<key>question</key>
		<string>memorial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记忆；回忆；存储</string>
		<key>question</key>
		<string>memory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.修理，修补，缝补</string>
		<key>question</key>
		<string>mend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.智力的；精神的</string>
		<key>question</key>
		<string>mental</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
