<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.收集vi.收款</string>
		<key>question</key>
		<string>collect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.搜集，收集；收藏品</string>
		<key>question</key>
		<string>collection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.集体的；集合性的</string>
		<key>question</key>
		<string>collective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学院；大学</string>
		<key>question</key>
		<string>college</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碰撞；冲突</string>
		<key>question</key>
		<string>collision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.殖民地；侨居地</string>
		<key>question</key>
		<string>colony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.颜色，彩色；颜料</string>
		<key>question</key>
		<string>color</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柱，支柱，圆柱</string>
		<key>question</key>
		<string>column</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.梳子vt.梳理</string>
		<key>question</key>
		<string>comb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结合，联合；化合</string>
		<key>question</key>
		<string>combination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使结合；兼有</string>
		<key>question</key>
		<string>combine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.来，来到；出现</string>
		<key>question</key>
		<string>come</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舒适；安慰vt.安慰</string>
		<key>question</key>
		<string>comfort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.舒适的，安慰的</string>
		<key>question</key>
		<string>comfortable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.命令，指挥；控制</string>
		<key>question</key>
		<string>command</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.司令官，指挥员</string>
		<key>question</key>
		<string>commander</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.评论，意见；注释</string>
		<key>question</key>
		<string>comment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商业，贸易；社交</string>
		<key>question</key>
		<string>commerce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.商业的；商品化的</string>
		<key>question</key>
		<string>commercial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.委任状；委员会</string>
		<key>question</key>
		<string>commission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.犯(错误);干(坏事)</string>
		<key>question</key>
		<string>commit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.委员会；全体委员</string>
		<key>question</key>
		<string>committee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.普通的；共同的</string>
		<key>question</key>
		<string>common</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.通讯；传达；传播</string>
		<key>question</key>
		<string>communicate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通讯；传达；交通</string>
		<key>question</key>
		<string>communication</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共产主义</string>
		<key>question</key>
		<string>communism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共产党员</string>
		<key>question</key>
		<string>communist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社区；社会；公社</string>
		<key>question</key>
		<string>community</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同伴；共事者；伴侣</string>
		<key>question</key>
		<string>companion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公司，商号；同伴</string>
		<key>question</key>
		<string>company</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.比较的，相对的</string>
		<key>question</key>
		<string>comparative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.比较，对照；比作</string>
		<key>question</key>
		<string>compare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比较，对照；比似</string>
		<key>question</key>
		<string>comparison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罗盘，指南针；圆规</string>
		<key>question</key>
		<string>compass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.强迫，迫使屈服</string>
		<key>question</key>
		<string>compel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.比赛；竞争；对抗</string>
		<key>question</key>
		<string>compete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有能力的；应该做的</string>
		<key>question</key>
		<string>competent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竞争，比赛</string>
		<key>question</key>
		<string>competition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.抱怨，拆苦；控告</string>
		<key>question</key>
		<string>complain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抱怨；怨言；控告</string>
		<key>question</key>
		<string>complaint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.完整的；完成的</string>
		<key>question</key>
		<string>complete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.结合的；复杂的</string>
		<key>question</key>
		<string>complex</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.复杂的，难懂的</string>
		<key>question</key>
		<string>complicated</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.组成部分；分；组件</string>
		<key>question</key>
		<string>component</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.组成，构成；创作</string>
		<key>question</key>
		<string>compose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.构成；作品；写作</string>
		<key>question</key>
		<string>composition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.化合物；复合词</string>
		<key>question</key>
		<string>compound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理解，理解力；领悟</string>
		<key>question</key>
		<string>comprehension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.广泛的；理解的</string>
		<key>question</key>
		<string>comprehensive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压紧，压缩</string>
		<key>question</key>
		<string>compress</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
