<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.操场，运动场</string>
		<key>question</key>
		<string>playground</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.令人愉快的，舒适的</string>
		<key>question</key>
		<string>pleasant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使高兴，请vi.满意</string>
		<key>question</key>
		<string>please</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.愉快，快乐；乐事</string>
		<key>question</key>
		<string>pleasure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.丰富的，富裕的</string>
		<key>question</key>
		<string>plentiful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丰富，充足，大量</string>
		<key>question</key>
		<string>plenty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小块土地vt.密谋</string>
		<key>question</key>
		<string>plot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.犁vt.&amp;vi.犁，耕</string>
		<key>question</key>
		<string>plough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.塞子；插头vt.塞</string>
		<key>question</key>
		<string>plug</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使投入；使陷入</string>
		<key>question</key>
		<string>plunge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.复数的n.复数</string>
		<key>question</key>
		<string>plural</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.加，加上a.正的</string>
		<key>question</key>
		<string>plus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣袋n.袖珍的</string>
		<key>question</key>
		<string>pocket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗，韵文，诗体文</string>
		<key>question</key>
		<string>poem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗人</string>
		<key>question</key>
		<string>poet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗，诗歌，诗作</string>
		<key>question</key>
		<string>poetry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杆，柱</string>
		<key>question</key>
		<string>pole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.极(点)，磁极，电极</string>
		<key>question</key>
		<string>pole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.警察；警察当局</string>
		<key>question</key>
		<string>police</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.警察</string>
		<key>question</key>
		<string>policeman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政策，方针</string>
		<key>question</key>
		<string>policy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.磨光；使优美</string>
		<key>question</key>
		<string>polish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有礼貌的；有教养的</string>
		<key>question</key>
		<string>polite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.政治的，政治上的</string>
		<key>question</key>
		<string>political</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政治家；政客</string>
		<key>question</key>
		<string>politician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政治，政治学；政纲</string>
		<key>question</key>
		<string>politics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.弄脏，污染，沾污</string>
		<key>question</key>
		<string>pollute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.污染</string>
		<key>question</key>
		<string>pollution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.池塘</string>
		<key>question</key>
		<string>pond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共用物vt.共有</string>
		<key>question</key>
		<string>pool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水塘，游泳池，水池</string>
		<key>question</key>
		<string>pool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.贫穷的；贫乏的</string>
		<key>question</key>
		<string>poor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流行音乐，流行歌曲</string>
		<key>question</key>
		<string>pop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.砰的一声，爆破声</string>
		<key>question</key>
		<string>pop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.民众的；流行的</string>
		<key>question</key>
		<string>popular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人口；全体居民</string>
		<key>question</key>
		<string>population</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猪肉</string>
		<key>question</key>
		<string>pork</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.港，港口</string>
		<key>question</key>
		<string>port</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.轻便的；手提的</string>
		<key>question</key>
		<string>portable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.搬运工人</string>
		<key>question</key>
		<string>porter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一部分；一分</string>
		<key>question</key>
		<string>portion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消像，画像</string>
		<key>question</key>
		<string>portrait</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.位置；职位；姿势</string>
		<key>question</key>
		<string>position</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.确定的；积极的</string>
		<key>question</key>
		<string>positive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.占用，拥有(财产)</string>
		<key>question</key>
		<string>possess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有，所有；占有物</string>
		<key>question</key>
		<string>possession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能；可能的事</string>
		<key>question</key>
		<string>possibility</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可能的；可能存在的</string>
		<key>question</key>
		<string>possible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.可能地；也许</string>
		<key>question</key>
		<string>possibly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮政，邮寄；邮件</string>
		<key>question</key>
		<string>post</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
