<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.追上，赶上；压倒</string>
		<key>question</key>
		<string>overtake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.欠；应把…归功于</string>
		<key>question</key>
		<string>owe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猫头鹰，枭</string>
		<key>question</key>
		<string>owl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自己的vt.有，拥有</string>
		<key>question</key>
		<string>own</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物主，所有人</string>
		<key>question</key>
		<string>owner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.所有(权)，所有制</string>
		<key>question</key>
		<string>ownership</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牛；公牛，阉牛</string>
		<key>question</key>
		<string>ox</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.氧气</string>
		<key>question</key>
		<string>oxygen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.步，步速vi.踱步</string>
		<key>question</key>
		<string>pace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.和平的n.太平洋</string>
		<key>question</key>
		<string>pacific</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捆扎；挤满n.包</string>
		<key>question</key>
		<string>pack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.包裹，包，捆</string>
		<key>question</key>
		<string>package</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小包(裹)，小捆</string>
		<key>question</key>
		<string>packet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.垫；本子vt.填塞</string>
		<key>question</key>
		<string>pad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.页</string>
		<key>question</key>
		<string>page</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.痛，疼痛；辛苦</string>
		<key>question</key>
		<string>pain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.使痛的；费力的</string>
		<key>question</key>
		<string>painful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.画；油漆vi.绘画</string>
		<key>question</key>
		<string>paint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漆工，画家，绘画者</string>
		<key>question</key>
		<string>painter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.油画；绘画；着色</string>
		<key>question</key>
		<string>painting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一对vi.成对，配对</string>
		<key>question</key>
		<string>pair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宫，宫殿</string>
		<key>question</key>
		<string>palace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.苍白的；浅的</string>
		<key>question</key>
		<string>pale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手掌，手心；掌状物</string>
		<key>question</key>
		<string>palm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平底锅，盘子</string>
		<key>question</key>
		<string>pan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专门小组；面，板</string>
		<key>question</key>
		<string>panel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纸；官方文件；文章</string>
		<key>question</key>
		<string>paper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.游行；检阅vi.游行</string>
		<key>question</key>
		<string>parade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(文章的)段，节</string>
		<key>question</key>
		<string>paragraph</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平行的；相同的</string>
		<key>question</key>
		<string>parallel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.包裹，小包，邮包</string>
		<key>question</key>
		<string>parcel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原谅；赦免vt.原谅</string>
		<key>question</key>
		<string>pardon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.父亲，母亲，双亲</string>
		<key>question</key>
		<string>parent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公园；停车场</string>
		<key>question</key>
		<string>park</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.议会，国会</string>
		<key>question</key>
		<string>parliament</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一部分；零件；本份</string>
		<key>question</key>
		<string>part</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.部分的；不公平的</string>
		<key>question</key>
		<string>partial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.参与，参加；分享</string>
		<key>question</key>
		<string>participate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粒子，微粒</string>
		<key>question</key>
		<string>particle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特殊的；特定的</string>
		<key>question</key>
		<string>particular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.特别，尤其，格外</string>
		<key>question</key>
		<string>particularly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.部分地，不完全地</string>
		<key>question</key>
		<string>partly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伙伴；搭挡；配偶</string>
		<key>question</key>
		<string>partner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.党，党派；聚会</string>
		<key>question</key>
		<string>party</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.经过；通过；度过</string>
		<key>question</key>
		<string>pass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通过；通路，通道</string>
		<key>question</key>
		<string>passage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乘客，旅客，过路人</string>
		<key>question</key>
		<string>passenger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.激情，热情；爱好</string>
		<key>question</key>
		<string>passion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.被动的；消极的</string>
		<key>question</key>
		<string>passive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.护照</string>
		<key>question</key>
		<string>passport</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
