<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.附加语；标签</string>
		<key>question</key>
		<string>tag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裁缝vt.裁制衣服</string>
		<key>question</key>
		<string>tailor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.故事，传说</string>
		<key>question</key>
		<string>tale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天才；才能；人才</string>
		<key>question</key>
		<string>talent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.讲话vt.谈论</string>
		<key>question</key>
		<string>talk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.驯服的；顺从的</string>
		<key>question</key>
		<string>tame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坦克；大容器，槽</string>
		<key>question</key>
		<string>tank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.塞子；龙头vt.开发</string>
		<key>question</key>
		<string>tap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.轻叩</string>
		<key>question</key>
		<string>tap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.味觉，品味</string>
		<key>question</key>
		<string>taste</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厕所，盥洗室，浴室</string>
		<key>question</key>
		<string>toilet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.技术的，工艺的</string>
		<key>question</key>
		<string>technical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.技术员，技师</string>
		<key>question</key>
		<string>technician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.冗长乏味的，沉闷的</string>
		<key>question</key>
		<string>tedious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电报</string>
		<key>question</key>
		<string>telegram</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.望远镜</string>
		<key>question</key>
		<string>telescope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圣堂，神殿，庙宇</string>
		<key>question</key>
		<string>temple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.暂时的，临时的</string>
		<key>question</key>
		<string>temporary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引诱，诱惑；吸引</string>
		<key>question</key>
		<string>tempt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诱惑，引诱</string>
		<key>question</key>
		<string>temptation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.走向，趋向；倾向</string>
		<key>question</key>
		<string>tend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.照管，照料，护理</string>
		<key>question</key>
		<string>tend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.趋向，趋势，倾向</string>
		<key>question</key>
		<string>tendency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.嫩的；脆弱的</string>
		<key>question</key>
		<string>tender</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.拉紧的，绷紧的</string>
		<key>question</key>
		<string>tense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时态，时</string>
		<key>question</key>
		<string>tense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.紧张,不安,拉紧,张力</string>
		<key>question</key>
		<string>tension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.末端的n.末端</string>
		<key>question</key>
		<string>terminal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可怕的；极度的</string>
		<key>question</key>
		<string>terrible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领土，版图；领域</string>
		<key>question</key>
		<string>territory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐怖，惊骇</string>
		<key>question</key>
		<string>terror</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纺织品a.纺织的</string>
		<key>question</key>
		<string>textile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.理论(上)的</string>
		<key>question</key>
		<string>theoretical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因此，从而，由此</string>
		<key>question</key>
		<string>thereby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因此，所以【绝对不可以直接连接两个独立的句子】</string>
		<key>question</key>
		<string>therefore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.温度计，寒暑表</string>
		<key>question</key>
		<string>thermometer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厚(度)；密(度)</string>
		<key>question</key>
		<string>thickness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.彻底的；详尽的</string>
		<key>question</key>
		<string>thorough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.沉思的；体贴的</string>
		<key>question</key>
		<string>thoughtful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.线；丝；螺纹；头绪</string>
		<key>question</key>
		<string>thread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.威胁，恐吓，凶兆</string>
		<key>question</key>
		<string>threat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.威胁，恐吓</string>
		<key>question</key>
		<string>threaten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.兴旺，繁荣，旺盛</string>
		<key>question</key>
		<string>thrive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咽喉，喉咙；嗓音</string>
		<key>question</key>
		<string>throat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.遍及ad.到处</string>
		<key>question</key>
		<string>throughout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.插，刺n.插；讽刺</string>
		<key>question</key>
		<string>thrust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雷vi.打雷vt.吼出</string>
		<key>question</key>
		<string>thunder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.如此，这样；因而</string>
		<key>question</key>
		<string>thus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.潮，潮汐；潮流</string>
		<key>question</key>
		<string>tide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.整洁的；整齐的</string>
		<key>question</key>
		<string>tidy</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
