<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.饿，饥饿；渴望</string>
		<key>question</key>
		<string>hunger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.饥饿的；渴望的</string>
		<key>question</key>
		<string>hungry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打猎；搜寻vt.追猎</string>
		<key>question</key>
		<string>hunt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.赶紧vt.催促</string>
		<key>question</key>
		<string>hurry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使受伤；使痛心</string>
		<key>question</key>
		<string>hurt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丈夫</string>
		<key>question</key>
		<string>husband</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小屋，棚屋</string>
		<key>question</key>
		<string>hut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.氢</string>
		<key>question</key>
		<string>hydrogen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.(主格)我</string>
		<key>question</key>
		<string>I</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰，冰块vt.冰镇</string>
		<key>question</key>
		<string>ice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰淇淋</string>
		<key>question</key>
		<string>ice-cream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.想法；思想；意见</string>
		<key>question</key>
		<string>idea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.理想的；观念的</string>
		<key>question</key>
		<string>ideal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.完全相同的；同一的</string>
		<key>question</key>
		<string>identical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.认出，识别，鉴定</string>
		<key>question</key>
		<string>identify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空闲的；懒散的</string>
		<key>question</key>
		<string>idle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.假如，如果</string>
		<key>question</key>
		<string>if</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不知道的；无知的</string>
		<key>question</key>
		<string>ignorant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.不顾，不理，忽视</string>
		<key>question</key>
		<string>ignore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有病的；坏的ad.坏</string>
		<key>question</key>
		<string>ill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不合法的，非法的</string>
		<key>question</key>
		<string>illegal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.病，疾病</string>
		<key>question</key>
		<string>illness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(用图等)说明</string>
		<key>question</key>
		<string>illustrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.说明，图解；例证</string>
		<key>question</key>
		<string>illustration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.像；形象；映象</string>
		<key>question</key>
		<string>image</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.想象中的，假想的</string>
		<key>question</key>
		<string>imaginary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.想象；想象力；空想</string>
		<key>question</key>
		<string>imagination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.想象，设想；料想</string>
		<key>question</key>
		<string>imagine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.模仿，仿效；仿制</string>
		<key>question</key>
		<string>imitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.立即的；直接的</string>
		<key>question</key>
		<string>immediate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巨大的；极好的</string>
		<key>question</key>
		<string>immense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移民a.移民的</string>
		<key>question</key>
		<string>immigrant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.影响，作用；冲击</string>
		<key>question</key>
		<string>impact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不耐烦的，急躁的</string>
		<key>question</key>
		<string>impatient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.含义，暗示，暗指</string>
		<key>question</key>
		<string>implication</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.暗示，意指</string>
		<key>question</key>
		<string>imply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.输入，进口</string>
		<key>question</key>
		<string>import</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重要；重要性</string>
		<key>question</key>
		<string>importance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.重要的；有势力的</string>
		<key>question</key>
		<string>important</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…强加；征(税)</string>
		<key>question</key>
		<string>impose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不可能的，办不到的</string>
		<key>question</key>
		<string>impossible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…深刻印象</string>
		<key>question</key>
		<string>impress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印；印象；印记</string>
		<key>question</key>
		<string>impression</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.给人印象深刻的</string>
		<key>question</key>
		<string>impressive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使更好vi.改善</string>
		<key>question</key>
		<string>improve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.改进，改善；改进处</string>
		<key>question</key>
		<string>improvement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…里ad.进，入</string>
		<key>question</key>
		<string>in</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.英寸</string>
		<key>question</key>
		<string>inch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发生的事；事件</string>
		<key>question</key>
		<string>incident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斜坡vt.使倾斜</string>
		<key>question</key>
		<string>incline</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
