<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.提及，说起</string>
		<key>question</key>
		<string>mention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.菜单；饭菜，菜肴</string>
		<key>question</key>
		<string>menu</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商人；零售商</string>
		<key>question</key>
		<string>merchant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水星</string>
		<key>question</key>
		<string>Mercury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水银，汞</string>
		<key>question</key>
		<string>mercury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仁慈，慈悲，恩惠</string>
		<key>question</key>
		<string>mercy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.仅仅的；纯粹的</string>
		<key>question</key>
		<string>mere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.仅仅，只不过</string>
		<key>question</key>
		<string>merely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长处，优点；功过</string>
		<key>question</key>
		<string>merit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.欢乐的，愉快的</string>
		<key>question</key>
		<string>merry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信息，消息；启示</string>
		<key>question</key>
		<string>message</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.金属，金属制品</string>
		<key>question</key>
		<string>metal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计量器，计，表</string>
		<key>question</key>
		<string>meter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方法，办法；教学法</string>
		<key>question</key>
		<string>method</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.米，公尺</string>
		<key>question</key>
		<string>metre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.公制的，米制的</string>
		<key>question</key>
		<string>metric</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.话筒，麦克风</string>
		<key>question</key>
		<string>microphone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.显微镜</string>
		<key>question</key>
		<string>microscope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.中部a.中部的</string>
		<key>question</key>
		<string>middle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.午夜，子夜，夜半</string>
		<key>question</key>
		<string>midnight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.力量，威力，能力</string>
		<key>question</key>
		<string>might</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.可能，会，也许</string>
		<key>question</key>
		<string>might</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.和缓的；温柔的</string>
		<key>question</key>
		<string>mild</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.英里</string>
		<key>question</key>
		<string>mile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.军事的；军人的</string>
		<key>question</key>
		<string>military</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乳，牛奶vt.挤(奶)</string>
		<key>question</key>
		<string>milk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磨坊；制造厂</string>
		<key>question</key>
		<string>mill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毫米</string>
		<key>question</key>
		<string>millimetre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.百万n.许多</string>
		<key>question</key>
		<string>million</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.头脑；理智；记忆</string>
		<key>question</key>
		<string>mind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿，矿山；地雷</string>
		<key>question</key>
		<string>mine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我的</string>
		<key>question</key>
		<string>mine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矿物a.矿物的</string>
		<key>question</key>
		<string>mineral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.最小量a.最小的</string>
		<key>question</key>
		<string>minimum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.部长，大臣；公使</string>
		<key>question</key>
		<string>minister</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(政府的)部</string>
		<key>question</key>
		<string>ministry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.较小的；较次要的</string>
		<key>question</key>
		<string>minor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少数；少数民族</string>
		<key>question</key>
		<string>minority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.负的prep.减(去)</string>
		<key>question</key>
		<string>minus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.微细的；详细的</string>
		<key>question</key>
		<string>minute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分，分钟；一会儿</string>
		<key>question</key>
		<string>minute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奇迹，令人惊奇的人</string>
		<key>question</key>
		<string>miracle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.镜子vt.反映，反射</string>
		<key>question</key>
		<string>mirror</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.痛苦的，悲惨的</string>
		<key>question</key>
		<string>miserable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使误入岐途</string>
		<key>question</key>
		<string>mislead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小姐</string>
		<key>question</key>
		<string>miss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.未看到；惦念</string>
		<key>question</key>
		<string>miss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发射物；导弹</string>
		<key>question</key>
		<string>missile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.缺掉的，失去的</string>
		<key>question</key>
		<string>missing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.使命，任务；使团</string>
		<key>question</key>
		<string>mission</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
