<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.爱，喜欢n.爱</string>
		<key>question</key>
		<string>love</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可爱的；令人愉快的</string>
		<key>question</key>
		<string>lovely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爱好者；情人；情侣</string>
		<key>question</key>
		<string>lover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.低的，矮的；低下的</string>
		<key>question</key>
		<string>low</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.较低的vt.放下</string>
		<key>question</key>
		<string>lower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.忠诚的，忠心的</string>
		<key>question</key>
		<string>loyal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.忠诚，忠心</string>
		<key>question</key>
		<string>loyalty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运气；好运，幸运</string>
		<key>question</key>
		<string>luck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.幸运的；吉祥的</string>
		<key>question</key>
		<string>lucky</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行李；皮箱，皮包</string>
		<key>question</key>
		<string>luggage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.团，块；肿块</string>
		<key>question</key>
		<string>lump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.午餐，(美)便餐</string>
		<key>question</key>
		<string>lunch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肺脏，肺</string>
		<key>question</key>
		<string>lung</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奢侈，奢华；奢侈品</string>
		<key>question</key>
		<string>luxury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机器；机械</string>
		<key>question</key>
		<string>machine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机器,机关,结构</string>
		<key>question</key>
		<string>machinery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.发疯的；恼火的</string>
		<key>question</key>
		<string>mad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杂志，期刊</string>
		<key>question</key>
		<string>magazine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.魔法，巫术；戏法</string>
		<key>question</key>
		<string>magic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磁铁，磁石，磁体</string>
		<key>question</key>
		<string>magnet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.磁的，有吸引力的</string>
		<key>question</key>
		<string>magnetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.壮丽的；华丽的</string>
		<key>question</key>
		<string>magnificent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女佣，女仆；少女</string>
		<key>question</key>
		<string>maid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮件vt.邮寄</string>
		<key>question</key>
		<string>mail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.主要的，最重要的</string>
		<key>question</key>
		<string>main</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大陆</string>
		<key>question</key>
		<string>mainland</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.维持；赡养；维修</string>
		<key>question</key>
		<string>maintain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.维持，保持；维修</string>
		<key>question</key>
		<string>maintenance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.较大的n.专业</string>
		<key>question</key>
		<string>major</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.多数，大多数</string>
		<key>question</key>
		<string>majority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使；做，制造</string>
		<key>question</key>
		<string>make</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.男的，雄的n.男子</string>
		<key>question</key>
		<string>male</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.男人；人；人类</string>
		<key>question</key>
		<string>man</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.管理；设法；对付</string>
		<key>question</key>
		<string>manage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管理；经营，处理</string>
		<key>question</key>
		<string>management</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.经理，管理人</string>
		<key>question</key>
		<string>manager</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人类</string>
		<key>question</key>
		<string>mankind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方式；态度；礼貌</string>
		<key>question</key>
		<string>manner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.体力的n.手册</string>
		<key>question</key>
		<string>manual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.制造n.制造；产品</string>
		<key>question</key>
		<string>manufacture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.制造商；制造厂</string>
		<key>question</key>
		<string>manufacturer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.许多的pron.许多人</string>
		<key>question</key>
		<string>many</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地图；图；天体图</string>
		<key>question</key>
		<string>map</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.三月</string>
		<key>question</key>
		<string>March</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.行军；游行示威</string>
		<key>question</key>
		<string>march</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.页边的空白；边缘</string>
		<key>question</key>
		<string>margin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.海的；海上的</string>
		<key>question</key>
		<string>marine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斑点；记号vt.标明</string>
		<key>question</key>
		<string>mark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.市场；集市；销路</string>
		<key>question</key>
		<string>market</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结婚，婚姻；婚礼</string>
		<key>question</key>
		<string>marriage</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
