<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.音乐，乐曲，乐谱</string>
		<key>question</key>
		<string>music</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.音乐的；和谐的</string>
		<key>question</key>
		<string>musical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.音乐家；作曲家</string>
		<key>question</key>
		<string>musician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.必须；必然要</string>
		<key>question</key>
		<string>must</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相互的；共同的</string>
		<key>question</key>
		<string>mutual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我的</string>
		<key>question</key>
		<string>my</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.我自己；我亲自</string>
		<key>question</key>
		<string>myself</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.神秘的；难以理解的</string>
		<key>question</key>
		<string>mysterious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神秘；神秘的事物</string>
		<key>question</key>
		<string>mystery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钉；指甲vt.钉</string>
		<key>question</key>
		<string>nail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.裸体的；无遮敝的</string>
		<key>question</key>
		<string>naked</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名字；名誉vt.说出</string>
		<key>question</key>
		<string>name</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.即，也就是</string>
		<key>question</key>
		<string>namely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.狭的，狭窄的</string>
		<key>question</key>
		<string>narrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.民族；国家</string>
		<key>question</key>
		<string>nation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.民族的；国家的</string>
		<key>question</key>
		<string>national</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.国籍；民族，族</string>
		<key>question</key>
		<string>nationality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.本土的n.本地人</string>
		<key>question</key>
		<string>native</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自然界的；天然的</string>
		<key>question</key>
		<string>natural</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.自然地；天然地</string>
		<key>question</key>
		<string>naturally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大自然；本性；性质</string>
		<key>question</key>
		<string>nature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海军的，军舰的</string>
		<key>question</key>
		<string>naval</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航行；航海术；导航</string>
		<key>question</key>
		<string>navigation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海军</string>
		<key>question</key>
		<string>navy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喧闹声；响声；噪声</string>
		<key>question</key>
		<string>noise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.嘈杂的；喧闹的</string>
		<key>question</key>
		<string>noisy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.近，接近a.近的</string>
		<key>question</key>
		<string>near</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.附近的ad.在附近</string>
		<key>question</key>
		<string>nearby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.差不多；密切地</string>
		<key>question</key>
		<string>nearly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.整洁的；熟练的</string>
		<key>question</key>
		<string>neat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.必然，必定</string>
		<key>question</key>
		<string>necessarily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.必要的；必然的</string>
		<key>question</key>
		<string>necessary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.必要性；必然性</string>
		<key>question</key>
		<string>necessity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.颈，脖子</string>
		<key>question</key>
		<string>neck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.需要v.aux.需要</string>
		<key>question</key>
		<string>need</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.针，缝补，编织针</string>
		<key>question</key>
		<string>needle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.否定的；消极的</string>
		<key>question</key>
		<string>negative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.忽视，忽略；疏忽</string>
		<key>question</key>
		<string>neglect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邻居，邻国，邻人</string>
		<key>question</key>
		<string>neighbour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邻居关系；邻近</string>
		<key>question</key>
		<string>neighbourhood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(两者)都不的</string>
		<key>question</key>
		<string>neither</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侄子，外甥</string>
		<key>question</key>
		<string>nephew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神经；勇敢，胆量</string>
		<key>question</key>
		<string>nerve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.神经的；易激动的</string>
		<key>question</key>
		<string>nervous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巢，窝，穴</string>
		<key>question</key>
		<string>nest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网，网状物；通信网</string>
		<key>question</key>
		<string>net</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网状物；网络</string>
		<key>question</key>
		<string>network</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.中立的；中性的</string>
		<key>question</key>
		<string>neutral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.永不，决不；不</string>
		<key>question</key>
		<string>never</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.然而ad.仍然</string>
		<key>question</key>
		<string>nevertheless</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
