<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.阶段；方面；相位</string>
		<key>question</key>
		<string>phase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.现象</string>
		<key>question</key>
		<string>phenomenon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.哲学家</string>
		<key>question</key>
		<string>philosopher</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.哲学；哲理；人生观</string>
		<key>question</key>
		<string>philosophy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电话，电话机；耳机</string>
		<key>question</key>
		<string>phone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.照片，相片</string>
		<key>question</key>
		<string>photo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.照片，相片</string>
		<key>question</key>
		<string>photograph</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.短语；习惯用语</string>
		<key>question</key>
		<string>phrase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.物质的；物理的</string>
		<key>question</key>
		<string>physical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.医生，内科医生</string>
		<key>question</key>
		<string>physician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物理学家</string>
		<key>question</key>
		<string>physicist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物理学</string>
		<key>question</key>
		<string>physics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钢琴</string>
		<key>question</key>
		<string>piano</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.镐，鹤嘴锄</string>
		<key>question</key>
		<string>pick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拾，摘vi.采摘</string>
		<key>question</key>
		<string>pick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.郊游，野餐vi.野餐</string>
		<key>question</key>
		<string>picnic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.画，图片vt.画</string>
		<key>question</key>
		<string>picture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(西点)馅饼</string>
		<key>question</key>
		<string>pie</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碎片，块vt.拼合</string>
		<key>question</key>
		<string>piece</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剌穿vi.穿入</string>
		<key>question</key>
		<string>pierce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猪，小猪，野猪</string>
		<key>question</key>
		<string>pig</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鸽子</string>
		<key>question</key>
		<string>pigeon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堆vt.堆叠，累积</string>
		<key>question</key>
		<string>pile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药丸，丸剂</string>
		<key>question</key>
		<string>pill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柱，柱子；栋梁</string>
		<key>question</key>
		<string>pillar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.枕头</string>
		<key>question</key>
		<string>pillow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领航员；飞行员</string>
		<key>question</key>
		<string>pilot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.针，饰针n.别住</string>
		<key>question</key>
		<string>pin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捏，拧，掐掉</string>
		<key>question</key>
		<string>pinch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.松树，松木</string>
		<key>question</key>
		<string>pine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粉红色a.粉红色的</string>
		<key>question</key>
		<string>pink</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.品脱</string>
		<key>question</key>
		<string>pint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拓荒者；先驱者</string>
		<key>question</key>
		<string>pioneer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管子，导管；烟斗</string>
		<key>question</key>
		<string>pipe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坑，地坑；煤矿</string>
		<key>question</key>
		<string>pit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沥青</string>
		<key>question</key>
		<string>pitch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.投，掷vi.投掷</string>
		<key>question</key>
		<string>pitch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怜悯；遗憾vt.同情</string>
		<key>question</key>
		<string>pity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地方，地点；住所</string>
		<key>question</key>
		<string>place</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平原a.清楚的</string>
		<key>question</key>
		<string>plain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.计划，打算</string>
		<key>question</key>
		<string>plan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平面；飞机</string>
		<key>question</key>
		<string>plane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行星</string>
		<key>question</key>
		<string>planet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.植物；工厂vt.栽种</string>
		<key>question</key>
		<string>plant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种植园；栽植</string>
		<key>question</key>
		<string>plantation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可塑的n.塑料</string>
		<key>question</key>
		<string>plastic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.板，片，盘vt.电镀</string>
		<key>question</key>
		<string>plate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平台；站台；讲台</string>
		<key>question</key>
		<string>platform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.玩，游戏；演奏</string>
		<key>question</key>
		<string>play</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.游戏的人；比赛者</string>
		<key>question</key>
		<string>player</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
