<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.材料vt.装，填，塞</string>
		<key>question</key>
		<string>stuff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.水下的n.潜水艇</string>
		<key>question</key>
		<string>submarine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.浸没vi.潜入水中</string>
		<key>question</key>
		<string>submerge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使服从vi.服从</string>
		<key>question</key>
		<string>submit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.随后的，后来的</string>
		<key>question</key>
		<string>subsequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物质；实质；本旨</string>
		<key>question</key>
		<string>substance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.物质的；坚固的</string>
		<key>question</key>
		<string>substantial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代替人vt.用…代替</string>
		<key>question</key>
		<string>substitute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减，减去，去掉</string>
		<key>question</key>
		<string>subtract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地道；地下铁路</string>
		<key>question</key>
		<string>subway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连续；继任，继承</string>
		<key>question</key>
		<string>succession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.连续的；接连的</string>
		<key>question</key>
		<string>successive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吸，吮，啜；吸收</string>
		<key>question</key>
		<string>suck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.足够的，充分的</string>
		<key>question</key>
		<string>sufficient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起拆，诉讼【其动词形式为sue】vt.适合</string>
		<key>question</key>
		<string>suit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.硫(磺)，硫黄</string>
		<key>question</key>
		<string>sulfur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.硫(磺)，硫黄</string>
		<key>question</key>
		<string>sulphur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总数；金额vi.共计</string>
		<key>question</key>
		<string>sum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.概括，概述，总结</string>
		<key>question</key>
		<string>summarize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.表面的；肤浅的</string>
		<key>question</key>
		<string>superficial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.较高的；优越的</string>
		<key>question</key>
		<string>superior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.增补，补充</string>
		<key>question</key>
		<string>supplement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.猜想；假定；让</string>
		<key>question</key>
		<string>suppose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最高的；最大的</string>
		<key>question</key>
		<string>supreme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外科，外科手术</string>
		<key>question</key>
		<string>surgery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.交出vi.投降</string>
		<key>question</key>
		<string>surrender</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周围的事物，环境</string>
		<key>question</key>
		<string>surroundings</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.俯瞰；检查；测量</string>
		<key>question</key>
		<string>survey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.幸免于vi.活下来</string>
		<key>question</key>
		<string>survive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.怀疑vi.疑心</string>
		<key>question</key>
		<string>suspect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吊，悬；推迟</string>
		<key>question</key>
		<string>suspend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怀疑，疑心，猜疑</string>
		<key>question</key>
		<string>suspicion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>adj.怀疑的；可疑的</string>
		<key>question</key>
		<string>suspicious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.支撑；供养；忍受</string>
		<key>question</key>
		<string>sustain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.燕子</string>
		<key>question</key>
		<string>swallow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.吞下，咽下</string>
		<key>question</key>
		<string>swallow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.摇动vt.摇；摇动</string>
		<key>question</key>
		<string>sway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.宣(誓)vi.诅咒</string>
		<key>question</key>
		<string>swear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厚运动衫，毛线衫</string>
		<key>question</key>
		<string>sweater</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.扫；刮起；扫过</string>
		<key>question</key>
		<string>sweep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.膨胀；隆起；增长</string>
		<key>question</key>
		<string>swell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快的；反应快的</string>
		<key>question</key>
		<string>swift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.摇摆；回转n.摇摆</string>
		<key>question</key>
		<string>swing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.开关；转换vt.转换</string>
		<key>question</key>
		<string>switch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剑，刀</string>
		<key>question</key>
		<string>sword</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.象征；符号，记号</string>
		<key>question</key>
		<string>symbol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同情的；和谐的</string>
		<key>question</key>
		<string>sympathetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.同情；同感，共鸣</string>
		<key>question</key>
		<string>sympathize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.综合的；合成的</string>
		<key>question</key>
		<string>synthetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有系统的；有计划的</string>
		<key>question</key>
		<string>systematic(al)</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
