<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.里面的ad.向内</string>
		<key>question</key>
		<string>inward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁；烙铁vt.烫(衣)</string>
		<key>question</key>
		<string>iron</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.岛，岛屿</string>
		<key>question</key>
		<string>island</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使隔离，使孤立</string>
		<key>question</key>
		<string>isolate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.问题；发行vt.发行</string>
		<key>question</key>
		<string>issue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.这，那，它</string>
		<key>question</key>
		<string>it</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.意大利的n.意大利人</string>
		<key>question</key>
		<string>Italian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.条，条款；一条</string>
		<key>question</key>
		<string>item</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.它的</string>
		<key>question</key>
		<string>its</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.它自己；自身</string>
		<key>question</key>
		<string>itself</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.短上衣，茄克衫</string>
		<key>question</key>
		<string>jacket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果酱</string>
		<key>question</key>
		<string>jam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使塞满；使堵塞</string>
		<key>question</key>
		<string>jam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一月</string>
		<key>question</key>
		<string>January</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.日本的n.日本人</string>
		<key>question</key>
		<string>Japanese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罐子，坛子，广口瓶</string>
		<key>question</key>
		<string>jar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.颌，颚</string>
		<key>question</key>
		<string>jaw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爵士音乐，爵士舞曲</string>
		<key>question</key>
		<string>jazz</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.参加；连接</string>
		<key>question</key>
		<string>join</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接头，接缝；关节</string>
		<key>question</key>
		<string>joint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.妒忌的；猜疑的</string>
		<key>question</key>
		<string>jealous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喷气式飞机；喷嘴</string>
		<key>question</key>
		<string>jet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宝石；宝石饰物</string>
		<key>question</key>
		<string>jewel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.职业；工作；零活</string>
		<key>question</key>
		<string>job</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笑话vi.说笑话</string>
		<key>question</key>
		<string>joke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.日报，杂志；日志</string>
		<key>question</key>
		<string>journal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旅行，旅程n.旅行</string>
		<key>question</key>
		<string>journey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.欢乐，喜悦；乐事</string>
		<key>question</key>
		<string>joy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法官；裁判员</string>
		<key>question</key>
		<string>judge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意见；审判；判断</string>
		<key>question</key>
		<string>judgement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(水果等)汁，液</string>
		<key>question</key>
		<string>juice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.七月</string>
		<key>question</key>
		<string>July</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跳；暴涨vt.跳过</string>
		<key>question</key>
		<string>jump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.六月</string>
		<key>question</key>
		<string>June</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丛林，密林，莽丛</string>
		<key>question</key>
		<string>jungle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.年少的n.晚辈</string>
		<key>question</key>
		<string>junior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陪审团；评奖团</string>
		<key>question</key>
		<string>jury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.刚才；只是；正好</string>
		<key>question</key>
		<string>just</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.正义，公正；司法</string>
		<key>question</key>
		<string>justice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.证明…是正当的</string>
		<key>question</key>
		<string>justify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.热心的；激烈的</string>
		<key>question</key>
		<string>keen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.保持；坚持</string>
		<key>question</key>
		<string>keep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水壶，水锅</string>
		<key>question</key>
		<string>kettle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钥匙；键；答案</string>
		<key>question</key>
		<string>key</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.键盘</string>
		<key>question</key>
		<string>keyboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.&amp;n.踢</string>
		<key>question</key>
		<string>kick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小孩，儿童，少年</string>
		<key>question</key>
		<string>kid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.杀死；扼杀；消磨</string>
		<key>question</key>
		<string>kill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.千克，公斤</string>
		<key>question</key>
		<string>kilogram</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.千米，公里</string>
		<key>question</key>
		<string>kilometer</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
