<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.炸弹vt.轰炸</string>
		<key>question</key>
		<string>bomb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.联结，联系；公债</string>
		<key>question</key>
		<string>bond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骨，骨骼</string>
		<key>question</key>
		<string>bone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.书，书籍vt.预定</string>
		<key>question</key>
		<string>book</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.靴子，长统靴</string>
		<key>question</key>
		<string>boot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.边，边缘；边界</string>
		<key>question</key>
		<string>border</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使厌烦；钻，挖</string>
		<key>question</key>
		<string>bore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.天生的；出生的</string>
		<key>question</key>
		<string>born</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.借，借用，借人</string>
		<key>question</key>
		<string>borrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.老板，上司vt.指挥</string>
		<key>question</key>
		<string>boss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.两者(都)</string>
		<key>question</key>
		<string>both</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.烦扰，迷惑n.麻烦</string>
		<key>question</key>
		<string>bother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓶，酒瓶；一瓶</string>
		<key>question</key>
		<string>bottle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.底，底部，根基</string>
		<key>question</key>
		<string>bottom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.反跳，弹起；跳起</string>
		<key>question</key>
		<string>bounce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.一定的；有义务的</string>
		<key>question</key>
		<string>bound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分界线，办界</string>
		<key>question</key>
		<string>boundary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弓；蝴蝶结；鞠躬</string>
		<key>question</key>
		<string>bow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碗，钵；碗状物</string>
		<key>question</key>
		<string>bowl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.箱，盒；包箱</string>
		<key>question</key>
		<string>box</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.拳击，打拳</string>
		<key>question</key>
		<string>box</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.男孩，少年；家伙</string>
		<key>question</key>
		<string>boy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脑，脑髓；脑力</string>
		<key>question</key>
		<string>brain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闸，刹车vi.制动</string>
		<key>question</key>
		<string>brake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.树枝；分部；分科</string>
		<key>question</key>
		<string>branch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商品；烙印vt.铭刻</string>
		<key>question</key>
		<string>brand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄铜；黄铜器</string>
		<key>question</key>
		<string>brass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.勇敢的，华丽的</string>
		<key>question</key>
		<string>brave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面包；食物，粮食</string>
		<key>question</key>
		<string>bread</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宽度，幅度；幅面</string>
		<key>question</key>
		<string>breadth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打破；损坏；破坏</string>
		<key>question</key>
		<string>break</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.早饭，早餐</string>
		<key>question</key>
		<string>breakfast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乳房；胸脯，胸膛</string>
		<key>question</key>
		<string>breast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气息，呼吸；气味</string>
		<key>question</key>
		<string>breath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.呼吸vt.呼吸</string>
		<key>question</key>
		<string>breathe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.品种vt.使繁殖</string>
		<key>question</key>
		<string>breed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微风，和风</string>
		<key>question</key>
		<string>breeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.砖，砖块；砖状物</string>
		<key>question</key>
		<string>brick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新娘</string>
		<key>question</key>
		<string>bride</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桥，桥梁；桥牌</string>
		<key>question</key>
		<string>bridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.简短的；短暂的</string>
		<key>question</key>
		<string>brief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.明亮的；聪明的</string>
		<key>question</key>
		<string>bright</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.光辉的；卓越的</string>
		<key>question</key>
		<string>brilliant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.带来；引出；促使</string>
		<key>question</key>
		<string>bring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不列颠的，英联邦的</string>
		<key>question</key>
		<string>British</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.宽的，阔的；广泛的</string>
		<key>question</key>
		<string>broad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.广播，播音</string>
		<key>question</key>
		<string>broadcast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兄弟；同事，同胞</string>
		<key>question</key>
		<string>brother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.额；眉，眉毛</string>
		<key>question</key>
		<string>brow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.褐色，棕色</string>
		<key>question</key>
		<string>brown</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
