<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.锈vi.生锈，氧化</string>
		<key>question</key>
		<string>rust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.袋，麻袋；开除</string>
		<key>question</key>
		<string>sack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.牺牲；南祭</string>
		<key>question</key>
		<string>sacrifice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鞍子，马鞍</string>
		<key>question</key>
		<string>saddle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.帆；船vi.航行</string>
		<key>question</key>
		<string>sail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缘故，理由</string>
		<key>question</key>
		<string>sake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.样品；实例，标本</string>
		<key>question</key>
		<string>sample</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卫星；人造卫星</string>
		<key>question</key>
		<string>satellite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.令人满意的，良好的</string>
		<key>question</key>
		<string>satisfactory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.茶托，浅碟</string>
		<key>question</key>
		<string>saucer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香肠，腊肠</string>
		<key>question</key>
		<string>sausage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锯子vt.锯，锯开</string>
		<key>question</key>
		<string>saw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.比如说[用于举例]</string>
		<key>question</key>
		<string>say</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标度；比例；大小</string>
		<key>question</key>
		<string>scale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天平，磅秤，秤</string>
		<key>question</key>
		<string>scale</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.细看；浏览；扫描</string>
		<key>question</key>
		<string>scan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.仅仅；几乎不</string>
		<key>question</key>
		<string>scarcely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使消散；撒；散播</string>
		<key>question</key>
		<string>scatter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舞台布景；风景</string>
		<key>question</key>
		<string>scenery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时间表；计划表</string>
		<key>question</key>
		<string>schedule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计划，规划；诡计</string>
		<key>question</key>
		<string>scheme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学者(尤指文学方面)</string>
		<key>question</key>
		<string>scholar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.科学(上)的</string>
		<key>question</key>
		<string>scientific</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.弄脏vi.变脏</string>
		<key>question</key>
		<string>soil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剪刀，剪子</string>
		<key>question</key>
		<string>scissors</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.得分，比数，成绩</string>
		<key>question</key>
		<string>score</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侦察员，侦察机</string>
		<key>question</key>
		<string>scout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.刮，擦</string>
		<key>question</key>
		<string>scrape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.搔；抓</string>
		<key>question</key>
		<string>scratch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.螺旋，螺丝vt.拧紧</string>
		<key>question</key>
		<string>screw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.封蜡；印记vt.封</string>
		<key>question</key>
		<string>seal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海豹</string>
		<key>question</key>
		<string>seal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.二月</string>
		<key>question</key>
		<string>ʃebruary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.第二的；次要的</string>
		<key>question</key>
		<string>secondary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.秘书；书记；大臣</string>
		<key>question</key>
		<string>secretary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.切片；一段；部门</string>
		<key>question</key>
		<string>section</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.安心的；安全的</string>
		<key>question</key>
		<string>secure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安全，安全感</string>
		<key>question</key>
		<string>security</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种(子)，籽，萌芽</string>
		<key>question</key>
		<string>seed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.寻找，探索；试图</string>
		<key>question</key>
		<string>seek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抓住，逮捕；夺取</string>
		<key>question</key>
		<string>seize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.半导体</string>
		<key>question</key>
		<string>semiconductor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参议院，上院</string>
		<key>question</key>
		<string>senate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.年少的；地位较高的</string>
		<key>question</key>
		<string>senior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.感觉得到的；明智的</string>
		<key>question</key>
		<string>sensible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.敏感的；灵敏的</string>
		<key>question</key>
		<string>sensitive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.分离的；个别的</string>
		<key>question</key>
		<string>separate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连续，继续；次序</string>
		<key>question</key>
		<string>sequence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连续，系列；丛书</string>
		<key>question</key>
		<string>series</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.为…服务；招待</string>
		<key>question</key>
		<string>serve</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
