<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.细长的；微薄的</string>
		<key>question</key>
		<string>slender</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.薄片，切片；部分</string>
		<key>question</key>
		<string>slice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.滑vt.使滑动n.滑</string>
		<key>question</key>
		<string>slide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.滑的，使人滑跤的</string>
		<key>question</key>
		<string>slippery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裂缝vt.切开，撕开</string>
		<key>question</key>
		<string>slit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.倾斜；斜面vi.倾斜</string>
		<key>question</key>
		<string>slope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巧妙的；洒脱的</string>
		<key>question</key>
		<string>smart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.浸，泡vi.浸泡</string>
		<key>question</key>
		<string>soak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.太阳的，日光的</string>
		<key>question</key>
		<string>solar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.单独的，唯一的</string>
		<key>question</key>
		<string>sole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脚底，鞋底，袜底</string>
		<key>question</key>
		<string>sole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.庄严的；隆重的</string>
		<key>question</key>
		<string>solemn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.固体的n.固体</string>
		<key>question</key>
		<string>solid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可溶的；可以解决的</string>
		<key>question</key>
		<string>soluble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解决，解答；溶解</string>
		<key>question</key>
		<string>solution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解答，解释，解决</string>
		<key>question</key>
		<string>solve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.某人，有人</string>
		<key>question</key>
		<string>somebody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.由于某种原因</string>
		<key>question</key>
		<string>somehow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在某一时候；从前</string>
		<key>question</key>
		<string>sometime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.一点儿ad.有点</string>
		<key>question</key>
		<string>somewhat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.老于世故的；高级的</string>
		<key>question</key>
		<string>sophisticated</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.痛的；恼火的n.疮</string>
		<key>question</key>
		<string>sore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悲痛，悲哀，悲伤</string>
		<key>question</key>
		<string>sorrow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类；类别vt.整理</string>
		<key>question</key>
		<string>sort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.健康的；完好的</string>
		<key>question</key>
		<string>sound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.酸的；脾气坏的</string>
		<key>question</key>
		<string>sour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.播(种)vi.播种</string>
		<key>question</key>
		<string>sow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航天器，宇宙飞船</string>
		<key>question</key>
		<string>spacecraft</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铲，铁锹</string>
		<key>question</key>
		<string>spade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.跨距；一段时间</string>
		<key>question</key>
		<string>span</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.节约a.多余的</string>
		<key>question</key>
		<string>spare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火花，火星</string>
		<key>question</key>
		<string>spark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.损坏，糟蹋；宠坏</string>
		<key>question</key>
		<string>spoil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专家</string>
		<key>question</key>
		<string>specialist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.成为…专家；专攻</string>
		<key>question</key>
		<string>specialize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特有的；具体的</string>
		<key>question</key>
		<string>specific</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.指定，详细说明</string>
		<key>question</key>
		<string>specify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.样本，标本，样品</string>
		<key>question</key>
		<string>specimen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.球，圆体；范围</string>
		<key>question</key>
		<string>sphere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使溢出vi.溢出</string>
		<key>question</key>
		<string>spill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.纺；使旋转n.旋转</string>
		<key>question</key>
		<string>spin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恶意,怨恨,不顾vt.刁难,欺侮</string>
		<key>question</key>
		<string>spite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.劈开vi.被劈开</string>
		<key>question</key>
		<string>split</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发起者vt.发起</string>
		<key>question</key>
		<string>sponsor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运动员</string>
		<key>question</key>
		<string>sportsman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.浪花；喷雾vt.喷</string>
		<key>question</key>
		<string>spray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跳，跃n.跳跃；泉</string>
		<key>question</key>
		<string>spring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.刺激物vt.刺激</string>
		<key>question</key>
		<string>spur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.正方形；广场</string>
		<key>question</key>
		<string>square</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.榨，挤；压榨</string>
		<key>question</key>
		<string>squeeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
