<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vi.皱眉，蹙额</string>
		<key>question</key>
		<string>frown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水果；果实；成果</string>
		<key>question</key>
		<string>fruit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.多产的；肥沃的</string>
		<key>question</key>
		<string>fruitful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.油煎，油炸，油炒</string>
		<key>question</key>
		<string>fry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.燃料vt.给…加燃料</string>
		<key>question</key>
		<string>fuel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.履行；满足；完成</string>
		<key>question</key>
		<string>fulfil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.满的；完全的</string>
		<key>question</key>
		<string>full</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乐趣，娱乐；玩笑</string>
		<key>question</key>
		<string>fun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.功能；职务；函数</string>
		<key>question</key>
		<string>function</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资金；基金；存款</string>
		<key>question</key>
		<string>fund</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基础的，基本的</string>
		<key>question</key>
		<string>fundamental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.葬礼，丧礼，丧葬</string>
		<key>question</key>
		<string>funeral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.古怪的；滑稽的</string>
		<key>question</key>
		<string>funny</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.软毛；毛皮，裘皮</string>
		<key>question</key>
		<string>fur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炉子，熔炉；鼓风炉</string>
		<key>question</key>
		<string>furnace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.供应，提供；装备</string>
		<key>question</key>
		<string>furnish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家具；装置，设备</string>
		<key>question</key>
		<string>furniture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.更远地a.更远的</string>
		<key>question</key>
		<string>further</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.而且，此外</string>
		<key>question</key>
		<string>furthermore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.将来，未来；前途</string>
		<key>question</key>
		<string>future</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.获得；增加n.增进</string>
		<key>question</key>
		<string>gain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.加仑</string>
		<key>question</key>
		<string>gallon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.游戏；比赛；猎物</string>
		<key>question</key>
		<string>game</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一帮，一伙</string>
		<key>question</key>
		<string>gang</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺口；间隔；差距</string>
		<key>question</key>
		<string>gap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.车库；加油站</string>
		<key>question</key>
		<string>garage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花园，菜园；公园</string>
		<key>question</key>
		<string>garden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.园丁，花匠</string>
		<key>question</key>
		<string>gardener</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.煤气；气体；汽油</string>
		<key>question</key>
		<string>gas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.气体的，气态的</string>
		<key>question</key>
		<string>gaseous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(美)汽油</string>
		<key>question</key>
		<string>gasoline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大门；篱笆门</string>
		<key>question</key>
		<string>gate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.聚集；集合vt.收集</string>
		<key>question</key>
		<string>gather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.量，测量n.量器</string>
		<key>question</key>
		<string>gauge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快乐的；鲜明的</string>
		<key>question</key>
		<string>gay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.凝视，盯，注视</string>
		<key>question</key>
		<string>gaze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.总的；一般的n.将军</string>
		<key>question</key>
		<string>general</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一般地；通常地</string>
		<key>question</key>
		<string>generally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发生；引起；生殖</string>
		<key>question</key>
		<string>generate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一代，一代人；产生</string>
		<key>question</key>
		<string>generation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发电机；发生者</string>
		<key>question</key>
		<string>generator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.慷慨的；宽厚的</string>
		<key>question</key>
		<string>generous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天才，天赋，天资</string>
		<key>question</key>
		<string>genius</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.和蔼的；轻柔的</string>
		<key>question</key>
		<string>gentle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.绅士；有教养的人</string>
		<key>question</key>
		<string>gentleman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.真的；真正的</string>
		<key>question</key>
		<string>genuine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地理，地理学</string>
		<key>question</key>
		<string>geography</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.几何，几何学</string>
		<key>question</key>
		<string>geometry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微生物，细菌，幼芽</string>
		<key>question</key>
		<string>germ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.德国的n.德国人</string>
		<key>question</key>
		<string>German</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
