<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.过去的n.过去</string>
		<key>question</key>
		<string>past</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.糊，酱；浆湖</string>
		<key>question</key>
		<string>paste</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.&amp;n.轻拍</string>
		<key>question</key>
		<string>pat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.补钉；碎片vt.补缀</string>
		<key>question</key>
		<string>patch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.路，小道；道路</string>
		<key>question</key>
		<string>path</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.忍耐，容忍，耐心</string>
		<key>question</key>
		<string>patience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.忍耐的n.病人</string>
		<key>question</key>
		<string>patient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.型，式样，模，模型</string>
		<key>question</key>
		<string>pattern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.中止，暂停</string>
		<key>question</key>
		<string>pause</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脚爪，爪子</string>
		<key>question</key>
		<string>paw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.支付；付给；给予</string>
		<key>question</key>
		<string>pay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.支付，支付的款项</string>
		<key>question</key>
		<string>payment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.点；要点；细目；分</string>
		<key>question</key>
		<string>point</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毒，毒药vt.毒害</string>
		<key>question</key>
		<string>poison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有毒的，有害的</string>
		<key>question</key>
		<string>poisonous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豌豆；豌豆属植物</string>
		<key>question</key>
		<string>pea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.和平；和睦；平静</string>
		<key>question</key>
		<string>peace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.和平的；安静的</string>
		<key>question</key>
		<string>peaceful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桃子，桃树</string>
		<key>question</key>
		<string>peach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山顶，巅a.最高的</string>
		<key>question</key>
		<string>peak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.梨子，梨树</string>
		<key>question</key>
		<string>pear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.农民</string>
		<key>question</key>
		<string>peasant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特有的；特别的</string>
		<key>question</key>
		<string>peculiar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钢笔，自来水笔</string>
		<key>question</key>
		<string>pen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铅笔</string>
		<key>question</key>
		<string>pencil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.穿过vi.穿入</string>
		<key>question</key>
		<string>penetrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(英)便士；(美)分</string>
		<key>question</key>
		<string>penny</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人民，民族；人</string>
		<key>question</key>
		<string>people</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.每</string>
		<key>question</key>
		<string>per</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.察觉，发觉；理解</string>
		<key>question</key>
		<string>perceive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百分之…</string>
		<key>question</key>
		<string>percent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百分比，百分率</string>
		<key>question</key>
		<string>percentage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.完美的；完全的</string>
		<key>question</key>
		<string>perfect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.履行，执行；演出</string>
		<key>question</key>
		<string>perform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.履行；演出；行为</string>
		<key>question</key>
		<string>performance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.也许，可能，多半</string>
		<key>question</key>
		<string>perhaps</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时期；学时；句号</string>
		<key>question</key>
		<string>period</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.永久的，持久的</string>
		<key>question</key>
		<string>permanent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.允许，许可，同意</string>
		<key>question</key>
		<string>permission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.允许n.执照</string>
		<key>question</key>
		<string>permit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.坚持，固执；持续</string>
		<key>question</key>
		<string>persist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人；人身；本人</string>
		<key>question</key>
		<string>person</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.个人的；本人的</string>
		<key>question</key>
		<string>personal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.全体人员，全体职员</string>
		<key>question</key>
		<string>personnel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.透视；远景；观点</string>
		<key>question</key>
		<string>perspective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.说服vi.被说服</string>
		<key>question</key>
		<string>persuade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.悲观的；厌世的</string>
		<key>question</key>
		<string>pessimistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爱畜；宠儿a.宠爱的</string>
		<key>question</key>
		<string>pet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(英)汽油</string>
		<key>question</key>
		<string>petrol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石油</string>
		<key>question</key>
		<string>petroleum</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
