<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.引用；引文；报价单</string>
		<key>question</key>
		<string>quotation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引用，引证；报价</string>
		<key>question</key>
		<string>quote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兔子，野兔</string>
		<key>question</key>
		<string>rabbit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比赛，竞赛，竞争</string>
		<key>question</key>
		<string>race</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人种，种族，民族</string>
		<key>question</key>
		<string>race</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.种族的，人种的</string>
		<key>question</key>
		<string>racial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.搁物架；行李架</string>
		<key>question</key>
		<string>rack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使苦痛，折磨</string>
		<key>question</key>
		<string>rack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雷达，无线电探测器</string>
		<key>question</key>
		<string>radar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.放射，发射；辐射能</string>
		<key>question</key>
		<string>radiation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.无线电；收音机</string>
		<key>question</key>
		<string>radio</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.放射性的</string>
		<key>question</key>
		<string>radioactive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.半径</string>
		<key>question</key>
		<string>radius</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.破布，碎布，抹布</string>
		<key>question</key>
		<string>rag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.横条，横杆；铁轨</string>
		<key>question</key>
		<string>rail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁路vi.由铁路运输</string>
		<key>question</key>
		<string>railroad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁路，铁道</string>
		<key>question</key>
		<string>railway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雨，雨水vi.下雨</string>
		<key>question</key>
		<string>rain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.虹，彩虹</string>
		<key>question</key>
		<string>rainbow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.下雨的，多雨的</string>
		<key>question</key>
		<string>rainy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.举起；引起；提高</string>
		<key>question</key>
		<string>raise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.排，行；山脉；范围</string>
		<key>question</key>
		<string>range</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.排，横行；社会阶层</string>
		<key>question</key>
		<string>rank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快的n.急流</string>
		<key>question</key>
		<string>rapid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.稀薄的；稀有的</string>
		<key>question</key>
		<string>rare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.很少，难得</string>
		<key>question</key>
		<string>rarely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.老鼠，耗子</string>
		<key>question</key>
		<string>rat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比率；速度；价格</string>
		<key>question</key>
		<string>rate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.宁可，宁愿；相当</string>
		<key>question</key>
		<string>rather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比，比率</string>
		<key>question</key>
		<string>ratio</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.理性的；出于理性的</string>
		<key>question</key>
		<string>rational</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.未煮过的；未加工的</string>
		<key>question</key>
		<string>raw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光线，射线，辐射线</string>
		<key>question</key>
		<string>ray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抵达；伸出vi.达到</string>
		<key>question</key>
		<string>reach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.起反应；有影响</string>
		<key>question</key>
		<string>react</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反应；反作用</string>
		<key>question</key>
		<string>reaction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.读，看懂vi.读</string>
		<key>question</key>
		<string>read</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.读者；读物，读本</string>
		<key>question</key>
		<string>reader</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.读，阅读；读书</string>
		<key>question</key>
		<string>reading</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.准备好的；愿意的</string>
		<key>question</key>
		<string>ready</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.真的；现实的</string>
		<key>question</key>
		<string>real</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.现实；真实</string>
		<key>question</key>
		<string>reality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.实现；认识到</string>
		<key>question</key>
		<string>realize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.真正地；实在</string>
		<key>question</key>
		<string>really</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王国，国土；领域</string>
		<key>question</key>
		<string>realm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.后部，后面；背面</string>
		<key>question</key>
		<string>rear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抚养，培养；栽种</string>
		<key>question</key>
		<string>rear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理由；理性vi.推理</string>
		<key>question</key>
		<string>reason</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.合情合理的；公道的</string>
		<key>question</key>
		<string>reasonable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.造反n.造反者</string>
		<key>question</key>
		<string>rebel</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
