<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.岗位，哨所；职位</string>
		<key>question</key>
		<string>post</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柱，桩，杆vt.贴出</string>
		<key>question</key>
		<string>post</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮费，邮资</string>
		<key>question</key>
		<string>postage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邮递员</string>
		<key>question</key>
		<string>postman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.延迟，推迟，延缓</string>
		<key>question</key>
		<string>postpone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锅，壶，罐，盆</string>
		<key>question</key>
		<string>pot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.马铃薯，土豆</string>
		<key>question</key>
		<string>potato</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.潜在的n.潜力</string>
		<key>question</key>
		<string>potential</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磅；英磅</string>
		<key>question</key>
		<string>pound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捣碎；舂烂；猛击</string>
		<key>question</key>
		<string>pound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.灌，倒vi.倾泻</string>
		<key>question</key>
		<string>pour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贫穷，贫困</string>
		<key>question</key>
		<string>poverty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粉末；药粉；火药</string>
		<key>question</key>
		<string>powder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.能力；力；权；幂</string>
		<key>question</key>
		<string>power</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.强有力的；有权威的</string>
		<key>question</key>
		<string>powerful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.实践的；实用的</string>
		<key>question</key>
		<string>practical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.实际上；几乎</string>
		<key>question</key>
		<string>practically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实践；练习；业务</string>
		<key>question</key>
		<string>practice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.练习，实习，训练</string>
		<key>question</key>
		<string>practise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赞扬，赞美vi.赞扬</string>
		<key>question</key>
		<string>praise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.请求；祈祷</string>
		<key>question</key>
		<string>pray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预防；警惕</string>
		<key>question</key>
		<string>precaution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.在前的；在先的</string>
		<key>question</key>
		<string>preceding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.珍贵的，宝贵的</string>
		<key>question</key>
		<string>precious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.精确的，准确的</string>
		<key>question</key>
		<string>precise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.精确，精密，精密度</string>
		<key>question</key>
		<string>precision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.预言，预告，预测</string>
		<key>question</key>
		<string>predict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.序言，前言，引语</string>
		<key>question</key>
		<string>preface</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.宁可，宁愿</string>
		<key>question</key>
		<string>prefer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.更可取的，更好的</string>
		<key>question</key>
		<string>preferable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.偏爱，优先；优先权</string>
		<key>question</key>
		<string>preference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.偏见，成见</string>
		<key>question</key>
		<string>prejudice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.预备的，初步的</string>
		<key>question</key>
		<string>preliminary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.准备，预备；制备</string>
		<key>question</key>
		<string>preparation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.准备，预备</string>
		<key>question</key>
		<string>prepare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.前置词，介词</string>
		<key>question</key>
		<string>preposition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.命令；处(方)</string>
		<key>question</key>
		<string>prescribe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.出席，到场；在</string>
		<key>question</key>
		<string>presence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.现在的n.目前</string>
		<key>question</key>
		<string>present</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.礼物，赠送物</string>
		<key>question</key>
		<string>present</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赠送;介绍;提出</string>
		<key>question</key>
		<string>present</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一会儿；目前</string>
		<key>question</key>
		<string>presently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保护；保存；腌渍</string>
		<key>question</key>
		<string>preserve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总统；校长；会长</string>
		<key>question</key>
		<string>president</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压，按，揿；催促</string>
		<key>question</key>
		<string>press</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压力；压力；压，按</string>
		<key>question</key>
		<string>pressure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.假托，借口vi.假装</string>
		<key>question</key>
		<string>pretend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.漂亮的，标致的</string>
		<key>question</key>
		<string>pretty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.胜，优胜；流行</string>
		<key>question</key>
		<string>prevail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预防，防止；阻止</string>
		<key>question</key>
		<string>prevent</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
