<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.军队；一群，大量</string>
		<key>question</key>
		<string>troop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.热带的</string>
		<key>question</key>
		<string>tropical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.令人烦恼的；麻烦的</string>
		<key>question</key>
		<string>troublesome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喇叭，小号</string>
		<key>question</key>
		<string>trumpet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.树干；大衣箱，皮箱</string>
		<key>question</key>
		<string>trunk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任vt.相信；委托</string>
		<key>question</key>
		<string>trust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.真理；真实；真实性</string>
		<key>question</key>
		<string>truth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管；电子管，显像管</string>
		<key>question</key>
		<string>tube</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调子；和谐vt.调谐</string>
		<key>question</key>
		<string>tune</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.隧道，坑道，地道</string>
		<key>question</key>
		<string>tunnel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.叶轮机，汽轮机</string>
		<key>question</key>
		<string>turbine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.孪生的n.孪生儿</string>
		<key>question</key>
		<string>twin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捻；拧vi.&amp;n.扭弯</string>
		<key>question</key>
		<string>twist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.型，类型vi.打字</string>
		<key>question</key>
		<string>type</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打字机</string>
		<key>question</key>
		<string>typewriter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.典型的，代表性的</string>
		<key>question</key>
		<string>typical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打字员</string>
		<key>question</key>
		<string>typist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轮胎，车胎</string>
		<key>question</key>
		<string>tyre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最后的，最终的</string>
		<key>question</key>
		<string>ultimate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不省人事的</string>
		<key>question</key>
		<string>unconscious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.揭开…的盖子</string>
		<key>question</key>
		<string>uncover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.经历，经受，忍受</string>
		<key>question</key>
		<string>undergo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大学在校生</string>
		<key>question</key>
		<string>undergraduate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.划线于…之下</string>
		<key>question</key>
		<string>underline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在下面，在底下</string>
		<key>question</key>
		<string>underneath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.从事；承担；保证</string>
		<key>question</key>
		<string>undertake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解开，打开；取消</string>
		<key>question</key>
		<string>undo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.无容置疑，肯定地</string>
		<key>question</key>
		<string>undoubtedly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.心神不安的，忧虑的</string>
		<key>question</key>
		<string>uneasy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.想不到的，意外的</string>
		<key>question</key>
		<string>unexpected</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.一样的n.制服</string>
		<key>question</key>
		<string>uniform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.联合；团结；协会</string>
		<key>question</key>
		<string>union</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.唯一的，独一无二的</string>
		<key>question</key>
		<string>unique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.单位；单元；部件</string>
		<key>question</key>
		<string>unit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.联合vt.使联合</string>
		<key>question</key>
		<string>unite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.单一；统一；团结</string>
		<key>question</key>
		<string>unity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.宇宙的；普遍的</string>
		<key>question</key>
		<string>universal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不知道的；未知的</string>
		<key>question</key>
		<string>unknown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.除非，如果不</string>
		<key>question</key>
		<string>unless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不同的prep.不象…</string>
		<key>question</key>
		<string>unlike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.未必的，未必可能的</string>
		<key>question</key>
		<string>unlikely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.卸(货)vi.卸货</string>
		<key>question</key>
		<string>unload</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.上面的；地位较高的</string>
		<key>question</key>
		<string>upper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.垂直的；正直的</string>
		<key>question</key>
		<string>upright</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.弄翻，打翻，倾覆</string>
		<key>question</key>
		<string>upset</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.直到最近的，现代的</string>
		<key>question</key>
		<string>up-to-date</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.向上的，上升的</string>
		<key>question</key>
		<string>upward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.都市的,住在都市的</string>
		<key>question</key>
		<string>urban</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推进；催促n.冲动</string>
		<key>question</key>
		<string>urge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.紧急的；强求的</string>
		<key>question</key>
		<string>urgent</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
