<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.包含，包括；构成</string>
		<key>question</key>
		<string>comprise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.妥协，和解</string>
		<key>question</key>
		<string>compromise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计算，估计，估算</string>
		<key>question</key>
		<string>compute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计算机，电脑</string>
		<key>question</key>
		<string>computer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…隐藏起来</string>
		<key>question</key>
		<string>conceal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.集中；聚集；浓缩</string>
		<key>question</key>
		<string>concentrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.集中；专注；浓缩</string>
		<key>question</key>
		<string>concentration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.概念，观念，设想</string>
		<key>question</key>
		<string>concept</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.关心，挂念；关系</string>
		<key>question</key>
		<string>concern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.关于</string>
		<key>question</key>
		<string>concerning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.音乐会，演奏会</string>
		<key>question</key>
		<string>concert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推断出；结束</string>
		<key>question</key>
		<string>conclude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结论，推论；结尾</string>
		<key>question</key>
		<string>conclusion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.混凝土；具体物</string>
		<key>question</key>
		<string>concrete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.谴责，指责；判刑</string>
		<key>question</key>
		<string>condemn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压缩，使缩短</string>
		<key>question</key>
		<string>condense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.状况，状态；环境</string>
		<key>question</key>
		<string>condition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.举止，行为；指导</string>
		<key>question</key>
		<string>conduct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.售票员；(乐队)指挥</string>
		<key>question</key>
		<string>conductor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.会议，讨论会</string>
		<key>question</key>
		<string>conference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.供认，承认；坦白</string>
		<key>question</key>
		<string>confess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任；信赖；信心</string>
		<key>question</key>
		<string>confidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.确信的，自信的</string>
		<key>question</key>
		<string>confident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.限制；禁闭</string>
		<key>question</key>
		<string>confine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.证实，肯定；批准</string>
		<key>question</key>
		<string>confirm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争论；冲突；斗争</string>
		<key>question</key>
		<string>conflict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使混乱，混淆</string>
		<key>question</key>
		<string>confuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.祝贺，向…道喜</string>
		<key>question</key>
		<string>congratulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大会；国会，议会</string>
		<key>question</key>
		<string>congress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接合，连接；连接词</string>
		<key>question</key>
		<string>conjunction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.连接，连结；联系</string>
		<key>question</key>
		<string>connect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连接，联系；连贯性</string>
		<key>question</key>
		<string>connection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.征服，战胜；破除</string>
		<key>question</key>
		<string>conquer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.攻取，征服；克服</string>
		<key>question</key>
		<string>conquest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.良心，道德心</string>
		<key>question</key>
		<string>conscience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.意识到的；有意的</string>
		<key>question</key>
		<string>conscious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意识，觉悟；知觉</string>
		<key>question</key>
		<string>consciousness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同意，赞成vi.同意</string>
		<key>question</key>
		<string>consent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结果，后果</string>
		<key>question</key>
		<string>consequence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因此，因而，所以</string>
		<key>question</key>
		<string>consequently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保存，保护；守恒</string>
		<key>question</key>
		<string>conservation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.保守的n.保守的人</string>
		<key>question</key>
		<string>conservative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.认为；考虑；关心</string>
		<key>question</key>
		<string>consider</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相当大的；重要的</string>
		<key>question</key>
		<string>considerable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.考虑周到的；体谅的</string>
		<key>question</key>
		<string>considerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考虑，思考；体贴</string>
		<key>question</key>
		<string>consideration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.由…组成；在于</string>
		<key>question</key>
		<string>consist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坚持的，一贯的</string>
		<key>question</key>
		<string>consistent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.经常的；永恒的</string>
		<key>question</key>
		<string>constant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.构成,组成,任命</string>
		<key>question</key>
		<string>constitute</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
