<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.扩大，扩展；放大</string>
		<key>question</key>
		<string>enlarge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巨大的，庞大的</string>
		<key>question</key>
		<string>enormous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.足够的ad.足够地</string>
		<key>question</key>
		<string>enough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.vt.询问</string>
		<key>question</key>
		<string>enquire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.询问</string>
		<key>question</key>
		<string>enquiry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保证；保护；赋予</string>
		<key>question</key>
		<string>ensure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使欢乐；招待</string>
		<key>question</key>
		<string>entertain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.热情，热心，热忱</string>
		<key>question</key>
		<string>enthusiasm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…权利(或资格)</string>
		<key>question</key>
		<string>entitle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.入口处；登记；进入</string>
		<key>question</key>
		<string>entry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.环境，外界；围绕</string>
		<key>question</key>
		<string>environment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.妒忌；羡慕</string>
		<key>question</key>
		<string>envy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相等的；平等的</string>
		<key>question</key>
		<string>equal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.等同，平等；相等</string>
		<key>question</key>
		<string>equality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方程(式)；等式</string>
		<key>question</key>
		<string>equation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.装备，配备</string>
		<key>question</key>
		<string>equip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.装备，设备，配备</string>
		<key>question</key>
		<string>equipment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相等的；等量的</string>
		<key>question</key>
		<string>equivalent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.时代，年代；纪元</string>
		<key>question</key>
		<string>era</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建造；使竖立</string>
		<key>question</key>
		<string>erect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.错误，谬误；差错</string>
		<key>question</key>
		<string>error</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.逃跑；逸出n.逃跑</string>
		<key>question</key>
		<string>escape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.特别，尤其，格外</string>
		<key>question</key>
		<string>especially</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.短文，散文，小品文</string>
		<key>question</key>
		<string>essay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.必要的，本质的</string>
		<key>question</key>
		<string>essential</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.建立，设立；确立</string>
		<key>question</key>
		<string>establish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建立，设立，确立</string>
		<key>question</key>
		<string>establishment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.估计，评价n.估计</string>
		<key>question</key>
		<string>estimate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.欧洲</string>
		<key>question</key>
		<string>əurope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.欧洲的n.欧洲人</string>
		<key>question</key>
		<string>əuropean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.评价，估…的价</string>
		<key>question</key>
		<string>evaluate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使蒸发vi.蒸发</string>
		<key>question</key>
		<string>evaporate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.前夜，前夕，前一刻</string>
		<key>question</key>
		<string>eve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.均匀的；平的</string>
		<key>question</key>
		<string>even</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.甚至；甚至更，还</string>
		<key>question</key>
		<string>even</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.傍晚，黄昏，晚上</string>
		<key>question</key>
		<string>evening</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事件，大事；事变</string>
		<key>question</key>
		<string>event</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.终于；最后</string>
		<key>question</key>
		<string>eventually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在任何时候；曾经</string>
		<key>question</key>
		<string>ever</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.每一的；每隔…的</string>
		<key>question</key>
		<string>every</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.每人，人人</string>
		<key>question</key>
		<string>everybody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.每天的，日常的</string>
		<key>question</key>
		<string>everyday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.每人，人人</string>
		<key>question</key>
		<string>everyone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.每件事，事事</string>
		<key>question</key>
		<string>everything</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.到处，处处</string>
		<key>question</key>
		<string>everywhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.根据；证据，证人</string>
		<key>question</key>
		<string>evidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.明显的，明白的</string>
		<key>question</key>
		<string>evident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邪恶；祸害a.坏的</string>
		<key>question</key>
		<string>evil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.进化，演化；发展</string>
		<key>question</key>
		<string>evolution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使进化；使发展</string>
		<key>question</key>
		<string>evolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
