<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.价格，代价；成本</string>
		<key>question</key>
		<string>cost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.昂贵的；价值高的</string>
		<key>question</key>
		<string>costly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.村舍，小屋</string>
		<key>question</key>
		<string>cottage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棉；棉线；棉布</string>
		<key>question</key>
		<string>cotton</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.咳，咳嗽n.咳嗽</string>
		<key>question</key>
		<string>cough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>aux.v.(can的过去式)</string>
		<key>question</key>
		<string>could</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理事会，委员会</string>
		<key>question</key>
		<string>council</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计算vi.数，计数</string>
		<key>question</key>
		<string>count</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柜台；计数器</string>
		<key>question</key>
		<string>counter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.国家，国土；农村</string>
		<key>question</key>
		<string>country</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乡下，农村</string>
		<key>question</key>
		<string>countryside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.英国的郡，美国的县</string>
		<key>question</key>
		<string>county</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.夫妇；(一)对；几个</string>
		<key>question</key>
		<string>couple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.勇气，胆量，胆识</string>
		<key>question</key>
		<string>courage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.课程；过程；一道菜</string>
		<key>question</key>
		<string>course</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法院，法庭；庭院</string>
		<key>question</key>
		<string>court</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堂(或表)兄弟(姐妹)</string>
		<key>question</key>
		<string>cousin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.盖，包括n.盖子</string>
		<key>question</key>
		<string>cover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.母牛，奶牛；母兽</string>
		<key>question</key>
		<string>cow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裂缝，裂纹vi.爆裂</string>
		<key>question</key>
		<string>crack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工艺；手艺，行业</string>
		<key>question</key>
		<string>craft</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起重机，摄影升降机</string>
		<key>question</key>
		<string>crane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.碰撞，坠落n.碰撞</string>
		<key>question</key>
		<string>crash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.爬，爬行</string>
		<key>question</key>
		<string>crawl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.疯狂的，荒唐的</string>
		<key>question</key>
		<string>crazy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奶油，乳脂；奶油色</string>
		<key>question</key>
		<string>cream</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.创造；引起，产生</string>
		<key>question</key>
		<string>create</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.创造性的，创作的</string>
		<key>question</key>
		<string>creative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物，动物，家畜</string>
		<key>question</key>
		<string>creature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信用贷款；信用</string>
		<key>question</key>
		<string>credit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.爬行；缓慢地行进</string>
		<key>question</key>
		<string>creep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.全体船员</string>
		<key>question</key>
		<string>crew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罪，罪行；犯罪</string>
		<key>question</key>
		<string>crime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.犯人，罪犯，刑事犯</string>
		<key>question</key>
		<string>criminal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.危机；存亡之际</string>
		<key>question</key>
		<string>crisis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.批评家，爱挑剔的人</string>
		<key>question</key>
		<string>critic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.决定性的；批评的</string>
		<key>question</key>
		<string>critical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.批评；批判；评论</string>
		<key>question</key>
		<string>criticism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.批评；评论；非难</string>
		<key>question</key>
		<string>criticize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.农作物，庄稼；一熟</string>
		<key>question</key>
		<string>crop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.穿过；使交叉</string>
		<key>question</key>
		<string>cross</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.群；大众；一伙人</string>
		<key>question</key>
		<string>crowd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王冠，冕；花冠</string>
		<key>question</key>
		<string>crown</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.简陋的；天然的</string>
		<key>question</key>
		<string>crude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.残忍的，残酷的</string>
		<key>question</key>
		<string>cruel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压碎，碾碎；镇压</string>
		<key>question</key>
		<string>crush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面包皮；硬外皮</string>
		<key>question</key>
		<string>crust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.哭，哭泣；叫喊</string>
		<key>question</key>
		<string>cry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水晶，结晶体；晶粒</string>
		<key>question</key>
		<string>crystal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.立方形；立方</string>
		<key>question</key>
		<string>cube</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
