<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.创伤，伤vt.使受伤</string>
		<key>question</key>
		<string>wound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.裹，包，捆n.披肩</string>
		<key>question</key>
		<string>wrap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失事；残骸vt.破坏</string>
		<key>question</key>
		<string>wreck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腕，腕关节</string>
		<key>question</key>
		<string>wrist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.X射线，X光</string>
		<key>question</key>
		<string>X-ray</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.码</string>
		<key>question</key>
		<string>yard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.院子，庭院；场地</string>
		<key>question</key>
		<string>yard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.打呵欠n.呵欠</string>
		<key>question</key>
		<string>yawn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.每年的ad.一年一度</string>
		<key>question</key>
		<string>yearly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.出产n.产量</string>
		<key>question</key>
		<string>yield</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青春；青年们；青年</string>
		<key>question</key>
		<string>youth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地区，区域，范围</string>
		<key>question</key>
		<string>zone</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
