<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.使用，对待；惯用法</string>
		<key>question</key>
		<string>usage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.效用，有用，实用</string>
		<key>question</key>
		<string>utility</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.利用</string>
		<key>question</key>
		<string>utilize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最远的n.极限</string>
		<key>question</key>
		<string>utmost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.完全的，彻底的</string>
		<key>question</key>
		<string>utter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发出，说，讲</string>
		<key>question</key>
		<string>utter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空的；未被占用的</string>
		<key>question</key>
		<string>vacant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.真空；真空吸尘器</string>
		<key>question</key>
		<string>vacuum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.模糊的，含糊的</string>
		<key>question</key>
		<string>vague</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.徒劳的；自负的</string>
		<key>question</key>
		<string>vain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有效的；正当的</string>
		<key>question</key>
		<string>valid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.价值；价格vt.评价</string>
		<key>question</key>
		<string>value</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大篷车，运货车</string>
		<key>question</key>
		<string>van</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.突然不见，消失</string>
		<key>question</key>
		<string>vanish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽，蒸气</string>
		<key>question</key>
		<string>vapour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.易变的n.变量</string>
		<key>question</key>
		<string>variable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.变化，变动；变异</string>
		<key>question</key>
		<string>variation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.多样化；种类；变种</string>
		<key>question</key>
		<string>variety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.各种各样的，不同的</string>
		<key>question</key>
		<string>various</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.改变；使多样化</string>
		<key>question</key>
		<string>vary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巨大的；大量的</string>
		<key>question</key>
		<string>vast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.车辆，机动车</string>
		<key>question</key>
		<string>vehicle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.速度，速率</string>
		<key>question</key>
		<string>velocity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.冒险vt.敢于</string>
		<key>question</key>
		<string>venture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.证实，查证；证明</string>
		<key>question</key>
		<string>verify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.译文；说法；改写本</string>
		<key>question</key>
		<string>version</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.垂直的，竖式的</string>
		<key>question</key>
		<string>vertical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.容器；船，飞船；管</string>
		<key>question</key>
		<string>vessel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.老兵，老手</string>
		<key>question</key>
		<string>veteran</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.经过；通过</string>
		<key>question</key>
		<string>via</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使颤动vi.颤动</string>
		<key>question</key>
		<string>vibrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(老)虎钳</string>
		<key>question</key>
		<string>vice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罪恶；恶习；缺点</string>
		<key>question</key>
		<string>vice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.朝气蓬勃的</string>
		<key>question</key>
		<string>vigorous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.醋</string>
		<key>question</key>
		<string>vinegar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.猛烈的；狂暴的</string>
		<key>question</key>
		<string>violent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.紫罗兰</string>
		<key>question</key>
		<string>violet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.实际上，事实上</string>
		<key>question</key>
		<string>virtually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.善；美德；优点</string>
		<key>question</key>
		<string>virtue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可见的，看得见的</string>
		<key>question</key>
		<string>visible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.视；想象力；梦幻</string>
		<key>question</key>
		<string>vision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.看的；看得见的</string>
		<key>question</key>
		<string>visual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.生命的；有生命力的</string>
		<key>question</key>
		<string>vital</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.维生素，维他命</string>
		<key>question</key>
		<string>vitamin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.鲜艳的；生动的</string>
		<key>question</key>
		<string>vivid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火山</string>
		<key>question</key>
		<string>volcano</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伏特，伏</string>
		<key>question</key>
		<string>volt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电压</string>
		<key>question</key>
		<string>voltage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卷，册；容积；音量</string>
		<key>question</key>
		<string>volume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自愿的，志愿的</string>
		<key>question</key>
		<string>voluntary</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
