<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.先的；前的ad.在前</string>
		<key>question</key>
		<string>previous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.价格，价钱；代价</string>
		<key>question</key>
		<string>price</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骄傲；自豪vt.自夸</string>
		<key>question</key>
		<string>pride</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.首先；主要地</string>
		<key>question</key>
		<string>primarily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最初的；基本的</string>
		<key>question</key>
		<string>primary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.首要的n.春，青春</string>
		<key>question</key>
		<string>prime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.原始的；粗糙的</string>
		<key>question</key>
		<string>primitive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王子，亲王</string>
		<key>question</key>
		<string>prince</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公主，王妃</string>
		<key>question</key>
		<string>princess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.主要的n.负责人</string>
		<key>question</key>
		<string>principal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原则，原理；主义</string>
		<key>question</key>
		<string>principle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.印刷n.印刷；正片</string>
		<key>question</key>
		<string>print</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.在先的；优先的</string>
		<key>question</key>
		<string>prior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.监狱，监禁</string>
		<key>question</key>
		<string>prison</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.囚犯</string>
		<key>question</key>
		<string>prisoner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.私人的；私下的</string>
		<key>question</key>
		<string>private</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.特权，优惠</string>
		<key>question</key>
		<string>privilege</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖赏，奖金vt.珍视</string>
		<key>question</key>
		<string>prize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能性；概率</string>
		<key>question</key>
		<string>probability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.或有的；大概的</string>
		<key>question</key>
		<string>probable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.或许，大概</string>
		<key>question</key>
		<string>probably</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.问题；习题，问题</string>
		<key>question</key>
		<string>problem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.程序；手续；过程</string>
		<key>question</key>
		<string>procedure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.进行；继续进行</string>
		<key>question</key>
		<string>proceed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过程；工序vt.加工</string>
		<key>question</key>
		<string>process</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.队伍，行列</string>
		<key>question</key>
		<string>procession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.生产；产生；展现</string>
		<key>question</key>
		<string>produce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.产品，产物；(乘)积</string>
		<key>question</key>
		<string>product</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生产；产品；总产量</string>
		<key>question</key>
		<string>production</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.职业</string>
		<key>question</key>
		<string>profession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.职业的n.专业人员</string>
		<key>question</key>
		<string>professional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教授</string>
		<key>question</key>
		<string>professor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.益处；利润vi.得益</string>
		<key>question</key>
		<string>profit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.节目单；大纲；程序</string>
		<key>question</key>
		<string>program</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.前进，进展；进步</string>
		<key>question</key>
		<string>progress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.进步的；向前进的</string>
		<key>question</key>
		<string>progressive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.禁止，阻止</string>
		<key>question</key>
		<string>prohibit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方案，工程vi.伸出</string>
		<key>question</key>
		<string>project</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.实起的；突出的</string>
		<key>question</key>
		<string>prominent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诺言；指望vt.允诺</string>
		<key>question</key>
		<string>promise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.促进，发扬；提升</string>
		<key>question</key>
		<string>promote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.及时的vt.敦促</string>
		<key>question</key>
		<string>prompt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代名词</string>
		<key>question</key>
		<string>pronoun</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发…的音；宣布</string>
		<key>question</key>
		<string>pronounce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发音，发音法</string>
		<key>question</key>
		<string>pronunciation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.证据；证明；校样</string>
		<key>question</key>
		<string>proof</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.适合的；合乎体统的</string>
		<key>question</key>
		<string>proper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.财产，资产；性质</string>
		<key>question</key>
		<string>property</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.比，比率，部分</string>
		<key>question</key>
		<string>proportion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.比例的；相称的</string>
		<key>question</key>
		<string>proportional</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
