<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.提议，建议；求婚</string>
		<key>question</key>
		<string>proposal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提议vi.求婚</string>
		<key>question</key>
		<string>propose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.展望；前景，前程</string>
		<key>question</key>
		<string>prospect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.繁荣；昌盛，兴旺</string>
		<key>question</key>
		<string>prosperity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.繁荣的，昌盛的</string>
		<key>question</key>
		<string>prosperous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保护，保卫，警戒</string>
		<key>question</key>
		<string>protect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保护，警戒</string>
		<key>question</key>
		<string>protection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.保护的，防护的</string>
		<key>question</key>
		<string>protective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛋白质，朊</string>
		<key>question</key>
		<string>protein</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.抗议</string>
		<key>question</key>
		<string>protest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.骄傲的；自豪的</string>
		<key>question</key>
		<string>proud</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.证明vi.结果是</string>
		<key>question</key>
		<string>prove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提供；装备，供给</string>
		<key>question</key>
		<string>provide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.以…为条件</string>
		<key>question</key>
		<string>provided</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.省；领域，部门</string>
		<key>question</key>
		<string>province</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.供应；预备；存粮</string>
		<key>question</key>
		<string>provision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.心理的，心理学的</string>
		<key>question</key>
		<string>psychological</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.公众的n.公众</string>
		<key>question</key>
		<string>public</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公布；出版；出版物</string>
		<key>question</key>
		<string>publication</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.公布；发表；出版</string>
		<key>question</key>
		<string>publish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拉，拖；拉，拉力</string>
		<key>question</key>
		<string>pull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脉搏；脉冲，脉动</string>
		<key>question</key>
		<string>pulse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泵vt.用抽机抽</string>
		<key>question</key>
		<string>pump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.冲出n.冲压机</string>
		<key>question</key>
		<string>punch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用拳猛击n.拳打</string>
		<key>question</key>
		<string>punch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.严守时刻的；准时的</string>
		<key>question</key>
		<string>punctual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.罚，惩罚，处罚</string>
		<key>question</key>
		<string>punish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瞳孔</string>
		<key>question</key>
		<string>pupil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学生，小学生</string>
		<key>question</key>
		<string>pupil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.买，购买vt.买</string>
		<key>question</key>
		<string>purchase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.纯粹的；纯洁的</string>
		<key>question</key>
		<string>pure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.紫色a.紫的</string>
		<key>question</key>
		<string>purple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目的；意图；效果</string>
		<key>question</key>
		<string>purpose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钱包，小钱袋，手袋</string>
		<key>question</key>
		<string>purse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.追赶，追踪；进行</string>
		<key>question</key>
		<string>pursue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推，逼迫vi.推</string>
		<key>question</key>
		<string>push</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放，摆；使处于</string>
		<key>question</key>
		<string>put</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.难题；谜vi.使迷惑</string>
		<key>question</key>
		<string>puzzle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使具有资格</string>
		<key>question</key>
		<string>qualify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.质量；品质，特性</string>
		<key>question</key>
		<string>quality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.量，数量，分量</string>
		<key>question</key>
		<string>quantity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争吵，吵架，口角</string>
		<key>question</key>
		<string>quarrel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.四分之一；一刻钟</string>
		<key>question</key>
		<string>quarter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王后；女王</string>
		<key>question</key>
		<string>queen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发问；问题；疑问</string>
		<key>question</key>
		<string>question</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行列vi.排队等候</string>
		<key>question</key>
		<string>queue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快的；敏捷的</string>
		<key>question</key>
		<string>quick</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.寂静的；安静的</string>
		<key>question</key>
		<string>quiet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.离开，退出；停止</string>
		<key>question</key>
		<string>quit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.完全；相当；的确</string>
		<key>question</key>
		<string>quite</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
