<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.白垩；粉笔</string>
		<key>question</key>
		<string>chalk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.挑战；要求，需要</string>
		<key>question</key>
		<string>challenge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.会议室；房间；腔</string>
		<key>question</key>
		<string>chamber</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冠军，得胜者</string>
		<key>question</key>
		<string>champion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机会，机遇；可能性</string>
		<key>question</key>
		<string>chance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.改变，变化；零钱</string>
		<key>question</key>
		<string>change</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海峡；渠道；频道</string>
		<key>question</key>
		<string>channel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.章，回，篇</string>
		<key>question</key>
		<string>chapter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.性格；特性；角色</string>
		<key>question</key>
		<string>character</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特有的n.特性</string>
		<key>question</key>
		<string>characteristic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.索价；控告n.费用</string>
		<key>question</key>
		<string>charge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.图，图表；海图</string>
		<key>question</key>
		<string>chart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.追逐，追赶，追求</string>
		<key>question</key>
		<string>chase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.选择，抉择</string>
		<key>question</key>
		<string>choice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.廉价的；劣质的</string>
		<key>question</key>
		<string>cheap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.骗取；哄vi.行骗</string>
		<key>question</key>
		<string>cheat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.检查；制止n.检查</string>
		<key>question</key>
		<string>check</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面颊，脸蛋</string>
		<key>question</key>
		<string>cheek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使振作；欢呼</string>
		<key>question</key>
		<string>cheer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快乐的，愉快的</string>
		<key>question</key>
		<string>cheerful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乳酪，干酪</string>
		<key>question</key>
		<string>cheese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.化学的n.化学制品</string>
		<key>question</key>
		<string>chemical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.化学家；药剂师</string>
		<key>question</key>
		<string>chemist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.化学</string>
		<key>question</key>
		<string>chemistry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.支票</string>
		<key>question</key>
		<string>cheque</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棋；国际象棋</string>
		<key>question</key>
		<string>chess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胸腔，胸膛；箱子</string>
		<key>question</key>
		<string>chest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.咀嚼，嚼碎</string>
		<key>question</key>
		<string>chew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小鸡，小鸟；鸡肉</string>
		<key>question</key>
		<string>chicken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.主要的；首席的</string>
		<key>question</key>
		<string>chief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小孩，儿童；儿子</string>
		<key>question</key>
		<string>child</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.童年，幼年；早期</string>
		<key>question</key>
		<string>childhood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使变冷n.寒冷</string>
		<key>question</key>
		<string>chill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烟囱，烟筒；玻璃罩</string>
		<key>question</key>
		<string>chimney</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.颏，下巴</string>
		<key>question</key>
		<string>chin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓷器，瓷料</string>
		<key>question</key>
		<string>china</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.中国</string>
		<key>question</key>
		<string>China</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.中国的n.中国人</string>
		<key>question</key>
		<string>Chinese</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巧克力；巧克力糖</string>
		<key>question</key>
		<string>chocolate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使窒息；塞满</string>
		<key>question</key>
		<string>choke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.选择，挑选；情愿</string>
		<key>question</key>
		<string>choose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.砍，劈；切细vi.砍</string>
		<key>question</key>
		<string>chop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基督教徒；信徒</string>
		<key>question</key>
		<string>Christian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圣诞节</string>
		<key>question</key>
		<string>Christmas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教堂，礼拜堂；教会</string>
		<key>question</key>
		<string>church</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香烟，纸烟，卷烟</string>
		<key>question</key>
		<string>cigarette</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.油；石油vt.加油于</string>
		<key>question</key>
		<string>oil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电影院；电影，影片</string>
		<key>question</key>
		<string>cinema</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圆，圆周；圈子</string>
		<key>question</key>
		<string>circle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电路；环行；巡行</string>
		<key>question</key>
		<string>circuit</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
