<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.集合，召集；装配</string>
		<key>question</key>
		<string>assemble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.集合；集会；装配</string>
		<key>question</key>
		<string>assembly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.对(财产等)估价</string>
		<key>question</key>
		<string>assess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.指派；分配；指定</string>
		<key>question</key>
		<string>assign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.援助，帮助；搀扶</string>
		<key>question</key>
		<string>assist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协助,援助</string>
		<key>question</key>
		<string>assistance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.交往n.伙伴，同事</string>
		<key>question</key>
		<string>associate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协会，团体；联合</string>
		<key>question</key>
		<string>association</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.假定；承担；呈现</string>
		<key>question</key>
		<string>assume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使确信；向…保证</string>
		<key>question</key>
		<string>assure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使惊讶，使吃惊</string>
		<key>question</key>
		<string>astonish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇宙航行员，宇航员</string>
		<key>question</key>
		<string>astronaut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原子；微粒；微量</string>
		<key>question</key>
		<string>atom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.原子的；原子能的</string>
		<key>question</key>
		<string>atomic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.缚，系，贴；附加</string>
		<key>question</key>
		<string>attach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.达到，获得，完成</string>
		<key>question</key>
		<string>attain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.尝试，试图n.企图</string>
		<key>question</key>
		<string>attempt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.出席；照顾，护理</string>
		<key>question</key>
		<string>attend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…归因于n.属性</string>
		<key>question</key>
		<string>attribute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.听众，观众，读者</string>
		<key>question</key>
		<string>audience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.当局，官方；权力</string>
		<key>question</key>
		<string>authority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.自动的；机械的</string>
		<key>question</key>
		<string>automatic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽车，机动车</string>
		<key>question</key>
		<string>automobile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.辅助的；附属的</string>
		<key>question</key>
		<string>auxiliary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可利用的；通用的</string>
		<key>question</key>
		<string>available</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.林荫道，道路；大街</string>
		<key>question</key>
		<string>avenue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.等候，期待</string>
		<key>question</key>
		<string>await</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.醒着的vt.唤醒</string>
		<key>question</key>
		<string>awake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奖，奖品；判定</string>
		<key>question</key>
		<string>award</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.知道的，意识到的</string>
		<key>question</key>
		<string>aware</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.令人不愉快的</string>
		<key>question</key>
		<string>awful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.笨拙的；尴尬的</string>
		<key>question</key>
		<string>awkward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斧子</string>
		<key>question</key>
		<string>ax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.婴儿；孩子气的人</string>
		<key>question</key>
		<string>baby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在后；回原处；回</string>
		<key>question</key>
		<string>back</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.背景，后景，经历</string>
		<key>question</key>
		<string>background</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.向后的；倒的ad.倒</string>
		<key>question</key>
		<string>backward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细菌</string>
		<key>question</key>
		<string>bacteria</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坏的，恶的；严重的</string>
		<key>question</key>
		<string>bad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.坏，差；严重地</string>
		<key>question</key>
		<string>badly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.袋，包，钱包，背包</string>
		<key>question</key>
		<string>bag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行李</string>
		<key>question</key>
		<string>baggage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.烤，烘，焙；烧硬</string>
		<key>question</key>
		<string>bake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使平衡；称n.天平</string>
		<key>question</key>
		<string>balance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.球，球状物；舞会</string>
		<key>question</key>
		<string>ball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气球，玩具气球</string>
		<key>question</key>
		<string>balloon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香蕉；芭蕉属植物</string>
		<key>question</key>
		<string>banana</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.乐队；带；波段</string>
		<key>question</key>
		<string>band</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巨响，枪声；猛击</string>
		<key>question</key>
		<string>bang</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.银行；库；岩，堤</string>
		<key>question</key>
		<string>bank</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
