<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.喜欢；喜爱；希望</string>
		<key>question</key>
		<string>like</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可能的ad.很可能</string>
		<key>question</key>
		<string>likely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.同样地；也，又</string>
		<key>question</key>
		<string>likewise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肢，臂，翼；树枝</string>
		<key>question</key>
		<string>limb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石灰</string>
		<key>question</key>
		<string>lime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.限度；限制；范围</string>
		<key>question</key>
		<string>limit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.限制；限度，局限</string>
		<key>question</key>
		<string>limitation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有限的</string>
		<key>question</key>
		<string>limited</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.线；排；路线；线条</string>
		<key>question</key>
		<string>line</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.有环连接n.环</string>
		<key>question</key>
		<string>link</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狮子；勇猛的人</string>
		<key>question</key>
		<string>lion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嘴唇</string>
		<key>question</key>
		<string>lip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.液体a.液体的</string>
		<key>question</key>
		<string>liquid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酒；溶液，液剂</string>
		<key>question</key>
		<string>liquor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.表，目录n.列举</string>
		<key>question</key>
		<string>list</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.听，留神听；听从</string>
		<key>question</key>
		<string>listen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公升</string>
		<key>question</key>
		<string>liter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.文学(上)的</string>
		<key>question</key>
		<string>literary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文学；文献</string>
		<key>question</key>
		<string>literature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公升</string>
		<key>question</key>
		<string>litre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.小的；少；幼小的</string>
		<key>question</key>
		<string>little</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.居住；活a.活的</string>
		<key>question</key>
		<string>live</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.活泼的；逼真的</string>
		<key>question</key>
		<string>lively</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肝；肝脏</string>
		<key>question</key>
		<string>liver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.活的n.生活，生计</string>
		<key>question</key>
		<string>living</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起居室</string>
		<key>question</key>
		<string>living-room</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.装；装满n.负载</string>
		<key>question</key>
		<string>load</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一条面包，一个面包</string>
		<key>question</key>
		<string>loaf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贷款；暂借vt.借出</string>
		<key>question</key>
		<string>loan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.地方的；局部的</string>
		<key>question</key>
		<string>local</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.探明，找出，查出</string>
		<key>question</key>
		<string>locate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.位置，场所</string>
		<key>question</key>
		<string>location</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锁vt.锁上，锁住</string>
		<key>question</key>
		<string>lock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.暂住，借宿，投宿</string>
		<key>question</key>
		<string>lodge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原木，木料</string>
		<key>question</key>
		<string>log</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.逻辑，推理；逻辑性</string>
		<key>question</key>
		<string>logic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.逻辑的；符合逻辑的</string>
		<key>question</key>
		<string>logical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.孤独的；荒凉的</string>
		<key>question</key>
		<string>lonely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.长的；远的ad.长久</string>
		<key>question</key>
		<string>long</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.渴望，极想念</string>
		<key>question</key>
		<string>long</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.看，显得n.看</string>
		<key>question</key>
		<string>look</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圈，环，环孔</string>
		<key>question</key>
		<string>loop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.松的；宽松的</string>
		<key>question</key>
		<string>loose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解开；使松驰</string>
		<key>question</key>
		<string>loosen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贵族；上帝，基督</string>
		<key>question</key>
		<string>lord</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运货汽车，卡车</string>
		<key>question</key>
		<string>lorry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.失去；迷失；输掉</string>
		<key>question</key>
		<string>lose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.遗失；损失；失败</string>
		<key>question</key>
		<string>loss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.许多，大量；签，阄</string>
		<key>question</key>
		<string>lot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.响亮的；吵闹的</string>
		<key>question</key>
		<string>loud</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
