<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.不安定的，焦虑的</string>
		<key>question</key>
		<string>restless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.恢复；归还；修补</string>
		<key>question</key>
		<string>restore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抑制，遏制；限制</string>
		<key>question</key>
		<string>restrain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抑制；遏制；克制</string>
		<key>question</key>
		<string>restraint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt限制，限定，约束</string>
		<key>question</key>
		<string>restrict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.恢复；重新开始</string>
		<key>question</key>
		<string>resume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.保持，保留，保有</string>
		<key>question</key>
		<string>retain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.退下；引退；就寝</string>
		<key>question</key>
		<string>retire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(被迫)退却，后退</string>
		<key>question</key>
		<string>retreat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.展现；揭示，揭露</string>
		<key>question</key>
		<string>reveal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.颠倒，翻转n.背面</string>
		<key>question</key>
		<string>reverse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.再检查n.复习</string>
		<key>question</key>
		<string>review</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.修订，校订；修改</string>
		<key>question</key>
		<string>revise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.反抗，造反</string>
		<key>question</key>
		<string>revolt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.革命；旋转，绕转</string>
		<key>question</key>
		<string>revolution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.革命的n.革命者</string>
		<key>question</key>
		<string>revolutionary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.报答；报酬vt.报答</string>
		<key>question</key>
		<string>reward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.韵律，格律；节奏</string>
		<key>question</key>
		<string>rhythm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肋，肋骨</string>
		<key>question</key>
		<string>rib</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缎带，丝带；带</string>
		<key>question</key>
		<string>ribbon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使摆脱，使去掉</string>
		<key>question</key>
		<string>rid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脊；岭，山脉；垄</string>
		<key>question</key>
		<string>ridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.荒谬的，可笑的</string>
		<key>question</key>
		<string>ridiculous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.步枪，来复枪</string>
		<key>question</key>
		<string>rifle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.刚硬的；僵硬的</string>
		<key>question</key>
		<string>rigid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.熟的；时机成熟的</string>
		<key>question</key>
		<string>ripe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风险，危险，冒险</string>
		<key>question</key>
		<string>risk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竞争者a.竞争的</string>
		<key>question</key>
		<string>rival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.吼叫；呼喊n.吼</string>
		<key>question</key>
		<string>roar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.烤，炙，烘</string>
		<key>question</key>
		<string>roast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机器人；自动机</string>
		<key>question</key>
		<string>robot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火箭，火箭发动机</string>
		<key>question</key>
		<string>rocket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杆，竿，棒</string>
		<key>question</key>
		<string>rod</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.滚动；转动</string>
		<key>question</key>
		<string>roll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滚柱，滚筒，滚轴</string>
		<key>question</key>
		<string>roller</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.浪漫的；传奇的</string>
		<key>question</key>
		<string>romantic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.旋转的，转动的</string>
		<key>question</key>
		<string>rotary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.旋转vt.使旋转</string>
		<key>question</key>
		<string>rotate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旋转，转动；循环</string>
		<key>question</key>
		<string>rotation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.腐烂的，发臭的</string>
		<key>question</key>
		<string>rotten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.表面不平的；粗略的</string>
		<key>question</key>
		<string>rough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.唤醒，唤起；惊起</string>
		<key>question</key>
		<string>rouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.路，路线，路程</string>
		<key>question</key>
		<string>route</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.例行公事a.日常的</string>
		<key>question</key>
		<string>routine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(一)排，(一)行</string>
		<key>question</key>
		<string>row</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.划(船等)vi.划船</string>
		<key>question</key>
		<string>row</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.王的；皇家的</string>
		<key>question</key>
		<string>royal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小地毯；毛毯</string>
		<key>question</key>
		<string>rug</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.农村的，田园的</string>
		<key>question</key>
		<string>rural</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.冲，奔vt.催促</string>
		<key>question</key>
		<string>rush</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
