<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>prep.在…下面(以下)</string>
		<key>question</key>
		<string>below</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.带，腰带；皮带；区</string>
		<key>question</key>
		<string>belt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长凳，条凳；工作台</string>
		<key>question</key>
		<string>bench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使弯曲vi.弯曲</string>
		<key>question</key>
		<string>bend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…下方</string>
		<key>question</key>
		<string>beneath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有利的，有益的</string>
		<key>question</key>
		<string>beneficial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.利益；恩惠；津贴</string>
		<key>question</key>
		<string>benefit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…旁边</string>
		<key>question</key>
		<string>beside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.而且prep.除…之外</string>
		<key>question</key>
		<string>besides</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最好的；最大的</string>
		<key>question</key>
		<string>best</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.打赌</string>
		<key>question</key>
		<string>bet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.较好的ad.更好地</string>
		<key>question</key>
		<string>better</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…中间</string>
		<key>question</key>
		<string>between</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…的那边</string>
		<key>question</key>
		<string>beyond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基督教《圣经》</string>
		<key>question</key>
		<string>Bible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自行车，脚踏车</string>
		<key>question</key>
		<string>bicycle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大的，巨大的</string>
		<key>question</key>
		<string>big</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自行车vi.骑自行车</string>
		<key>question</key>
		<string>bike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.账单；招贴；票据</string>
		<key>question</key>
		<string>bill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.万亿(英)</string>
		<key>question</key>
		<string>billion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.捆绑；包扎；装钉</string>
		<key>question</key>
		<string>bind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生物学；生态学</string>
		<key>question</key>
		<string>biology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鸟，禽</string>
		<key>question</key>
		<string>bird</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分娩，出生；出身</string>
		<key>question</key>
		<string>birth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生日，诞生的日期</string>
		<key>question</key>
		<string>birthday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(英)饼干；(美)软饼</string>
		<key>question</key>
		<string>biscuit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一点，一些，小片</string>
		<key>question</key>
		<string>bit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.咬，叮，螫；剌穿</string>
		<key>question</key>
		<string>bite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.痛苦的；严寒的</string>
		<key>question</key>
		<string>bitter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.黑色的；黑暗的</string>
		<key>question</key>
		<string>black</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黑板</string>
		<key>question</key>
		<string>blackboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.刀刃，刀片；叶片</string>
		<key>question</key>
		<string>blade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.责备，把…归咎于</string>
		<key>question</key>
		<string>blame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空白的n.空白</string>
		<key>question</key>
		<string>blank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毛毯，毯子，羊毛毯</string>
		<key>question</key>
		<string>blanket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爆炸，冲击波vt.炸</string>
		<key>question</key>
		<string>blast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.出血，流血；泌脂</string>
		<key>question</key>
		<string>bleed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.混和</string>
		<key>question</key>
		<string>blend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.瞎的；盲目的</string>
		<key>question</key>
		<string>blind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.街区vt.堵塞，拦阻</string>
		<key>question</key>
		<string>block</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.血，血液；血统</string>
		<key>question</key>
		<string>blood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花；开花，开花期</string>
		<key>question</key>
		<string>bloom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.吹，吹动；吹响</string>
		<key>question</key>
		<string>blow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.蓝色的n.蓝色</string>
		<key>question</key>
		<string>blue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.板vt.上(船、车等)</string>
		<key>question</key>
		<string>board</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.自夸vt.吹嘘</string>
		<key>question</key>
		<string>boast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小船，艇；渔船</string>
		<key>question</key>
		<string>boat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.身体；主体；尸体</string>
		<key>question</key>
		<string>body</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大胆的；冒失的</string>
		<key>question</key>
		<string>bold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.螺栓；插销vt.闩门</string>
		<key>question</key>
		<string>bolt</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
