<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.丢弃；放弃，抛弃</string>
		<key>question</key>
		<string>abandon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在船(车)上；上船</string>
		<key>question</key>
		<string>aboard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绝对的；纯粹的</string>
		<key>question</key>
		<string>absolute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.完全地；绝对地</string>
		<key>question</key>
		<string>absolutely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吸收；使专心</string>
		<key>question</key>
		<string>absorb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摘要</string>
		<key>question</key>
		<string>abstract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.丰富的；大量的</string>
		<key>question</key>
		<string>abundant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.滥用；虐待n.滥用</string>
		<key>question</key>
		<string>abuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.学院的；学术的</string>
		<key>question</key>
		<string>academic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(使)加快；促进</string>
		<key>question</key>
		<string>accelerate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接近；通道，入口</string>
		<key>question</key>
		<string>access</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.偶然的；非本质的</string>
		<key>question</key>
		<string>accidental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.容纳；供应，供给</string>
		<key>question</key>
		<string>accommodate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.招待设备；预定铺位</string>
		<key>question</key>
		<string>accommodation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.陪伴，陪同；伴随</string>
		<key>question</key>
		<string>accompany</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.达到(目的)；完成</string>
		<key>question</key>
		<string>accomplish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一致；和谐；授予</string>
		<key>question</key>
		<string>accordance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因此，所以；照着</string>
		<key>question</key>
		<string>accordingly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记述；解释；帐目</string>
		<key>question</key>
		<string>account</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.积累vi.堆积</string>
		<key>question</key>
		<string>accumulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.准确(性)；准确度</string>
		<key>question</key>
		<string>accuracy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.准确的，正确无误的</string>
		<key>question</key>
		<string>accurate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.惯常的；习惯的</string>
		<key>question</key>
		<string>accustomed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酸；酸的，酸性的</string>
		<key>question</key>
		<string>acid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.认识；了解；熟人</string>
		<key>question</key>
		<string>acquaintance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.取得；获得；学到</string>
		<key>question</key>
		<string>acquire </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.英亩(=6.07亩)</string>
		<key>question</key>
		<string>acre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使适应；改编</string>
		<key>question</key>
		<string>adapt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.加，加法；附加物</string>
		<key>question</key>
		<string>addition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.附加的，追加的</string>
		<key>question</key>
		<string>additional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地址；演说；谈吐</string>
		<key>question</key>
		<string>address </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.足够的；可以胜任的</string>
		<key>question</key>
		<string>adequate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.调整，调节；校正</string>
		<key>question</key>
		<string>adjust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管理；管理部门</string>
		<key>question</key>
		<string>administration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.允许进入；承认</string>
		<key>question</key>
		<string>admission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.承认；准许…进入</string>
		<key>question</key>
		<string>admit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.前进；提高n.进展</string>
		<key>question</key>
		<string>advance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.先进的；高级的</string>
		<key>question</key>
		<string>advanced</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冒险；惊险活动</string>
		<key>question</key>
		<string>adventure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.明智的；可取的</string>
		<key>question</key>
		<string>advisable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大西洋的n.大西洋</string>
		<key>question</key>
		<string>ætlantic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事情，事件；事务</string>
		<key>question</key>
		<string>affair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.影响；感动</string>
		<key>question</key>
		<string>affect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.慈爱，爱；爱慕</string>
		<key>question</key>
		<string>affection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.担负得起…；提供</string>
		<key>question</key>
		<string>afford</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.后来，以后</string>
		<key>question</key>
		<string>afterward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.变老</string>
		<key>question</key>
		<string>age</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.侵略的；好斗的</string>
		<key>question</key>
		<string>aggressive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飞机，飞行器</string>
		<key>question</key>
		<string>aircraft</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惊恐，忧虑；警报</string>
		<key>question</key>
		<string>alarm</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
