<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.罚金，罚款</string>
		<key>question</key>
		<string>fine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手指；指状物</string>
		<key>question</key>
		<string>finger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.完成，结束n.结束</string>
		<key>question</key>
		<string>finish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火；火灾vi.开火</string>
		<key>question</key>
		<string>fire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消防队员；司炉工</string>
		<key>question</key>
		<string>fireman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商行，商号，公司</string>
		<key>question</key>
		<string>firm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.第一ad.最初</string>
		<key>question</key>
		<string>first</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鱼，鱼肉vi.钓鱼</string>
		<key>question</key>
		<string>fish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.渔民，渔夫，打鱼人</string>
		<key>question</key>
		<string>fisherman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.适合；安装vi.适合</string>
		<key>question</key>
		<string>fit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.五，五个，第五</string>
		<key>question</key>
		<string>five</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使固定；决定</string>
		<key>question</key>
		<string>fix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旗，旗帜；旗舰旗</string>
		<key>question</key>
		<string>flag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火焰；光辉；热情</string>
		<key>question</key>
		<string>flame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闪光vi.闪，闪烁</string>
		<key>question</key>
		<string>flash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平的，扁平的</string>
		<key>question</key>
		<string>flat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一套房间；单元住宅</string>
		<key>question</key>
		<string>flat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.味，味道；风味</string>
		<key>question</key>
		<string>flavour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.舰队；船队，机群</string>
		<key>question</key>
		<string>fleet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肉，肌肉；肉体</string>
		<key>question</key>
		<string>flesh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.易弯曲的；灵活的</string>
		<key>question</key>
		<string>flexible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航班；飞行；逃跑</string>
		<key>question</key>
		<string>flight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.漂浮vt.使漂浮</string>
		<key>question</key>
		<string>float</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羊群，群；大量</string>
		<key>question</key>
		<string>flock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洪水vt.淹没</string>
		<key>question</key>
		<string>flood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地板；楼层</string>
		<key>question</key>
		<string>floor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.面粉，粉；粉状物质</string>
		<key>question</key>
		<string>flour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.繁荣，茂盛，兴旺</string>
		<key>question</key>
		<string>flourish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.流动；飘垂；涨潮</string>
		<key>question</key>
		<string>flow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.花，花卉；开花</string>
		<key>question</key>
		<string>flower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.流利的，流畅的</string>
		<key>question</key>
		<string>fluent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流体，液体</string>
		<key>question</key>
		<string>fluid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蝇，苍蝇vi.飞行</string>
		<key>question</key>
		<string>fly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.聚焦，注视n.焦点</string>
		<key>question</key>
		<string>focus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雾；烟雾，尘雾</string>
		<key>question</key>
		<string>fog</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.折叠；合拢n.褶</string>
		<key>question</key>
		<string>fold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人们，家属，亲属</string>
		<key>question</key>
		<string>folk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.跟随；结果是</string>
		<key>question</key>
		<string>follow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.接着的；下列的</string>
		<key>question</key>
		<string>following</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.喜爱的；溺爱的</string>
		<key>question</key>
		<string>fond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.食物，食品，养料</string>
		<key>question</key>
		<string>food</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蠢人，傻子vt.欺骗</string>
		<key>question</key>
		<string>fool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.愚蠢的；鲁莽的</string>
		<key>question</key>
		<string>foolish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脚；最下部；英尺</string>
		<key>question</key>
		<string>foot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.足球比赛；足球</string>
		<key>question</key>
		<string>football</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脚步；脚步声；足迹</string>
		<key>question</key>
		<string>footstep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.为；给；因为</string>
		<key>question</key>
		<string>for</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.禁止，不许；阻止</string>
		<key>question</key>
		<string>forbid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.强迫n.力，力量</string>
		<key>question</key>
		<string>force</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预测，预报vt.预示</string>
		<key>question</key>
		<string>forecast</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
