<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.酒精，乙醇</string>
		<key>question</key>
		<string>alcohol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同样的，相同的</string>
		<key>question</key>
		<string>alike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.合金；(金属的)成色</string>
		<key>question</key>
		<string>alloy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.字母表，字母系统</string>
		<key>question</key>
		<string>alphabet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.改变，变更；改做</string>
		<key>question</key>
		<string>alter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.替换物；取舍，抉择</string>
		<key>question</key>
		<string>alternative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高，高度；高处</string>
		<key>question</key>
		<string>altitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铝</string>
		<key>question</key>
		<string>aluminium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使惊奇，使惊愕</string>
		<key>question</key>
		<string>amaze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.救护车；野战医院</string>
		<key>question</key>
		<string>ambulance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep在…之中(=among)</string>
		<key>question</key>
		<string>amongst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.逗…乐；给…娱乐</string>
		<key>question</key>
		<string>amuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分析，分解，解析</string>
		<key>question</key>
		<string>analyse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分析，分解，解析</string>
		<key>question</key>
		<string>analysis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖宗，祖先</string>
		<key>question</key>
		<string>ancestor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锚vi.抛锚，停泊</string>
		<key>question</key>
		<string>anchor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.古代的，古老的</string>
		<key>question</key>
		<string>ancient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.踝，踝节部</string>
		<key>question</key>
		<string>ankle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.宣布，宣告，发表</string>
		<key>question</key>
		<string>announce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使恼怒；打搅</string>
		<key>question</key>
		<string>annoy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.每年的n.年报</string>
		<key>question</key>
		<string>annual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预料，预期，期望</string>
		<key>question</key>
		<string>anticipate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.焦虑，忧虑；渴望</string>
		<key>question</key>
		<string>anxiety</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.忧虑的；渴望的</string>
		<key>question</key>
		<string>anxious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.相隔；分开；除去</string>
		<key>question</key>
		<string>apart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.道歉，谢罪，认错</string>
		<key>question</key>
		<string>apologize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.器械，仪器；器官</string>
		<key>question</key>
		<string>apparatus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.任命，委任；约定</string>
		<key>question</key>
		<string>appoint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.呼吁；申述</string>
		<key>question</key>
		<string>appeal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.食欲，胃口；欲望</string>
		<key>question</key>
		<string>appetite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.用具，器具，器械</string>
		<key>question</key>
		<string>appliance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.能应用的；适当的</string>
		<key>question</key>
		<string>applicable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.请求，申请；施用</string>
		<key>question</key>
		<string>application</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.欣赏；领会；感谢</string>
		<key>question</key>
		<string>appreciate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赞成，同意；批准</string>
		<key>question</key>
		<string>approval</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赞成，称许；批准</string>
		<key>question</key>
		<string>approve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.近似的vt.近似</string>
		<key>question</key>
		<string>approximate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.随心所欲的；专断的</string>
		<key>question</key>
		<string>arbitrary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建筑学；建筑式样</string>
		<key>question</key>
		<string>architecture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.争论，争辩，辩论</string>
		<key>question</key>
		<string>argue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争论，辩论；理由</string>
		<key>question</key>
		<string>argument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.出现；由…引起</string>
		<key>question</key>
		<string>arise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.算术，四则运算</string>
		<key>question</key>
		<string>arithmetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引起，唤起；唤醒</string>
		<key>question</key>
		<string>arouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.条款；物品</string>
		<key>question</key>
		<string>article</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.人工的；娇揉造作的</string>
		<key>question</key>
		<string>artificial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.艺术的；艺术家的</string>
		<key>question</key>
		<string>artistic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灰，灰末；骨灰</string>
		<key>question</key>
		<string>ash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.惭愧(的)；羞耻(的)</string>
		<key>question</key>
		<string>ashamed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.方面；样子，外表</string>
		<key>question</key>
		<string>aspect</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
