<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.减轻；救济；援救</string>
		<key>question</key>
		<string>relief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减轻，解除；救济</string>
		<key>question</key>
		<string>relieve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宗教；宗教信仰</string>
		<key>question</key>
		<string>religion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.宗教的；虔诚的</string>
		<key>question</key>
		<string>religious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不愿的，勉强的</string>
		<key>question</key>
		<string>reluctant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.依赖，依靠；信赖</string>
		<key>question</key>
		<string>rely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.剩下，余留；保持</string>
		<key>question</key>
		<string>remain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.评论，谈论</string>
		<key>question</key>
		<string>remark</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.异常的，非凡的</string>
		<key>question</key>
		<string>remarkable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.治疗；补救</string>
		<key>question</key>
		<string>remedy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.记得，想起；记住</string>
		<key>question</key>
		<string>remember</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提醒，使想起</string>
		<key>question</key>
		<string>remind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相隔很远的；冷淡的</string>
		<key>question</key>
		<string>remote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移动；迁移；除掉</string>
		<key>question</key>
		<string>removal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.移动，搬开；脱掉</string>
		<key>question</key>
		<string>remove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.表示，给予；使得</string>
		<key>question</key>
		<string>render</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使更新vi.更新</string>
		<key>question</key>
		<string>renew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.租金，租vi.出租</string>
		<key>question</key>
		<string>rent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.修理，修补</string>
		<key>question</key>
		<string>repair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.重说，重做n.重复</string>
		<key>question</key>
		<string>repeat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.重复地；一再</string>
		<key>question</key>
		<string>repeatedly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重复，反复</string>
		<key>question</key>
		<string>repetition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.回答，答复</string>
		<key>question</key>
		<string>reply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.报告；汇报</string>
		<key>question</key>
		<string>report</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记者，通讯员</string>
		<key>question</key>
		<string>reporter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.描绘；代表；象征</string>
		<key>question</key>
		<string>represent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.代表性的n.代表</string>
		<key>question</key>
		<string>representative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.繁殖，生殖</string>
		<key>question</key>
		<string>reproduce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共和国，共和政体</string>
		<key>question</key>
		<string>republic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名誉，名声；好名声</string>
		<key>question</key>
		<string>reputation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;v.请求，要求</string>
		<key>question</key>
		<string>request</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.需要；要求，命令</string>
		<key>question</key>
		<string>require</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.需要；要求</string>
		<key>question</key>
		<string>requirement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.援救，营救</string>
		<key>question</key>
		<string>rescue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.像，类似</string>
		<key>question</key>
		<string>resemble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.储备，保留；预定</string>
		<key>question</key>
		<string>reserve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水库；蓄水池</string>
		<key>question</key>
		<string>reservior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.居住；驻扎；住处</string>
		<key>question</key>
		<string>residence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.居住的n.居民</string>
		<key>question</key>
		<string>resident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放弃vi.辞职</string>
		<key>question</key>
		<string>resign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.抵抗，抵制</string>
		<key>question</key>
		<string>resist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抵抗；抵制；抵抗力</string>
		<key>question</key>
		<string>resistance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.抵抗的，反抗的</string>
		<key>question</key>
		<string>resistant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚决，坚定；决定</string>
		<key>question</key>
		<string>resolution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解决；决心n.决心</string>
		<key>question</key>
		<string>resolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.求助，凭借;诉诸于(+to武力等)</string>
		<key>question</key>
		<string>resort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>各自的，各个的</string>
		<key>question</key>
		<string>respective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.各自地，分别地</string>
		<key>question</key>
		<string>respectively</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.作答；响应</string>
		<key>question</key>
		<string>respond</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.作答，回答；响应</string>
		<key>question</key>
		<string>response</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
