<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.回想；叫回；收回</string>
		<key>question</key>
		<string>recall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收到；收条，收据</string>
		<key>question</key>
		<string>receipt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.收到；得到；接待</string>
		<key>question</key>
		<string>receive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收受者，收件人</string>
		<key>question</key>
		<string>receiver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.新近的，最近的</string>
		<key>question</key>
		<string>recent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.最近，新近</string>
		<key>question</key>
		<string>recently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.接待；招待会；接受</string>
		<key>question</key>
		<string>reception</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.认出，识别；承认</string>
		<key>question</key>
		<string>recognition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.认识，认出；承认</string>
		<key>question</key>
		<string>recognize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推荐，介绍；劝告</string>
		<key>question</key>
		<string>recommend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.推荐，介绍；劝告</string>
		<key>question</key>
		<string>recommendation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记录；履历vt.记录</string>
		<key>question</key>
		<string>record</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.记录者；录音机</string>
		<key>question</key>
		<string>recorder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.重新获得；挽回</string>
		<key>question</key>
		<string>recover</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重获；痊愈，恢复</string>
		<key>question</key>
		<string>recovery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.红色的n.红色</string>
		<key>question</key>
		<string>red</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减少，减小；简化</string>
		<key>question</key>
		<string>reduce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.减少，减小，缩减</string>
		<key>question</key>
		<string>reduction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使求助于vi.谈到</string>
		<key>question</key>
		<string>refer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参考；出处；提及</string>
		<key>question</key>
		<string>reference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.精炼，提纯</string>
		<key>question</key>
		<string>refine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反射；反映；思考</string>
		<key>question</key>
		<string>reflect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反射；映象；反映</string>
		<key>question</key>
		<string>reflection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反射；映象；反映</string>
		<key>question</key>
		<string>reflexion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.改革，改良</string>
		<key>question</key>
		<string>reform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使清新vi.恢复精神</string>
		<key>question</key>
		<string>refresh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冰箱，冷藏库</string>
		<key>question</key>
		<string>refrigerator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拒绝</string>
		<key>question</key>
		<string>refusal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拒绝vt.拒绝</string>
		<key>question</key>
		<string>refuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…看作；尊敬</string>
		<key>question</key>
		<string>regard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.关于</string>
		<key>question</key>
		<string>regarding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.不顾一切地</string>
		<key>question</key>
		<string>regardless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地区，地带；领域</string>
		<key>question</key>
		<string>region</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.登记，注册</string>
		<key>question</key>
		<string>register</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.懊悔；抱歉n.懊悔</string>
		<key>question</key>
		<string>regret</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.规则的；整齐的</string>
		<key>question</key>
		<string>regular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.管理，控制；调整</string>
		<key>question</key>
		<string>regulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.规则，规章；管理</string>
		<key>question</key>
		<string>regulation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.增援，支援；加强</string>
		<key>question</key>
		<string>reinforce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拒绝；丢掉；驳回</string>
		<key>question</key>
		<string>reject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.叙述；使联系</string>
		<key>question</key>
		<string>relate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.关系，联系；家属</string>
		<key>question</key>
		<string>relation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.关系，联系</string>
		<key>question</key>
		<string>relationship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有关系的；相对的</string>
		<key>question</key>
		<string>relative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相关性；相对性</string>
		<key>question</key>
		<string>relativity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使松弛vi.松弛</string>
		<key>question</key>
		<string>relax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.释放；放松；发表</string>
		<key>question</key>
		<string>release</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有关的，贴切的</string>
		<key>question</key>
		<string>relevant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可靠性</string>
		<key>question</key>
		<string>reliability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可靠的，可信赖的</string>
		<key>question</key>
		<string>reliable</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
