<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.暴露；揭露；曝光</string>
		<key>question</key>
		<string>exposure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.表示n.快车，快递</string>
		<key>question</key>
		<string>express</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词句；表达；表情</string>
		<key>question</key>
		<string>expression</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.延长；扩大；致</string>
		<key>question</key>
		<string>extend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.延长部分；伸展</string>
		<key>question</key>
		<string>extension</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.广阔的；广泛的</string>
		<key>question</key>
		<string>extensive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.广度；范围；程度</string>
		<key>question</key>
		<string>extent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外部的；对外的</string>
		<key>question</key>
		<string>exterior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外部的，外面的</string>
		<key>question</key>
		<string>external</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.额外的ad.特别地</string>
		<key>question</key>
		<string>extra</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.非同寻常的，特别的</string>
		<key>question</key>
		<string>extraordinary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.极度的；尽头的</string>
		<key>question</key>
		<string>extreme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.眼睛；眼力；鉴赏力</string>
		<key>question</key>
		<string>eye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.视力，目力</string>
		<key>question</key>
		<string>eyesight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.织物，纺织品；结构</string>
		<key>question</key>
		<string>fabric</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.脸；表面；外表</string>
		<key>question</key>
		<string>face</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.设备；容易；便利</string>
		<key>question</key>
		<string>facility</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.事实；实际，实情</string>
		<key>question</key>
		<string>fact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.因素；因子，系数</string>
		<key>question</key>
		<string>factor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工厂，制造厂</string>
		<key>question</key>
		<string>factory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.才能，能力；系，科</string>
		<key>question</key>
		<string>faculty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.褪色；逐渐消失</string>
		<key>question</key>
		<string>fade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.失败；失灵；不能</string>
		<key>question</key>
		<string>fail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失败；失败的人</string>
		<key>question</key>
		<string>failure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.微弱的；虚弱的</string>
		<key>question</key>
		<string>faint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.公平的；相当的</string>
		<key>question</key>
		<string>fair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.定期集市；博览会</string>
		<key>question</key>
		<string>fair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.相当；公平地</string>
		<key>question</key>
		<string>fairly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任，信心；信仰</string>
		<key>question</key>
		<string>faith</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.忠诚的；如实的</string>
		<key>question</key>
		<string>faithful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.落下；跌倒；陷落</string>
		<key>question</key>
		<string>fall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不真实的；伪造的</string>
		<key>question</key>
		<string>FALSE</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名声，名望</string>
		<key>question</key>
		<string>fame</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.熟悉的；冒昧的</string>
		<key>question</key>
		<string>familiar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家，家庭；家族</string>
		<key>question</key>
		<string>family</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饥荒；严重的缺乏</string>
		<key>question</key>
		<string>famine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.著名的，出名的</string>
		<key>question</key>
		<string>famous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(运动等)狂热爱好者</string>
		<key>question</key>
		<string>fan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扇子，风扇vt.扇</string>
		<key>question</key>
		<string>fan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.想象力；设想；爱好</string>
		<key>question</key>
		<string>fancy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.远的ad.远，遥远</string>
		<key>question</key>
		<string>far</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.车费，船费，票价</string>
		<key>question</key>
		<string>fare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.再会n.告别</string>
		<key>question</key>
		<string>farewell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.农场，农庄；饲养场</string>
		<key>question</key>
		<string>farm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.农民，农夫；农场主</string>
		<key>question</key>
		<string>farmer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.更远地a.更远的</string>
		<key>question</key>
		<string>farther</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.样子，方式；风尚</string>
		<key>question</key>
		<string>fashion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.流行的，时髦的</string>
		<key>question</key>
		<string>fashionable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.快的；偏快的ad.快</string>
		<key>question</key>
		<string>fast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.扎牢，扣住</string>
		<key>question</key>
		<string>fasten</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
