<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.友好的；和蔼的</string>
		<key>question</key>
		<string>kind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类</string>
		<key>question</key>
		<string>kind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仁慈，好意</string>
		<key>question</key>
		<string>kindness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.国王，君主</string>
		<key>question</key>
		<string>king</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.王国；领域，界</string>
		<key>question</key>
		<string>kingdom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吻vi.接吻n.吻</string>
		<key>question</key>
		<string>kiss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.厨房，灶间</string>
		<key>question</key>
		<string>kitchen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.膝，膝盖，膝关节</string>
		<key>question</key>
		<string>knee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跪，跪下，跪着</string>
		<key>question</key>
		<string>kneel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小刀，刀，餐刀</string>
		<key>question</key>
		<string>knife</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.&amp;n.敲，击，打</string>
		<key>question</key>
		<string>knock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(绳的)结，(树的)节</string>
		<key>question</key>
		<string>knot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.知道；认识；通晓</string>
		<key>question</key>
		<string>know</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.知识，学识；知道</string>
		<key>question</key>
		<string>knowledge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实验室，研究室</string>
		<key>question</key>
		<string>lab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标签；标记，符号</string>
		<key>question</key>
		<string>label</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实验室，研究室</string>
		<key>question</key>
		<string>laboratory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.劳动；工作；劳工</string>
		<key>question</key>
		<string>labour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vi.&amp;n.缺乏，不足</string>
		<key>question</key>
		<string>lack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.梯子，梯状物</string>
		<key>question</key>
		<string>ladder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女士，夫人；贵妇人</string>
		<key>question</key>
		<string>lady</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.走得慢n.落后</string>
		<key>question</key>
		<string>lag</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.湖</string>
		<key>question</key>
		<string>lake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灯</string>
		<key>question</key>
		<string>lamp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陆地；土地vi.上岸</string>
		<key>question</key>
		<string>land</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地主；房东，店主</string>
		<key>question</key>
		<string>landlord</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(乡间)小路；跑道</string>
		<key>question</key>
		<string>lane</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.语言，语言课程</string>
		<key>question</key>
		<string>language</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.膝部；一圈</string>
		<key>question</key>
		<string>lap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大的；巨大的</string>
		<key>question</key>
		<string>large</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.大部分；大量地</string>
		<key>question</key>
		<string>largely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.激光</string>
		<key>question</key>
		<string>laser</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最后的ad.最后</string>
		<key>question</key>
		<string>last</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.持续，持久；耐久</string>
		<key>question</key>
		<string>last</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.迟的ad.迟，晚</string>
		<key>question</key>
		<string>late</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.最近，不久前</string>
		<key>question</key>
		<string>lately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.后来；过一会儿</string>
		<key>question</key>
		<string>later</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.拉丁的n.拉丁语</string>
		<key>question</key>
		<string>Latin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(两者中)后者的</string>
		<key>question</key>
		<string>latter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.笑，发笑n.笑</string>
		<key>question</key>
		<string>laugh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笑，笑声</string>
		<key>question</key>
		<string>laughter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发射，投射；发动</string>
		<key>question</key>
		<string>launch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洗衣房，洗衣店</string>
		<key>question</key>
		<string>laundry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盥洗室，厕所</string>
		<key>question</key>
		<string>lavatory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法律，法令；法则</string>
		<key>question</key>
		<string>law</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.草地，草坪，草场</string>
		<key>question</key>
		<string>lawn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.律师；法学家</string>
		<key>question</key>
		<string>lawyer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.置放；铺设；设置</string>
		<key>question</key>
		<string>lay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.层，层次；铺设者</string>
		<key>question</key>
		<string>layer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.布局，安排，设计</string>
		<key>question</key>
		<string>layout</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
