<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.航海，航空字</string>
		<key>question</key>
		<string>voyage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开展(运动)</string>
		<key>question</key>
		<string>wage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.四轮运货马车</string>
		<key>question</key>
		<string>waggon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.醒来vt.弄醒</string>
		<key>question</key>
		<string>waken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.漫游；迷路；离题</string>
		<key>question</key>
		<string>wander</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.需要；缺乏</string>
		<key>question</key>
		<string>want</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暖和，温暖；热烈</string>
		<key>question</key>
		<string>warmth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水vt.使湿，灌溉</string>
		<key>question</key>
		<string>water</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不透水的，防水的</string>
		<key>question</key>
		<string>waterproof</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.波；波涛vi.波动</string>
		<key>question</key>
		<string>wave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜡，蜂蜡</string>
		<key>question</key>
		<string>wax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.削弱vi.变弱</string>
		<key>question</key>
		<string>weaken</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.虚弱，软弱；弱点</string>
		<key>question</key>
		<string>weakness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.磨损</string>
		<key>question</key>
		<string>wear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.织，编vi.纺织</string>
		<key>question</key>
		<string>weave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杂草，野草vi.除草</string>
		<key>question</key>
		<string>weed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.哭泣，流泪</string>
		<key>question</key>
		<string>weep</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.焊接，熔接</string>
		<key>question</key>
		<string>weld</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幸福，福利</string>
		<key>question</key>
		<string>welfare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小麦</string>
		<key>question</key>
		<string>wheat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轮，车轮</string>
		<key>question</key>
		<string>wheel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.&amp;n.当…的时候</string>
		<key>question</key>
		<string>whilst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.鞭笞；搅打n.鞭子</string>
		<key>question</key>
		<string>whip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.低声地讲vi.低语</string>
		<key>question</key>
		<string>whisper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.口哨vi.吹口哨</string>
		<key>question</key>
		<string>whistle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.完全地，全部</string>
		<key>question</key>
		<string>wholly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坏的；令人厌恶的</string>
		<key>question</key>
		<string>wicked</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加宽vi.变宽</string>
		<key>question</key>
		<string>widen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.寡妇</string>
		<key>question</key>
		<string>widow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宽阔，广阔；宽度</string>
		<key>question</key>
		<string>width</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.愿意的，心甘情愿的</string>
		<key>question</key>
		<string>willing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.绕，缠绕vi.卷曲</string>
		<key>question</key>
		<string>wind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.翼，翅膀，翅</string>
		<key>question</key>
		<string>wing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.金属线；电缆；电信</string>
		<key>question</key>
		<string>wire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.智力，才智，智能</string>
		<key>question</key>
		<string>wit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.收回；撤回vi.撤退</string>
		<key>question</key>
		<string>withdraw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抵挡，反抗</string>
		<key>question</key>
		<string>withstand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.证据；证人vt.目击</string>
		<key>question</key>
		<string>witness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.木制的；呆板的</string>
		<key>question</key>
		<string>wooden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.羊毛；毛线，绒线</string>
		<key>question</key>
		<string>wool</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工人，劳动者，工匠</string>
		<key>question</key>
		<string>workman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.车间，工场；创作室</string>
		<key>question</key>
		<string>workshop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.遍及全球的</string>
		<key>question</key>
		<string>world-wide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.虫，蠕虫</string>
		<key>question</key>
		<string>worm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.礼拜；崇拜vt.崇拜</string>
		<key>question</key>
		<string>worship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最坏的ad.最坏地</string>
		<key>question</key>
		<string>worst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.值…的n.价值</string>
		<key>question</key>
		<string>worth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无价值的，无用的</string>
		<key>question</key>
		<string>worthless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.值得花时间的</string>
		<key>question</key>
		<string>worthwhile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有价值的；值得的</string>
		<key>question</key>
		<string>worthy</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
