<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.姿势，手势；姿态</string>
		<key>question</key>
		<string>gesture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.变得，成为；到达</string>
		<key>question</key>
		<string>get</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鬼，灵魂；鬼魂</string>
		<key>question</key>
		<string>ghost</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巨人；巨物</string>
		<key>question</key>
		<string>giant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.礼物，赠品；天赋</string>
		<key>question</key>
		<string>gift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女孩子，姑娘；女儿</string>
		<key>question</key>
		<string>girl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.做，作；送给</string>
		<key>question</key>
		<string>give</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.高兴的；乐意的</string>
		<key>question</key>
		<string>glad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.看一下n.一瞥</string>
		<key>question</key>
		<string>glance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.玻璃；玻璃杯</string>
		<key>question</key>
		<string>glass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.瞥见n.一瞥，一看</string>
		<key>question</key>
		<string>glimpse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地球，世界；地界仪</string>
		<key>question</key>
		<string>globe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.光荣的；壮丽的</string>
		<key>question</key>
		<string>glorious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光荣；荣誉的事</string>
		<key>question</key>
		<string>glory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手套</string>
		<key>question</key>
		<string>glove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.白热光vi.发白热光</string>
		<key>question</key>
		<string>glow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胶，胶水vt.胶合</string>
		<key>question</key>
		<string>glue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.去；走；变为</string>
		<key>question</key>
		<string>go</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.球门；得分；目的</string>
		<key>question</key>
		<string>goal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山羊</string>
		<key>question</key>
		<string>goat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神，神像；上帝</string>
		<key>question</key>
		<string>God</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.金；钱财a.金制的</string>
		<key>question</key>
		<string>gold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.金色的；极好的</string>
		<key>question</key>
		<string>golden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.好的；有本事的</string>
		<key>question</key>
		<string>good</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.再见，再会</string>
		<key>question</key>
		<string>goodbye</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货物，商品</string>
		<key>question</key>
		<string>goods</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鹅，雌鹅</string>
		<key>question</key>
		<string>goose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.统治，治理；支配</string>
		<key>question</key>
		<string>govern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政府；治理；政治</string>
		<key>question</key>
		<string>government</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.州长；主管人员</string>
		<key>question</key>
		<string>governor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.优美，文雅；雅致</string>
		<key>question</key>
		<string>grace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.优美的，优雅的</string>
		<key>question</key>
		<string>graceful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…分等级n.等级</string>
		<key>question</key>
		<string>grade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.逐渐的；渐进的</string>
		<key>question</key>
		<string>gradual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毕业生vi.大学毕业</string>
		<key>question</key>
		<string>graduate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谷物，谷粒；颗粒</string>
		<key>question</key>
		<string>grain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.克</string>
		<key>question</key>
		<string>gram</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.语法；语法书</string>
		<key>question</key>
		<string>grammar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.语法上的</string>
		<key>question</key>
		<string>grammatical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.克</string>
		<key>question</key>
		<string>gramme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.宏伟的；重大的</string>
		<key>question</key>
		<string>grand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖父；外祖父</string>
		<key>question</key>
		<string>grandfather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.祖母，外祖母</string>
		<key>question</key>
		<string>grandmother</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.授给物vt.授予</string>
		<key>question</key>
		<string>grant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.葡萄；葡萄藤</string>
		<key>question</key>
		<string>grape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(曲线)图，图表</string>
		<key>question</key>
		<string>graph</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抓紧；掌握n.抓</string>
		<key>question</key>
		<string>grasp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.草；牧草；草地</string>
		<key>question</key>
		<string>grass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.感激的；令人愉快的</string>
		<key>question</key>
		<string>grateful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.感激，感谢，感恩</string>
		<key>question</key>
		<string>gratitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
