<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.会议，一段时间</string>
		<key>question</key>
		<string>session</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安装，调整；环境</string>
		<key>question</key>
		<string>setting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.安排；安放；调停</string>
		<key>question</key>
		<string>settle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解决；殖民，殖民地</string>
		<key>question</key>
		<string>settlement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.严格的；严厉的</string>
		<key>question</key>
		<string>severe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.缝制vi.缝纫</string>
		<key>question</key>
		<string>sew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.荫；遮光物vi.荫蔽</string>
		<key>question</key>
		<string>shade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剃，刮vi.修面</string>
		<key>question</key>
		<string>shave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剪；剥夺vi.剪</string>
		<key>question</key>
		<string>shear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棚，小屋；贷棚</string>
		<key>question</key>
		<string>shed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.流出；散发；脱落</string>
		<key>question</key>
		<string>shed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.被单；纸张；薄板</string>
		<key>question</key>
		<string>sheet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.搁板，架子</string>
		<key>question</key>
		<string>shelf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.隐蔽处；掩蔽，庇护</string>
		<key>question</key>
		<string>shelter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盾；防护物vt.保护</string>
		<key>question</key>
		<string>shield</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.替换，转移n.转换</string>
		<key>question</key>
		<string>shift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.颤抖，哆嗦n.冷颤</string>
		<key>question</key>
		<string>shiver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发射；射中n.发芽</string>
		<key>question</key>
		<string>shoot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滨，岸</string>
		<key>question</key>
		<string>shore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不足，缺少，不足额</string>
		<key>question</key>
		<string>shortage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.立刻；简短地</string>
		<key>question</key>
		<string>shortly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发射；弹丸；射门</string>
		<key>question</key>
		<string>shot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阵雨；(一)阵；淋浴</string>
		<key>question</key>
		<string>shower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.尖声喊叫n.尖叫声</string>
		<key>question</key>
		<string>shriek</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.斜着，斜向一边地</string>
		<key>question</key>
		<string>sideways</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观光，游览</string>
		<key>question</key>
		<string>sightseeing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.符号；招牌n.签名</string>
		<key>question</key>
		<string>sign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信号vi.发信号</string>
		<key>question</key>
		<string>signal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.署名，签字，签名</string>
		<key>question</key>
		<string>signature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意义，意味；重要性</string>
		<key>question</key>
		<string>significance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有意义的；重要的</string>
		<key>question</key>
		<string>significant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沉默vt.使沉默</string>
		<key>question</key>
		<string>silence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.沉默的；寂静无声的</string>
		<key>question</key>
		<string>silent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蚕丝，丝，丝织品</string>
		<key>question</key>
		<string>silk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.傻的，愚蠢的</string>
		<key>question</key>
		<string>silly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.银；银子；银器</string>
		<key>question</key>
		<string>silver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相似的，类似的</string>
		<key>question</key>
		<string>similar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.类似地，相似地</string>
		<key>question</key>
		<string>similarly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.简单，简易；朴素</string>
		<key>question</key>
		<string>simplicity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.简化，使单纯</string>
		<key>question</key>
		<string>simplify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.简单地；朴素地</string>
		<key>question</key>
		<string>simply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.真诚的；真挚的</string>
		<key>question</key>
		<string>sincere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.单一的；非凡的</string>
		<key>question</key>
		<string>singular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地点，地基；场所</string>
		<key>question</key>
		<string>site</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.略图；速写；概略</string>
		<key>question</key>
		<string>sketch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有技能的，熟练的</string>
		<key>question</key>
		<string>skilled</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.灵巧的，娴熟的</string>
		<key>question</key>
		<string>skillful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.掠过，擦过；略读</string>
		<key>question</key>
		<string>skim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使劲关，砰地放下</string>
		<key>question</key>
		<string>slam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.袖子，袖套</string>
		<key>question</key>
		<string>sleeve</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
