<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>ad.高度地，很，非常</string>
		<key>question</key>
		<string>highly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公路；大路</string>
		<key>question</key>
		<string>highway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小山，山岗；丘陵</string>
		<key>question</key>
		<string>hill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(小山)山腰，山坡</string>
		<key>question</key>
		<string>hillside</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.(宾格)他</string>
		<key>question</key>
		<string>him</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.他自己；他亲自</string>
		<key>question</key>
		<string>himself</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暗示，示意；建议</string>
		<key>question</key>
		<string>hint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.租借n.租用，雇用</string>
		<key>question</key>
		<string>hire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.他的，他的东西</string>
		<key>question</key>
		<string>his</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.历史的，有关历史的</string>
		<key>question</key>
		<string>historical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.历史；个人经历</string>
		<key>question</key>
		<string>history</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打；碰撞n.击</string>
		<key>question</key>
		<string>hit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.业余爱好，癖好</string>
		<key>question</key>
		<string>hobby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拿住；掌握；拥有</string>
		<key>question</key>
		<string>hold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洞；孔眼，裂开处</string>
		<key>question</key>
		<string>hole</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.假日，节日；假期</string>
		<key>question</key>
		<string>holiday</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空的；空洞的</string>
		<key>question</key>
		<string>hollow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.神圣的；圣洁的</string>
		<key>question</key>
		<string>holy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家；家乡a.家庭的</string>
		<key>question</key>
		<string>home</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.诚实的；可敬的</string>
		<key>question</key>
		<string>honest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜜，蜂蜜；甜，甜蜜</string>
		<key>question</key>
		<string>honey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.光荣；尊敬，敬意</string>
		<key>question</key>
		<string>honour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.诚实的；光荣的</string>
		<key>question</key>
		<string>honourable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钩，挂钩vt.钩住</string>
		<key>question</key>
		<string>hook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.&amp;vi.希望</string>
		<key>question</key>
		<string>hope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有希望的</string>
		<key>question</key>
		<string>hopeful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.没有希望的，绝望的</string>
		<key>question</key>
		<string>hopeless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地平线；眼界，见识</string>
		<key>question</key>
		<string>horizon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.地平的；水平的</string>
		<key>question</key>
		<string>horizontal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.号角；警报器；角</string>
		<key>question</key>
		<string>horn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐怖；战栗；憎恶</string>
		<key>question</key>
		<string>horror</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.马；马科动物</string>
		<key>question</key>
		<string>horse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.马力</string>
		<key>question</key>
		<string>horsepower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.医院</string>
		<key>question</key>
		<string>hospital</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主人；东道主</string>
		<key>question</key>
		<string>host</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.敌方的；不友善的</string>
		<key>question</key>
		<string>hostile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.热的；刺激的；辣的</string>
		<key>question</key>
		<string>hot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旅馆</string>
		<key>question</key>
		<string>hotel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小时；时间，时刻</string>
		<key>question</key>
		<string>hour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.房屋，住宅；商号</string>
		<key>question</key>
		<string>house</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家庭，户；家务</string>
		<key>question</key>
		<string>household</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家庭主妇</string>
		<key>question</key>
		<string>housewife</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.怎么；怎样；多少</string>
		<key>question</key>
		<string>how</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.然而；不管怎样</string>
		<key>question</key>
		<string>however</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巨大的，庞大的</string>
		<key>question</key>
		<string>huge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.人的，人类的n.人</string>
		<key>question</key>
		<string>human</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.谦逊的；地位低下的</string>
		<key>question</key>
		<string>humble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.富于幽默的，诙谐的</string>
		<key>question</key>
		<string>humorous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幽默，诙谐，幽默感</string>
		<key>question</key>
		<string>humour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.百，百个n.许多</string>
		<key>question</key>
		<string>hundred</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
