<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.酒吧间；条，杆；栅</string>
		<key>question</key>
		<string>bar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理发师</string>
		<key>question</key>
		<string>barber</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.赤裸的；仅仅的</string>
		<key>question</key>
		<string>bare</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.交易vi.议价；成交</string>
		<key>question</key>
		<string>bargain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桶；圆筒；枪管</string>
		<key>question</key>
		<string>barrel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.栅栏，屏障；障碍</string>
		<key>question</key>
		<string>barrier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基础，底层；基地</string>
		<key>question</key>
		<string>base</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基本的，基础的</string>
		<key>question</key>
		<string>basic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.基本上</string>
		<key>question</key>
		<string>basically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盆，洗脸盆；盆地</string>
		<key>question</key>
		<string>basin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.基础，根据</string>
		<key>question</key>
		<string>basis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.篮，篓，筐</string>
		<key>question</key>
		<string>basket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.篮球；篮球运动</string>
		<key>question</key>
		<string>basketball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.浴，洗澡；浴缸</string>
		<key>question</key>
		<string>bath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…洗澡；弄湿</string>
		<key>question</key>
		<string>bathe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.浴室；盥洗室</string>
		<key>question</key>
		<string>bathroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电池；一套，一组</string>
		<key>question</key>
		<string>battery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.战役；斗争vi.作战</string>
		<key>question</key>
		<string>battle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.湾；山脉中的凹处</string>
		<key>question</key>
		<string>bay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.沸腾；汽化vt.煮沸</string>
		<key>question</key>
		<string>boil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>aux.v.&amp;vi.是，在，做</string>
		<key>question</key>
		<string>be</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海滩，湖滩，河滩</string>
		<key>question</key>
		<string>beach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.梁；横梁；束，柱</string>
		<key>question</key>
		<string>beam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豆，蚕豆</string>
		<key>question</key>
		<string>bean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.熊；粗鲁的人</string>
		<key>question</key>
		<string>bear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.容忍；负担；生育</string>
		<key>question</key>
		<string>bear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡须，络腮胡子</string>
		<key>question</key>
		<string>beard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兽，野兽；牲畜</string>
		<key>question</key>
		<string>beast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.打，敲；打败</string>
		<key>question</key>
		<string>beat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.美的，美丽的</string>
		<key>question</key>
		<string>beautiful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.美，美丽；美人</string>
		<key>question</key>
		<string>beauty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.由于，因为</string>
		<key>question</key>
		<string>because</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.变成；成为，变得</string>
		<key>question</key>
		<string>become</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.床，床位；圃；河床</string>
		<key>question</key>
		<string>bed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜂，密蜂；忙碌的人</string>
		<key>question</key>
		<string>bee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牛肉；菜牛</string>
		<key>question</key>
		<string>beef</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.啤酒</string>
		<key>question</key>
		<string>beer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…以前；向…</string>
		<key>question</key>
		<string>before</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.乞求；请求</string>
		<key>question</key>
		<string>beg</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.开始vt.开始</string>
		<key>question</key>
		<string>begin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.开始，开端；起源</string>
		<key>question</key>
		<string>beginning</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.利益，维护，支持</string>
		<key>question</key>
		<string>behalf</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.表现，举止；运转</string>
		<key>question</key>
		<string>behave</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行为，举止，态度</string>
		<key>question</key>
		<string>behavior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…后面</string>
		<key>question</key>
		<string>behind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.存在；生物；生命</string>
		<key>question</key>
		<string>being</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信任，相信；信念</string>
		<key>question</key>
		<string>belief</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.相信；认为</string>
		<key>question</key>
		<string>believe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钟，铃，门铃；钟声</string>
		<key>question</key>
		<string>bell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.属于，附属</string>
		<key>question</key>
		<string>belong</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
