<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.物，物体；目的</string>
		<key>question</key>
		<string>object</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.反对；抱反感</string>
		<key>question</key>
		<string>object</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反对，异议；不喜欢</string>
		<key>question</key>
		<string>objection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.客观的；无偏见的</string>
		<key>question</key>
		<string>objective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迫使；施恩惠于</string>
		<key>question</key>
		<string>oblige</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.注意；观察；观察力</string>
		<key>question</key>
		<string>observation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遵守；看到；说</string>
		<key>question</key>
		<string>observe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.观察员，观测者</string>
		<key>question</key>
		<string>observer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.障碍，障碍物，妨害</string>
		<key>question</key>
		<string>obstacle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.获得，得到，买到</string>
		<key>question</key>
		<string>obtain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.明显的，显而易见的</string>
		<key>question</key>
		<string>obvious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.场合，时刻；时机</string>
		<key>question</key>
		<string>occasion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.偶然的；临时的</string>
		<key>question</key>
		<string>occasional</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.占领，占据；职业</string>
		<key>question</key>
		<string>occupation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.占领；占，占有</string>
		<key>question</key>
		<string>occupy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发生；出现，存在</string>
		<key>question</key>
		<string>occur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发生，出现；事件</string>
		<key>question</key>
		<string>occurrence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海洋；洋</string>
		<key>question</key>
		<string>ocean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.…点钟</string>
		<key>question</key>
		<string>o'clock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.十月</string>
		<key>question</key>
		<string>October</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.奇数的；单只的</string>
		<key>question</key>
		<string>odd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.…的；由于</string>
		<key>question</key>
		<string>of</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.(离)开；(停)止</string>
		<key>question</key>
		<string>off</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.冒犯vi.犯过错</string>
		<key>question</key>
		<string>offend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提供；提出n.提供</string>
		<key>question</key>
		<string>offer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.办公室；处，局，社</string>
		<key>question</key>
		<string>office</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.官员；干事；军官</string>
		<key>question</key>
		<string>officer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.官员的；官方的</string>
		<key>question</key>
		<string>official</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.经常，常常</string>
		<key>question</key>
		<string>often</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.嗬，哦，唉呀</string>
		<key>question</key>
		<string>oh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>(缩作OK)a.&amp;ad.对，好</string>
		<key>question</key>
		<string>okay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.老的；…岁的</string>
		<key>question</key>
		<string>old</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.省略，省去；遗漏</string>
		<key>question</key>
		<string>omit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…上；在…旁</string>
		<key>question</key>
		<string>on</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一次；曾经n.一次</string>
		<key>question</key>
		<string>once</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>num.一pron.一个人</string>
		<key>question</key>
		<string>one</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.自己；亲自</string>
		<key>question</key>
		<string>oneself</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洋葱，洋葱头</string>
		<key>question</key>
		<string>onion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.只，仅仅a.唯一的</string>
		<key>question</key>
		<string>only</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.到…上</string>
		<key>question</key>
		<string>onto</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.古罗马人a.罗马的</string>
		<key>question</key>
		<string>ooman</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.开的；开放的vt.开</string>
		<key>question</key>
		<string>open</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.开始的n.开始</string>
		<key>question</key>
		<string>opening</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.歌剧</string>
		<key>question</key>
		<string>opera</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.操作；施行手术</string>
		<key>question</key>
		<string>operate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.操作；手术；运算</string>
		<key>question</key>
		<string>operation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.操作上的；可使用的</string>
		<key>question</key>
		<string>operational</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.操作人员，接线员</string>
		<key>question</key>
		<string>operator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意见，看法，主张</string>
		<key>question</key>
		<string>opinion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.对手，敌手；对抗者</string>
		<key>question</key>
		<string>opponent</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
