<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.例子，实例，事例</string>
		<key>question</key>
		<string>instance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瞬间a.立即的</string>
		<key>question</key>
		<string>instant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.代替，顶替；反而</string>
		<key>question</key>
		<string>instead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.本能；直觉；生性</string>
		<key>question</key>
		<string>instinct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.研究所；学院</string>
		<key>question</key>
		<string>institute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协会；制度，习俗</string>
		<key>question</key>
		<string>institution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.教；指示；通知</string>
		<key>question</key>
		<string>instruct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命令；教学；教训</string>
		<key>question</key>
		<string>instruction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仪器；工具；乐器</string>
		<key>question</key>
		<string>instrument</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.侮辱，凌辱</string>
		<key>question</key>
		<string>insult</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保险；保险费</string>
		<key>question</key>
		<string>insurance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…保险；确保</string>
		<key>question</key>
		<string>insure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.知识分子a.智力的</string>
		<key>question</key>
		<string>intellectual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.智力；理解力；情报</string>
		<key>question</key>
		<string>intelligence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.聪明的；理智的</string>
		<key>question</key>
		<string>intelligent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.想要，打算；意指</string>
		<key>question</key>
		<string>intend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.强烈的；紧张的</string>
		<key>question</key>
		<string>intense</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.强烈，剧烈；强度</string>
		<key>question</key>
		<string>intensity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.加强的；精耕细作的</string>
		<key>question</key>
		<string>intensive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意图，意向，目的</string>
		<key>question</key>
		<string>intention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相互作用；干扰</string>
		<key>question</key>
		<string>interaction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兴趣；利益；利息</string>
		<key>question</key>
		<string>interest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有趣的，引人入胜的</string>
		<key>question</key>
		<string>interesting</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.干涉，干预；妨碍</string>
		<key>question</key>
		<string>interfere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.干涉，干预；阻碍</string>
		<key>question</key>
		<string>interference</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.内的；内地的n.内部</string>
		<key>question</key>
		<string>interior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.中间的；中级的</string>
		<key>question</key>
		<string>intermediate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.内的；国内的</string>
		<key>question</key>
		<string>internal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.国际的，世界(性)的</string>
		<key>question</key>
		<string>international</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解释，说明；口译</string>
		<key>question</key>
		<string>interpret</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解释；口译</string>
		<key>question</key>
		<string>interpretation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打断，打扰；中止</string>
		<key>question</key>
		<string>interrupt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.间隔；休息；间距</string>
		<key>question</key>
		<string>interval</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接见；会见；面谈</string>
		<key>question</key>
		<string>interview</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.亲密的；个人的</string>
		<key>question</key>
		<string>intimate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.进，入；进入到</string>
		<key>question</key>
		<string>into</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.介绍；引进，传入</string>
		<key>question</key>
		<string>introduce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.介绍；引进；引言</string>
		<key>question</key>
		<string>introduction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.入侵，侵略；侵袭</string>
		<key>question</key>
		<string>invade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.入侵，侵略；侵犯</string>
		<key>question</key>
		<string>invasion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发明，创造；捏造</string>
		<key>question</key>
		<string>invent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发明，创造；捏造</string>
		<key>question</key>
		<string>invention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发明者；发明家</string>
		<key>question</key>
		<string>inventor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.投资；投入</string>
		<key>question</key>
		<string>invest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.调查</string>
		<key>question</key>
		<string>investigate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.投资，投资额，投入</string>
		<key>question</key>
		<string>investment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.看不见的，无形的</string>
		<key>question</key>
		<string>invisible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邀请，招待；请柬</string>
		<key>question</key>
		<string>invitation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.邀请，聘请；招待</string>
		<key>question</key>
		<string>invite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使卷入；牵涉</string>
		<key>question</key>
		<string>involve</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
