<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.超声的n.超声波</string>
		<key>question</key>
		<string>ultrasonic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.紫外的n.紫外线辐射</string>
		<key>question</key>
		<string>ultraviolet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(全体)一致的</string>
		<key>question</key>
		<string>unanimous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不定的；无常的</string>
		<key>question</key>
		<string>uncertain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.低估，看轻</string>
		<key>question</key>
		<string>underestimate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.着重；预告</string>
		<key>question</key>
		<string>underline </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.约定，保证；从事</string>
		<key>question</key>
		<string>undertake </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.任务，事业；承担</string>
		<key>question</key>
		<string>undertaking </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衫衣，内衣，贴身衣</string>
		<key>question</key>
		<string>underwear </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不合需要的；讨厌的</string>
		<key>question</key>
		<string>undesirable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不安的；拘束的</string>
		<key>question</key>
		<string>uneasy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失业；失业人数</string>
		<key>question</key>
		<string>unemployment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不合适的；无能力的</string>
		<key>question</key>
		<string>unfit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.展开vi.呈现</string>
		<key>question</key>
		<string>unfold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.相同地；一贯</string>
		<key>question</key>
		<string>uniformly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无可匹敌的；极好的</string>
		<key>question</key>
		<string>unique</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.普遍地，一般地</string>
		<key>question</key>
		<string>universally </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无限的；不定的</string>
		<key>question</key>
		<string>unlimited </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开…的锁；开启</string>
		<key>question</key>
		<string>unlock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.未付的；不支薪水的</string>
		<key>question</key>
		<string>unpaid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不讲道理的；过度的</string>
		<key>question</key>
		<string>unreasonable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解开，松开；解放</string>
		<key>question</key>
		<string>untie </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.举起；支撑；赞成</string>
		<key>question</key>
		<string>uphold</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骚动，扰乱；喧嚣</string>
		<key>question</key>
		<string>uproar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铀</string>
		<key>question</key>
		<string>uranium </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.强烈希望</string>
		<key>question</key>
		<string>urge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.习惯法</string>
		<key>question</key>
		<string>usage </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.器皿，用具</string>
		<key>question</key>
		<string>utensil </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.利用，效用</string>
		<key>question</key>
		<string>utilization </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…种牛痘</string>
		<key>question</key>
		<string>vaccinate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有效，效力；正确</string>
		<key>question</key>
		<string>validity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贵重物品，财宝</string>
		<key>question</key>
		<string>valuable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.尊重，重视，评价</string>
		<key>question</key>
		<string>value </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阀，阀门；电子管</string>
		<key>question</key>
		<string>valve </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拱顶；地下室，地窖</string>
		<key>question</key>
		<string>vault </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矢量；飞机航线</string>
		<key>question</key>
		<string>vector</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.以面纱遮掩vi.遮盖</string>
		<key>question</key>
		<string>veil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.静脉，血管，矿脉</string>
		<key>question</key>
		<string>vein</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.迅速，快速</string>
		<key>question</key>
		<string>velocity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.丝绒制的；柔软的</string>
		<key>question</key>
		<string>velvet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.报复，报仇，复仇</string>
		<key>question</key>
		<string>vengeance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使通风，使换气</string>
		<key>question</key>
		<string>ventilate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.维纳斯；美人；色情</string>
		<key>question</key>
		<string>Venus </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.边缘，边界，界限</string>
		<key>question</key>
		<string>verge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.多方面的；通用的</string>
		<key>question</key>
		<string>versatile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诗，韵文；诗行</string>
		<key>question</key>
		<string>verse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.解释</string>
		<key>question</key>
		<string>version </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.(比赛等中)对</string>
		<key>question</key>
		<string>versus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.否决，否决权，禁止</string>
		<key>question</key>
		<string>veto</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邻近；附近地区</string>
		<key>question</key>
		<string>vicinity</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
