<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.机敏，圆滑，得体</string>
		<key>question</key>
		<string>tact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.策略；战术，兵法</string>
		<key>question</key>
		<string>tactics </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使缠结，使纠缠</string>
		<key>question</key>
		<string>tangle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.油船；空中加油飞机</string>
		<key>question</key>
		<string>tanker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.系，捆</string>
		<key>question</key>
		<string>tape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细小的蜡烛；微光</string>
		<key>question</key>
		<string>taper </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柏油，焦油</string>
		<key>question</key>
		<string>tar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.协作，合作</string>
		<key>question</key>
		<string>team</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.逗乐，戏弄；强求</string>
		<key>question</key>
		<string>tease </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电传，用户电报</string>
		<key>question</key>
		<string>telex </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引诱，诱惑，劝诱</string>
		<key>question</key>
		<string>tempt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.张力的；能伸长的</string>
		<key>question</key>
		<string>tensile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.计算机终端；线接头</string>
		<key>question</key>
		<string>terminal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.停止，终止</string>
		<key>question</key>
		<string>terminate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.术语学，术语</string>
		<key>question</key>
		<string>terminology </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平台，阳台，露台</string>
		<key>question</key>
		<string>terrace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使恐怖，使惊吓</string>
		<key>question</key>
		<string>terrify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐怖分子</string>
		<key>question</key>
		<string>terrorist </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.证明，证实，作证</string>
		<key>question</key>
		<string>testify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.感恩节</string>
		<key>question</key>
		<string>Thanksgiving</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.戏剧效果</string>
		<key>question</key>
		<string>theatre </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盗窃，偷窃(行为)</string>
		<key>question</key>
		<string>theft </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.题目；词干；主旋律</string>
		<key>question</key>
		<string>theme </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.定理；原理，原则</string>
		<key>question</key>
		<string>theorem </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.见解，看法，推测</string>
		<key>question</key>
		<string>theory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.此后，以后</string>
		<key>question</key>
		<string>thereafter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在那里，在那时</string>
		<key>question</key>
		<string>therein </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.它的，其；由此</string>
		<key>question</key>
		<string>thereof </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.热的；温泉的</string>
		<key>question</key>
		<string>thermal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.论题，论点；论文</string>
		<key>question</key>
		<string>thesis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使变厚(或粗、密)</string>
		<key>question</key>
		<string>thicken </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.股，大腿</string>
		<key>question</key>
		<string>thigh </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.精心的；详尽的</string>
		<key>question</key>
		<string>thorough</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.欠考虑的；自私的</string>
		<key>question</key>
		<string>thoughtless </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.痛打，鞭打vi.打</string>
		<key>question</key>
		<string>thrash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打谷，脱粒；推敲</string>
		<key>question</key>
		<string>thresh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.门槛；入门，开端</string>
		<key>question</key>
		<string>threshold </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.节俭的；兴旺的</string>
		<key>question</key>
		<string>thrifty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)激动</string>
		<key>question</key>
		<string>thrill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.因为，由于</string>
		<key>question</key>
		<string>through </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(交通违章)罚款传票</string>
		<key>question</key>
		<string>ticket</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挠，胳肢；逗乐</string>
		<key>question</key>
		<string>tickle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)变紧</string>
		<key>question</key>
		<string>tighten </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.紧地，牢固地</string>
		<key>question</key>
		<string>tightly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓦片，瓷砖；贴砖</string>
		<key>question</key>
		<string>tile</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)倾斜</string>
		<key>question</key>
		<string>tilt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.及时的；适时的</string>
		<key>question</key>
		<string>timely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.使人厌倦的，讨厌的</string>
		<key>question</key>
		<string>tiresome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蟾蜍，癞蛤蟆</string>
		<key>question</key>
		<string>toad</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.象征；辅币；纪念品</string>
		<key>question</key>
		<string>token </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
