<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.相似，类似；比拟</string>
		<key>question</key>
		<string>analogy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.分析的；分解的</string>
		<key>question</key>
		<string>analytic(al)</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周年纪念日</string>
		<key>question</key>
		<string>anniversary </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.报告…的来到</string>
		<key>question</key>
		<string>announce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.年年，每年</string>
		<key>question</key>
		<string>annually</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阳极，正极，板极</string>
		<key>question</key>
		<string>anode </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.符合，适合</string>
		<key>question</key>
		<string>answer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.南极的n.南极区</string>
		<key>question</key>
		<string>antarctic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.触角；天线</string>
		<key>question</key>
		<string>antenna </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.古代的n.古物</string>
		<key>question</key>
		<string>antique </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重要人物</string>
		<key>question</key>
		<string>anybody </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.显然的</string>
		<key>question</key>
		<string>apparent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.附录，附属物；阑尾</string>
		<key>question</key>
		<string>appendix</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.喝彩；欢呼vi.欢呼</string>
		<key>question</key>
		<string>applaud </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喝彩；夸奖，称赞</string>
		<key>question</key>
		<string>applause</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可估价的；可察觉的</string>
		<key>question</key>
		<string>appreciable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.欣赏；鉴别；感激</string>
		<key>question</key>
		<string>appreciation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.恰当的；聪明的</string>
		<key>question</key>
		<string>apt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弧，弓形物；弧光</string>
		<key>question</key>
		<string>arc </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拱门vt.用拱连接</string>
		<key>question</key>
		<string>arch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.建筑师；创造者</string>
		<key>question</key>
		<string>architect </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.北极的n.北极</string>
		<key>question</key>
		<string>arctic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.装扮n.队列；排列</string>
		<key>question</key>
		<string>array </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.攀登，登高；追溯</string>
		<key>question</key>
		<string>ascend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.查明，确定，弄清</string>
		<key>question</key>
		<string>ascertain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…归于</string>
		<key>question</key>
		<string>ascribe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在岸上，上岸</string>
		<key>question</key>
		<string>ashore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.驴；傻瓜，蠢笨的人</string>
		<key>question</key>
		<string>ass </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.暗杀，行刺；中伤</string>
		<key>question</key>
		<string>assassinate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.袭击；殴打n.攻击</string>
		<key>question</key>
		<string>assault </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.断言，宣称；维护</string>
		<key>question</key>
		<string>assert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.估定；查定；估计数</string>
		<key>question</key>
		<string>assessment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.采取；假定；傲慢</string>
		<key>question</key>
		<string>assumption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保证；财产转让书</string>
		<key>question</key>
		<string>assurance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惊奇，惊讶</string>
		<key>question</key>
		<string>astonishment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.天文学</string>
		<key>question</key>
		<string>astronomy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微粒；微量</string>
		<key>question</key>
		<string>atom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连接物，附件；爱慕</string>
		<key>question</key>
		<string>attachment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.到场；出席人数</string>
		<key>question</key>
		<string>attendance</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侍者；护理人员</string>
		<key>question</key>
		<string>attendant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代理人；辩护律师</string>
		<key>question</key>
		<string>attorney</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.正式会见；拜会</string>
		<key>question</key>
		<string>audience</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.创造者，创始人</string>
		<key>question</key>
		<string>author</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使自动化</string>
		<key>question</key>
		<string>automate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.有益于n.效用</string>
		<key>question</key>
		<string>avail </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有效(性)；可得性</string>
		<key>question</key>
		<string>availability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飞行</string>
		<key>question</key>
		<string>aviation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.认识到</string>
		<key>question</key>
		<string>awake </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.威严的；令人崇敬的</string>
		<key>question</key>
		<string>awful </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不雅观的</string>
		<key>question</key>
		<string>awkward </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
