<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.轴的；轴向的</string>
		<key>question</key>
		<string>axial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轴，轴线；第二颈椎</string>
		<key>question</key>
		<string>axis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(轮)轴，车轴，心棒</string>
		<key>question</key>
		<string>axle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一家中年龄最小的人</string>
		<key>question</key>
		<string>baby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.未婚男子；学士</string>
		<key>question</key>
		<string>bachelor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.咸猪肉，熏猪肉</string>
		<key>question</key>
		<string>bacon </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细菌；拳击迷</string>
		<key>question</key>
		<string>bacterium </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.徽章，像章；标志</string>
		<key>question</key>
		<string>badge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使挫折n.迷惑</string>
		<key>question</key>
		<string>baffle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饵；引诱物</string>
		<key>question</key>
		<string>bait</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阳台；楼厅，楼座</string>
		<key>question</key>
		<string>balcony </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.秃头的；无毛的</string>
		<key>question</key>
		<string>bald</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.芭蕾舞；舞剧</string>
		<key>question</key>
		<string>ballet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竹；竹杆，竹棍</string>
		<key>question</key>
		<string>bamboo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.绷带，包带</string>
		<key>question</key>
		<string>bandage </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.土匪，盗匪，歹徒</string>
		<key>question</key>
		<string>bandit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.把钱存入银行</string>
		<key>question</key>
		<string>bank</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.银行家</string>
		<key>question</key>
		<string>banker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.破产的vt.使破产</string>
		<key>question</key>
		<string>bankrupt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宴会，盛会，酒席</string>
		<key>question</key>
		<string>banquet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.仅仅，勉强</string>
		<key>question</key>
		<string>barely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.驳船；大型游船</string>
		<key>question</key>
		<string>barge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大麦</string>
		<key>question</key>
		<string>barley</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.气压计，睛雨表</string>
		<key>question</key>
		<string>barometer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.男爵；贵族；巨商</string>
		<key>question</key>
		<string>baron </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.贫瘠的；不妊的</string>
		<key>question</key>
		<string>barren</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棒球；棒球运动</string>
		<key>question</key>
		<string>baseball</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地下室；地窖；底层</string>
		<key>question</key>
		<string>basement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.内海；盆地，流域</string>
		<key>question</key>
		<string>basin </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炮兵连；兵器群</string>
		<key>question</key>
		<string>battery </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.战斗vt.与…作战</string>
		<key>question</key>
		<string>battle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.集市，廉价商店</string>
		<key>question</key>
		<string>bazaar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有孔小珠；露珠</string>
		<key>question</key>
		<string>bead</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发光，发热；微笑</string>
		<key>question</key>
		<string>beam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.支承；忍受；方位</string>
		<key>question</key>
		<string>bearing </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.河床，(湖)底，矿床</string>
		<key>question</key>
		<string>bed </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.甲虫；近视眼的人</string>
		<key>question</key>
		<string>beetle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.预先；提前地</string>
		<key>question</key>
		<string>beforehand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使屈从vi.屈从</string>
		<key>question</key>
		<string>bend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…赠与</string>
		<key>question</key>
		<string>bestow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.当中，中间</string>
		<key>question</key>
		<string>between </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.谨防，当心</string>
		<key>question</key>
		<string>beware</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迷惑，把…弄糊涂</string>
		<key>question</key>
		<string>bewilder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.命令vi.报价</string>
		<key>question</key>
		<string>bid </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(基督教的)主教</string>
		<key>question</key>
		<string>bishop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.苦味，辛酸，苦难</string>
		<key>question</key>
		<string>bitterness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铁匠，锻工</string>
		<key>question</key>
		<string>blacksmith</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管乐器的声音</string>
		<key>question</key>
		<string>blast </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使燃烧vi.燃烧</string>
		<key>question</key>
		<string>blaze </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.漂白vi.变白</string>
		<key>question</key>
		<string>bleach</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
