<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vi.(讲话时等)做手势</string>
		<key>question</key>
		<string>gesture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.巨大的；巨人似的</string>
		<key>question</key>
		<string>gigantic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.姜，生姜</string>
		<key>question</key>
		<string>ginger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微光vi.发微光</string>
		<key>question</key>
		<string>gleam </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滑翔机；滑翔导弹</string>
		<key>question</key>
		<string>glider</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.球面的；全球的</string>
		<key>question</key>
		<string>global</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.赞美(上帝)；颂扬</string>
		<key>question</key>
		<string>glorify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词汇表；术语汇编</string>
		<key>question</key>
		<string>glossary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.粘牢</string>
		<key>question</key>
		<string>glue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.啃，咬断vi.啮</string>
		<key>question</key>
		<string>gnaw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女神；绝世美女</string>
		<key>question</key>
		<string>goddess </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.善良，善行，美德</string>
		<key>question</key>
		<string>goodness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大猩猩；暴徒，打手</string>
		<key>question</key>
		<string>gorilla </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绚丽的；极好的</string>
		<key>question</key>
		<string>gorgeous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.闲谈；碎嘴子；漫笔</string>
		<key>question</key>
		<string>gossip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.决定，支配；控制</string>
		<key>question</key>
		<string>govern</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.攫取，抓取</string>
		<key>question</key>
		<string>grab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.谦和的</string>
		<key>question</key>
		<string>gracious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斜坡a.倾斜的</string>
		<key>question</key>
		<string>gradient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.留声机</string>
		<key>question</key>
		<string>gramophone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.花岗岩，花岗石</string>
		<key>question</key>
		<string>granite </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.授予物，拨款</string>
		<key>question</key>
		<string>grant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石墨，石墨电极</string>
		<key>question</key>
		<string>graphite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蚱蜢，蝗虫，蚂蚱</string>
		<key>question</key>
		<string>grasshopper </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.草多的；草似的</string>
		<key>question</key>
		<string>grassy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可喜的，令人愉快的</string>
		<key>question</key>
		<string>grateful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.砂跞；砂砾层；结石</string>
		<key>question</key>
		<string>gravel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.喂草；放牧(牲畜)</string>
		<key>question</key>
		<string>graze </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.动物脂，脂肪</string>
		<key>question</key>
		<string>grease</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贪心，贪婪</string>
		<key>question</key>
		<string>greed </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悲哀，悲痛，悲伤</string>
		<key>question</key>
		<string>grief </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.冷酷无情的，严厉的</string>
		<key>question</key>
		<string>grim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.咧着嘴笑</string>
		<key>question</key>
		<string>grin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.折磨，压榨</string>
		<key>question</key>
		<string>grind </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.槽vt.开槽于</string>
		<key>question</key>
		<string>groove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(暗中)摸索，探索</string>
		<key>question</key>
		<string>grope </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(语言、举止)粗俗的</string>
		<key>question</key>
		<string>gross </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.林子，小树林，园林</string>
		<key>question</key>
		<string>grove </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(狗等)嗥叫；咆哮</string>
		<key>question</key>
		<string>growl </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.抱怨，发牢骚</string>
		<key>question</key>
		<string>grumble </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.作呼噜声；咕哝</string>
		<key>question</key>
		<string>grunt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有罪，犯罪；内疚</string>
		<key>question</key>
		<string>guilt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吉他，六弦琴</string>
		<key>question</key>
		<string>guitar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阵风，一阵狂风</string>
		<key>question</key>
		<string>gust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沟，边沟；檐槽</string>
		<key>question</key>
		<string>gutter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.向…欢呼vi.招呼</string>
		<key>question</key>
		<string>hail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.对分；平摊</string>
		<key>question</key>
		<string>halve </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火腿；(兽类的)后踝</string>
		<key>question</key>
		<string>ham </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.妨碍，阻碍，牵制</string>
		<key>question</key>
		<string>hamper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手册，便览，指南</string>
		<key>question</key>
		<string>handbook</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
