<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.妨碍，使不利</string>
		<key>question</key>
		<string>handicap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.施舍物，救济品</string>
		<key>question</key>
		<string>handout </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.方便的；便于使用的</string>
		<key>question</key>
		<string>handy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.隐匿，窝藏；怀着</string>
		<key>question</key>
		<string>harbour </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(酒)烈性的</string>
		<key>question</key>
		<string>hard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.强壮的，耐劳的</string>
		<key>question</key>
		<string>hardy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.和谐的，协调的</string>
		<key>question</key>
		<string>harmonious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竖琴；天琴座</string>
		<key>question</key>
		<string>harp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗糙的；严厉的</string>
		<key>question</key>
		<string>harsh </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.舱盖，舱口；短门</string>
		<key>question</key>
		<string>hatch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.傲慢的，轻蔑的</string>
		<key>question</key>
		<string>haughty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拖曳；拖运</string>
		<key>question</key>
		<string>haul</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.常去vi.经常出没</string>
		<key>question</key>
		<string>haunt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使遭危险n.危险</string>
		<key>question</key>
		<string>hazard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用头顶(球)vi.出发</string>
		<key>question</key>
		<string>head</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标题，题词，题名</string>
		<key>question</key>
		<string>heading </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.&amp;ad.头向前的(地)</string>
		<key>question</key>
		<string>headlong</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总局，总店</string>
		<key>question</key>
		<string>headquarters</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.壁炉地面；炉边</string>
		<key>question</key>
		<string>hearth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.加热的人，加热器</string>
		<key>question</key>
		<string>heater</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.衷心的；丰盛的</string>
		<key>question</key>
		<string>hearty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(用力地)举起；抛</string>
		<key>question</key>
		<string>heave </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.上帝，神</string>
		<key>question</key>
		<string>Heaven</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加高，提高；增加</string>
		<key>question</key>
		<string>heighten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.半球；半球地图</string>
		<key>question</key>
		<string>hemisphere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.今后，从今以后</string>
		<key>question</key>
		<string>henceforth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.传令官；通报者</string>
		<key>question</key>
		<string>herald</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.草本植物；香草</string>
		<key>question</key>
		<string>herb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放牧vi.成群</string>
		<key>question</key>
		<string>herd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.含糊，支吾；口吃</string>
		<key>question</key>
		<string>hesitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生皮，兽皮，皮革</string>
		<key>question</key>
		<string>hide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.作长途徒步旅行</string>
		<key>question</key>
		<string>hike</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.障碍，妨碍</string>
		<key>question</key>
		<string>hindrance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.合页，折叶，铰链</string>
		<key>question</key>
		<string>hinge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.臀部，髋；屋脊</string>
		<key>question</key>
		<string>hip </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嘶嘶声vi.嘶嘶作声</string>
		<key>question</key>
		<string>hiss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.历史学家；编史家</string>
		<key>question</key>
		<string>historian </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.历史的；历史性的</string>
		<key>question</key>
		<string>historic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轰动一时的人(或事)</string>
		<key>question</key>
		<string>hit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.迄今，到目前为止</string>
		<key>question</key>
		<string>hitherto</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(声音)嘶哑的</string>
		<key>question</key>
		<string>hoarse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.锄地</string>
		<key>question</key>
		<string>hoe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.升起vi.扯起来</string>
		<key>question</key>
		<string>hoist </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.凿空vi.变空</string>
		<key>question</key>
		<string>hollow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.家庭的；家常的</string>
		<key>question</key>
		<string>homely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同类的；均匀的</string>
		<key>question</key>
		<string>homogeneous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用钩连接，用钩挂</string>
		<key>question</key>
		<string>hook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跳舞；(人)单足跳</string>
		<key>question</key>
		<string>hop </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.层位</string>
		<key>question</key>
		<string>horizon </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.角状物，角制品</string>
		<key>question</key>
		<string>horn</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
