<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.百叶窗；窗帘；遮帘</string>
		<key>question</key>
		<string>blind </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.阻塞；障碍物；炮闩</string>
		<key>question</key>
		<string>block </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.白肤金发碧眼的人</string>
		<key>question</key>
		<string>blond </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女衬衫；童衫；罩衫</string>
		<key>question</key>
		<string>blouse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.伤心的；下流的</string>
		<key>question</key>
		<string>blue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.犯大错n.大错</string>
		<key>question</key>
		<string>blunder </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.脸红，害臊n.脸红</string>
		<key>question</key>
		<string>blush </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(收费)供…膳食</string>
		<key>question</key>
		<string>board </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.物体；(液)体；实质</string>
		<key>question</key>
		<string>body</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锅炉；热水贮槽</string>
		<key>question</key>
		<string>boiler</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.讨厌的人；麻烦事</string>
		<key>question</key>
		<string>bore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.应当的；必定的</string>
		<key>question</key>
		<string>bound </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.资产阶级的；平庸的</string>
		<key>question</key>
		<string>bourgeois </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专席</string>
		<key>question</key>
		<string>box </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.联合抵制</string>
		<key>question</key>
		<string>boycott </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.支柱vt.拉紧，撑牢</string>
		<key>question</key>
		<string>brace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.在…上打烙印</string>
		<key>question</key>
		<string>brand </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.崩溃，倒塌；失败</string>
		<key>question</key>
		<string>breakdown </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.吃早餐</string>
		<key>question</key>
		<string>breakfast </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(动物)品种</string>
		<key>question</key>
		<string>breed </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贿赂vt.向…行贿</string>
		<key>question</key>
		<string>bribe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.新郎</string>
		<key>question</key>
		<string>bridegroom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.架桥于，用桥连接</string>
		<key>question</key>
		<string>bridge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.笼子；束缚vt.抑制</string>
		<key>question</key>
		<string>bridle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.明亮，辉煌，聪明</string>
		<key>question</key>
		<string>brightness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.放宽，变阔</string>
		<key>question</key>
		<string>broaden </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.青铜色</string>
		<key>question</key>
		<string>bronze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.沉思vi.郁闭地沉思</string>
		<key>question</key>
		<string>brood </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.佛教，释教</string>
		<key>question</key>
		<string>Buddhism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预算，预算案</string>
		<key>question</key>
		<string>budget</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.水牛；水陆坦克</string>
		<key>question</key>
		<string>buffalo </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.虫子；臭虫</string>
		<key>question</key>
		<string>bug </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.军号，喇叭</string>
		<key>question</key>
		<string>bugle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.买空的证券投机商</string>
		<key>question</key>
		<string>bull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>告示，公告，公报</string>
		<key>question</key>
		<string>bulletin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.撞击vi.撞n.肿块</string>
		<key>question</key>
		<string>bump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.官僚主义；官僚机构</string>
		<key>question</key>
		<string>bureaucracy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.夜盗，窃贼</string>
		<key>question</key>
		<string>burglar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.安葬，埋葬，埋藏</string>
		<key>question</key>
		<string>burial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灯头，煤气头</string>
		<key>question</key>
		<string>burner</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蒲式耳(容量单位)</string>
		<key>question</key>
		<string>bushel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大酒桶，桶</string>
		<key>question</key>
		<string>butt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(蜂等)嗡嗡叫</string>
		<key>question</key>
		<string>buzz</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旁通管vt.绕过</string>
		<key>question</key>
		<string>bypass</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.副产品</string>
		<key>question</key>
		<string>by-product</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海底电报</string>
		<key>question</key>
		<string>cable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微积分；结石</string>
		<key>question</key>
		<string>calculus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.校准；标定，刻度</string>
		<key>question</key>
		<string>calibration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.装罐头</string>
		<key>question</key>
		<string>can </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(藤等)茎；手杖</string>
		<key>question</key>
		<string>cane</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
