<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.节略，缩写，缩短</string>
		<key>question</key>
		<string>abbreviation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遵守vt.忍受</string>
		<key>question</key>
		<string>abide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.废除，取消</string>
		<key>question</key>
		<string>abolish </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不在意的</string>
		<key>question</key>
		<string>absent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吸收；专注</string>
		<key>question</key>
		<string>absorption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.理论上的n.抽象</string>
		<key>question</key>
		<string>abstract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不合理的，荒唐的</string>
		<key>question</key>
		<string>absurd</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丰富，充裕</string>
		<key>question</key>
		<string>abundance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同谋a.附属的</string>
		<key>question</key>
		<string>accessory </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调和，符合；协议</string>
		<key>question</key>
		<string>accord</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.承认；告知收到</string>
		<key>question</key>
		<string>acknowledge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使认识，使了解</string>
		<key>question</key>
		<string>acquaint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.作用；情节</string>
		<key>question</key>
		<string>action</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.粘附；追随；坚持</string>
		<key>question</key>
		<string>adhere</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.毗连的；紧接着的</string>
		<key>question</key>
		<string>adjacent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.贴近，毗连；靠近</string>
		<key>question</key>
		<string>adjoin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可调整的，可校准的</string>
		<key>question</key>
		<string>adjustable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.局(或署、处等)</string>
		<key>question</key>
		<string>administration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钦佩；赞美，羡慕</string>
		<key>question</key>
		<string>admiration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收养；采纳，采取</string>
		<key>question</key>
		<string>adoption</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.崇拜；很喜欢</string>
		<key>question</key>
		<string>adore </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有利的，有助的</string>
		<key>question</key>
		<string>advantageous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.通知vi.登广告</string>
		<key>question</key>
		<string>advertise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.辩护者vt.拥护</string>
		<key>question</key>
		<string>advocate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空气的；航空的</string>
		<key>question</key>
		<string>aerial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航空和宇宙航行空间</string>
		<key>question</key>
		<string>aerospace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.断言，批准；证实</string>
		<key>question</key>
		<string>affirm</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鼓动，煸动；搅动</string>
		<key>question</key>
		<string>agitation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.惬意的；同意的</string>
		<key>question</key>
		<string>agreeable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.唉，哎呀</string>
		<key>question</key>
		<string>alas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.粘贴簿；相册；文选</string>
		<key>question</key>
		<string>album </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.警惕的；活跃的</string>
		<key>question</key>
		<string>alert </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代数学</string>
		<key>question</key>
		<string>algebra </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外国的n.外国人</string>
		<key>question</key>
		<string>alien </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.队列；结盟，联合</string>
		<key>question</key>
		<string>alignment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.联合的；联姻的</string>
		<key>question</key>
		<string>allied</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n津贴，补助费</string>
		<key>question</key>
		<string>allowance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…旁边</string>
		<key>question</key>
		<string>alongside </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.盟国，同盟者，伙伴</string>
		<key>question</key>
		<string>ally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.变更，改变；蚀变</string>
		<key>question</key>
		<string>alteration</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使交替a.交替的</string>
		<key>question</key>
		<string>alternate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.业余的n.业余爱好者</string>
		<key>question</key>
		<string>amateur </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大使，使节</string>
		<key>question</key>
		<string>ambassador</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.周围的，包围着的</string>
		<key>question</key>
		<string>ambient </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.模棱两可的；分歧的</string>
		<key>question</key>
		<string>ambiguous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有雄心的；热望的</string>
		<key>question</key>
		<string>ambitious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.足够的；宽敞的</string>
		<key>question</key>
		<string>ample </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.广大；充足；振幅</string>
		<key>question</key>
		<string>amplitude </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.娱乐，消遣，乐趣</string>
		<key>question</key>
		<string>amusement </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.类似物；同源语</string>
		<key>question</key>
		<string>analogue</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
