<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.粉碎，破碎；毁坏</string>
		<key>question</key>
		<string>shatter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.纯粹的；全然的</string>
		<key>question</key>
		<string>sheer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炮弹，猎枪子弹</string>
		<key>question</key>
		<string>shell </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.郡长；警察局长</string>
		<key>question</key>
		<string>sheriff </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.造船(业)，造船学</string>
		<key>question</key>
		<string>shipbuilding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.装货；装载的货物</string>
		<key>question</key>
		<string>shipment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.船舶失事</string>
		<key>question</key>
		<string>shipwreck </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.短缺，不足额</string>
		<key>question</key>
		<string>shortage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.近路，捷径</string>
		<key>question</key>
		<string>shortcut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.弄短，缩小，减少</string>
		<key>question</key>
		<string>shorten </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.速记，速记法</string>
		<key>question</key>
		<string>shorthand </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux.应该，竟然会</string>
		<key>question</key>
		<string>should</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.承担，挑起，肩负</string>
		<key>question</key>
		<string>shoulder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推vi.(使劲)推</string>
		<key>question</key>
		<string>shove </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.铲，铁铲vt.铲</string>
		<key>question</key>
		<string>shovel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.下阵雨vt.使湿透</string>
		<key>question</key>
		<string>shower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.尖声的vt.尖声地叫</string>
		<key>question</key>
		<string>shrill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(小)虾，河虾，褐虾</string>
		<key>question</key>
		<string>shrimp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神殿，神龛，圣祠</string>
		<key>question</key>
		<string>shrine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灌木，灌木丛</string>
		<key>question</key>
		<string>shrub </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.耸(肩)n.耸肩</string>
		<key>question</key>
		<string>shrug </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百叶窗；(相机)快门</string>
		<key>question</key>
		<string>shutter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(织机的)梭</string>
		<key>question</key>
		<string>shuttle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.斜向一边地</string>
		<key>question</key>
		<string>sideways</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.包围，围攻，围困</string>
		<key>question</key>
		<string>siege </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.筛，过滤vi.通过</string>
		<key>question</key>
		<string>sift</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情景，名胜，风景</string>
		<key>question</key>
		<string>sight </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.征兆，迹象，病症</string>
		<key>question</key>
		<string>sign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有效的</string>
		<key>question</key>
		<string>significant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.表示，意味着</string>
		<key>question</key>
		<string>signify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.硅(旧名矽)</string>
		<key>question</key>
		<string>silicon </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.类似，相似；类似点</string>
		<key>question</key>
		<string>similarity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.单纯的；迟钝的</string>
		<key>question</key>
		<string>simple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.单纯，质朴</string>
		<key>question</key>
		<string>simplicity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同时的，同时存在的</string>
		<key>question</key>
		<string>simultaneous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.真诚，诚意；真实</string>
		<key>question</key>
		<string>sincerity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.异常的，奇异的</string>
		<key>question</key>
		<string>singular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(厨房内的)洗涤槽</string>
		<key>question</key>
		<string>sink</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽笛，警报器</string>
		<key>question</key>
		<string>siren </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起居室</string>
		<key>question</key>
		<string>sitting-room</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.位于…的</string>
		<key>question</key>
		<string>situated</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(建筑物等的)位置</string>
		<key>question</key>
		<string>situation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骨骼，骷髅；骨架</string>
		<key>question</key>
		<string>skeleton</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.跳；跳绳；略过</string>
		<key>question</key>
		<string>skip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摩天楼</string>
		<key>question</key>
		<string>skyscraper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.萧条的；懈怠的</string>
		<key>question</key>
		<string>slack </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.诽谤，诋毁</string>
		<key>question</key>
		<string>slander </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.俚语；行话，黑话</string>
		<key>question</key>
		<string>slang </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.掴，拍n.巴掌，拍</string>
		<key>question</key>
		<string>slap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.屠杀，屠宰</string>
		<key>question</key>
		<string>slaughter </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
