<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.领域，范围，职权</string>
		<key>question</key>
		<string>province</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.规定，条款，条项</string>
		<key>question</key>
		<string>provision </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.对…挑衅；激发</string>
		<key>question</key>
		<string>provoke </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.谨慎的；精明的</string>
		<key>question</key>
		<string>prudent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.心理学；心理</string>
		<key>question</key>
		<string>psychology</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.喘气vt.喷(烟等)</string>
		<key>question</key>
		<string>puff</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滑轮，滑车，皮带轮</string>
		<key>question</key>
		<string>pulley</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.南瓜，南瓜藤</string>
		<key>question</key>
		<string>pumpkin </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.冲压n.冲压机</string>
		<key>question</key>
		<string>punch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小狗；幼小的动物</string>
		<key>question</key>
		<string>puppy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提纯，精炼(金属)</string>
		<key>question</key>
		<string>purify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(宽大的)睡衣裤</string>
		<key>question</key>
		<string>pyjamas </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资格；限制条件</string>
		<key>question</key>
		<string>qualification </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.限制，限定，修饰</string>
		<key>question</key>
		<string>qualify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.质的；定性的</string>
		<key>question</key>
		<string>qualitative </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.确定…的数量</string>
		<key>question</key>
		<string>quantify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.量的；定量的</string>
		<key>question</key>
		<string>quantitative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.季度的ad.季度地</string>
		<key>question</key>
		<string>quarterly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石英</string>
		<key>question</key>
		<string>quartz</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.熄灭，扑灭；压制</string>
		<key>question</key>
		<string>quench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.寻找vi.追求</string>
		<key>question</key>
		<string>quest </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.问，询问，讯问</string>
		<key>question</key>
		<string>question</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可疑的，不可靠的</string>
		<key>question</key>
		<string>questionable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调查表，征求意见表</string>
		<key>question</key>
		<string>questionnaire </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(轻微地)颤动</string>
		<key>question</key>
		<string>quiver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.光线的；放射的</string>
		<key>question</key>
		<string>radial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绚丽的；容光焕发的</string>
		<key>question</key>
		<string>radiant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暖气片，散热器</string>
		<key>question</key>
		<string>radiator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基本的；激进的</string>
		<key>question</key>
		<string>radical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.半径距离；界限</string>
		<key>question</key>
		<string>radius</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提出，发起，发出</string>
		<key>question</key>
		<string>raise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.葡萄干</string>
		<key>question</key>
		<string>raisin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.&amp;vi.(重新)集合</string>
		<key>question</key>
		<string>rally </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.闲逛，漫步；聊天</string>
		<key>question</key>
		<string>ramble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(北美洲的)大牧场</string>
		<key>question</key>
		<string>ranch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.随机a.随机的</string>
		<key>question</key>
		<string>random</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.排列；把…分类</string>
		<key>question</key>
		<string>range </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轻敲击声vt.敲击</string>
		<key>question</key>
		<string>rap </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.快，迅速；陡，险峻</string>
		<key>question</key>
		<string>rapidity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狂喜，欢天喜地</string>
		<key>question</key>
		<string>rapture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流氓，恶棍，无赖</string>
		<key>question</key>
		<string>rascal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.轻率的；鲁莽的</string>
		<key>question</key>
		<string>rash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.价格vt.对…评定</string>
		<key>question</key>
		<string>rate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.推理的；适度的</string>
		<key>question</key>
		<string>rational</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发出格格声</string>
		<key>question</key>
		<string>rattle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反应器；反应堆</string>
		<key>question</key>
		<string>reactor </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.现实的；现实主义的</string>
		<key>question</key>
		<string>realistic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(理想等的)实现</string>
		<key>question</key>
		<string>realization </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.饲养，培植；抚养</string>
		<key>question</key>
		<string>rear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.辩论，讨论</string>
		<key>question</key>
		<string>reason</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
