<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.长筒袜；软管</string>
		<key>question</key>
		<string>hose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.好客，殷勤；宜人</string>
		<key>question</key>
		<string>hospitality </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人质，抵押品</string>
		<key>question</key>
		<string>hostage </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女主人；旅馆女老板</string>
		<key>question</key>
		<string>hostess </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.敌对的；不友好的</string>
		<key>question</key>
		<string>hostile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狗；角鲨；卑鄙的人</string>
		<key>question</key>
		<string>hound </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.议院，会议厅</string>
		<key>question</key>
		<string>house </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.徘徊；傍徨；翱翔</string>
		<key>question</key>
		<string>hover </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嚎叫；哀号vi.吠</string>
		<key>question</key>
		<string>howl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.搂n.紧紧拥抱</string>
		<key>question</key>
		<string>hug </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.外壳，豆荚；薄膜</string>
		<key>question</key>
		<string>hull</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嗡嗡声vt.哼曲子</string>
		<key>question</key>
		<string>hum </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.博爱的n.慈善家</string>
		<key>question</key>
		<string>humanitarian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人类；人性，人情</string>
		<key>question</key>
		<string>humanity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.湿气；湿度</string>
		<key>question</key>
		<string>humidity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.猛投vi.猛冲</string>
		<key>question</key>
		<string>hurl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>int.好哇，万岁，乌拉</string>
		<key>question</key>
		<string>hurrah</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.飓风，十二级风</string>
		<key>question</key>
		<string>hurricane </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.损伤，伤害，创伤</string>
		<key>question</key>
		<string>hurt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沉默int.嘘！</string>
		<key>question</key>
		<string>hush</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.水力的；水力学的</string>
		<key>question</key>
		<string>hydraulic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烃，碳氢化合物</string>
		<key>question</key>
		<string>hydrocarbon </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赞美诗，圣歌；赞歌</string>
		<key>question</key>
		<string>hymn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.假设；前提</string>
		<key>question</key>
		<string>hypothesis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使成冰vi.结冰</string>
		<key>question</key>
		<string>ice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.冰冷的；冷冰冰的</string>
		<key>question</key>
		<string>icy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.唯心主义；理想主义</string>
		<key>question</key>
		<string>idealism</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.理想地；理论上</string>
		<key>question</key>
		<string>ideally </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同一的；恒等的</string>
		<key>question</key>
		<string>identical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.认出，鉴定；身份证</string>
		<key>question</key>
		<string>identification</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.白痴；傻子</string>
		<key>question</key>
		<string>idiot </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.懒惰；赋闲无事</string>
		<key>question</key>
		<string>idleness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引燃vi.着火</string>
		<key>question</key>
		<string>ignite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.无知，无学，愚昧</string>
		<key>question</key>
		<string>ignorance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.文盲的n.文盲</string>
		<key>question</key>
		<string>illiterate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.照明，照亮；阐明</string>
		<key>question</key>
		<string>illuminate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幻想；错觉；假象</string>
		<key>question</key>
		<string>illusion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仿制品，伪制物</string>
		<key>question</key>
		<string>imitation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.沉浸；给…施洗礼</string>
		<key>question</key>
		<string>immerse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(使)移居入境</string>
		<key>question</key>
		<string>immigrate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不朽的；永生的</string>
		<key>question</key>
		<string>immortal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给予，传递；告诉</string>
		<key>question</key>
		<string>impart</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.公正的，无偏见的</string>
		<key>question</key>
		<string>impartial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工具，服装vt.贯彻</string>
		<key>question</key>
		<string>implement </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.乞求，恳求，哀求</string>
		<key>question</key>
		<string>implore </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.利用；欺骗</string>
		<key>question</key>
		<string>impose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.盖印，在…打记号</string>
		<key>question</key>
		<string>impress </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不适当的；不合理的</string>
		<key>question</key>
		<string>improper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.推动，冲力；冲动</string>
		<key>question</key>
		<string>impulse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不纯；杂质；不道德</string>
		<key>question</key>
		<string>impurity</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
