<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>ad.靠什么；靠那个</string>
		<key>question</key>
		<string>whereby </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.同…同时；然而</string>
		<key>question</key>
		<string>whilst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.髯，连鬓胡子</string>
		<key>question</key>
		<string>whisker </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.低声地讲，私下说</string>
		<key>question</key>
		<string>whisper </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.白种(人)的</string>
		<key>question</key>
		<string>white </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石灰水vt.粉饰</string>
		<key>question</key>
		<string>whitewash </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>pron.究竟是谁</string>
		<key>question</key>
		<string>whoever </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.适合卫生的</string>
		<key>question</key>
		<string>wholesome </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.大大地</string>
		<key>question</key>
		<string>widely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挥(剑)；行使</string>
		<key>question</key>
		<string>wield </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柳树，柳木</string>
		<key>question</key>
		<string>willow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胸口，心窝</string>
		<key>question</key>
		<string>wind</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.卷绕着的线a.卷曲的</string>
		<key>question</key>
		<string>winding </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风车</string>
		<key>question</key>
		<string>windmill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.多风的，刮风的</string>
		<key>question</key>
		<string>windy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.眨眼；使眼色</string>
		<key>question</key>
		<string>wink</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(古人的)名言，格言</string>
		<key>question</key>
		<string>wisdom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.枯萎vt.使衰弱</string>
		<key>question</key>
		<string>wither</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>conj.而，却，反之</string>
		<key>question</key>
		<string>whereas </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.机智的；风趣的</string>
		<key>question</key>
		<string>witty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悲哀，悲痛，苦恼</string>
		<key>question</key>
		<string>woe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.啄木鸟</string>
		<key>question</key>
		<string>woodpecker</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工(作)件</string>
		<key>question</key>
		<string>workpiece </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.专题讨论会</string>
		<key>question</key>
		<string>workshop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.崇拜vi.做礼拜</string>
		<key>question</key>
		<string>worship </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暴怒，狂怒，愤慨</string>
		<key>question</key>
		<string>wrath </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拧，扭伤n.拧</string>
		<key>question</key>
		<string>wrench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摔交；斗争，搏斗</string>
		<key>question</key>
		<string>wrestle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不幸的；卑鄙的</string>
		<key>question</key>
		<string>wretched</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拧，挤，扭，榨</string>
		<key>question</key>
		<string>wring </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皱纹vt.使起皱纹</string>
		<key>question</key>
		<string>wrinkle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.用静电复印</string>
		<key>question</key>
		<string>xerox </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.游艇，快艇</string>
		<key>question</key>
		<string>yacht </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.想念，怀念，向往</string>
		<key>question</key>
		<string>yearn </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酵母</string>
		<key>question</key>
		<string>yeast </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.轭，牛轭；枷锁</string>
		<key>question</key>
		<string>yoke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛋黄，卵黄</string>
		<key>question</key>
		<string>yolk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.儿童，少年，年轻人</string>
		<key>question</key>
		<string>youngster </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.锌vt.在…上镀锌</string>
		<key>question</key>
		<string>zinc</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
