<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.遗弃，抛弃，摒绝</string>
		<key>question</key>
		<string>forsake </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.要塞，堡垒</string>
		<key>question</key>
		<string>fort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.即将到来的；现有的</string>
		<key>question</key>
		<string>forthcoming </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堡垒，要塞</string>
		<key>question</key>
		<string>fortress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.论坛，讨论会</string>
		<key>question</key>
		<string>forum </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.向前，将来vt.转递</string>
		<key>question</key>
		<string>forward </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.化石a.化石的</string>
		<key>question</key>
		<string>fossil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.养育，抚养；培养</string>
		<key>question</key>
		<string>foster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.肮脏的；丑恶的</string>
		<key>question</key>
		<string>foul</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家禽；禽肉</string>
		<key>question</key>
		<string>fowl</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分数；分馏的部分</string>
		<key>question</key>
		<string>fraction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.破裂；裂痕vi.破裂</string>
		<key>question</key>
		<string>fracture</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.脆的；体质弱的</string>
		<key>question</key>
		<string>fragile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.香的，芬芳的</string>
		<key>question</key>
		<string>fragrant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.脆弱的；意志薄弱的</string>
		<key>question</key>
		<string>frail </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机构，组织，体制</string>
		<key>question</key>
		<string>framework </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.运费；货运；负担</string>
		<key>question</key>
		<string>freight </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.频繁，屡次；频率</string>
		<key>question</key>
		<string>frequency </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.常见的；频繁的</string>
		<key>question</key>
		<string>frequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使显得新鲜</string>
		<key>question</key>
		<string>freshen </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)烦恼</string>
		<key>question</key>
		<string>fret</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.擦热皮肤</string>
		<key>question</key>
		<string>friction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惊吓，恐怖</string>
		<key>question</key>
		<string>fright</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可怕的；讨厌的</string>
		<key>question</key>
		<string>frightful </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.穗，毛边；边缘</string>
		<key>question</key>
		<string>fringe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.往，去，回，向后</string>
		<key>question</key>
		<string>fro </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(女)上衣，罩衫</string>
		<key>question</key>
		<string>frock </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.挫败；使无效</string>
		<key>question</key>
		<string>frustrate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.狂暴的；强烈的</string>
		<key>question</key>
		<string>furious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.增进</string>
		<key>question</key>
		<string>further </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.狂怒，暴怒；猛烈</string>
		<key>question</key>
		<string>fury</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保险丝，导火线</string>
		<key>question</key>
		<string>fuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.忙乱；吹捧vi.忙乱</string>
		<key>question</key>
		<string>fuss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赌博vt.冒…的险</string>
		<key>question</key>
		<string>gamble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.匪徒，歹徒，暴徒</string>
		<key>question</key>
		<string>gangster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.山口，山峡；差距</string>
		<key>question</key>
		<string>gap </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽车修理站；飞机库</string>
		<key>question</key>
		<string>garage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蒜，大蒜</string>
		<key>question</key>
		<string>garlic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣服；服装，衣着</string>
		<key>question</key>
		<string>garment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推测，推断</string>
		<key>question</key>
		<string>gather</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.集会，聚会，聚集</string>
		<key>question</key>
		<string>gathering </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.齿轮，传动装置</string>
		<key>question</key>
		<string>gear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一般化；概括，综合</string>
		<key>question</key>
		<string>generalization</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.概括出vi.形成概念</string>
		<key>question</key>
		<string>generalize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发生，产生；生成</string>
		<key>question</key>
		<string>generate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.慷慨，宽宏大量</string>
		<key>question</key>
		<string>generosity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.地理的；地区(性)的</string>
		<key>question</key>
		<string>geographical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地质学；(某地)地质</string>
		<key>question</key>
		<string>geology </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.几何学的</string>
		<key>question</key>
		<string>geometrical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.细菌，病原菌；幼芽</string>
		<key>question</key>
		<string>germ</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
