<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.苛求的；特称的</string>
		<key>question</key>
		<string>particular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分开，分割；融墙</string>
		<key>question</key>
		<string>partition </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.达到目的的手段</string>
		<key>question</key>
		<string>passport</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牧场；牲畜饲养</string>
		<key>question</key>
		<string>pasture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.专利的n.专利</string>
		<key>question</key>
		<string>patent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.哀婉动人的；可怜的</string>
		<key>question</key>
		<string>pathetic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爱国者，爱国主义者</string>
		<key>question</key>
		<string>patriot </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.爱国的</string>
		<key>question</key>
		<string>patriotic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.巡逻n.巡逻，巡查</string>
		<key>question</key>
		<string>patrol</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.庇护人；赞助人</string>
		<key>question</key>
		<string>patron</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.仿制，仿造，模仿</string>
		<key>question</key>
		<string>pattern </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.孔雀</string>
		<key>question</key>
		<string>peacock </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(物体的)尖端</string>
		<key>question</key>
		<string>peak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.啄，啄起</string>
		<key>question</key>
		<string>peck</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.特性，独特性；怪癖</string>
		<key>question</key>
		<string>peculiarity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.踏脚，踏板，脚蹬</string>
		<key>question</key>
		<string>pedal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行人，步行者</string>
		<key>question</key>
		<string>pedestrian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(挨户兜售的)小贩</string>
		<key>question</key>
		<string>pedlar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果皮，蔬菜皮</string>
		<key>question</key>
		<string>peel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.凝视；隐约出现</string>
		<key>question</key>
		<string>peer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.处罚，刑罚；罚款</string>
		<key>question</key>
		<string>penalty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.穿入；渗透，侵入</string>
		<key>question</key>
		<string>penetration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(钟等的)摆</string>
		<key>question</key>
		<string>pendulum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.感觉；概念；理解力</string>
		<key>question</key>
		<string>perception</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(禽鸟的)栖木</string>
		<key>question</key>
		<string>perch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使熟练，使改善</string>
		<key>question</key>
		<string>perfect </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.尽善尽美；无比精确</string>
		<key>question</key>
		<string>perfection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.危机；危险的事物</string>
		<key>question</key>
		<string>peril </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周(边)，周长</string>
		<key>question</key>
		<string>perimeter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.周期的；一定时期的</string>
		<key>question</key>
		<string>periodic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.期刊，杂志</string>
		<key>question</key>
		<string>periodical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.周界的；末梢的</string>
		<key>question</key>
		<string>peripheral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.死亡，夭折；枯萎</string>
		<key>question</key>
		<string>perish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.垂直的n.垂直(线)</string>
		<key>question</key>
		<string>perpendicular </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.永久的；四季开花的</string>
		<key>question</key>
		<string>perpetual </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迷惑，困惑，难住</string>
		<key>question</key>
		<string>perplex </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迫害，残害</string>
		<key>question</key>
		<string>persecute </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.坚持，不屈不挠</string>
		<key>question</key>
		<string>persevere </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.持续，存留</string>
		<key>question</key>
		<string>persist </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚持；持续，存留</string>
		<key>question</key>
		<string>persistence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人格，个性；人物</string>
		<key>question</key>
		<string>personality </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人事部门</string>
		<key>question</key>
		<string>personnel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.劝说，说服；主张</string>
		<key>question</key>
		<string>persuasion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.恰当的；有关的</string>
		<key>question</key>
		<string>pertinent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.害虫；害人虫</string>
		<key>question</key>
		<string>pest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.请愿vt.向…请愿</string>
		<key>question</key>
		<string>petition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.细小的；器量小的</string>
		<key>question</key>
		<string>petty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.光电的</string>
		<key>question</key>
		<string>photoelectric </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摄影术</string>
		<key>question</key>
		<string>photography </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.物质上；体格上</string>
		<key>question</key>
		<string>physically</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
