<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.常住者</string>
		<key>question</key>
		<string>resident</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.剩余的；残数的</string>
		<key>question</key>
		<string>residual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使顺从，使听任于</string>
		<key>question</key>
		<string>resign</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.听从，屈从，顺从</string>
		<key>question</key>
		<string>resignation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坚决的，果敢的</string>
		<key>question</key>
		<string>resolute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可敬的；人格高尚的</string>
		<key>question</key>
		<string>respectable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.回音，回签；灵敏度</string>
		<key>question</key>
		<string>response</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.重要的；可靠的</string>
		<key>question</key>
		<string>responsible </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抑制，制止，遏制</string>
		<key>question</key>
		<string>restrain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.作为结果而发生的</string>
		<key>question</key>
		<string>resultant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(谋职者的)个人简历</string>
		<key>question</key>
		<string>resume</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.零售a.零售的</string>
		<key>question</key>
		<string>retail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.延迟，放慢</string>
		<key>question</key>
		<string>retard</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.退休，引退；退隐</string>
		<key>question</key>
		<string>retirement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.反击；反驳</string>
		<key>question</key>
		<string>retort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.告诉，揭示，泄露</string>
		<key>question</key>
		<string>reveal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.收入；收入数目</string>
		<key>question</key>
		<string>revenue </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.背面，反面</string>
		<key>question</key>
		<string>reverse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.苏醒；复兴</string>
		<key>question</key>
		<string>revive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)旋转</string>
		<key>question</key>
		<string>revolve </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.嘲弄，挖苦</string>
		<key>question</key>
		<string>ridicule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(性格等)严峻的</string>
		<key>question</key>
		<string>rigorous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.边；边缘，(眼镜)框</string>
		<key>question</key>
		<string>rim </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.涮，嗽；冲洗</string>
		<key>question</key>
		<string>rinse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.骚乱，暴乱</string>
		<key>question</key>
		<string>riot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.撕啐，扯破，划破</string>
		<key>question</key>
		<string>rip </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.涟漪，细浪，波纹</string>
		<key>question</key>
		<string>ripple</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.在…漫步，漫游</string>
		<key>question</key>
		<string>roam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滚柱，滚筒，辊</string>
		<key>question</key>
		<string>roller</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.罗马人，古罗马人</string>
		<key>question</key>
		<string>Roman </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传奇；浪漫文学</string>
		<key>question</key>
		<string>romance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.好幻想的</string>
		<key>question</key>
		<string>romantic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公鸡；狂妄自负的人</string>
		<key>question</key>
		<string>rooster </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)旋转</string>
		<key>question</key>
		<string>rotate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.迂回的；转弯抹角的</string>
		<key>question</key>
		<string>roundabout</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.日常的n.常规</string>
		<key>question</key>
		<string>routine </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吵嚷，吵架，口角</string>
		<key>question</key>
		<string>row </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.皇家，王族，皇族</string>
		<key>question</key>
		<string>royalty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.红宝石</string>
		<key>question</key>
		<string>ruby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裁决，裁定</string>
		<key>question</key>
		<string>rule</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无情的，冷酷的</string>
		<key>question</key>
		<string>ruthless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保护措施；护照</string>
		<key>question</key>
		<string>safeguard </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲑，大马哈鱼</string>
		<key>question</key>
		<string>salmon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迎接，欢迎</string>
		<key>question</key>
		<string>salute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.夹入，挤进</string>
		<key>question</key>
		<string>sandwich</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沙丁鱼</string>
		<key>question</key>
		<string>sardine </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.附属物</string>
		<key>question</key>
		<string>satellite </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.快事，乐事；愉快</string>
		<key>question</key>
		<string>satisfaction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.圆满地</string>
		<key>question</key>
		<string>satisfactorily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饱和(状态)；浸透</string>
		<key>question</key>
		<string>saturation</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
