<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.文字(上)的；字面的</string>
		<key>question</key>
		<string>literal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.照字义，逐字地</string>
		<key>question</key>
		<string>literally </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.精通文学的</string>
		<key>question</key>
		<string>literary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.废物，杂乱vi.乱扔</string>
		<key>question</key>
		<string>litter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.前厅，(剧院的)门廊</string>
		<key>question</key>
		<string>lobby </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.位置，地点，发生地</string>
		<key>question</key>
		<string>locality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.定位，测位；测量</string>
		<key>question</key>
		<string>location</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.运动的；机动</string>
		<key>question</key>
		<string>locomotive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蝗虫；洋槐，刺槐</string>
		<key>question</key>
		<string>locust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.寄宿，住宿；住所</string>
		<key>question</key>
		<string>lodging </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.高耸的；高尚的</string>
		<key>question</key>
		<string>lofty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.航海日志；飞行日志</string>
		<key>question</key>
		<string>log </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.渴望a.显示渴望的</string>
		<key>question</key>
		<string>longing </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.经线，经度</string>
		<key>question</key>
		<string>longitude </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.松松地，松散地</string>
		<key>question</key>
		<string>loosely </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.变松</string>
		<key>question</key>
		<string>loosen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(旅馆等的)休息室</string>
		<key>question</key>
		<string>lounge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使润滑vi.加润滑油</string>
		<key>question</key>
		<string>lubricate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.发光的；光明的</string>
		<key>question</key>
		<string>luminous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(使)成团vi.结块</string>
		<key>question</key>
		<string>lump</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.月亮的</string>
		<key>question</key>
		<string>lunar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.午宴，午餐，便宴</string>
		<key>question</key>
		<string>luncheon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.爱好奢侈的，豪华的</string>
		<key>question</key>
		<string>luxurious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.魔法师；变戏法的人</string>
		<key>question</key>
		<string>magician</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.地方行政长官</string>
		<key>question</key>
		<string>magistrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.有吸引力的人(或物)</string>
		<key>question</key>
		<string>magnet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.磁；魅力；催眠术</string>
		<key>question</key>
		<string>magnetism </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放大，扩大</string>
		<key>question</key>
		<string>magnify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大小；重大；星等</string>
		<key>question</key>
		<string>magnitude </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少女；处女</string>
		<key>question</key>
		<string>maid</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.少女，未婚女子</string>
		<key>question</key>
		<string>maiden</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总管道，干线</string>
		<key>question</key>
		<string>main</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扶养；坚持</string>
		<key>question</key>
		<string>maintenance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.威严，尊严；陛下</string>
		<key>question</key>
		<string>majesty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.组织；性格；化装品</string>
		<key>question</key>
		<string>makeup</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恶意；蓄意犯罪</string>
		<key>question</key>
		<string>malice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.哺乳动物</string>
		<key>question</key>
		<string>mammal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.表明a.明白的</string>
		<key>question</key>
		<string>manifest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.操作；控制，手持</string>
		<key>question</key>
		<string>manipulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大厦，大楼；宅第</string>
		<key>question</key>
		<string>mansion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手稿，底稿，原稿</string>
		<key>question</key>
		<string>manuscript</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.槭树，枫树</string>
		<key>question</key>
		<string>maple </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.余地；幅度；赚头</string>
		<key>question</key>
		<string>margin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.记在页边的；边缘的</string>
		<key>question</key>
		<string>marginal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(在市场上)销售</string>
		<key>question</key>
		<string>market</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.火星；战争</string>
		<key>question</key>
		<string>Mars</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.沼泽地，湿地</string>
		<key>question</key>
		<string>marsh </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.元帅；陆军元帅</string>
		<key>question</key>
		<string>marshal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.烈士，殉难者</string>
		<key>question</key>
		<string>martyr</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.奇迹；惊奇vt.惊奇</string>
		<key>question</key>
		<string>marvel</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
