<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.绣花，刺绣；绣制品</string>
		<key>question</key>
		<string>embroidery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.浮现，出现；显露</string>
		<key>question</key>
		<string>emerge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.永久移居国外</string>
		<key>question</key>
		<string>emigrate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.散发；传播；发出物</string>
		<key>question</key>
		<string>emission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.经验主义的</string>
		<key>question</key>
		<string>empirical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迷住；用魔法迷惑</string>
		<key>question</key>
		<string>enchant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.围绕；围场，围栏</string>
		<key>question</key>
		<string>enclosure </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.目标，目的</string>
		<key>question</key>
		<string>end </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.危及，危害</string>
		<key>question</key>
		<string>endanger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.努力，尽力</string>
		<key>question</key>
		<string>endeavor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.资助；赋予，授予</string>
		<key>question</key>
		<string>endow </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.耐久力，持久力</string>
		<key>question</key>
		<string>endurance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.积极的；精力旺盛的</string>
		<key>question</key>
		<string>energetic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给与…能量；电压</string>
		<key>question</key>
		<string>energize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使(齿轮等)啮合</string>
		<key>question</key>
		<string>engage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.婚约；约会，债务</string>
		<key>question</key>
		<string>engagement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提高，增加；夸张</string>
		<key>question</key>
		<string>enhance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.启发，开导；启蒙</string>
		<key>question</key>
		<string>enlighten </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使富裕；使丰富</string>
		<key>question</key>
		<string>enrich</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.登记，招收vi.参军</string>
		<key>question</key>
		<string>enroll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.艰巨的事业；事业心</string>
		<key>question</key>
		<string>enterprise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.招待，招待会</string>
		<key>question</key>
		<string>entertainment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…称作</string>
		<key>question</key>
		<string>entitle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.恳求</string>
		<key>question</key>
		<string>entreat </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通道；条目</string>
		<key>question</key>
		<string>entry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.环境的，环境产生的</string>
		<key>question</key>
		<string>environmental </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一段情节；插曲</string>
		<key>question</key>
		<string>episode </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(新)时代；历元</string>
		<key>question</key>
		<string>epoch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平衡；平均；反应式</string>
		<key>question</key>
		<string>equation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.赤道，天球赤道</string>
		<key>question</key>
		<string>equator </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平衡，均衡；均衡论</string>
		<key>question</key>
		<string>equilibrium </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.等面(体)积的</string>
		<key>question</key>
		<string>equivalent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.竖起的</string>
		<key>question</key>
		<string>erect </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腐蚀，侵蚀；糜烂</string>
		<key>question</key>
		<string>erosion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.差使，差事</string>
		<key>question</key>
		<string>errand</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.护卫，护送</string>
		<key>question</key>
		<string>escort</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.本质，本体；精华</string>
		<key>question</key>
		<string>essence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特发的；自发的</string>
		<key>question</key>
		<string>essential </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使…被永久地接受</string>
		<key>question</key>
		<string>establish </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.房地产；财产，产业</string>
		<key>question</key>
		<string>estate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.永久的；不朽的</string>
		<key>question</key>
		<string>eternal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使脱水vi.发散蒸气</string>
		<key>question</key>
		<string>evaporate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同一日期的</string>
		<key>question</key>
		<string>even</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.一致地，平静地</string>
		<key>question</key>
		<string>evenly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.永久的；持久的</string>
		<key>question</key>
		<string>everlasting </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.邪恶，罪恶；祸害</string>
		<key>question</key>
		<string>evil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.开方；(天体的)形成</string>
		<key>question</key>
		<string>evolution </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.胜过vi.杰出</string>
		<key>question</key>
		<string>excel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…除外，除去</string>
		<key>question</key>
		<string>except</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.例外的；优越的</string>
		<key>question</key>
		<string>exceptional </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
