<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.使屈服，征服</string>
		<key>question</key>
		<string>subdue</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使隶属</string>
		<key>question</key>
		<string>subject </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.下级的，辅助的</string>
		<key>question</key>
		<string>subordinate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.订购，认购；预订</string>
		<key>question</key>
		<string>subscribe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.写在下方的n.下标</string>
		<key>question</key>
		<string>subscript </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预约，用户，订阅费</string>
		<key>question</key>
		<string>subscription</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.尔后的</string>
		<key>question</key>
		<string>subsequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.其后，其次，接着</string>
		<key>question</key>
		<string>subsequently</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.辅助的，补充的</string>
		<key>question</key>
		<string>subsidiary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.财产；内容，本旨</string>
		<key>question</key>
		<string>substance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.物质的；坚固的</string>
		<key>question</key>
		<string>substantial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.微妙的；精巧的</string>
		<key>question</key>
		<string>subtle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.继承(权)，后裔</string>
		<key>question</key>
		<string>succession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.继承人，继任者</string>
		<key>question</key>
		<string>successor </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.足够；有能力</string>
		<key>question</key>
		<string>suffice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.&amp;vt.自杀</string>
		<key>question</key>
		<string>suicide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使配合vi.彼此协调</string>
		<key>question</key>
		<string>suit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小提箱，衣箱</string>
		<key>question</key>
		<string>suitcase</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绷着脸不高兴的</string>
		<key>question</key>
		<string>sullen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.概括的；速决的</string>
		<key>question</key>
		<string>summary </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.顶点，最高点；极度</string>
		<key>question</key>
		<string>summit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.召唤；鼓起(勇气)</string>
		<key>question</key>
		<string>summon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.壮丽的；超等的</string>
		<key>question</key>
		<string>superb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.表面的；肤浅的</string>
		<key>question</key>
		<string>superficial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.优越(性)，优势</string>
		<key>question</key>
		<string>superiority </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.超声的，超声速的</string>
		<key>question</key>
		<string>supersonic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.迷信，迷信行为</string>
		<key>question</key>
		<string>superstition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.监督，监视</string>
		<key>question</key>
		<string>supervise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.补角</string>
		<key>question</key>
		<string>supplement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.经受，承受，忍受</string>
		<key>question</key>
		<string>support </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.镇压；抑制；隐瞒</string>
		<key>question</key>
		<string>suppress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.超过，超越，胜过</string>
		<key>question</key>
		<string>surpass </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.过剩，剩余(物资)</string>
		<key>question</key>
		<string>surplus </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.幸存，残存；幸存者</string>
		<key>question</key>
		<string>survival</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可疑的；猜疑的</string>
		<key>question</key>
		<string>suspicious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使变甜vi.变甜</string>
		<key>question</key>
		<string>sweeten </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.甜蜜；新鲜；温和</string>
		<key>question</key>
		<string>sweetness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.使膨胀，隆起</string>
		<key>question</key>
		<string>swell </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(树木的)软枝条</string>
		<key>question</key>
		<string>switch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.对称的，匀称的</string>
		<key>question</key>
		<string>symmetrical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.对称(性)，匀称</string>
		<key>question</key>
		<string>symmetry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.交响乐；交响乐团</string>
		<key>question</key>
		<string>symphony</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酒会；座谈会</string>
		<key>question</key>
		<string>symposium </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.症状，征候，征兆</string>
		<key>question</key>
		<string>symptom </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.合成；综合，综合物</string>
		<key>question</key>
		<string>synthesis </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.成体系的；分类的</string>
		<key>question</key>
		<string>systematic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.系统地，有规则地</string>
		<key>question</key>
		<string>systematically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…制成表</string>
		<key>question</key>
		<string>tabulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平头打vt.钉住</string>
		<key>question</key>
		<string>tack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解决，对付n.用具</string>
		<key>question</key>
		<string>tackle</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
