<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.删去，勾销，取消</string>
		<key>question</key>
		<string>cancel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.能力，才能；性能</string>
		<key>question</key>
		<string>capability</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电容，电容量</string>
		<key>question</key>
		<string>capacitance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电容器</string>
		<key>question</key>
		<string>capacitor </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.披肩，斗篷；海角</string>
		<key>question</key>
		<string>cape</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.被俘虏的；被迷住的</string>
		<key>question</key>
		<string>captive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.刊登</string>
		<key>question</key>
		<string>carry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漫画，动画片</string>
		<key>question</key>
		<string>cartoon </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弹药筒，子弹；软片</string>
		<key>question</key>
		<string>cartridge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.为…编目录</string>
		<key>question</key>
		<string>catalogue </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.催化剂；刺激因素</string>
		<key>question</key>
		<string>catalyst</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种类，类目；范畴</string>
		<key>question</key>
		<string>category</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.迎合，投合</string>
		<key>question</key>
		<string>cater </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.天主教的n.天主教徒</string>
		<key>question</key>
		<string>Catholic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小心；告诫vt.警告</string>
		<key>question</key>
		<string>caution </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.小心的，谨慎的</string>
		<key>question</key>
		<string>cautious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洞，穴，空腔</string>
		<key>question</key>
		<string>cavity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.粘结vi.粘紧</string>
		<key>question</key>
		<string>cement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.审查，检查</string>
		<key>question</key>
		<string>censor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谷类，五谷，禾谷</string>
		<key>question</key>
		<string>cereal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.确实性，确信，确实</string>
		<key>question</key>
		<string>certainty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.艰巨任务；要求回避</string>
		<key>question</key>
		<string>challenge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斗士；提倡者</string>
		<key>question</key>
		<string>champion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.表示…的特性</string>
		<key>question</key>
		<string>characterize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.炭，木炭；生物炭</string>
		<key>question</key>
		<string>charcoal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.负荷；充电vt.装满</string>
		<key>question</key>
		<string>charge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.魅力；妩媚vi.迷人</string>
		<key>question</key>
		<string>charm </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.租n.宪章；契据</string>
		<key>question</key>
		<string>charter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.喋喋不休</string>
		<key>question</key>
		<string>chatter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.欺诈；骗取</string>
		<key>question</key>
		<string>cheat </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.支票，帐单</string>
		<key>question</key>
		<string>check </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.珍爱；怀有(感情)</string>
		<key>question</key>
		<string>cherish </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.栗子；栗树；栗色</string>
		<key>question</key>
		<string>chestnut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.感到寒冷；冷淬</string>
		<key>question</key>
		<string>chill </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.薄片，碎片</string>
		<key>question</key>
		<string>chip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.入选者a.优等的</string>
		<key>question</key>
		<string>choice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一块排骨，肉块</string>
		<key>question</key>
		<string>chop</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(乐器的)弦vi.协调</string>
		<key>question</key>
		<string>chord </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.合唱</string>
		<key>question</key>
		<string>chorus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.救世主(耶稣基督)</string>
		<key>question</key>
		<string>Christ</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基督教的</string>
		<key>question</key>
		<string>Christian </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雪茄烟，叶卷烟</string>
		<key>question</key>
		<string>cigar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传单，通报，通函</string>
		<key>question</key>
		<string>circular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.循环；(货币等)流通</string>
		<key>question</key>
		<string>circulation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.马戏；马戏团</string>
		<key>question</key>
		<string>circus</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.引用，引证；举例</string>
		<key>question</key>
		<string>cite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.平民a.平民的</string>
		<key>question</key>
		<string>civilian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.权利，所有权</string>
		<key>question</key>
		<string>claim </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.夹子vt.夹住，夹紧</string>
		<key>question</key>
		<string>clamp </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.拍手喝采声；霹雳声</string>
		<key>question</key>
		<string>clap</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
