<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.无数的，数不清的</string>
		<key>question</key>
		<string>innumerable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无生物的；无机的</string>
		<key>question</key>
		<string>inorganic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.输入n.输入</string>
		<key>question</key>
		<string>input </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(肌肉)附着</string>
		<key>question</key>
		<string>insert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.洞察力，洞悉，见识</string>
		<key>question</key>
		<string>insight </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无意义的；低微的</string>
		<key>question</key>
		<string>insignificant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坚持的；逼人注意的</string>
		<key>question</key>
		<string>insistent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.检查员；巡官</string>
		<key>question</key>
		<string>inspector </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灵感；妙想；鼓舞</string>
		<key>question</key>
		<string>inspiration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不稳定性；不坚决</string>
		<key>question</key>
		<string>instability </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分期付款</string>
		<key>question</key>
		<string>installment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.瞬间的，即刻的</string>
		<key>question</key>
		<string>instantaneous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.指导者，教员</string>
		<key>question</key>
		<string>instructor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.仪器的；有帮助的</string>
		<key>question</key>
		<string>instrumental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使绝缘，使绝热</string>
		<key>question</key>
		<string>insulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.隔离者；绝缘体</string>
		<key>question</key>
		<string>insulator </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.吸入；输入能量</string>
		<key>question</key>
		<string>intake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.组成的；整的</string>
		<key>question</key>
		<string>integral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使结合，使并入</string>
		<key>question</key>
		<string>integrate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诚实，正直</string>
		<key>question</key>
		<string>integrity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.理智，智力，才智</string>
		<key>question</key>
		<string>intellect </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.目不转睛的，热切的</string>
		<key>question</key>
		<string>intent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.相互作用</string>
		<key>question</key>
		<string>interact</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使互相联系</string>
		<key>question</key>
		<string>interconnect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.交际，往来，交流</string>
		<key>question</key>
		<string>intercourse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分界面</string>
		<key>question</key>
		<string>interface </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.内部a.内部的</string>
		<key>question</key>
		<string>interior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.中间体；调解人</string>
		<key>question</key>
		<string>intermediate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解释vi.口译</string>
		<key>question</key>
		<string>interpret </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.干涉，干预；播进</string>
		<key>question</key>
		<string>intervene </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.接见，会见，会谈</string>
		<key>question</key>
		<string>interview </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.语调，声调；发声</string>
		<key>question</key>
		<string>intonation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提出(议案等)</string>
		<key>question</key>
		<string>introduce </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.病人a.有病的</string>
		<key>question</key>
		<string>invalid </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.不变地，永恒地</string>
		<key>question</key>
		<string>invariably</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.相反地</string>
		<key>question</key>
		<string>inversely </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发票，发货清单</string>
		<key>question</key>
		<string>invoice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.离子</string>
		<key>question</key>
		<string>ion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不规则；不整齐</string>
		<key>question</key>
		<string>irregularity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不考虑的，不顾的</string>
		<key>question</key>
		<string>irrespective</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.灌溉；冲洗法</string>
		<key>question</key>
		<string>irrigation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.激怒；引起不愉快</string>
		<key>question</key>
		<string>irritate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伊斯兰教，回教</string>
		<key>question</key>
		<string>Islam </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.象牙；牙质；乳白色</string>
		<key>question</key>
		<string>ivory </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起重器；传动装置</string>
		<key>question</key>
		<string>jack</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.堵塞vt.使…堵塞</string>
		<key>question</key>
		<string>jam </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.妒忌，嫉妒，猜忌</string>
		<key>question</key>
		<string>jealousy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斜纹布，牛仔裤</string>
		<key>question</key>
		<string>jean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冻，果子冻；胶状物</string>
		<key>question</key>
		<string>jelly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.猛地一拉vi.急拉</string>
		<key>question</key>
		<string>jerk</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
