<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.分裂，分化；派系</string>
		<key>question</key>
		<string>split </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发言人，代言人</string>
		<key>question</key>
		<string>spokesman </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压碎n.鲜果汁</string>
		<key>question</key>
		<string>squash</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(使)蹲下</string>
		<key>question</key>
		<string>squat </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压榨；榨取，佣金</string>
		<key>question</key>
		<string>squeeze </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚定</string>
		<key>question</key>
		<string>stability </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.蹒跚vt.使摇晃</string>
		<key>question</key>
		<string>stagger </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.纯洁的；不锈的</string>
		<key>question</key>
		<string>stainless </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.楼梯</string>
		<key>question</key>
		<string>stairway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主茎，叶柄；高烟囱</string>
		<key>question</key>
		<string>stalk </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.货摊，书摊；厩</string>
		<key>question</key>
		<string>stall </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.口吃地说n.口吃</string>
		<key>question</key>
		<string>stammer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使与标准比较</string>
		<key>question</key>
		<string>standardize </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开动，着手；开设</string>
		<key>question</key>
		<string>start </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.文具；信笺</string>
		<key>question</key>
		<string>stationery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.统计，统计数字</string>
		<key>question</key>
		<string>statistics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坚定的，扎实的</string>
		<key>question</key>
		<string>steady</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大块牛肉；牛排</string>
		<key>question</key>
		<string>steak </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.偷偷地做，巧取</string>
		<key>question</key>
		<string>steal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词干；(手表的)转柄</string>
		<key>question</key>
		<string>stem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.立体声a.立体声的</string>
		<key>question</key>
		<string>stereo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.艉，船尾；臀部</string>
		<key>question</key>
		<string>stern </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.炖vi.炖着n.炖肉</string>
		<key>question</key>
		<string>stew</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.生硬的</string>
		<key>question</key>
		<string>stiff </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.硬度</string>
		<key>question</key>
		<string>stiffness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.寂静，无声</string>
		<key>question</key>
		<string>stillness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剧痛；刺激vt.刺</string>
		<key>question</key>
		<string>sting </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一针，缝线vt.缝</string>
		<key>question</key>
		<string>stitch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.果核，(水果的)硬核</string>
		<key>question</key>
		<string>stone </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贮藏，保管；仓库</string>
		<key>question</key>
		<string>storage </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爆发vt.&amp;vi.猛攻</string>
		<key>question</key>
		<string>storm </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.矮胖的；坚固的</string>
		<key>question</key>
		<string>stout </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…弄直vi.挺起来</string>
		<key>question</key>
		<string>straighten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.老实的ad.坦率地</string>
		<key>question</key>
		<string>straightforward </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海峡</string>
		<key>question</key>
		<string>strait</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外地的，异乡的</string>
		<key>question</key>
		<string>strange </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.迷路a.迷路的</string>
		<key>question</key>
		<string>stray </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流线；流线型</string>
		<key>question</key>
		<string>streamline</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兵力；强度</string>
		<key>question</key>
		<string>strength</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.大踏步走n.大步</string>
		<key>question</key>
		<string>stride</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冲突，竞争</string>
		<key>question</key>
		<string>strife</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.显著的，惊人的</string>
		<key>question</key>
		<string>striking</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.窄条，长带</string>
		<key>question</key>
		<string>strip </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.努力，奋斗，力求</string>
		<key>question</key>
		<string>strive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.散步，溜达，闲逛</string>
		<key>question</key>
		<string>stroll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.顽固的；顽强的</string>
		<key>question</key>
		<string>stubborn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工作室；播音室</string>
		<key>question</key>
		<string>studio</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不透气的，闷热的</string>
		<key>question</key>
		<string>stuffy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坚定的；牢固的</string>
		<key>question</key>
		<string>sturdy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…再分</string>
		<key>question</key>
		<string>subdivide </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
