<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.(使)背离，偏离</string>
		<key>question</key>
		<string>deviate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.背离，偏离；偏差数</string>
		<key>question</key>
		<string>deviation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.献身，热诚，专心</string>
		<key>question</key>
		<string>devotion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.吞食；吞灭，毁灭</string>
		<key>question</key>
		<string>devour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.诊断(疾病)</string>
		<key>question</key>
		<string>diagnose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.独裁者，专政者</string>
		<key>question</key>
		<string>dictator</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.柴油发动机，内燃机</string>
		<key>question</key>
		<string>diesel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.饮食，食物</string>
		<key>question</key>
		<string>diet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.难以满足的</string>
		<key>question</key>
		<string>difficult </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.尊贵；(举止)庄严</string>
		<key>question</key>
		<string>dignity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减少，减小，递减</string>
		<key>question</key>
		<string>diminish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.吃饭vt.宴请</string>
		<key>question</key>
		<string>dine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.二氧化物</string>
		<key>question</key>
		<string>dioxide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毕业文凭，学位证书</string>
		<key>question</key>
		<string>diploma </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.外交的；有策略的</string>
		<key>question</key>
		<string>diplomatic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.姓名地址录；董事会</string>
		<key>question</key>
		<string>directory </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不一致；争论</string>
		<key>question</key>
		<string>disagreement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消失，消散；失踪</string>
		<key>question</key>
		<string>disappearance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.灾难性的；悲惨的</string>
		<key>question</key>
		<string>disastrous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.看出，辨出；辨别</string>
		<key>question</key>
		<string>discern </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.折扣；打折扣卖</string>
		<key>question</key>
		<string>discount</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.讲话，演说，讲道</string>
		<key>question</key>
		<string>discourse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.辨别；识别力；歧视</string>
		<key>question</key>
		<string>discrimination</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.失宠，耻辱，丢脸</string>
		<key>question</key>
		<string>disgrace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.觉醒vt.使觉醒</string>
		<key>question</key>
		<string>disillusion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惊慌，沮丧，灰心</string>
		<key>question</key>
		<string>dismay</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.忘掉</string>
		<key>question</key>
		<string>dismiss </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.疾病，小病</string>
		<key>question</key>
		<string>disorder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.派遣；调度n.急件</string>
		<key>question</key>
		<string>dispatch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(使)分散；驱散</string>
		<key>question</key>
		<string>disperse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.移置；取代；置换</string>
		<key>question</key>
		<string>displace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移置；免职；置换</string>
		<key>question</key>
		<string>displacement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.不管，不顾n.不管</string>
		<key>question</key>
		<string>disregard </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不满，不平</string>
		<key>question</key>
		<string>dissatisfaction </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.驱散；浪费vi.消散</string>
		<key>question</key>
		<string>dissipate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.解除(婚约等)</string>
		<key>question</key>
		<string>dissolve</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.独特的</string>
		<key>question</key>
		<string>distinct</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.显然，清楚地</string>
		<key>question</key>
		<string>distinctly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.使显出特色，使杰出</string>
		<key>question</key>
		<string>distinguish </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.歪曲，曲解，扭曲</string>
		<key>question</key>
		<string>distort </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弄歪，歪曲；畸变</string>
		<key>question</key>
		<string>distortion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分散(心思)；打扰</string>
		<key>question</key>
		<string>distract</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.动乱；干扰；侵犯</string>
		<key>question</key>
		<string>disturbance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.分岔；分歧</string>
		<key>question</key>
		<string>diverge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.转移；改道；娱乐</string>
		<key>question</key>
		<string>diversion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使转向vi.转移</string>
		<key>question</key>
		<string>divert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.神的；敬神的</string>
		<key>question</key>
		<string>divine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.头晕眼花的，眩晕的</string>
		<key>question</key>
		<string>dizzy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…引入船坞</string>
		<key>question</key>
		<string>dock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.教义，主义；学说</string>
		<key>question</key>
		<string>doctrine</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
