<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>ad.适度地，适中</string>
		<key>question</key>
		<string>moderately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谦逊；端庄；羞怯</string>
		<key>question</key>
		<string>modesty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缓和；修改；修饰</string>
		<key>question</key>
		<string>modification</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.调整，调节(声音)</string>
		<key>question</key>
		<string>modulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.模数；模；组件</string>
		<key>question</key>
		<string>module</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.分子的；克分子的</string>
		<key>question</key>
		<string>molecular </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.瞬息间的，片刻的</string>
		<key>question</key>
		<string>momentary </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.君主，最高统治者</string>
		<key>question</key>
		<string>monarch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.和尚，僧侣，修道士</string>
		<key>question</key>
		<string>monk</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.垄断，独占，专利</string>
		<key>question</key>
		<string>monopoly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.怪物；畸形的动植物</string>
		<key>question</key>
		<string>monster </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可怕的；极大的</string>
		<key>question</key>
		<string>monstrous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使停泊；使固定</string>
		<key>question</key>
		<string>moor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.墩布，洗碗刷</string>
		<key>question</key>
		<string>mop </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.道德，美德，品行</string>
		<key>question</key>
		<string>morality</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抵押vt.抵押</string>
		<key>question</key>
		<string>mortgage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;a.穆斯林(的)</string>
		<key>question</key>
		<string>Moslem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.清真寺</string>
		<key>question</key>
		<string>mosque</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.苔藓，地衣</string>
		<key>question</key>
		<string>moss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽车游客旅馆</string>
		<key>question</key>
		<string>motel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.发动的，运动的</string>
		<key>question</key>
		<string>motive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汽车道，快车路</string>
		<key>question</key>
		<string>motorway</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.装配；固定n.支架</string>
		<key>question</key>
		<string>mount </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.多山的；山一般的</string>
		<key>question</key>
		<string>mountainous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.行动，步骤</string>
		<key>question</key>
		<string>move</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.增加；繁殖；乘法</string>
		<key>question</key>
		<string>multiplication</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大批，大群；大量</string>
		<key>question</key>
		<string>multitude </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.市的，市立的</string>
		<key>question</key>
		<string>municipal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.低沉连续的声音</string>
		<key>question</key>
		<string>murmur</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.肌肉发达的，强健的</string>
		<key>question</key>
		<string>muscular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.沉思，默想，冥想</string>
		<key>question</key>
		<string>muse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.芥子，芥末</string>
		<key>question</key>
		<string>mustard </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.弱音器；闭止音</string>
		<key>question</key>
		<string>mute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.神秘小说，侦探小说</string>
		<key>question</key>
		<string>mystery </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.餐巾(纸)</string>
		<key>question</key>
		<string>napkin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.叙述；故事；叙述法</string>
		<key>question</key>
		<string>narration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.负的，阴性的</string>
		<key>question</key>
		<string>negative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.微不足道的</string>
		<key>question</key>
		<string>negligible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.谈判，交涉，议定</string>
		<key>question</key>
		<string>negotiate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.邻近的，接壤的</string>
		<key>question</key>
		<string>neighbouring</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.筑巢vt.为…筑巢</string>
		<key>question</key>
		<string>nest</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用网捕；用网覆盖</string>
		<key>question</key>
		<string>net </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网络；广播网</string>
		<key>question</key>
		<string>network </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.中子</string>
		<key>question</key>
		<string>neutron </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.细微的，微妙的</string>
		<key>question</key>
		<string>nice</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.镍；镍币</string>
		<key>question</key>
		<string>nickel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.绰号，浑号</string>
		<key>question</key>
		<string>nickname</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恶梦；经常的恐惧</string>
		<key>question</key>
		<string>nightmare </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提名，推荐；任命</string>
		<key>question</key>
		<string>nominate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标准，规范；平均数</string>
		<key>question</key>
		<string>norm</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
