<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.怀孕的；意义深长的</string>
		<key>question</key>
		<string>pregnant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.偏见，成见；损害</string>
		<key>question</key>
		<string>prejudice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.药方，处方的药</string>
		<key>question</key>
		<string>prescription</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.介绍；赠送；呈现</string>
		<key>question</key>
		<string>presentation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保存，储藏；保持</string>
		<key>question</key>
		<string>preservation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预先装置</string>
		<key>question</key>
		<string>preset</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.主持；主奏</string>
		<key>question</key>
		<string>preside </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印刷机，印刷所</string>
		<key>question</key>
		<string>press </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电压；大气压力</string>
		<key>question</key>
		<string>pressure</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.威望，威信，声望</string>
		<key>question</key>
		<string>prestige</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.推测起来，大概</string>
		<key>question</key>
		<string>presumably</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.假定，假设，揣测</string>
		<key>question</key>
		<string>presume </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.流行的；盛行的</string>
		<key>question</key>
		<string>prevalent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预防，阻止，妨碍</string>
		<key>question</key>
		<string>prevention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.猎物vi.捕获</string>
		<key>question</key>
		<string>prey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.刺(穿)n.刺孔</string>
		<key>question</key>
		<string>prick </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.远古的，未开化的</string>
		<key>question</key>
		<string>primitive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.主要，大抵</string>
		<key>question</key>
		<string>principally </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.印刷工；印花工</string>
		<key>question</key>
		<string>printer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.先，前；优先，重点</string>
		<key>question</key>
		<string>priority</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棱柱(体)；棱镜</string>
		<key>question</key>
		<string>prism </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.探针vt.用探针探查</string>
		<key>question</key>
		<string>probe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.程序，行动，事项</string>
		<key>question</key>
		<string>proceeding</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生产者；舞台监督</string>
		<key>question</key>
		<string>producer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.生产的；出产…的</string>
		<key>question</key>
		<string>productive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生产率；多产</string>
		<key>question</key>
		<string>productivity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.熟练，精通</string>
		<key>question</key>
		<string>proficiency </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.熟练的，精通的</string>
		<key>question</key>
		<string>proficient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有利的；有益的</string>
		<key>question</key>
		<string>profitable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.深刻的；渊博的</string>
		<key>question</key>
		<string>profound</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.编制程序</string>
		<key>question</key>
		<string>program </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.禁止；禁令，禁律</string>
		<key>question</key>
		<string>prohibition </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.投影仪；探照灯</string>
		<key>question</key>
		<string>projector </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.延长，拉长，拖延</string>
		<key>question</key>
		<string>prolong </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.促进；提升；创立</string>
		<key>question</key>
		<string>promotion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.敏捷地，迅速地</string>
		<key>question</key>
		<string>promptly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宣传；宣传机构</string>
		<key>question</key>
		<string>propaganda</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.繁殖；传播，普及</string>
		<key>question</key>
		<string>propagate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.繁殖；传播；蔓延</string>
		<key>question</key>
		<string>propagation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推进，推动</string>
		<key>question</key>
		<string>propel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.螺旋桨，推进器</string>
		<key>question</key>
		<string>propeller </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.合乎体统的，正派的</string>
		<key>question</key>
		<string>proper</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预言，预言能力</string>
		<key>question</key>
		<string>prophecy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预言家，先知</string>
		<key>question</key>
		<string>prophet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命题，主题；提议</string>
		<key>question</key>
		<string>proposition </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.推进，推进力</string>
		<key>question</key>
		<string>propulsion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.散文</string>
		<key>question</key>
		<string>prose </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.质子，氕核</string>
		<key>question</key>
		<string>proton</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.原型；典型，范例</string>
		<key>question</key>
		<string>prototype </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.谚语，格言，箴言</string>
		<key>question</key>
		<string>proverb </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
