<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vi.作苦工vt.奴役</string>
		<key>question</key>
		<string>slave </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.滑板，滑座</string>
		<key>question</key>
		<string>slide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.细长的；微小的</string>
		<key>question</key>
		<string>slim</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.切开n.狭长的切口</string>
		<key>question</key>
		<string>slit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.睡眠；沉睡状态</string>
		<key>question</key>
		<string>slumber </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.刺疼，扎疼，剧痛</string>
		<key>question</key>
		<string>smart </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打碎，打破，粉碎</string>
		<key>question</key>
		<string>smash </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.私运vi.走私</string>
		<key>question</key>
		<string>smuggle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.快餐，小吃</string>
		<key>question</key>
		<string>snack </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蜗牛；行动缓慢的人</string>
		<key>question</key>
		<string>snail </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.猛咬，突然折断</string>
		<key>question</key>
		<string>snap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.冷笑；嘲笑</string>
		<key>question</key>
		<string>sneer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.打喷嚏</string>
		<key>question</key>
		<string>sneeze</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.用鼻子吸vt.嗅</string>
		<key>question</key>
		<string>sniff </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.势利小人</string>
		<key>question</key>
		<string>snob</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.势利的，谄上欺下的</string>
		<key>question</key>
		<string>snobbish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.打鼾，打呼噜</string>
		<key>question</key>
		<string>snore </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社会学</string>
		<key>question</key>
		<string>sociology </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.钠</string>
		<key>question</key>
		<string>sodium</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.长沙发，沙发</string>
		<key>question</key>
		<string>sofa</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使软化vi.变软弱</string>
		<key>question</key>
		<string>soften</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.温和，柔和；软弱</string>
		<key>question</key>
		<string>softness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(计算机的)软件</string>
		<key>question</key>
		<string>software</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.利用太阳光的</string>
		<key>question</key>
		<string>solar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.团结；休戚相关</string>
		<key>question</key>
		<string>solidarity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.团结；凝固</string>
		<key>question</key>
		<string>solidify</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.独唱，独奏；独唱曲</string>
		<key>question</key>
		<string>solo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.老于世故的；高级的</string>
		<key>question</key>
		<string>sophisticated </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.使人伤心的；悲伤的</string>
		<key>question</key>
		<string>sorrowful </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.向南方</string>
		<key>question</key>
		<string>southwards</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.君主a.统治的</string>
		<key>question</key>
		<string>sovereign </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纪念品，黄豆</string>
		<key>question</key>
		<string>souvenir</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.酱油；大豆，黄豆</string>
		<key>question</key>
		<string>soy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.广阔的，广大的</string>
		<key>question</key>
		<string>spacious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(桥墩间的)墩距</string>
		<key>question</key>
		<string>span</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空间的，占据空间的</string>
		<key>question</key>
		<string>spatial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使专门化，专业化</string>
		<key>question</key>
		<string>specialize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.种，物种；种类</string>
		<key>question</key>
		<string>species </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.载明，详述；规格</string>
		<key>question</key>
		<string>specification </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抽样，样品</string>
		<key>question</key>
		<string>specimen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.场面；景象，奇观</string>
		<key>question</key>
		<string>spectacle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参观者，观众</string>
		<key>question</key>
		<string>spectator </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.系列，范围；波谱</string>
		<key>question</key>
		<string>spectrum</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.思索，沉思；投机</string>
		<key>question</key>
		<string>speculate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.球形的，球面的</string>
		<key>question</key>
		<string>spherical </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香料，调味品；香气</string>
		<key>question</key>
		<string>spice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(人)摔下，跌下</string>
		<key>question</key>
		<string>spill </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.螺旋(形)的，盘旋的</string>
		<key>question</key>
		<string>spiral</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恶意，怨恨</string>
		<key>question</key>
		<string>spite </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.溅泼vi.泼水n.溅</string>
		<key>question</key>
		<string>splash</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
