<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.纪录的，文献的</string>
		<key>question</key>
		<string>documentary </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圆屋顶，拱顶</string>
		<key>question</key>
		<string>dome</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.养在家里的</string>
		<key>question</key>
		<string>domestic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.统治的n.主因</string>
		<key>question</key>
		<string>dominant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.统治，支配，控制</string>
		<key>question</key>
		<string>dominate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命运，毁灭vt.注定</string>
		<key>question</key>
		<string>doom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.无疑地；很可能</string>
		<key>question</key>
		<string>doubtless </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鸽子，斑鸠</string>
		<key>question</key>
		<string>dove</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(水等)流掉</string>
		<key>question</key>
		<string>drain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.排水；下水道</string>
		<key>question</key>
		<string>drainage</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.戏剧性事件；戏剧性</string>
		<key>question</key>
		<string>drama </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.激烈的；严厉的</string>
		<key>question</key>
		<string>drastic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.退款；妨碍；弊端</string>
		<key>question</key>
		<string>drawback</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可怕的；令人敬畏的</string>
		<key>question</key>
		<string>dreadful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.干巴巴的，枯燥的</string>
		<key>question</key>
		<string>dry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公爵，君主；手</string>
		<key>question</key>
		<string>duke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.复制品vt.复制</string>
		<key>question</key>
		<string>duplicate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.垃圾，废品，灰烬</string>
		<key>question</key>
		<string>dust</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矮子，侏儒</string>
		<key>question</key>
		<string>dwarf </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.居住vi.凝思，细想</string>
		<key>question</key>
		<string>dwell </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.机能上的</string>
		<key>question</key>
		<string>dynamic(al) </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发电机</string>
		<key>question</key>
		<string>dynamo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(稻麦等的)穗</string>
		<key>question</key>
		<string>ear </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.工资，收入；收益</string>
		<key>question</key>
		<string>earnings</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.陶器</string>
		<key>question</key>
		<string>earthenware </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.&amp;ad.向东的，向东</string>
		<key>question</key>
		<string>eastward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反射(声音等)</string>
		<key>question</key>
		<string>echo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(日，月)食</string>
		<key>question</key>
		<string>eclipse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.生态学；个体生态学</string>
		<key>question</key>
		<string>ecology </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.节约地，在经济上</string>
		<key>question</key>
		<string>economically</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.经济学；经济</string>
		<key>question</key>
		<string>economics </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.编辑，编纂；校订</string>
		<key>question</key>
		<string>edit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.社论，期刊的社论</string>
		<key>question</key>
		<string>editorial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.埃及的n.埃及人</string>
		<key>question</key>
		<string>Egyptian</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.逐出，排斥；喷射</string>
		<key>question</key>
		<string>eject </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(时间)过去，消逝</string>
		<key>question</key>
		<string>elapse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用肘挤，挤进</string>
		<key>question</key>
		<string>elbow </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电工，电气技师</string>
		<key>question</key>
		<string>electrician </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电极；电焊条</string>
		<key>question</key>
		<string>electrode </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.电子学</string>
		<key>question</key>
		<string>electronics </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(举止、服饰)雅致的</string>
		<key>question</key>
		<string>elegant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基本的；自然力的</string>
		<key>question</key>
		<string>elemental </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提高(思想)；抬高</string>
		<key>question</key>
		<string>elevate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高度；标高；隆肿</string>
		<key>question</key>
		<string>elevation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.椭圆的；省略的</string>
		<key>question</key>
		<string>elliptical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雄辩；口才，修辞</string>
		<key>question</key>
		<string>eloquence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使负债；使复杂化</string>
		<key>question</key>
		<string>embarrass </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大使馆；大使的职务</string>
		<key>question</key>
		<string>embassy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.体现；包含，收录</string>
		<key>question</key>
		<string>embody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.包括，包含；包围</string>
		<key>question</key>
		<string>embrace </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
