<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.腌制食品，泡菜</string>
		<key>question</key>
		<string>pickle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(桥)墩；码头</string>
		<key>question</key>
		<string>pier</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.穿透，戳穿，洞察</string>
		<key>question</key>
		<string>pierce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香客，朝圣者</string>
		<key>question</key>
		<string>pilgrim </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.凤梨，波萝</string>
		<key>question</key>
		<string>pineapple </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.虔诚的；虔奉宗教的</string>
		<key>question</key>
		<string>pious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.管乐器</string>
		<key>question</key>
		<string>pipe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海盗；每盗船</string>
		<key>question</key>
		<string>pirate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.活塞</string>
		<key>question</key>
		<string>piston</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.人造树脂</string>
		<key>question</key>
		<string>pitch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瘟疫，鼠疫；天灾</string>
		<key>question</key>
		<string>plague</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.坦白的；普通的</string>
		<key>question</key>
		<string>plain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.塑料的；塑性的</string>
		<key>question</key>
		<string>plastic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.高原；平稳时期</string>
		<key>question</key>
		<string>plateau </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政纲，党纲，宣言</string>
		<key>question</key>
		<string>platform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.请愿，请求，恳求</string>
		<key>question</key>
		<string>plea</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.为…辩护vi.抗辩</string>
		<key>question</key>
		<string>plead </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.誓言vt.使发誓</string>
		<key>question</key>
		<string>pledge</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.鼓起(勇气)，振作</string>
		<key>question</key>
		<string>pluck </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.丰满的；鼓起的</string>
		<key>question</key>
		<string>plump </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.&amp;n.掠夺，劫掠</string>
		<key>question</key>
		<string>plunder </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空气的；气动的</string>
		<key>question</key>
		<string>pneumatic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.戳，刺；伸(头等)</string>
		<key>question</key>
		<string>poke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.南(北)极的；极性的</string>
		<key>question</key>
		<string>polar </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.极性；(思想等)归向</string>
		<key>question</key>
		<string>polarity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政纲，政见，策略</string>
		<key>question</key>
		<string>politics</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.投票vi.投票</string>
		<key>question</key>
		<string>poll</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.聚合物，多聚物</string>
		<key>question</key>
		<string>polymer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.考虑vi.沉思</string>
		<key>question</key>
		<string>ponder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(意外地)出现</string>
		<key>question</key>
		<string>pop </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(罗马天主教的)教皇</string>
		<key>question</key>
		<string>pope</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通俗性；普及，流行</string>
		<key>question</key>
		<string>popularity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓷a.瓷的，瓷制的</string>
		<key>question</key>
		<string>porcelain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.毛孔，气孔，细孔</string>
		<key>question</key>
		<string>pore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可移动的</string>
		<key>question</key>
		<string>portable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.(使)摆好姿势</string>
		<key>question</key>
		<string>pose</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.主张，立场；形势</string>
		<key>question</key>
		<string>position</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.正的；阳性的</string>
		<key>question</key>
		<string>positive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.确定的，断然</string>
		<key>question</key>
		<string>positively</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能的事</string>
		<key>question</key>
		<string>possibility </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.邮政的，邮局的</string>
		<key>question</key>
		<string>postal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.要求，假定，假设</string>
		<key>question</key>
		<string>postulate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.家禽</string>
		<key>question</key>
		<string>poultry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.能实行的；适用的</string>
		<key>question</key>
		<string>practicable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大草原，牧场</string>
		<key>question</key>
		<string>prairie </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.说教，布道；鼓吹</string>
		<key>question</key>
		<string>preach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.先于…vi.领先</string>
		<key>question</key>
		<string>precede </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.前辈，前任者</string>
		<key>question</key>
		<string>predecessor </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.预言，预告；预报</string>
		<key>question</key>
		<string>prediction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.占优势的；主要的</string>
		<key>question</key>
		<string>predominant </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
