<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>vt.指责，非难，斥责</string>
		<key>question</key>
		<string>rebuke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.接待者；收受者</string>
		<key>question</key>
		<string>receiver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.菜谱，烹饪法；处方</string>
		<key>question</key>
		<string>recipe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.相互的；互利的</string>
		<key>question</key>
		<string>reciprocal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗心大意的；鲁莽的</string>
		<key>question</key>
		<string>reckless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.数，算帐vt.认为</string>
		<key>question</key>
		<string>reckon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开垦，开拓；回收</string>
		<key>question</key>
		<string>reclaim </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.认出，识别；重视</string>
		<key>question</key>
		<string>recognition </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.推荐，介绍；建议</string>
		<key>question</key>
		<string>recommendation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使和好；调停</string>
		<key>question</key>
		<string>reconcile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消遣，娱乐活动</string>
		<key>question</key>
		<string>recreation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.矩形，长方形</string>
		<key>question</key>
		<string>rectangle </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.纠正；调整；精馏</string>
		<key>question</key>
		<string>rectify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.芦笛，牧笛</string>
		<key>question</key>
		<string>reed</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.礁，礁石，暗礁</string>
		<key>question</key>
		<string>reef</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.卷，绕</string>
		<key>question</key>
		<string>reel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(足球等)裁判员</string>
		<key>question</key>
		<string>referee </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参考文献；参照系</string>
		<key>question</key>
		<string>reference </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.精炼厂，提炼厂</string>
		<key>question</key>
		<string>refinery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.抑制，制止，忍住</string>
		<key>question</key>
		<string>refrain </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(精力的)恢复，爽快</string>
		<key>question</key>
		<string>refreshment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.难民，流亡者</string>
		<key>question</key>
		<string>refugee </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.新生的；回授的</string>
		<key>question</key>
		<string>regenerative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.政体，政权；制度</string>
		<key>question</key>
		<string>regime</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.团，军团；一大群</string>
		<key>question</key>
		<string>regiment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.规则性；整齐</string>
		<key>question</key>
		<string>regularity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.调整，调节，对准</string>
		<key>question</key>
		<string>regulate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.规章，规则；调节</string>
		<key>question</key>
		<string>regulation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.朝代</string>
		<key>question</key>
		<string>reign </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.舍弃，抛弃；排斥</string>
		<key>question</key>
		<string>reject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分程传递；使接替</string>
		<key>question</key>
		<string>relay </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.信念，信条</string>
		<key>question</key>
		<string>religion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.剩余(物)；余数</string>
		<key>question</key>
		<string>remainder </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.偿还，报答</string>
		<key>question</key>
		<string>repay </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.撤销；放弃n.撤销</string>
		<key>question</key>
		<string>repeal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.拒绝；使厌恶</string>
		<key>question</key>
		<string>repel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.送还，归还，赔还</string>
		<key>question</key>
		<string>replace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.归还；取代；置换</string>
		<key>question</key>
		<string>replacement </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传说，议论</string>
		<key>question</key>
		<string>report</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.描写；陈述；代表</string>
		<key>question</key>
		<string>representation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.代表性的；代议制的</string>
		<key>question</key>
		<string>representative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.仿造</string>
		<key>question</key>
		<string>reproduce </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.再生(产)；繁殖</string>
		<key>question</key>
		<string>reproduction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爬行动物；两栖动物</string>
		<key>question</key>
		<string>reptile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.需要的n.必需品</string>
		<key>question</key>
		<string>requisite </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相似，相似性</string>
		<key>question</key>
		<string>resemblance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.对…不满，怨恨</string>
		<key>question</key>
		<string>resent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.保留；预定，预订</string>
		<key>question</key>
		<string>reservation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缄默，自我克制</string>
		<key>question</key>
		<string>reserve </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.居住，驻扎；属于</string>
		<key>question</key>
		<string>reside</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
