<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.合作的n.合作社</string>
		<key>question</key>
		<string>cooperative </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.同等的n.同等的人</string>
		<key>question</key>
		<string>coordinate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.正确地，恰当地</string>
		<key>question</key>
		<string>correctly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.互相关联的事物</string>
		<key>question</key>
		<string>correlate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.相互关系；对射</string>
		<key>question</key>
		<string>correlation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通信；符合；对应</string>
		<key>question</key>
		<string>correspondence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.腐蚀，侵蚀；锈</string>
		<key>question</key>
		<string>corrosion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.贿赂a.腐败的</string>
		<key>question</key>
		<string>corrupt </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.宇宙的；广大无边的</string>
		<key>question</key>
		<string>cosmic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宇宙；秩序，和谐</string>
		<key>question</key>
		<string>cosmos</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.睡椅，长沙发椅</string>
		<key>question</key>
		<string>couch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商议；忠告；律师</string>
		<key>question</key>
		<string>counsel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起拆理由，罪状</string>
		<key>question</key>
		<string>count </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.&amp;ad.相反的(地)</string>
		<key>question</key>
		<string>counter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.勇敢的，无畏的</string>
		<key>question</key>
		<string>courageous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有礼貌的，谦恭的</string>
		<key>question</key>
		<string>courteous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.礼貌，谦恭，请安</string>
		<key>question</key>
		<string>courtesy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.懦怯的，胆小的</string>
		<key>question</key>
		<string>coward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蟹，蟹肉vi.捕蟹</string>
		<key>question</key>
		<string>crab</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.发出爆裂声</string>
		<key>question</key>
		<string>crack </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.摇篮，发源地</string>
		<key>question</key>
		<string>cradle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.技巧</string>
		<key>question</key>
		<string>craft </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.曲柄vi.转动曲柄</string>
		<key>question</key>
		<string>crank </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.撞坏，摔坏，砸碎</string>
		<key>question</key>
		<string>crash </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.相信，信任</string>
		<key>question</key>
		<string>credit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.危机；转折点</string>
		<key>question</key>
		<string>crisis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.脆的；卷曲的</string>
		<key>question</key>
		<string>crisp </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.标准，准则，尺度</string>
		<key>question</key>
		<string>criterion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.弯的，歪的；畸形的</string>
		<key>question</key>
		<string>crooked </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.易怒的；杂交的</string>
		<key>question</key>
		<string>cross </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.残酷；残酷行为</string>
		<key>question</key>
		<string>cruelty </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.巡航vt.巡航于…</string>
		<key>question</key>
		<string>cruise</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.立方体的；立方的</string>
		<key>question</key>
		<string>cubic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.杜鹃，布谷鸟</string>
		<key>question</key>
		<string>cuckoo</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.卷曲的；有卷毛的</string>
		<key>question</key>
		<string>curly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通货；通用；市价</string>
		<key>question</key>
		<string>currency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.普遍地；当前</string>
		<key>question</key>
		<string>currently </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海关，关税</string>
		<key>question</key>
		<string>custom</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.通常的；照惯例的</string>
		<key>question</key>
		<string>customary </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.用于切割的器械</string>
		<key>question</key>
		<string>cutter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.圆筒；柱(面)；汽缸</string>
		<key>question</key>
		<string>cylinder</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.诅咒n.诅咒；丝毫</string>
		<key>question</key>
		<string>damn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.资料；数据；已知数</string>
		<key>question</key>
		<string>datum </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.炫耀；迷惑</string>
		<key>question</key>
		<string>dazzle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使聋；使隔音</string>
		<key>question</key>
		<string>deafen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.做买卖；对付</string>
		<key>question</key>
		<string>deal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商人，贩子；发牌者</string>
		<key>question</key>
		<string>dealer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(大学)院长，系主任</string>
		<key>question</key>
		<string>dean</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使腐朽，使腐烂</string>
		<key>question</key>
		<string>decay </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.明确地，坚决地</string>
		<key>question</key>
		<string>decidedly </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
