<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.小数的，十进制的</string>
		<key>question</key>
		<string>decimal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.决定性的；果断的</string>
		<key>question</key>
		<string>decisive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.宣布，宣言；申诉</string>
		<key>question</key>
		<string>declaration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.下倾；偏斜；衰退</string>
		<key>question</key>
		<string>decline </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.腐败；分解</string>
		<key>question</key>
		<string>decompose </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.装饰的；可作装饰的</string>
		<key>question</key>
		<string>decorative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法令，政令；教令</string>
		<key>question</key>
		<string>decree</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.奉献；献身</string>
		<key>question</key>
		<string>dedicate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.认为，相信vi.想</string>
		<key>question</key>
		<string>deem</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加浓</string>
		<key>question</key>
		<string>deepen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vi.不履行；缺席</string>
		<key>question</key>
		<string>default </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺乏；不足之数</string>
		<key>question</key>
		<string>deficiency</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.缺乏的；欠缺的</string>
		<key>question</key>
		<string>deficient </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.规定；立(界限)</string>
		<key>question</key>
		<string>define</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)偏斜</string>
		<key>question</key>
		<string>deflect </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.偏斜，歪斜；偏差</string>
		<key>question</key>
		<string>deflection</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.损坏…的形状</string>
		<key>question</key>
		<string>deform</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.损坏；变形；畸形</string>
		<key>question</key>
		<string>deformation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.向…挑战；蔑视</string>
		<key>question</key>
		<string>defy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.降级；退化；衰变</string>
		<key>question</key>
		<string>degradation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使降给；使堕落</string>
		<key>question</key>
		<string>degrade </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代表，委员，特派员</string>
		<key>question</key>
		<string>delegate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.深思熟虑的；审慎的</string>
		<key>question</key>
		<string>deliberate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.审慎地，故意地</string>
		<key>question</key>
		<string>deliberately</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.否定；拒绝相信</string>
		<key>question</key>
		<string>denial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.指示，意味着</string>
		<key>question</key>
		<string>denote</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.谴责，声讨；告发</string>
		<key>question</key>
		<string>denounce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牙科医生</string>
		<key>question</key>
		<string>dentist </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.受赡养者；侍从</string>
		<key>question</key>
		<string>dependant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.押金；寄存物</string>
		<key>question</key>
		<string>deposit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.免职，罢免；口供</string>
		<key>question</key>
		<string>deposition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消沉；不景气萧条期</string>
		<key>question</key>
		<string>depression</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.夺去；使(人)失去</string>
		<key>question</key>
		<string>deprive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.代理人a.副的</string>
		<key>question</key>
		<string>deputy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.引出；起源；衍生</string>
		<key>question</key>
		<string>derivation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.子孙，后裔；弟子</string>
		<key>question</key>
		<string>descendant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.下降；出身；斜坡</string>
		<key>question</key>
		<string>descent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.遗弃；擅离(职守)</string>
		<key>question</key>
		<string>desert</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.指出，指示；指定</string>
		<key>question</key>
		<string>designate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.荒芜的；孤独的</string>
		<key>question</key>
		<string>desolate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.甜点心</string>
		<key>question</key>
		<string>dessert </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.命定，注定；预定</string>
		<key>question</key>
		<string>destine </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.命运，天数</string>
		<key>question</key>
		<string>destiny </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.破坏(性)的，危害的</string>
		<key>question</key>
		<string>destructive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.分开；派遣(军队)</string>
		<key>question</key>
		<string>detach</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.琐碎，小事</string>
		<key>question</key>
		<string>detail</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.耽搁；扣押，拘留</string>
		<key>question</key>
		<string>detain</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.侦探，密探</string>
		<key>question</key>
		<string>detective </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发觉者，探测器</string>
		<key>question</key>
		<string>detector</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使(颜色等)显现</string>
		<key>question</key>
		<string>develop </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
