<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.东方；亚洲，远东</string>
		<key>question</key>
		<string>orient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.向东；定位；方向</string>
		<key>question</key>
		<string>orientation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发源vt.首创</string>
		<key>question</key>
		<string>originate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.装饰物vt.装修</string>
		<key>question</key>
		<string>ornament</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.装饰的n.装饰品</string>
		<key>question</key>
		<string>ornamental</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.另外；在其他方面</string>
		<key>question</key>
		<string>otherwise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.aux早应该，本应</string>
		<key>question</key>
		<string>ought </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(战争、愤怒等)爆发</string>
		<key>question</key>
		<string>outbreak</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.后果，成果</string>
		<key>question</key>
		<string>outcome </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.最外面的，最远的</string>
		<key>question</key>
		<string>outermost </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.逃犯，歹徒</string>
		<key>question</key>
		<string>outlaw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发泄(感情等)的方法</string>
		<key>question</key>
		<string>outlet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.概述，概括</string>
		<key>question</key>
		<string>outline </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在…外，向…外</string>
		<key>question</key>
		<string>outside </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.卵形的n.卵形</string>
		<key>question</key>
		<string>oval</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.在(做)…时</string>
		<key>question</key>
		<string>over</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.综合的n.工作服</string>
		<key>question</key>
		<string>overall </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.过高估计</string>
		<key>question</key>
		<string>overestimate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.从…中溢出</string>
		<key>question</key>
		<string>overflow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.悬于…之上vi.悬垂</string>
		<key>question</key>
		<string>overhang</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.偶然听到；偷听</string>
		<key>question</key>
		<string>overhear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.与…交搭vi.重迭</string>
		<key>question</key>
		<string>overlap </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使超载</string>
		<key>question</key>
		<string>overload</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.眺望；看漏；宽容</string>
		<key>question</key>
		<string>overlook</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在海外，(向)国外</string>
		<key>question</key>
		<string>overseas</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.突然袭击，压倒</string>
		<key>question</key>
		<string>overtake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.推翻n.推翻，瓦解</string>
		<key>question</key>
		<string>overthrow </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.压倒，使不知所措</string>
		<key>question</key>
		<string>overwhelm </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.压倒的，势不可挡的</string>
		<key>question</key>
		<string>overwhelming</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.氧化物</string>
		<key>question</key>
		<string>oxide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.氧化，使生锈</string>
		<key>question</key>
		<string>oxidize </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.牡蛎；沉默寡言的人</string>
		<key>question</key>
		<string>oyster</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(马)溜蹄走</string>
		<key>question</key>
		<string>pace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.性情温和的</string>
		<key>question</key>
		<string>pacific </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.好朋友；同谋</string>
		<key>question</key>
		<string>pal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小册子</string>
		<key>question</key>
		<string>pamphlet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(选定的)专门小组</string>
		<key>question</key>
		<string>panel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.恐慌，惊慌</string>
		<key>question</key>
		<string>panic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.气喘</string>
		<key>question</key>
		<string>pant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豹，黑豹；美洲狮</string>
		<key>question</key>
		<string>panther </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.食品柜，餐具室</string>
		<key>question</key>
		<string>pantry</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裤子；男用短衬裤</string>
		<key>question</key>
		<string>pants </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用纸包装(或覆盖)</string>
		<key>question</key>
		<string>paper </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.降落伞；风散种子</string>
		<key>question</key>
		<string>parachute </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.夸耀(才能等)</string>
		<key>question</key>
		<string>parade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小新闻，短评</string>
		<key>question</key>
		<string>paragraph </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使麻痹，使瘫痪</string>
		<key>question</key>
		<string>paralyse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参(变)数；参量</string>
		<key>question</key>
		<string>parameter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参加者a.有份的</string>
		<key>question</key>
		<string>participant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.参与vt.分享</string>
		<key>question</key>
		<string>participate </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
