<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.耶稣</string>
		<key>question</key>
		<string>Jesus </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.珠宝，珠宝饰物</string>
		<key>question</key>
		<string>jewellery </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.(使)丁当响</string>
		<key>question</key>
		<string>jingle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使(马等)缓步行进</string>
		<key>question</key>
		<string>jog </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.带柄水罐，大壶</string>
		<key>question</key>
		<string>jug </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连接；接头；中继线</string>
		<key>question</key>
		<string>junction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丛林，密林，莽丛</string>
		<key>question</key>
		<string>jungle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.年少者；晚辈</string>
		<key>question</key>
		<string>junior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丘庇特；木星</string>
		<key>question</key>
		<string>Jupiter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(果实的)核；谷粒</string>
		<key>question</key>
		<string>kernel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.诱拐，绑架</string>
		<key>question</key>
		<string>kidnap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肾，腰子；性格</string>
		<key>question</key>
		<string>kidney</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.千瓦(特)</string>
		<key>question</key>
		<string>kilowatt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.点燃vi.着火</string>
		<key>question</key>
		<string>kindle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.动力(学)的；活动的</string>
		<key>question</key>
		<string>kinetic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成套工具；用具包</string>
		<key>question</key>
		<string>kit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.骑士，武士；爵士</string>
		<key>question</key>
		<string>knight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.系带，用带子束紧</string>
		<key>question</key>
		<string>lace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.风景，景色，景致</string>
		<key>question</key>
		<string>landscape </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.大规模地</string>
		<key>question</key>
		<string>largely </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.去世不久的</string>
		<key>question</key>
		<string>late</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.存在但看不见的</string>
		<key>question</key>
		<string>latent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.车床vt.用车床加工</string>
		<key>question</key>
		<string>lathe </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.纬度；黄纬</string>
		<key>question</key>
		<string>latitude</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.格子；点阵，网络</string>
		<key>question</key>
		<string>lattice </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.送洗衣店去洗的东西</string>
		<key>question</key>
		<string>laundry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传单，活页；广告</string>
		<key>question</key>
		<string>leaflet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漏，泄漏；漏出物</string>
		<key>question</key>
		<string>leakage </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.租约，契约，租契</string>
		<key>question</key>
		<string>lease </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.立法；法规</string>
		<key>question</key>
		<string>legislation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.程度，范围</string>
		<key>question</key>
		<string>length</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使延长vi.变长</string>
		<key>question</key>
		<string>lengthen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.豹</string>
		<key>question</key>
		<string>leopard </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.减少vi.变少</string>
		<key>question</key>
		<string>lessen</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.途径，工具，手段</string>
		<key>question</key>
		<string>lever </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.责任；倾向；债务</string>
		<key>question</key>
		<string>liability </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有(法律)责任的</string>
		<key>question</key>
		<string>liable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.打火机，引燃器</string>
		<key>question</key>
		<string>lighter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.可能(性)</string>
		<key>question</key>
		<string>likelihood</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.同样；类似，相似</string>
		<key>question</key>
		<string>likeness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百合，百合花，睡莲</string>
		<key>question</key>
		<string>lily</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.分支，突出物</string>
		<key>question</key>
		<string>limb</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.石灰石</string>
		<key>question</key>
		<string>limestone </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.蹒跚，跛行n.跛行</string>
		<key>question</key>
		<string>limp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.加衬里于</string>
		<key>question</key>
		<string>line</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.线的；长度的</string>
		<key>question</key>
		<string>linear</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.班船，定期班机</string>
		<key>question</key>
		<string>liner </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.逗留，徘徊；拖延</string>
		<key>question</key>
		<string>linger</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(衣服里的)衬里</string>
		<key>question</key>
		<string>lining</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.唇膏，口红</string>
		<key>question</key>
		<string>lipstick</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
