<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.男性的；强壮的</string>
		<key>question</key>
		<string>masculine </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大屠杀，残杀</string>
		<key>question</key>
		<string>massacre</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗大的；大而重的</string>
		<key>question</key>
		<string>massive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.桅杆；杆vt.扯帆</string>
		<key>question</key>
		<string>mast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使成熟vi.成熟</string>
		<key>question</key>
		<string>mature</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(量得的)尺寸，大小</string>
		<key>question</key>
		<string>measurement </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.力学，机械学；结构</string>
		<key>question</key>
		<string>mechanics </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机械装置；机制</string>
		<key>question</key>
		<string>mechanism </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.沉思，冥想，反省</string>
		<key>question</key>
		<string>meditate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;a.忧郁(的)，悲伤</string>
		<key>question</key>
		<string>melancholy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旋律，曲调；歌曲</string>
		<key>question</key>
		<string>melody</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.成员资格；会员人数</string>
		<key>question</key>
		<string>membership</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.(进行)威胁</string>
		<key>question</key>
		<string>menace</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.改正，修正；改进</string>
		<key>question</key>
		<string>mend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商品，货物</string>
		<key>question</key>
		<string>merchandise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.仁慈的，宽大的</string>
		<key>question</key>
		<string>merciful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.汞，水银；水银柱</string>
		<key>question</key>
		<string>mercury </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.值得vi.应受赏(罚)</string>
		<key>question</key>
		<string>merit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网眼，筛孔，网络</string>
		<key>question</key>
		<string>mesh</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.弄脏，弄乱，搞糟</string>
		<key>question</key>
		<string>mess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.启示，要旨，教训</string>
		<key>question</key>
		<string>message </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.金属的n.金属粒子</string>
		<key>question</key>
		<string>metallic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.冶金学，冶金术</string>
		<key>question</key>
		<string>metallurgy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.主要都市的n.大主教</string>
		<key>question</key>
		<string>metropolitan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微信息处理机</string>
		<key>question</key>
		<string>microprocessor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.显微镜的，微观的</string>
		<key>question</key>
		<string>microscopic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.微波</string>
		<key>question</key>
		<string>microwave </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.强大的；巨大的</string>
		<key>question</key>
		<string>mighty</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.迁移，移居</string>
		<key>question</key>
		<string>migrate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(烟、酒)味淡的</string>
		<key>question</key>
		<string>mild</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.牛奶的；乳白色的</string>
		<key>question</key>
		<string>milky </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.百分富翁，巨富</string>
		<key>question</key>
		<string>millionaire </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使混合vi.混合起来</string>
		<key>question</key>
		<string>mingle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缩影a.缩小的</string>
		<key>question</key>
		<string>miniature </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使减到最小</string>
		<key>question</key>
		<string>minimize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.薄荷；薄荷糖</string>
		<key>question</key>
		<string>mint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.造币厂；巨额，富源</string>
		<key>question</key>
		<string>mint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反映，借鉴</string>
		<key>question</key>
		<string>mirror</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调皮，捣蛋，胡闹</string>
		<key>question</key>
		<string>mishief </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.守财奴，吝啬鬼</string>
		<key>question</key>
		<string>miser </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.痛苦，悲惨，不幸</string>
		<key>question</key>
		<string>misery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.不幸，灾祸，灾难</string>
		<key>question</key>
		<string>misfortune</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传教士</string>
		<key>question</key>
		<string>missionary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.薄雾vi.下薄雾</string>
		<key>question</key>
		<string>mist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.情妇，情人</string>
		<key>question</key>
		<string>mistress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.连指手套；露指手套</string>
		<key>question</key>
		<string>mitten</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.混合者，搅拌器</string>
		<key>question</key>
		<string>mixer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.聚众闹事</string>
		<key>question</key>
		<string>mob </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.动员vi.动员起来</string>
		<key>question</key>
		<string>mobilize</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.嘲弄vt.嘲弄，挖苦</string>
		<key>question</key>
		<string>mock</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
