<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.容忍的；有耐力的</string>
		<key>question</key>
		<string>tolerant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.色调，光度；风气</string>
		<key>question</key>
		<string>tone</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.痛苦vt.折磨</string>
		<key>question</key>
		<string>torment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鱼雷，水雷</string>
		<key>question</key>
		<string>torpedo </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.转(力)矩，扭(力)矩</string>
		<key>question</key>
		<string>torque</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.翻来复去</string>
		<key>question</key>
		<string>toss</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.拖引，牵引</string>
		<key>question</key>
		<string>tow </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>prep.为了，有助于</string>
		<key>question</key>
		<string>towards </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.高耸，屹立；翱翔</string>
		<key>question</key>
		<string>tower </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.留下足迹</string>
		<key>question</key>
		<string>track </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.做买卖；交换</string>
		<key>question</key>
		<string>trade </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商人；商船</string>
		<key>question</key>
		<string>trader</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商人；手艺人</string>
		<key>question</key>
		<string>tradesman </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.悲剧性的，悲惨的</string>
		<key>question</key>
		<string>tragic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.步行，跋涉</string>
		<key>question</key>
		<string>tramp </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.&amp;n.践踏，蹂躏</string>
		<key>question</key>
		<string>trample </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平静的；稳定的</string>
		<key>question</key>
		<string>tranquil</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.处理；交易；和解</string>
		<key>question</key>
		<string>transaction </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.变压；变换</string>
		<key>question</key>
		<string>transform </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.转变，变迁；过渡</string>
		<key>question</key>
		<string>transition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.遗传，传染</string>
		<key>question</key>
		<string>transmission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.移植，移种</string>
		<key>question</key>
		<string>transplant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.横切的n.横轴</string>
		<key>question</key>
		<string>transverse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.横越，横切，横断</string>
		<key>question</key>
		<string>traverse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.踩，踏，践踏</string>
		<key>question</key>
		<string>tread </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.司库，财务主管</string>
		<key>question</key>
		<string>treasurer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.深沟；壕沟，战壕</string>
		<key>question</key>
		<string>trench</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.三角的；三者间的</string>
		<key>question</key>
		<string>triangular</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.贡物；献礼，贡献</string>
		<key>question</key>
		<string>tribute </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.玩忽；闲混；嬉耍</string>
		<key>question</key>
		<string>trifle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扳机vt.触发，引起</string>
		<key>question</key>
		<string>trigger </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.得胜的；得意洋洋的</string>
		<key>question</key>
		<string>triumphant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.琐碎的；平常的</string>
		<key>question</key>
		<string>trivial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.手推车；无轨电车</string>
		<key>question</key>
		<string>trolley </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一群，一队，大量</string>
		<key>question</key>
		<string>troop </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.热带地区；回归线</string>
		<key>question</key>
		<string>tropic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.热带的；炎热的</string>
		<key>question</key>
		<string>tropical</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.(马)小跑，慢跑</string>
		<key>question</key>
		<string>trot</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.累赘的，困难的</string>
		<key>question</key>
		<string>troublesome </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结核病，肺结核</string>
		<key>question</key>
		<string>tuberculosis</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.用力拖n.猛拉，拖</string>
		<key>question</key>
		<string>tug </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.郁金香</string>
		<key>question</key>
		<string>tulip </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.金枪鱼</string>
		<key>question</key>
		<string>tuna</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海龟，玳瑁；甲鱼肉</string>
		<key>question</key>
		<string>turtle</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.教，指导</string>
		<key>question</key>
		<string>tutor </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黎明，黄昏；曙光</string>
		<key>question</key>
		<string>twilight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.歪曲，曲解</string>
		<key>question</key>
		<string>twist </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暴政，专制；残暴</string>
		<key>question</key>
		<string>tyranny </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.暴君；专制君主</string>
		<key>question</key>
		<string>tyrant</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.基本的，首要的</string>
		<key>question</key>
		<string>ultimate</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
