<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.农神；土星</string>
		<key>question</key>
		<string>Saturn</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扫描，扫掠</string>
		<key>question</key>
		<string>scan</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.丑事，丑闻；耻辱</string>
		<key>question</key>
		<string>scandal </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瘢痕</string>
		<key>question</key>
		<string>scar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺乏，不足，萧条</string>
		<key>question</key>
		<string>scarcity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.猩红色a.猩红的</string>
		<key>question</key>
		<string>scarlet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.计划vi.搞阴谋</string>
		<key>question</key>
		<string>scheme</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.学问，学识；奖学金</string>
		<key>question</key>
		<string>scholarship </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.嘲笑，嘲弄</string>
		<key>question</key>
		<string>scoff </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.眼界</string>
		<key>question</key>
		<string>scope </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.烧焦，枯萎；挖苦</string>
		<key>question</key>
		<string>scorch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.搜索，侦察，跟踪</string>
		<key>question</key>
		<string>scout </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;n.爬行，攀登</string>
		<key>question</key>
		<string>scramble</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.碎片；废料vt.废弃</string>
		<key>question</key>
		<string>scrap </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.起跑线，起步线</string>
		<key>question</key>
		<string>scratch </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.《圣经》；圣书</string>
		<key>question</key>
		<string>scripture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.&amp;vt.擦洗，擦净</string>
		<key>question</key>
		<string>scrub </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.雕刻(术)；雕刻品</string>
		<key>question</key>
		<string>sculpture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缝口；接缝；骨缝</string>
		<key>question</key>
		<string>seam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海港，港口，港市</string>
		<key>question</key>
		<string>seaport </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.海滨(胜地)；海边</string>
		<key>question</key>
		<string>seaside </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.支持</string>
		<key>question</key>
		<string>second</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旧的，第二手的</string>
		<key>question</key>
		<string>second-hand </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.切下的部分</string>
		<key>question</key>
		<string>section </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.表面上，外表上</string>
		<key>question</key>
		<string>seemingly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.切片，部分；段，节</string>
		<key>question</key>
		<string>segment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.精选的东西；选择</string>
		<key>question</key>
		<string>selection </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.参议员；评议员</string>
		<key>question</key>
		<string>senator </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.感觉，知觉；轰动</string>
		<key>question</key>
		<string>sensation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.愚蠢的，无意义的</string>
		<key>question</key>
		<string>senseless </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.明显的，感觉得到的</string>
		<key>question</key>
		<string>sensible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.敏感(性)；灵敏性</string>
		<key>question</key>
		<string>sensitivity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.传感器，灵敏元件</string>
		<key>question</key>
		<string>sensor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.感情；情操；情绪</string>
		<key>question</key>
		<string>sentiment </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.序列</string>
		<key>question</key>
		<string>sequence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.布道，讲道，说教</string>
		<key>question</key>
		<string>sermon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蛇(尤指大蛇或毒蛇)</string>
		<key>question</key>
		<string>serpent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.集(合)</string>
		<key>question</key>
		<string>set </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.调停；(新)住宅区</string>
		<key>question</key>
		<string>settlement</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.激烈的；简朴的</string>
		<key>question</key>
		<string>severe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.褴褛的；破旧的</string>
		<key>question</key>
		<string>shabby</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(色彩的)浓淡，深浅</string>
		<key>question</key>
		<string>shade </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有影的；幽暗的</string>
		<key>question</key>
		<string>shadowy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可疑的，靠不住的</string>
		<key>question</key>
		<string>shady </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(工具的)柄，杆状物</string>
		<key>question</key>
		<string>shaft </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.假冒；膺品vt.假装</string>
		<key>question</key>
		<string>sham</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使羞愧，玷辱</string>
		<key>question</key>
		<string>shame </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可耻的；不道德的</string>
		<key>question</key>
		<string>shameful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲨鱼；贪婪狡猾的人</string>
		<key>question</key>
		<string>shark </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.严厉地，苛刻地</string>
		<key>question</key>
		<string>sharply </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
