<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.完成，结束，完满</string>
		<key>question</key>
		<string>completion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.复杂(性)</string>
		<key>question</key>
		<string>complexity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.复杂，混乱；并发症</string>
		<key>question</key>
		<string>complication</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.问候vt.赞美，祝贺</string>
		<key>question</key>
		<string>compliment</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.应允，遵照，照做</string>
		<key>question</key>
		<string>comply</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.作曲家；调停人</string>
		<key>question</key>
		<string>composer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.合成的n.合成物</string>
		<key>question</key>
		<string>composite </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.组成，构成，结构</string>
		<key>question</key>
		<string>composition </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.了解，理解，领会</string>
		<key>question</key>
		<string>comprehend</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.压缩，压紧，浓缩</string>
		<key>question</key>
		<string>compression </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.强迫的，义务的</string>
		<key>question</key>
		<string>compulsory</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.自负，自高自大</string>
		<key>question</key>
		<string>conceit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.设想，以为；怀孕</string>
		<key>question</key>
		<string>conceive</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.浓缩，提浓</string>
		<key>question</key>
		<string>concentrate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.概念，观念，想法</string>
		<key>question</key>
		<string>conception</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.所关切的事；商行</string>
		<key>question</key>
		<string>concern </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一齐，一致，协作</string>
		<key>question</key>
		<string>concert </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.让步，迁就</string>
		<key>question</key>
		<string>concession</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.私房话，秘密，机密</string>
		<key>question</key>
		<string>confidence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.秘密的；亲信的</string>
		<key>question</key>
		<string>confidential</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.证实，确定；确认</string>
		<key>question</key>
		<string>confirmation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使遵守vi.一致</string>
		<key>question</key>
		<string>conform </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使面对；使对证</string>
		<key>question</key>
		<string>confront</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.征服者，胜利者</string>
		<key>question</key>
		<string>conqueror </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.意识，知觉，觉悟</string>
		<key>question</key>
		<string>consciousness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.重要(性)，重大意义</string>
		<key>question</key>
		<string>consequence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.作为结果的；必然的</string>
		<key>question</key>
		<string>consequent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有保存力的，防腐的</string>
		<key>question</key>
		<string>conservative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.前后一致的，连贯的</string>
		<key>question</key>
		<string>consistent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.悬臂，肘托；控制台</string>
		<key>question</key>
		<string>console </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.巩固vi.合并</string>
		<key>question</key>
		<string>consolidate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.形成的n.选民</string>
		<key>question</key>
		<string>constituent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.构成，组成</string>
		<key>question</key>
		<string>constitute</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(人的)体格，素质</string>
		<key>question</key>
		<string>constitution</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.强迫，结束；强制力</string>
		<key>question</key>
		<string>constraint</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.结构；作图(法)</string>
		<key>question</key>
		<string>construction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.领事</string>
		<key>question</key>
		<string>consul</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消费者，用户</string>
		<key>question</key>
		<string>consumer</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.消费(量)，灭绝</string>
		<key>question</key>
		<string>consumption </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.竞争vt.坚决主张</string>
		<key>question</key>
		<string>contend </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.上下文；来龙去脉</string>
		<key>question</key>
		<string>context </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.大陆的，大陆性的</string>
		<key>question</key>
		<string>continental </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.反驳，否认</string>
		<key>question</key>
		<string>contradict</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.反对命题</string>
		<key>question</key>
		<string>contrary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使对比vi.形成对比</string>
		<key>question</key>
		<string>contrast</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.争论，辩论，争吵</string>
		<key>question</key>
		<string>controversy </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.公约，(换俘等)协定</string>
		<key>question</key>
		<string>convention</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.转变，改变，变换</string>
		<key>question</key>
		<string>convert </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.传达；传播；转让</string>
		<key>question</key>
		<string>convey</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.确信，信服，深信</string>
		<key>question</key>
		<string>conviction</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
