<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.细丝；长丝；灯丝</string>
		<key>question</key>
		<string>filament</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.担任(职务)；填补</string>
		<key>question</key>
		<string>fill</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.滤过</string>
		<key>question</key>
		<string>filter</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.污秽，污物；淫猥</string>
		<key>question</key>
		<string>filth </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.提供资金</string>
		<key>question</key>
		<string>finance </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.精细地，美好地</string>
		<key>question</key>
		<string>finely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有限的；有尽的</string>
		<key>question</key>
		<string>finite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.壁炉</string>
		<key>question</key>
		<string>fireplace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.爆竹，花炮，烟火</string>
		<key>question</key>
		<string>firework</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坚固，坚定，稳固</string>
		<key>question</key>
		<string>firmness</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.第一流的，优秀的</string>
		<key>question</key>
		<string>first-rate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.裂开；分裂生殖</string>
		<key>question</key>
		<string>fission </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.适当，恰当；健康</string>
		<key>question</key>
		<string>fitness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.适当的n.配合</string>
		<key>question</key>
		<string>fitting </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.固定；定期存款</string>
		<key>question</key>
		<string>fixture </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.片，薄片；肌膈</string>
		<key>question</key>
		<string>flake </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.发火焰vt.点燃</string>
		<key>question</key>
		<string>flame </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.肋，肋腹；侧面</string>
		<key>question</key>
		<string>flank </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.法兰绒；法兰绒衣服</string>
		<key>question</key>
		<string>flannel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;n.拍打vi.拍动</string>
		<key>question</key>
		<string>flap</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓶；火药筒；砂箱</string>
		<key>question</key>
		<string>flask </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.把…弄平；击倒</string>
		<key>question</key>
		<string>flatten </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.奉承，阿谀，谄媚</string>
		<key>question</key>
		<string>flatter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.给…调味</string>
		<key>question</key>
		<string>flavour </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.缺点，瑕疵；裂隙</string>
		<key>question</key>
		<string>flaw</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.逃走vt.逃避</string>
		<key>question</key>
		<string>flee</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.灵活的，可变通的</string>
		<key>question</key>
		<string>flexible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.溃退，逃跑；外流</string>
		<key>question</key>
		<string>flight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.&amp;vt.(用力)扔，抛</string>
		<key>question</key>
		<string>fling </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.漂浮物；浮标，木筏</string>
		<key>question</key>
		<string>float </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.群集，聚集</string>
		<key>question</key>
		<string>flock </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.波动vt.使波动</string>
		<key>question</key>
		<string>fluctuate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.波动；脉动；踌躇</string>
		<key>question</key>
		<string>fluctuation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.兴奋，脸红；发烧</string>
		<key>question</key>
		<string>flush </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.(鸟)振翼；飘动</string>
		<key>question</key>
		<string>flutter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.流；涨潮；流量</string>
		<key>question</key>
		<string>flux</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>v.飞跑，逃跑，消失</string>
		<key>question</key>
		<string>fly </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.泡沫；泡沫塑料</string>
		<key>question</key>
		<string>foam</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.从事(职业)，经营</string>
		<key>question</key>
		<string>follow</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.契据的附面；从动件</string>
		<key>question</key>
		<string>follower</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小路，人行道</string>
		<key>question</key>
		<string>footpath</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.在前面a.先前的</string>
		<key>question</key>
		<string>fore</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无关的</string>
		<key>question</key>
		<string>foreign </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.预见，预知，看穿</string>
		<key>question</key>
		<string>foresee </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.打(铁等)，锻造</string>
		<key>question</key>
		<string>forge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.形态的；规范的</string>
		<key>question</key>
		<string>formal</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.以前，从前</string>
		<key>question</key>
		<string>formerly</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可怕的；难对付的</string>
		<key>question</key>
		<string>formidable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.用公式表示</string>
		<key>question</key>
		<string>formulate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.明确的表达</string>
		<key>question</key>
		<string>formulation </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
