<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.邪恶的；恶性的</string>
		<key>question</key>
		<string>vicious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.录象的</string>
		<key>question</key>
		<string>video </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.精力旺盛的，茁壮的</string>
		<key>question</key>
		<string>vigorous</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.活力，精力；元气</string>
		<key>question</key>
		<string>vigour</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.别墅；城郊小屋</string>
		<key>question</key>
		<string>villa </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.蔓，藤，藤本植物</string>
		<key>question</key>
		<string>vine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.违犯，违背；侵犯</string>
		<key>question</key>
		<string>violate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.违犯；侵犯，妨碍</string>
		<key>question</key>
		<string>violation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.狂暴的；歪曲的</string>
		<key>question</key>
		<string>violent </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.处女a.处女的</string>
		<key>question</key>
		<string>virgin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.实际上的，实质上的</string>
		<key>question</key>
		<string>virtual </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.签证</string>
		<key>question</key>
		<string>visa</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粘滞的，粘性的</string>
		<key>question</key>
		<string>viscous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.视力；眼光，想象力</string>
		<key>question</key>
		<string>vision</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.常去</string>
		<key>question</key>
		<string>visit </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.生命的，生机的</string>
		<key>question</key>
		<string>vital </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.维生素，维他命</string>
		<key>question</key>
		<string>vitamin </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.词汇表，词汇汇编</string>
		<key>question</key>
		<string>vocabulary</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.职业，行业</string>
		<key>question</key>
		<string>vocation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空的；无效的</string>
		<key>question</key>
		<string>void</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.志愿者vt.志愿</string>
		<key>question</key>
		<string>volunteer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.誓言，誓约，许愿</string>
		<key>question</key>
		<string>vow </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.元音；元音字母</string>
		<key>question</key>
		<string>vowel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粗俗的，庸俗的</string>
		<key>question</key>
		<string>vulgar</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.趟(河)，跋涉</string>
		<key>question</key>
		<string>wade</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.摇，摇摆，摆动</string>
		<key>question</key>
		<string>wag </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.敞蓬车厢</string>
		<key>question</key>
		<string>waggon</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.女侍者，女服务员</string>
		<key>question</key>
		<string>waitress</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.胡桃，核桃树</string>
		<key>question</key>
		<string>walnut</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.病房，病室；监房</string>
		<key>question</key>
		<string>ward</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.衣柜，衣橱，藏衣室</string>
		<key>question</key>
		<string>wardrobe</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.商品，货物；物品</string>
		<key>question</key>
		<string>ware</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.仓库，货栈</string>
		<key>question</key>
		<string>warehouse </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.战争，战争状态</string>
		<key>question</key>
		<string>warfare </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.警告，告诫，鉴诫</string>
		<key>question</key>
		<string>warning </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.许可证，委任状</string>
		<key>question</key>
		<string>warrant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.黄蜂，蚂蜂</string>
		<key>question</key>
		<string>wasp</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.浪费的；破坏性的</string>
		<key>question</key>
		<string>wasteful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.注意的，警惕的</string>
		<key>question</key>
		<string>watchful</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不漏水的，防水的</string>
		<key>question</key>
		<string>watertight</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.水的；湿的；乏味的</string>
		<key>question</key>
		<string>watery</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.瓦(特)</string>
		<key>question</key>
		<string>watt</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.摇摆；犹豫不决</string>
		<key>question</key>
		<string>waver </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.状态，状况，规模</string>
		<key>question</key>
		<string>way </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.织布工，编织者</string>
		<key>question</key>
		<string>weaver</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.网，丝，网状物</string>
		<key>question</key>
		<string>web </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.楔vt.楔入；挤入</string>
		<key>question</key>
		<string>wedge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.鲸；庞然大物</string>
		<key>question</key>
		<string>whale </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.码头，停泊所</string>
		<key>question</key>
		<string>wharf </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.所…的，尽可能多的</string>
		<key>question</key>
		<string>what</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
