<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>a.达不到的，难接近的</string>
		<key>question</key>
		<string>inaccessible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不精密的，不准确的</string>
		<key>question</key>
		<string>inaccurate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不充足的，不适当的</string>
		<key>question</key>
		<string>inadequate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.因为，由于</string>
		<key>question</key>
		<string>inasmuch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开始；使就职</string>
		<key>question</key>
		<string>inaugurate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无能力的；无资格的</string>
		<key>question</key>
		<string>incapable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.香，熏香；香气</string>
		<key>question</key>
		<string>incense </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.发生，影响；入射</string>
		<key>question</key>
		<string>incidence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.附带地；顺便提及</string>
		<key>question</key>
		<string>incidentally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.倾斜，点头；斜坡</string>
		<key>question</key>
		<string>inclination </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.坡度</string>
		<key>question</key>
		<string>incline </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.包围住的；包括的</string>
		<key>question</key>
		<string>inclusive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不相容的</string>
		<key>question</key>
		<string>incompatible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.不完全的，未完成的</string>
		<key>question</key>
		<string>incomplete</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.结合，合并，收编</string>
		<key>question</key>
		<string>incorporate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.难以置信的，惊人的</string>
		<key>question</key>
		<string>incredible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无限期的</string>
		<key>question</key>
		<string>indefinite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.指示的；陈述的</string>
		<key>question</key>
		<string>indicative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.愤怒，愤慨，义愤</string>
		<key>question</key>
		<string>indignation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.必不可少的，必需的</string>
		<key>question</key>
		<string>indispensable </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.特殊的</string>
		<key>question</key>
		<string>individual</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.室内的；室内进行的</string>
		<key>question</key>
		<string>indoor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.劝诱；引起；感应</string>
		<key>question</key>
		<string>induce</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.就职；归纳推理</string>
		<key>question</key>
		<string>induction </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.放纵(感情)vi.纵情</string>
		<key>question</key>
		<string>indulge </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.勤劳的，勤奋的</string>
		<key>question</key>
		<string>industrious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.惯性，惯量；无力</string>
		<key>question</key>
		<string>inertia </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.不可避免地</string>
		<key>question</key>
		<string>inevitably</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使受影响</string>
		<key>question</key>
		<string>infect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.传染的；感染性的</string>
		<key>question</key>
		<string>infectious</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.猜想，臆测</string>
		<key>question</key>
		<string>infer </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.推论；推断的结果</string>
		<key>question</key>
		<string>inference </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.下级；晚辈，次品</string>
		<key>question</key>
		<string>inferior</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.无限；无穷(大)</string>
		<key>question</key>
		<string>infinite</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.无限地，无边地</string>
		<key>question</key>
		<string>infinitely</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.大量，大宗；无穷大</string>
		<key>question</key>
		<string>infinity</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.通货膨胀，物价飞涨</string>
		<key>question</key>
		<string>inflation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.势力，权势</string>
		<key>question</key>
		<string>influence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.机灵的；精巧制成的</string>
		<key>question</key>
		<string>ingenious </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.机灵；设计新颖</string>
		<key>question</key>
		<string>ingenuity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.配料，成分</string>
		<key>question</key>
		<string>ingredient</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.固有的，生来的</string>
		<key>question</key>
		<string>inherent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.词首的</string>
		<key>question</key>
		<string>initial </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.最初，开始</string>
		<key>question</key>
		<string>initially </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开始，创始；启蒙</string>
		<key>question</key>
		<string>initiate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.创始的n.第一步</string>
		<key>question</key>
		<string>initiative</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.注射；注满；喷射</string>
		<key>question</key>
		<string>inject</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.国内的；内地的</string>
		<key>question</key>
		<string>inland</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.进口，水湾vt.引进</string>
		<key>question</key>
		<string>inlet </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.创新，改革，新设施</string>
		<key>question</key>
		<string>innovation</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
