<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.碰撞声；抵触，冲突</string>
		<key>question</key>
		<string>clash </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.扣住，扣紧，钩住</string>
		<key>question</key>
		<string>clasp </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.名著a.不朽的</string>
		<key>question</key>
		<string>classic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.得得声，卡嗒声</string>
		<key>question</key>
		<string>clatter </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.清洁</string>
		<key>question</key>
		<string>cleanliness </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(森林中的)空旷地</string>
		<key>question</key>
		<string>clearing</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.顾客；诉讼委托人</string>
		<key>question</key>
		<string>client</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(兴趣的)顶点</string>
		<key>question</key>
		<string>climax</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.粘住；依附；坚持</string>
		<key>question</key>
		<string>cling </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.诊所，医务室；会诊</string>
		<key>question</key>
		<string>clinic</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.夹住n.夹子，钳子</string>
		<key>question</key>
		<string>clip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.剪；剪辑报刊</string>
		<key>question</key>
		<string>clip</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.掩盖，覆盖，掩饰</string>
		<key>question</key>
		<string>cloak </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.&amp;ad.顺时针方向转的</string>
		<key>question</key>
		<string>clockwise </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.小房间；壁碗橱</string>
		<key>question</key>
		<string>closet</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.混浊的；模糊不清的</string>
		<key>question</key>
		<string>cloudy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(马戏的)小丑，丑角</string>
		<key>question</key>
		<string>clown </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.一串vt.使成群</string>
		<key>question</key>
		<string>cluster </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.抓住vi.掌握，攫</string>
		<key>question</key>
		<string>clutch</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.辅导，指导，训练</string>
		<key>question</key>
		<string>coach </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.旋塞，开关，龙头</string>
		<key>question</key>
		<string>cock</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.协同因素；系数，率</string>
		<key>question</key>
		<string>coefficient </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.棺材，柩</string>
		<key>question</key>
		<string>coffin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.粘着的；紧凑的</string>
		<key>question</key>
		<string>coherent</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.铸造(硬币)</string>
		<key>question</key>
		<string>coin</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.相符合；相巧合</string>
		<key>question</key>
		<string>coincide</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.焦炭vt.&amp;vi.炼焦</string>
		<key>question</key>
		<string>coke</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.协作，合作；协调</string>
		<key>question</key>
		<string>collaborate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.碰撞；冲突，抵触</string>
		<key>question</key>
		<string>collide </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.殖民地的，殖民的</string>
		<key>question</key>
		<string>colonial</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.移民；殖民地居民</string>
		<key>question</key>
		<string>colonist</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.跟…战斗vi.格斗</string>
		<key>question</key>
		<string>combat</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.燃烧；氧化；骚动</string>
		<key>question</key>
		<string>combustion</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.喜剧；喜剧场面</string>
		<key>question</key>
		<string>comedy</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.开始vi.获得学位</string>
		<key>question</key>
		<string>commence</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.称赞，表扬；推荐</string>
		<key>question</key>
		<string>commend </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.委托，委任；委托状</string>
		<key>question</key>
		<string>commission</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.日用品，商品，物品</string>
		<key>question</key>
		<string>commodity </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.平凡的n.平常话</string>
		<key>question</key>
		<string>commonplace </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.有常识的</string>
		<key>question</key>
		<string>commonsense </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.共和国；联邦</string>
		<key>question</key>
		<string>commonwealth</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.紧密的vt.使紧凑</string>
		<key>question</key>
		<string>compact </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.可比较的；类似的</string>
		<key>question</key>
		<string>comparable</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.一致的；兼容制的</string>
		<key>question</key>
		<string>compatible</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.&amp;vi.补偿，赔偿</string>
		<key>question</key>
		<string>compensate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.补偿，赔偿，赔偿费</string>
		<key>question</key>
		<string>compensation</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.竞争的，比赛的</string>
		<key>question</key>
		<string>competitive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.竞争者，敌手</string>
		<key>question</key>
		<string>competitor</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.疾病，病痛；主诉</string>
		<key>question</key>
		<string>complaint </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.补充n.补足(物)</string>
		<key>question</key>
		<string>complement</string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
