<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>n.过度行为，暴行</string>
		<key>question</key>
		<string>excess</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.过分，极端地</string>
		<key>question</key>
		<string>excessively </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.呼喊，惊叫；感叹</string>
		<key>question</key>
		<string>exclamation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.除外的；孤傲的</string>
		<key>question</key>
		<string>exclusive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.离题</string>
		<key>question</key>
		<string>excursion </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.与…辩解；使免除</string>
		<key>question</key>
		<string>excuse</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实行，执行；处死刑</string>
		<key>question</key>
		<string>execution </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.总经理，董事</string>
		<key>question</key>
		<string>executive </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.举例证明(解释)</string>
		<key>question</key>
		<string>exemplify </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.发挥(威力)，施加</string>
		<key>question</key>
		<string>exert </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.流放n.被流放者</string>
		<key>question</key>
		<string>exile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.料想，认为</string>
		<key>question</key>
		<string>expect</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.探险；探险队</string>
		<key>question</key>
		<string>expedition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.(时间等)支出，消费</string>
		<key>question</key>
		<string>expenditure </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.驱逐，开除；排出</string>
		<key>question</key>
		<string>expel </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.实验上，实验性地</string>
		<key>question</key>
		<string>experimentally</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.实验，试验；实验法</string>
		<key>question</key>
		<string>experimentation </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.满期，到期；断气</string>
		<key>question</key>
		<string>expire</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.明晰的；直率的</string>
		<key>question</key>
		<string>explicit</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.考察；勘探；探查</string>
		<key>question</key>
		<string>exploration </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.说明，解释；陈列</string>
		<key>question</key>
		<string>exposition</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.绝种的；熄灭了的</string>
		<key>question</key>
		<string>extinct </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.熄灭，扑灭；消灭</string>
		<key>question</key>
		<string>extinguish</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.附加物；额外的人手</string>
		<key>question</key>
		<string>extra </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.取出；榨取n.摘录</string>
		<key>question</key>
		<string>extract </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.抽出；提取法；摘要</string>
		<key>question</key>
		<string>extraction</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>ad.非常地，特别地</string>
		<key>question</key>
		<string>extraordinarily </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.奢侈的；过度的</string>
		<key>question</key>
		<string>extravagant </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.极端不同的性质</string>
		<key>question</key>
		<string>extreme </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.制作，组合；捏造</string>
		<key>question</key>
		<string>fabricate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.制作，构成；捏造</string>
		<key>question</key>
		<string>fabrication </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.使容易；助长</string>
		<key>question</key>
		<string>facilitate</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.派别，宗派，小集团</string>
		<key>question</key>
		<string>faction </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.美丽的</string>
		<key>question</key>
		<string>fair</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.假货，膺品a.假的</string>
		<key>question</key>
		<string>fake</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.变成，成为；陷于</string>
		<key>question</key>
		<string>fall</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.空想的；奇异的</string>
		<key>question</key>
		<string>fantastic </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.迷住vi.迷人</string>
		<key>question</key>
		<string>fascinate </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.扣件，钮扣，揿钮</string>
		<key>question</key>
		<string>fastener</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无过失的；无缺点的</string>
		<key>question</key>
		<string>faultless </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.无畏的，大胆的</string>
		<key>question</key>
		<string>fearless</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vi.摸起来</string>
		<key>question</key>
		<string>feel</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>vt.砍倒(树等)；砍伐</string>
		<key>question</key>
		<string>fell</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.伙伴关系；联谊会</string>
		<key>question</key>
		<string>fellowship</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.女性的；女子气的</string>
		<key>question</key>
		<string>feminine</string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.击剑(术)vi.击剑</string>
		<key>question</key>
		<string>fence </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.铁的；亚铁的</string>
		<key>question</key>
		<string>ferrous </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.渡船；渡口vt.运送</string>
		<key>question</key>
		<string>ferry </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>a.(创造力)丰富的</string>
		<key>question</key>
		<string>fertile </string>
		<key>status</key>
		<string>N</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>n.斗争者；战斗机</string>
		<key>question</key>
		<string>fighter </string>
		<key>status</key>
		<string>N</string>
	</dict>
</array>
</plist>
